## Reporting: wragle_report
* Create a **300-600 word written report** called "wrangle_report.pdf" or "wrangle_report.html" that briefly describes your wrangling efforts. This is to be framed as an internal document.

### The quality issues in all three dataframes are many, but we foucsed more on the most important issues that may directly effect our analysis and visualization.
#### The most issues found are as follows:
1. In all three dataframes, there're in total seven features contain ids in float or int data type, but ids always should be string, because python removes the leading zeros and this might affect the integrity of the data and also to help merging the data.
<br>
<br>
2. There're tweets that don't show in all the three dataframes.
<br>
<br>
3. In twitter_arch dataframe, the 'timestamp' variable type is object, should be converted to datetime.
<br>
<br>
4. In twitter_arch dataframe, there're 181 retweets and according to the key points above, it should be removed.
<br>
<br>
5. In all dataframes, we should drop uneeded attributes for our use case.
<br>
<br>
6. In image_pred_df, since p1 is always larger than the p2 and p3, we should drop them and keep p1 only.
<br>
<br>
7. In twitter_arch dataframe, the attribute 'name' have nulls and names of one letter only, doesn't make sense.
<br>
<br>
8. In the attributes p1, p2 and p3, there're nonsense values like starfish or desktop_computer or zebra!

> <b>The following is just a breif description of the actual issues to keep this report simple and easy to read.</b>

### Issue 1 before cleaning

In [14]:
twitter_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Issue 1 after cleaning

In [269]:
print(arch['tweet_id'].dtypes)
print(json['tweet_id'].dtypes)
print(pred['tweet_id'].dtypes)

object
object
object

> <b> We can see that the types of 'tweet_id' are changed accross all dataframes. </b>

### Issue 2 before cleaning

In [21]:
#Print common tweet ids.
print(twitter_arch['tweet_id'].isin(image_pred_df['tweet_id']).sum())
print(twitter_arch['tweet_id'].isin(tweet_json_df['tweet_id']).sum())

2075
2354

### Issue 2 after cleaning

In [9]:
(arch['tweet_id'].isin(set(json['tweet_id']) & set(pred['tweet_id']))).all()

True

> <b> We can see that the the tweet ids aren't consistent before cleaning, but they are after. </b>

### Issue 3 conclusion

> <b> This issue is regarding the data type of 'timestamp' attribute, it's not nesseccary to compare the issue before and after to reduce code. </b>

### Issue 4 conclusion

In [13]:
arch[arch['text'].str.startswith('RT @')]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

> <b> We can see the dataframe output above that no result shows up when we tried to see the retweeted tweet, which means all retweet has been removed from our data. </b>

### Issues 5 & 6 conclusion

> <b> The issues 5 and 6 are regarding uneeded variables that was droped after, we can see the final result after removing uneeded variables in the master dataframe below. </b>

### Issue 7 conclusion

In [64]:
arch[arch['name'].apply(lambda x: len(str(x)) == 1) | (arch['name'] == 'None')][['name']]

Empty DataFrame
Columns: [name]
Index: []

> <b> We can see above that no dog name was of one letter or none, we replaced random name for None values because the None values are many and it's hard to drop all the records for such reason. </b>

### Issue 8 conclusion

> <b> The algorithim used for classifying dogs can also detect if the result expected is for a dog or not, we used the column 'p1_dog' to keep dogs only and not other objects. </b>

## Wrangling final result dataframe

In [252]:
twitter_archive_master.head()

,tweet_id,timestamp,text,rating_numerator,name,dog_type,retweet_count,favorite_count,p1,p1_conf,p1_dog
0,892177421306343426,2017-08-01 00:17:27,This is Tilly. She's just checking pup on you....,13,Tilly,,6514,33819,Chihuahua,0.323581,True
1,891815181378084864,2017-07-31 00:18:03,This is Archie. He is a rare Norwegian Pouncin...,12,Archie,,4328,25461,Chihuahua,0.716012,True
2,891327558926688256,2017-07-29 16:00:24,This is Franklin. He would like you to stop ca...,12,Franklin,,9774,41048,basset,0.555712,True
3,891087950875897856,2017-07-29 00:08:17,Here we have a majestic great white breaching ...,13,bella,,3261,20562,Chesapeake_Bay_retriever,0.425595,True
4,890971913173991426,2017-07-28 16:27:12,Meet Jax. He enjoys ice cream so much he gets ...,13,Jax,,2158,12041,Appenzeller,0.341703,True

> <b> The above master dataframe is the final result after the wrangling steps, it can be found as twitter_archive_master.csv </b>