Data Wrangling : We RateDogs Twitter Data

In [661]:
#import required libraries

import pandas as pd
import numpy as np
import requests
import os
import re
import json
import datetime
%matplotlib inline
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Data Gathering

In [662]:
#twitter archive
#reading csv file
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [663]:
#image prediction
#download URL

url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

In [664]:
#get file name
file_name = url.split('/')[-1]
file_name

'image-predictions.tsv'

In [665]:
if not os.path.isfile(file_name):
    with open(file_name , mode="wb") as file:
       file.write(response.content)

In [666]:
#reading TSV file
image_predictions = pd.read_csv('image-predictions.tsv' , sep='\t')

In [667]:
#tweet data
df_list = []

with open('tweet-json.txt', 'r') as file:
    for line in file:
        tweet = json.loads(line)
        tweet_id = tweet['id']
        retweet_count = tweet['retweet_count']
        fav_count = tweet['favorite_count']
        df_list.append({'tweet_id':tweet_id,
                       'retweet_count': retweet_count,
                       'favorite_count': fav_count})

#load tweet data into pandas dataframe
tweet_data = pd.DataFrame(df_list)

Data Assessing

inspecting the dataset for:
- data quality issues
- tidiness issues

twitter archive

visual assessment

In [668]:
twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

programmatic assessment

In [669]:
twitter_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
766,777684233540206592,NaN,NaN,2016-09-19 01:42:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Yep... just as I suspected. You're not flossi...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/777684233...,12,10,None,None,None,None,None
435,820446719150292993,NaN,NaN,2017-01-15 01:45:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Peaches. She's the ulti...,8.001414e+17,4.196984e+09,2016-11-20 00:59:15 +0000,https://twitter.com/dog_rates/status/800141422...,13,10,Peaches,None,None,None,None
2247,667873844930215936,NaN,NaN,2015-11-21 01:15:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Neat dog. Lots of spikes. Always in push-up po...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667873844...,10,10,None,None,None,None,None
1650,683515932363329536,NaN,NaN,2016-01-03 05:11:12 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",HEY PUP WHAT'S THE PART OF THE HUMAN BODY THAT...,NaN,NaN,NaN,https://vine.co/v/ibvnzrauFuV,11,10,None,None,None,None,None
2234,668190681446379520,NaN,NaN,2015-11-21 22:14:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Skittles. I would kidnap Skittles. Pin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668190681...,12,10,Skittles,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1857,675517828909424640,NaN,NaN,2015-12-12 03:29:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 stay woke https://t.co/XDiQw4Akiw,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675517828...,12,10,None,None,None,None,None
629,794355576146903043,NaN,NaN,2016-11-04 01:48:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Butter. She can have wh...,7.887659e+17,4.196984e+09,2016-10-19 15:37:03 +0000,https://twitter.com/dog_rates/status/788765914...,12,10,Butter,None,None,None,None
1653,683462770029932544,NaN,NaN,2016-01-03 01:39:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Hello forest pupper I am house pupper welcome...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/683462770...,8,10,None,None,None,pupper,None
1330,705786532653883392,7.032559e+17,4.196984e+09,2016-03-04 16:06:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Seriously, add us üê∂ 11/10 for sad wet pupper h...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/705786532...,11,10,None,None,None,pupper,None

In [670]:
twitter_archive.shape

(2356, 17)

In [671]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [672]:
twitter_archive[['rating_numerator','rating_denominator']].describe()

       rating_numerator  rating_denominator
count       2356.000000         2356.000000
mean          13.126486           10.455433
std           45.876648            6.745237
min            0.000000            0.000000
25%           10.000000           10.000000
50%           11.000000           10.000000
75%           12.000000           10.000000
max         1776.000000          170.000000

In [673]:
#checking for duplicates
twitter_archive.duplicated().sum()

0

In [674]:
twitter_archive[[ 'doggo', 'floofer', 'pupper', 'puppo']]

      doggo floofer  pupper  puppo
0      None    None    None   None
1      None    None    None   None
2      None    None    None   None
3      None    None    None   None
4      None    None    None   None
5      None    None    None   None
6      None    None    None   None
7      None    None    None   None
8      None    None    None   None
9     doggo    None    None   None
10     None    None    None   None
11     None    None    None   None
12     None    None    None  puppo
13     None    None    None   None
14     None    None    None  puppo
15     None    None    None   None
16     None    None    None   None
17     None    None    None   None
18     None    None    None   None
19     None    None    None   None
20     None    None    None   None
21     None    None    None   None
22     None    None    None   None
23     None    None    None   None
24     None    None    None   None
25     None    None    None   None
26     None    None    None   None
27     None    None    None   None
28     None    None    None   None
29     None    None  pupper   None
...     ...     ...     ...    ...
2326   None    None    None   None
2327   None    None    None   None
2328   None    None    None   None
2329   None    None    None   None
2330   None    None    None   None
2331   None    None    None   None
2332   None    None    None   None
2333   None    None    None   None
2334   None    None    None   None
2335   None    None    None   None
2336   None    None    None   None
2337   None    None    None   None
2338   None    None    None   None
2339   None    None    None   None
2340   None    None    None   None
2341   None    None    None   None
2342   None    None    None   None
2343   None    None    None   None
2344   None    None    None   None
2345   None    None    None   None
2346   None    None    None   None
2347   None    None    None   None
2348   None    None    None   None
2349   None    None    None   None
2350   None    None    None   None
2351   None    None    None   None
2352   None    None    None   None
2353   None    None    None   None
2354   None    None    None   None
2355   None    None    None   None

[2356 rows x 4 columns]

In [675]:
twitter_archive['name'].value_counts()

None         745
a             55
Charlie       12
Cooper        11
Lucy          11
Oliver        11
Lola          10
Penny         10
Tucker        10
Bo             9
Winston        9
the            8
Sadie          8
Bailey         7
an             7
Buddy          7
Daisy          7
Toby           7
Koda           6
Scout          6
Leo            6
Oscar          6
Jack           6
Bella          6
Stanley        6
Jax            6
Milo           6
Rusty          6
Dave           6
George         5
            ...
Ole            1
Jonah          1
Socks          1
Beebop         1
Miguel         1
Malikai        1
Dotsy          1
Dallas         1
Sully          1
Stark          1
Oddie          1
Timber         1
Karma          1
Trevith        1
Aja            1
Alejandro      1
Jimbo          1
Berb           1
Fiji           1
Tiger          1
Lacy           1
Berkeley       1
Laika          1
Brandi         1
Binky          1
Ralph          1
Jed            1
Norman         1
Cheryl         1
Amber          1
Name: name, Length: 957, dtype: int64

image predictions


visual assessment

In [676]:
image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

programmatic assessment

In [677]:
image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
521,676575501977128964,https://pbs.twimg.com/media/CWOt07EUsAAnOYW.jpg,1,feather_boa,0.424106,False,Yorkshire_terrier,0.073144,True,Shetland_sheepdog,0.057598,True
1193,740214038584557568,https://pbs.twimg.com/media/CkXEu2OUoAAs8yU.jpg,1,Chesapeake_Bay_retriever,0.586414,True,Labrador_retriever,0.189782,True,vizsla,0.067607,True
1131,728046963732717569,https://pbs.twimg.com/media/ChqK2cVWMAAE5Zj.jpg,1,Newfoundland,0.255971,True,groenendael,0.175583,True,German_shepherd,0.164135,True
1797,831552930092285952,https://pbs.twimg.com/media/C4pE-I0WQAABveu.jpg,1,Chihuahua,0.257415,True,Pembroke,0.161442,True,French_bulldog,0.092143,True
1811,832998151111966721,https://pbs.twimg.com/media/C49nZavUYAEJjGw.jpg,1,boxer,0.539036,True,French_bulldog,0.317617,True,bull_mastiff,0.093928,True
291,671182547775299584,https://pbs.twimg.com/media/CVCE9uYXIAEtSzR.jpg,1,Rottweiler,0.331179,True,kelpie,0.218601,True,Appenzeller,0.182520,True
799,691321916024623104,https://pbs.twimg.com/media/CZgRmk0UcAAxeuQ.jpg,1,Rottweiler,0.508981,True,German_shepherd,0.207897,True,kelpie,0.094353,True
1450,776218204058357768,https://pbs.twimg.com/media/CsWuVEdWcAAqbe9.jpg,1,Samoyed,0.940326,True,Pomeranian,0.055527,True,keeshond,0.002226,True
560,677716515794329600,https://pbs.twimg.com/media/CWe7kw9W4AE8UJh.jpg,1,teddy,0.662908,False,crib,0.031891,False,chow,0.025438,True
688,684177701129875456,https://pbs.twimg.com/media/CX6v_JOWsAE0beZ.jpg,1,chow,0.334783,True,German_shepherd,0.162647,True,golden_retriever,0.138612,True

In [678]:
image_predictions.shape

(2075, 12)

In [679]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [680]:
image_predictions[['p1_conf','p2_conf','p3_conf']].describe()

           p1_conf       p2_conf       p3_conf
count  2075.000000  2.075000e+03  2.075000e+03
mean      0.594548  1.345886e-01  6.032417e-02
std       0.271174  1.006657e-01  5.090593e-02
min       0.044333  1.011300e-08  1.740170e-10
25%       0.364412  5.388625e-02  1.622240e-02
50%       0.588230  1.181810e-01  4.944380e-02
75%       0.843855  1.955655e-01  9.180755e-02
max       1.000000  4.880140e-01  2.734190e-01

In [681]:
#checking for duplicates
image_predictions.duplicated().sum()

0

In [682]:
image_predictions.loc[(image_predictions['p1_dog'] == False) & 
                        (image_predictions['p2_dog'] == False) &
                        (image_predictions['p3_dog'] == False) ]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,Christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,African_grey,5.424740e-02,False
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
112,667911425562669056,https://pbs.twimg.com/media/CUTl5m1WUAAabZG.jpg,1,frilled_lizard,0.257695,False,ox,2.351600e-01,False,triceratops,8.531690e-02,False
115,667937095915278337,https://pbs.twimg.com/media/CUT9PuQWwAABQv7.jpg,1,hamster,0.172078,False,guinea_pig,9.492420e-02,False,Band_Aid,5.999520e-02,False
117,668142349051129856,https://pbs.twimg.com/media/CUW37BzWsAAlJlN.jpg,1,Angora,0.918834,False,hen,3.779340e-02,False,wood_rabbit,1.101490e-02,False
118,668154635664932864,https://pbs.twimg.com/media/CUXDGR2WcAAUQKz.jpg,1,Arctic_fox,0.473584,False,wallaby,2.614110e-01,False,white_wolf,8.094780e-02,False
123,668226093875376128,https://pbs.twimg.com/media/CUYEFlQXAAUkPGm.jpg,1,trombone,0.390339,False,cornet,3.141490e-01,False,French_horn,2.551820e-01,False
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,1.363490e-03,False,badger,6.856500e-04,False
132,668466899341221888,https://pbs.twimg.com/media/CUbfGbbWoAApZth.jpg,1,shopping_basket,0.398361,False,hamper,3.632220e-01,False,bassinet,8.417350e-02,False
140,668544745690562560,https://pbs.twimg.com/media/CUcl5jeWsAA6ufS.jpg,1,bearskin,0.427870,False,bow,2.588580e-01,False,panpipe,2.156260e-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1839,837482249356513284,https://pbs.twimg.com/media/C59VqMUXEAAzldG.jpg,2,birdhouse,0.541196,False,can_opener,1.210940e-01,False,carton,5.613670e-02,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,1.405900e-03,False,envelope,1.093090e-03,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,1.015650e-01,False,screen,7.530610e-02,False
1851,840370681858686976,https://pbs.twimg.com/media/C6mYrK0UwAANhep.jpg,1,teapot,0.981819,False,cup,1.402580e-02,False,coffeepot,2.420540e-03,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,7.087310e-03,False,envelope,6.820300e-03,False
1869,844580511645339650,https://pbs.twimg.com/media/C7iNfq1W0AAcbsR.jpg,1,washer,0.903064,False,dishwasher,3.248900e-02,False,printer,1.645620e-02,False
1886,847962785489326080,https://pbs.twimg.com/media/C8SRpHNUIAARB3j.jpg,1,sea_lion,0.882654,False,mink,6.688020e-02,False,otter,2.567870e-02,False
1887,847971574464610304,https://pbs.twimg.com/media/C8SZH1EWAAAIRRF.jpg,1,coffee_mug,0.633652,False,cup,2.733920e-01,False,toilet_tissue,6.665580e-02,False
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,American_black_bear,1.413120e-03,False,sundial,6.811150e-04,False
1892,849336543269576704,https://pbs.twimg.com/media/C8lzFC4XcAAQxB4.jpg,1,patio,0.521788,False,prison,1.495440e-01,False,restaurant,2.715260e-02,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,Egyptian_cat,1.329320e-01,False
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

In [683]:
image_predictions['p1'].value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
Staffordshire_bullterrier     20
Siberian_husky                20
German_shepherd               20
web_site                      19
Cardigan                      19
Maltese_dog                   18
Eskimo_dog                    18
beagle                        18
Shetland_sheepdog             18
teddy                         18
Shih-Tzu                      17
Lakeland_terrier              17
Rottweiler                    17
Italian_greyhound             16
kuvasz                        16
                            ...
book_jacket                    1
sundial                        1
shield                         1
bow                            1
silky_terrier                  1
tiger_shark                    1
wooden_spoon                   1
agama                          1
boathouse                      1
picket_fence                   1
pot                            1
padlock                        1
ocarina                        1
American_black_bear            1
harp                           1
four-poster                    1
sulphur-crested_cockatoo       1
conch                          1
binoculars                     1
cup                            1
African_crocodile              1
carousel                       1
bison                          1
bakery                         1
limousine                      1
cowboy_boot                    1
handkerchief                   1
fountain                       1
nail                           1
sliding_door                   1
Name: p1, Length: 378, dtype: int64

In [684]:
image_predictions['p2'].value_counts()

Labrador_retriever                104
golden_retriever                   92
Cardigan                           73
Chihuahua                          44
Pomeranian                         42
Chesapeake_Bay_retriever           41
French_bulldog                     41
toy_poodle                         37
cocker_spaniel                     34
miniature_poodle                   33
Siberian_husky                     33
beagle                             28
Eskimo_dog                         27
collie                             27
Pembroke                           27
kuvasz                             26
Italian_greyhound                  22
Pekinese                           21
American_Staffordshire_terrier     21
toy_terrier                        20
malinois                           20
Samoyed                            20
miniature_pinscher                 20
chow                               20
Boston_bull                        19
Norwegian_elkhound                 19
Staffordshire_bullterrier          18
pug                                17
Irish_terrier                      17
Shih-Tzu                           16
                                 ...
patio                               1
china_cabinet                       1
waffle_iron                         1
sombrero                            1
wombat                              1
accordion                           1
indri                               1
computer_keyboard                   1
printer                             1
shovel                              1
sock                                1
hatchet                             1
desk                                1
polecat                             1
spindle                             1
komondor                            1
volcano                             1
cornet                              1
washbasin                           1
banded_gecko                        1
breakwater                          1
turnstile                           1
spatula                             1
platypus                            1
canoe                               1
hair_spray                          1
sulphur_butterfly                   1
crutch                              1
cowboy_boot                         1
sea_urchin                          1
Name: p2, Length: 405, dtype: int64

In [685]:
image_predictions['p3'].value_counts()

Labrador_retriever                79
Chihuahua                         58
golden_retriever                  48
Eskimo_dog                        38
kelpie                            35
kuvasz                            34
Staffordshire_bullterrier         32
chow                              32
cocker_spaniel                    31
beagle                            31
Pomeranian                        29
Pekinese                          29
toy_poodle                        29
Chesapeake_Bay_retriever          27
Great_Pyrenees                    27
Pembroke                          27
malamute                          26
French_bulldog                    26
American_Staffordshire_terrier    24
Cardigan                          23
pug                               23
basenji                           21
bull_mastiff                      20
toy_terrier                       20
Siberian_husky                    19
Boston_bull                       17
Shetland_sheepdog                 17
Lakeland_terrier                  16
doormat                           16
boxer                             16
                                  ..
mountain_tent                      1
oscilloscope                       1
bulletproof_vest                   1
shoji                              1
maze                               1
grand_piano                        1
hand-held_computer                 1
paintbrush                         1
binder                             1
red_wolf                           1
meerkat                            1
drumstick                          1
bib                                1
chimpanzee                         1
rapeseed                           1
crayfish                           1
pajama                             1
hare                               1
cardoon                            1
pop_bottle                         1
gar                                1
swimming_trunks                    1
African_grey                       1
affenpinscher                      1
wolf_spider                        1
sunglass                           1
wild_boar                          1
stinkhorn                          1
mink                               1
chest                              1
Name: p3, Length: 408, dtype: int64

In [686]:
image_predictions['img_num'].value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

tweet data 

visual assessment

In [687]:
tweet_data

      favorite_count  retweet_count            tweet_id
0              39467           8853  892420643555336193
1              33819           6514  892177421306343426
2              25461           4328  891815181378084864
3              42908           8964  891689557279858688
4              41048           9774  891327558926688256
5              20562           3261  891087950875897856
6              12041           2158  890971913173991426
7              56848          16716  890729181411237888
8              28226           4429  890609185150312448
9              32467           7711  890240255349198849
10             31166           7624  890006608113172480
11             28268           5156  889880896479866881
12             38818           8538  889665388333682689
13             27672           4735  889638837579907072
14             15359           2321  889531135344209921
15             25652           5637  889278841981685760
16             29611           4709  888917238123831296
17             26080           4559  888804989199671297
18             20290           3732  888554962724278272
19             22201           3653  888078434458587136
20             30779           5609  887705289381826560
21             46959          12082  887517139158093824
22             69871          18781  887473957103951883
23             34222          10737  887343217045368832
24             31061           6167  887101392804085760
25             35859           8084  886983233522544640
26             12306           3443  886736880519319552
27             22798           4610  886680336477933568
28             21524           3316  886366144734445568
29               117              4  886267009285017600
...              ...            ...                 ...
2324             459            339  666411507551481857
2325             113             44  666407126856765440
2326             172             92  666396247373291520
2327             194            100  666373753744588802
2328             804            595  666362758909284353
2329             229             77  666353288456101888
2330             307            146  666345417576210432
2331             204             96  666337882303524864
2332             522            368  666293911632134144
2333             152             71  666287406224695296
2334             184             82  666273097616637952
2335             108             37  666268910803644416
2336           14765           6871  666104133288665088
2337              81             16  666102155909144576
2338             164             73  666099513787052032
2339             169             79  666094000022159362
2340             121             47  666082916733198337
2341             335            174  666073100786774016
2342             154             67  666071193221509120
2343             496            232  666063827256086533
2344             115             61  666058600524156928
2345             304            146  666057090499244032
2346             448            261  666055525042405380
2347            1253            879  666051853826850816
2348             136             60  666050758794694657
2349             111             41  666049248165822465
2350             311            147  666044226329800704
2351             128             47  666033412701032449
2352             132             48  666029285002620928
2353            2535            532  666020888022790149

[2354 rows x 3 columns]

programmatic assessment

In [688]:
tweet_data.sample(10)

      favorite_count  retweet_count            tweet_id
226            20229           4037  848324959059550208
2349             111             41  666049248165822465
787            24167           6478  774314403806253056
1943            1177            434  673707060090052608
1376            3080           1055  701570477911896070
1956             882            297  673580926094458881
1851             693            106  675706639471788032
817             8130           2013  770655142660169732
1525            2925           1006  690360449368465409
1222            2480            990  714214115368108032

In [689]:
tweet_data.shape

(2354, 3)

In [690]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
tweet_id          2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

In [691]:
tweet_data[['favorite_count','retweet_count']].describe()

       favorite_count  retweet_count
count     2354.000000    2354.000000
mean      8080.968564    3164.797366
std      11814.771334    5284.770364
min          0.000000       0.000000
25%       1415.000000     624.500000
50%       3603.500000    1473.500000
75%      10122.250000    3652.000000
max     132810.000000   79515.000000

In [692]:
#cheking for duplicates
tweet_data.duplicated().sum()

0

Data Assessment Summary 

- Quality Aspects:

1- text column has the link for the tweets and ratings at the end we can remove    it.

2- timestamp column dtype is str instead of datetime. 

3- rating_numerator and rating_denominator columns dtype are int instead of        float.

4- tweet_id column dtype is int instead if str.

5- We need only the tweets not the retweets, so we should remove the retweets      from the table.

6- We need only the tweets not the replys to them, so we should remove the        replys from the table.

7- some rating_denominator values do not equal 10.

8- columns (doggo, floofer, pupper, puppo) has None for missing values.

9- the rows in sources column are over 95% duplicated.

10- many predictions contain three false in image_predictions dataframe, which     means they are useless prediction data.

11- names in name columns are in lowercase

12- there are many wrong names in name column.

13- many tweets have no prediction image, they must be removed.


- Tidiness Aspects:

1- img_num, source, expanded_urls column is not important for analysis, so it's    better to be removed.

2- (doggo, floofer, pupper, puppo) columns are all for one thing which is dog      stage.

3- combine columns (p1,p2,p3) in column dog_type and columns
   (p1_conf,p2_conf,p3_conf) combine them in column p_confidence.
   
4- combine all datasets in one dataframe.

Data Cleaning

In [693]:
#take a copy of our data to start cleaning on it.
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweet_data_clean = tweet_data.copy()

Quality

define


remove the link of tweets and Rating from text column using extract.

In [694]:
#code
twitter_archive_clean['text']

0       This is Phineas. He's a mystical boy. Only eve...
1       This is Tilly. She's just checking pup on you....
2       This is Archie. He is a rare Norwegian Pouncin...
3       This is Darla. She commenced a snooze mid meal...
4       This is Franklin. He would like you to stop ca...
5       Here we have a majestic great white breaching ...
6       Meet Jax. He enjoys ice cream so much he gets ...
7       When you watch your owner call another dog a g...
8       This is Zoey. She doesn't want to be one of th...
9       This is Cassie. She is a college pup. Studying...
10      This is Koda. He is a South Australian decksha...
11      This is Bruno. He is a service shark. Only get...
12      Here's a puppo that seems to be on the fence a...
13      This is Ted. He does his best. Sometimes that'...
14      This is Stuart. He's sporting his favorite fan...
15      This is Oliver. You're witnessing one of his m...
16      This is Jim. He found a fren. Taught him how t...
17      This is Zeke. He has a new stick. Very proud o...
18      This is Ralphus. He's powering up. Attempting ...
19      RT @dog_rates: This is Canela. She attempted s...
20      This is Gerald. He was just told he didn't get...
21      This is Jeffrey. He has a monopoly on the pool...
22      I've yet to rate a Venezuelan Hover Wiener. Th...
23      This is Canela. She attempted some fancy porch...
24      You may not have known you needed to see this ...
25      This... is a Jubilant Antarctic House Bear. We...
26      This is Maya. She's very shy. Rarely leaves he...
27      This is Mingus. He's a wonderful father to his...
28      This is Derek. He's late for a dog meeting. 13...
29      This is Roscoe. Another pupper fallen victim t...
                              ...
2326    This is quite the dog. Gets really excited whe...
2327    This is a southern Vesuvius bumblegruff. Can d...
2328    Oh goodness. A super rare northeast Qdoba kang...
2329    Those are sunglasses and a jean jacket. 11/10 ...
2330    Unique dog here. Very small. Lives in containe...
2331    Here we have a mixed Asiago from the Gal√°pagos...
2332    Look at this jokester thinking seat belt laws ...
2333    This is an extremely rare horned Parthenon. No...
2334    This is a funny dog. Weird toes. Won't come do...
2335    This is an Albanian 3 1/2 legged  Episcopalian...
2336       Can take selfies 11/10 https://t.co/ws2AMaNwPW
2337    Very concerned about fellow dog trapped in com...
2338    Not familiar with this breed. No tail (weird)....
2339    Oh my. Here you are seeing an Adobe Setter giv...
2340    Can stand on stump for what seems like a while...
2341    This appears to be a Mongolian Presbyterian mi...
2342    Here we have a well-established sunblockerspan...
2343    Let's hope this flight isn't Malaysian (lol). ...
2344    Here we have a northern speckled Rhododendron....
2345    This is the happiest dog you will ever see. Ve...
2346    Here is the Rand Paul of retrievers folks! He'...
2347    My oh my. This is a rare blond Canadian terrie...
2348    Here is a Siberian heavily armored polar bear ...
2349    This is an odd dog. Hard on the outside but lo...
2350    This is a truly beautiful English Wilson Staff...
2351    Here we have a 1949 1st generation vulpix. Enj...
2352    This is a purebred Piers Morgan. Loves to Netf...
2353    Here is a very happy pup. Big fan of well-main...
2354    This is a western brown Mitsubishi terrier. Up...
2355    Here we have a Japanese Irish Setter. Lost eye...
Name: text, Length: 2356, dtype: object

In [695]:
twitter_archive_clean['text'] = twitter_archive_clean['text'].str.extract('(.+(?=\s\d+/\d+\s))')

In [696]:
#test
twitter_archive_clean['text'].sample(5)

1162     This is Reginald. He starts screaming at random.
2303    This is Carll. He wants to be a donkey. But al...
1467    Meet Grady. He's very hungry. Too bad no one c...
1064    This is Leo. He's a vape god. Blows o's for da...
550     This is Django. He accidentally opened the fro...
Name: text, dtype: object

define

change dtype of timestamp from str to datetime

In [697]:
#code
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])

In [698]:
#test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2234 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

define 

change type of rating_numerator and rating_denominator from int to float using astype.

In [699]:
#code
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].astype(float)
twitter_archive_clean['rating_denominator'] = twitter_archive_clean['rating_denominator'].astype(float)

In [700]:
#test
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2234 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null float64
rating_denominator            2356 non-null float64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(6), int64(1), object(9)
memory usage: 313.0+ KB

define 

change dtype of tweet_id in all dataframes from int to str using astype.

In [701]:
#code
twitter_archive_clean['tweet_id'] = twitter_archive_clean['tweet_id'].astype(str)
image_predictions_clean['tweet_id'] = image_predictions_clean['tweet_id'].astype(str)
tweet_data_clean['tweet_id'] = tweet_data_clean['tweet_id'].astype(str)

In [702]:
#test
twitter_archive_clean['tweet_id'].dtype

dtype('O')

In [703]:
#test
image_predictions_clean['tweet_id'].dtype

dtype('O')

In [704]:
#test
tweet_data_clean['tweet_id'].dtype

dtype('O')

define

delete rows that are retweets and replyies not an original tweets.

delete rows that have no images from both tweet_data and twitter_archive dataframes.

drop the columns (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp).

delete tweets that are not in tweet_data from both twitter_archive and image_predictions dataframes.

In [705]:
#code


#creating a list of tweet_ids with images "tweets_with_image" and confirming its length
tweets_with_image = list(image_predictions_clean['tweet_id'].unique())

#confirming that all the tweets with images exist in the archive dataset
len(tweets_with_image) == twitter_archive_clean['tweet_id'].isin(tweets_with_image).sum()

True

In [706]:
#cleaning in action
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean['tweet_id'].isin(tweets_with_image)]

In [707]:
# extracting the tweets that include data in the retweet_status_id (extracting rows with retweets)
retweet_entries = twitter_archive_clean['retweeted_status_id'].notnull()
twitter_archive_clean[retweet_entries].shape

(81, 17)

In [708]:
# dropping the retweets from the archive data set
twitter_archive_clean = twitter_archive_clean[~retweet_entries]

In [709]:
# extracting replies entries with the same method as the retweets
reply_entries = twitter_archive_clean['in_reply_to_status_id'].notnull()
twitter_archive_clean[reply_entries].shape

(23, 17)

In [710]:
# dropping the replies from the archive data set
twitter_archive_clean = twitter_archive_clean[~reply_entries]

In [711]:
# now we check the image_prediction table for extra tweet ids not in the archive table
sum(np.logical_not(image_predictions_clean['tweet_id'].isin(list(twitter_archive_clean['tweet_id']))))


# dropping the retweets and replies ids from the image prediction dataframe
image_predictions_clean =image_predictions_clean[~np.logical_not(image_predictions_clean['tweet_id'].isin(list(twitter_archive_clean['tweet_id'])))]

In [712]:
# Dropping the retweets and replies ids from the api dataframe
tweet_data_clean = tweet_data_clean[~np.logical_not(tweet_data_clean['tweet_id'].isin(list(twitter_archive_clean['tweet_id'])))]


# Dropping the tweets that doesn't exist in the api table from both archieve and image tables
image_predictions_clean = image_predictions_clean[~np.logical_not(image_predictions_clean['tweet_id'].isin(list(tweet_data_clean['tweet_id'])))]
twitter_archive_clean = twitter_archive_clean[~np.logical_not(twitter_archive_clean['tweet_id'].isin(list(tweet_data_clean['tweet_id'])))]

In [713]:
# Dropping the unwanted columns of the Archive dataframe
twitter_archive_clean.drop(['in_reply_to_status_id','in_reply_to_user_id', 'retweeted_status_id'
                    , 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis =1 ,inplace = True)

In [714]:
#test

twitter_archive_clean.shape

(1971, 12)

In [715]:
#test

image_predictions_clean.shape

(1971, 12)

In [716]:
#test

tweet_data.shape

(2354, 3)

In [717]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

define

make all values in name column uppercase using title.

In [718]:
#code
twitter_archive_clean['name']= twitter_archive_clean['name'].str.title()

In [719]:
#test
twitter_archive_clean['name'].sample(5)

1884    Tedders
1152     Lillie
1828       None
15       Oliver
1160     Luther
Name: name, dtype: object

define

replace wrong names in name column with nan values.

In [720]:
#code

# List of extracted wring names
wrong_names = ["A", "An", "The", "Such","None"]
for i in wrong_names:
    twitter_archive_clean['name'].replace(i, np.nan, inplace = True)

In [721]:
#test

twitter_archive_clean.query('name in ["A", "An", "The", "Such","None"]')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [722]:
#code
not_ten_denomi = list(twitter_archive_clean.query("rating_denominator != 10").index)
twitter_archive_clean.drop(index=not_ten_denomi, inplace=True)

In [723]:
#test
twitter_archive_clean.query("rating_denominator != 10").index

Int64Index([], dtype='int64')

define

set nan for missing values instead of none in columns doggo, floofer, pupper, puppo using replace.

In [724]:
#code

# Creating a list for column names
none_list = ['doggo', 'floofer', 'pupper', 'puppo']
# replacing each column 'None' values with nan
for name in none_list:
    twitter_archive_clean[name].replace("None",np.nan, inplace=True)

In [725]:
#test
for name in none_list:
    print(twitter_archive_clean[name].isnull().sum())

1881
1946
1745
1931

define

find the rows which have three false in image_predictions dataframe,
then drop them.

In [726]:
#code

three_false = image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False").index
three_false

Int64Index([   6,   17,   18,   21,   25,   29,   45,   50,   51,   53,
            ...
            1953, 1956, 1975, 1979, 2012, 2021, 2022, 2046, 2052, 2074],
           dtype='int64', length=305)

In [727]:
image_predictions_clean.drop(index=three_false,inplace=True)

In [728]:
#test

image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False").index

Int64Index([], dtype='int64')

Tidiness

define

drop img_num column

In [729]:
#code
image_predictions_clean.drop('img_num',axis=1,inplace=True)

In [730]:
#test
list(image_predictions_clean)

['tweet_id',
 'jpg_url',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog']

define

drop source , expanded_urls columns

In [731]:
#code

twitter_archive_clean.drop(['source','expanded_urls'],axis=1,inplace=True)

In [732]:
#test
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

define

combine (doggo, floofer, pupper, puppo) columns in one column called 'dog_stage',
then drop the four columns.

In [733]:
#code

# List of the 4 columns names
dogs_stages = ['doggo', 'floofer', 'pupper', 'puppo']
# Making the dog_stage column by joining the all 4 columns with each other and seprating them by ', '
# after dropping the null values
twitter_archive_clean['dog_stage'] = twitter_archive_clean[dogs_stages].apply(lambda x: ', '.join(x.dropna().astype(str)),axis =1)

In [734]:
# Replacing the empty values with nan
twitter_archive_clean['dog_stage'] = twitter_archive_clean['dog_stage'].replace('', np.nan)

In [735]:
# drop the unwanted 4 columns
twitter_archive_clean = twitter_archive_clean.drop(columns = dogs_stages, axis =1)

In [736]:
#test
twitter_archive_clean['dog_stage'].value_counts()

pupper            201
doggo              63
puppo              22
doggo, pupper       8
floofer             7
doggo, puppo        1
doggo, floofer      1
Name: dog_stage, dtype: int64

In [737]:
#test
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'dog_stage'],
      dtype='object')

In [738]:
tweet_data_clean = pd.DataFrame(columns=["tweet_id", "retweet_count", "favorite_count"])
twitter_archive_clean = pd.merge(twitter_archive_clean, tweet_data_clean , on=['tweet_id'] , how='left')

In [739]:
list(twitter_archive_clean)

['tweet_id',
 'timestamp',
 'text',
 'rating_numerator',
 'rating_denominator',
 'name',
 'dog_stage',
 'retweet_count',
 'favorite_count']

In [740]:
twitter_archive_clean.sample(10)

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,dog_stage,retweet_count,favorite_count
1415,677547928504967168,2015-12-17 17:56:29,Not much to say here. I just think everyone ne...,12.0,10.0,NaN,NaN,NaN,NaN
133,859607811541651456,2017-05-03 03:17:27,Sorry for the lack of posts today. I came home...,13.0,10.0,NaN,puppo,NaN,NaN
795,739932936087216128,2016-06-06 21:32:13,Say hello to Rorie. She's zen af. Just enjoyin...,10.0,10.0,Rorie,NaN,NaN,NaN
1092,698710712454139905,2016-02-14 03:29:49,This is Cuddles. He's not entirely sure how do...,10.0,10.0,Cuddles,NaN,NaN,NaN
873,724046343203856385,2016-04-24 01:24:35,This is Sarge. Not even he knows what his tong...,10.0,10.0,Sarge,NaN,NaN,NaN
645,759846353224826880,2016-07-31 20:21:02,This is Kirby. He's a Beneblip Cumberpat. Pret...,11.0,10.0,Kirby,NaN,NaN,NaN
1325,681320187870711809,2015-12-28 03:46:05,This is Glacier. He's a very happy pup. Loves ...,11.0,10.0,Glacier,NaN,NaN,NaN
393,808001312164028416,2016-12-11 17:31:39,This is Cooper. He likes to stick his tongue o...,12.0,10.0,Cooper,NaN,NaN,NaN
777,742465774154047488,2016-06-13 21:16:49,NaN,14.0,10.0,NaN,pupper,NaN,NaN
66,877556246731214848,2017-06-21 15:58:08,This is Penny. She's both pupset and fired pup...,12.0,10.0,Penny,NaN,NaN,NaN

In [741]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'dog_stage', 'retweet_count',
       'favorite_count'],
      dtype='object')

define

create a column for image prediction and a column for confidence.
delete columns (p1,p2,p3) and (p1_conf,p2_conf,p3_conf)

In [742]:
#code

dog_type = []
p_confidence = []

def image(image_predictions_clean):
    if image_predictions_clean['p1_dog'] == True:
        dog_type.append(image_predictions_clean['p1'])
        p_confidence.append(image_predictions_clean['p1_conf'])
    elif image_predictions_clean['p2_dog'] == True:
        dog_type.append(image_predictions_clean['p2'])
        p_confidence.append(image_predictions_clean['p2_conf'])
    elif image_predictions_clean['p3_dog'] == True:
        dog_type.append(image_predictions_clean['p3'])
        p_confidence.append(image_predictions_clean['p3_conf'])
    else:
        dog_type.append('Error')
        p_confidence.append('Error')
        
image_predictions_clean.apply(image,axis=1)

image_predictions_clean['dog_type'] = dog_type
image_predictions_clean['p_confidence'] = p_confidence

In [743]:
image_predictions_clean = image_predictions_clean[image_predictions_clean['dog_type'] != 'Error']

In [744]:
image_predictions_clean = image_predictions_clean.drop([ 'p1', 
                                                      'p1_conf', 'p1_dog', 
                                                      'p2', 'p2_conf', 
                                                      'p2_dog', 'p3', 
                                                      'p3_conf', 
                                                      'p3_dog'], axis =1)

In [745]:
#test 

image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1666 entries, 0 to 2073
Data columns (total 4 columns):
tweet_id        1666 non-null object
jpg_url         1666 non-null object
dog_type        1666 non-null object
p_confidence    1666 non-null float64
dtypes: float64(1), object(3)
memory usage: 65.1+ KB

In [748]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1954 entries, 0 to 1953
Data columns (total 9 columns):
tweet_id              1954 non-null object
timestamp             1954 non-null datetime64[ns]
text                  1889 non-null object
rating_numerator      1954 non-null float64
rating_denominator    1954 non-null float64
name                  1374 non-null object
dog_stage             303 non-null object
retweet_count         0 non-null object
favorite_count        0 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 152.7+ KB

In [749]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
tweet_id          2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

define 

combine the three dataframes into one dataframe called final_df using merge.

In [752]:
#code

final_df = pd.merge(twitter_archive_clean,image_predictions_clean,on='tweet_id', how="left")
final_df = pd.merge(final_df,tweet_data_clean,on='tweet_id', how="left")

In [753]:
#test

final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1954 entries, 0 to 1953
Data columns (total 14 columns):
tweet_id              1954 non-null object
timestamp             1954 non-null datetime64[ns]
text                  1889 non-null object
rating_numerator      1954 non-null float64
rating_denominator    1954 non-null float64
name                  1374 non-null object
dog_stage             303 non-null object
retweet_count_x       0 non-null object
favorite_count_x      0 non-null object
jpg_url               1650 non-null object
dog_type              1650 non-null object
p_confidence          1650 non-null float64
retweet_count_y       0 non-null object
favorite_count_y      0 non-null object
dtypes: datetime64[ns](1), float64(3), object(10)
memory usage: 229.0+ KB

Data Storing

In [658]:
#store the final dataframe into file called twitter_archive_master
final_df.to_csv('twitter_archive_master.csv',index = False)

In [660]:
df  = pd.read_csv('twitter_archive_master.csv')
df.sample(5)

ValueError: a must be greater than 0

Data Analysis