In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Project: Wrangle and Analyze Data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Introduction\n",
    "\n",
    "Real-world data rarely comes clean. Using Python and its libraries, you will gather data from a variety of sources and in a variety of formats, assess its quality and tidiness, then clean it. This is called data wrangling. You will document your wrangling efforts in a Jupyter Notebook, plus showcase them through analyses and visualizations using Python (and its libraries) and/or SQL.\n",
    "\n",
    "The dataset that you will be wrangling (and analyzing and visualizing) is the tweet archive of Twitter user [@dog_rates](https://twitter.com/dog_rates), also known as [WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs). WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because \"[they're good dogs Brent](http://knowyourmeme.com/memes/theyre-good-dogs-brent).\" WeRateDogs has over 4 million followers and has received international media coverage.\n",
    "\n",
    "WeRateDogs [downloaded their Twitter archive](https://support.twitter.com/articles/20170160) and sent it to Udacity via email exclusively for you to use in this project. This archive contains basic tweet data (tweet ID, timestamp, text, etc.) for all 5000+ of their tweets as they stood on August 1, 2017. More on this soon.\n",
    "\n",
    "<img src = \"https://video.udacity-data.com/topher/2017/October/59dd378f_dog-rates-social/dog-rates-social.jpg\" height =200px, width = 400px>\n",
    "<center>Image via <a href = \"http://www.bostonmagazine.com/arts-entertainment/blog/2017/04/18/dog-rates-mit/\">Boston Magazine</a></center>\n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## What Software Do I Need?\n",
    "\n",
    "The entirety of this project can be completed inside the Udacity classroom on the **Project Workspace: Complete and Submit Project** page using the Jupyter Notebook provided there. (Note: This Project Workspace may not be available in all versions of this project, in which case you should follow the directions below.)\n",
    "\n",
    "If you want to work outside of the Udacity classroom, the following software requirements apply:\n",
    "\n",
    "* You need to be able to work in a Jupyter Notebook on your computer. Please revisit our Jupyter Notebook and Anaconda tutorials earlier in the Nanodegree program for installation instructions.\n",
    "* The following packages (libraries) need to be installed. You can install these packages via conda or pip. Please revisit our Anaconda tutorial earlier in the Nanodegree program for package installation instructions.\n",
    "  * pandas\n",
    "  * NumPy\n",
    "  * requests\n",
    "  * tweepy\n",
    "  * json\n",
    "* You need to be able to create written documents that contain images and you need to be able to export these documents as PDF files. This task can be done in a Jupyter Notebook, but you might prefer to use a word processor like [Google Docs](https://www.google.com/docs/about/), which is free, or Microsoft Word.\n",
    "* A text editor, like [Sublime](https://www.sublimetext.com/), which is free, will be useful but is not required.\n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Project Motivation\n",
    "\n",
    "### Context\n",
    "\n",
    "Your goal: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for \"Wow!\"-worthy analyses and visualizations.\n",
    "\n",
    "### The Data\n",
    "\n",
    "### Enhanced Twitter Archive\n",
    "\n",
    "The WeRateDogs Twitter archive contains basic tweet data for all 5000+ of their tweets, but not everything. One column the archive does contain though: each tweet's text, which I used to extract rating, dog name, and dog \"stage\" (i.e. doggo, floofer, pupper, and puppo) to make this Twitter archive \"enhanced.\" Of the 5000+ tweets, I have filtered for tweets with ratings only (there are 2356).\n",
    "Extracted data from tweet text\n",
    "\n",
    "<img src = \"https://video.udacity-data.com/topher/2017/October/59dd4791_screenshot-2017-10-10-18.19.36/screenshot-2017-10-10-18.19.36.png\" height = 400px, width= 800px>\n",
    "\n",
    "<center><em><strong>The extracted data from each tweet's text</strong></em></center>\n",
    "\n",
    "I extracted this data programmatically, but I didn't do a very good job. The ratings probably aren't all correct. Same goes for the dog names and probably dog stages (see below for more information on these) too. You'll need to assess and clean these columns if you want to use them for analysis and visualization.\n",
    "\n",
    "<img src=\"https://video.udacity-data.com/topher/2017/October/59e04ceb_dogtionary-combined/dogtionary-combined.png\" height = 400px, width=900px>\n",
    "\n",
    "<center><em><strong>The Dogtionary explains the various stages of dog: doggo, pupper, puppo, and floof(er) (via the <a href = \"https://www.amazon.com/WeRateDogs-Most-Hilarious-Adorable-Youve/dp/1510717145\">#WeRateDogs</a> book on Amazon)</strong></em></center>\n",
    "\n",
    "### Additional Data via the Twitter API\n",
    "\n",
    "Back to the basic-ness of Twitter archives: retweet count and favorite count are two of the notable column omissions. Fortunately, this additional data can be gathered by anyone from Twitter's API. Well, \"anyone\" who has access to data for the 3000 most recent tweets, at least. But you, because you have the WeRateDogs Twitter archive and specifically the tweet IDs within it, can gather this data for all 5000+. And guess what? You're going to query Twitter's API to gather this valuable data.\n",
    "\n",
    "### Image Predictions File\n",
    "\n",
    "One more cool thing: I ran every image in the WeRateDogs Twitter archive through a [neural network](https://www.youtube.com/watch?v=2-Ol7ZB0MmU) that can classify breeds of dogs*. The results: a table full of image predictions (the top three only) alongside each tweet ID, image URL, and the image number that corresponded to the most confident prediction (numbered 1 to 4 since tweets can have up to four images).\n",
    "\n",
    "<img src=\"https://video.udacity-data.com/topher/2017/October/59dd4d2c_screenshot-2017-10-10-18.43.41/screenshot-2017-10-10-18.43.41.png\" width = 900px, height=400px>\n",
    "<center><em><strong>Tweet image prediction data</strong></em></center>\n",
    "\n",
    "So for the last row in that table:\n",
    "\n",
    "* tweet_id is the last part of the tweet URL after \"status/\" → https://twitter.com/dog_rates/status/889531135344209921\n",
    "* p1 is the algorithm's #1 prediction for the image in the tweet → <strong>golden retriever</strong>\n",
    "* p1_conf is how confident the algorithm is in its #1 prediction → <strong>95%</strong>\n",
    "* p1_dog is whether or not the #1 prediction is a breed of dog → <strong>TRUE</strong>\n",
    "* p2 is the algorithm's second most likely prediction → Labrador <strong>retriever</strong>\n",
    "* p2_conf is how confident the algorithm is in its #2 prediction → <strong>1%</strong>\n",
    "* p2_dog is whether or not the #2 prediction is a breed of dog → <strong>TRUE</strong>\n",
    "* etc.\n",
    "\n",
    "And the #1 prediction for the image in that tweet was spot on:\n",
    "\n",
    "<img src=\"https://video.udacity-data.com/topher/2017/October/59dd4e05_dog-pred/dog-pred.png\" width = 250px, height=200px>\n",
    "<center><strong>A golden retriever named Stuart</strong></center>\n",
    "\n",
    "So that's all fun and good. But all of this additional data will need to be gathered, assessed, and cleaned. This is where you come in.\n",
    "\n",
    "### Key Points\n",
    "\n",
    "Key points to keep in mind when data wrangling for this project:\n",
    "<ul>\n",
    "    <li>You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.</li>\n",
    "    <li>Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.</li>\n",
    "    <li>Cleaning includes merging individual pieces of data according to the rules of <a href=\"https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html\">tidy data</a>.</li>\n",
    "    <li>The fact that the rating numerators are greater than the denominators does not need to be cleaned. This <a href=\"http://knowyourmeme.com/memes/theyre-good-dogs-brent\">unique rating system</a> is a big part of the popularity of WeRateDogs.</li>\n",
    "    <li>You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.</li>\n",
    "</ul>"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Project Details\n",
    "\n",
    "Your tasks in this project are as follows:\n",
    "<ul>\n",
    "    <li>Data wrangling, which consists of:</li>\n",
    "        <ul>\n",
    "          <li>Gathering data (downloadable file in the Resources tab in the left most panel of your classroom and linked in step 1 below).</li>\n",
    "           <li>Assessing data</li>\n",
    "           <li>Cleaning data</li>\n",
    "         </ul>\n",
    "    <li>Storing, analyzing, and visualizing your wrangled data</li>\n",
    "    <li>Reporting on \n",
    "        1) your data wrangling efforts and \n",
    "        2) your data analyses and visualizations</li>\n",
    "</ul>"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 116,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Import statements\n",
    "import pandas as pd\n",
    "import numpy as np\n",
    "import requests\n",
    "import tweepy\n",
    "import os\n",
    "import json\n",
    "import time\n",
    "import re\n",
    "import matplotlib.pyplot as plt\n",
    "import warnings\n",
    "from IPython.display import Image\n",
    "from functools import reduce\n",
    "import re\n",
    "import seaborn as sns\n",
    "import datetime\n",
    "from jupyterthemes import jtplot\n",
    "jtplot.style(theme='onedork')\n",
    "\n",
    "% matplotlib inline"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Just Installing jupyterthemes "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 114,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Collecting jupyterthemes==0.16.1\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/d5/37/65b28bb0ee5fc510054f4427907f4b5e2e0f776ac6f591074a1ca17d366b/jupyterthemes-0.16.1-py2.py3-none-any.whl (6.0MB)\n",
      "\u001b[K    100% |████████████████████████████████| 6.0MB 5.1MB/s eta 0:00:01   7% |██▌                             | 471kB 10.3MB/s eta 0:00:01    31% |██████████▏                     | 1.9MB 21.6MB/s eta 0:00:01    48% |███████████████▍                | 2.9MB 23.2MB/s eta 0:00:01    69% |██████████████████████          | 4.1MB 28.1MB/s eta 0:00:01\n",
      "\u001b[?25hCollecting lesscpy>=0.12.0 (from jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/f8/d2/665cda6614e3556eaeb7553a3a2963624c2e3bc9636777a1bb654b87b027/lesscpy-0.14.0-py2.py3-none-any.whl (46kB)\n",
      "\u001b[K    100% |████████████████████████████████| 51kB 16.0MB/s ta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: jupyter-core in /opt/conda/lib/python3.6/site-packages (from jupyterthemes==0.16.1) (4.4.0)\n",
      "Collecting jupyter (from jupyterthemes==0.16.1)\n",
      "  Downloading https://files.pythonhosted.org/packages/83/df/0f5dd132200728a86190397e1ea87cd76244e42d39ec5e88efd25b2abd7e/jupyter-1.0.0-py2.py3-none-any.whl\n",
      "Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from lesscpy>=0.12.0->jupyterthemes==0.16.1) (1.11.0)\n",
      "Collecting ply (from lesscpy>=0.12.0->jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl (49kB)\n",
      "\u001b[K    100% |████████████████████████████████| 51kB 15.5MB/s ta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: traitlets in /opt/conda/lib/python3.6/site-packages (from jupyter-core->jupyterthemes==0.16.1) (4.3.2)\n",
      "Requirement already satisfied: nbconvert in /opt/conda/lib/python3.6/site-packages (from jupyter->jupyterthemes==0.16.1) (5.4.0)\n",
      "Collecting qtconsole (from jupyter->jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/61/9c/ee26b844381f0cf2ea24bd822e4a9ed2c7fd6d8cdeef63be459c62132f9b/qtconsole-4.7.4-py2.py3-none-any.whl (118kB)\n",
      "\u001b[K    100% |████████████████████████████████| 122kB 24.4MB/s ta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: notebook in /opt/conda/lib/python3.6/site-packages (from jupyter->jupyterthemes==0.16.1) (5.7.0)\n",
      "Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.6/site-packages (from jupyter->jupyterthemes==0.16.1) (7.0.5)\n",
      "Requirement already satisfied: ipykernel in /opt/conda/lib/python3.6/site-packages (from jupyter->jupyterthemes==0.16.1) (4.9.0)\n",
      "Collecting jupyter-console (from jupyter->jupyterthemes==0.16.1)\n",
      "  Downloading https://files.pythonhosted.org/packages/0a/89/742fa5a80b552ffcb6a8922712697c6e6828aee7b91ee4ae2b79f00f8401/jupyter_console-6.1.0-py2.py3-none-any.whl\n",
      "Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.6/site-packages (from traitlets->jupyter-core->jupyterthemes==0.16.1) (0.2.0)\n",
      "Requirement already satisfied: decorator in /opt/conda/lib/python3.6/site-packages (from traitlets->jupyter-core->jupyterthemes==0.16.1) (4.0.11)\n",
      "Requirement already satisfied: mistune>=0.8.1 in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (0.8.3)\n",
      "Requirement already satisfied: jinja2 in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (2.10)\n",
      "Requirement already satisfied: pygments in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (2.2.0)\n",
      "Requirement already satisfied: nbformat>=4.4 in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (4.4.0)\n",
      "Requirement already satisfied: entrypoints>=0.2.2 in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (0.2.3)\n",
      "Requirement already satisfied: bleach in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (1.5.0)\n",
      "Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (1.4.1)\n",
      "Requirement already satisfied: testpath in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (0.3.1)\n",
      "Requirement already satisfied: defusedxml in /opt/conda/lib/python3.6/site-packages (from nbconvert->jupyter->jupyterthemes==0.16.1) (0.5.0)\n",
      "Requirement already satisfied: jupyter-client>=4.1 in /opt/conda/lib/python3.6/site-packages (from qtconsole->jupyter->jupyterthemes==0.16.1) (5.2.4)\n",
      "Collecting qtpy (from qtconsole->jupyter->jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/cd/fd/9972948f02e967b691cc0ca1f26124826a3b88cb38f412a8b7935b8c3c72/QtPy-1.9.0-py2.py3-none-any.whl (54kB)\n",
      "\u001b[K    100% |████████████████████████████████| 61kB 18.5MB/s ta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: pyzmq>=17.1 in /opt/conda/lib/python3.6/site-packages (from qtconsole->jupyter->jupyterthemes==0.16.1) (17.1.2)\n",
      "Requirement already satisfied: tornado>=4 in /opt/conda/lib/python3.6/site-packages (from notebook->jupyter->jupyterthemes==0.16.1) (4.5.3)\n",
      "Requirement already satisfied: Send2Trash in /opt/conda/lib/python3.6/site-packages (from notebook->jupyter->jupyterthemes==0.16.1) (1.5.0)\n",
      "Requirement already satisfied: terminado>=0.8.1 in /opt/conda/lib/python3.6/site-packages (from notebook->jupyter->jupyterthemes==0.16.1) (0.8.1)\n",
      "Requirement already satisfied: prometheus_client in /opt/conda/lib/python3.6/site-packages (from notebook->jupyter->jupyterthemes==0.16.1) (0.3.1)\n",
      "Collecting widgetsnbextension~=3.0.0 (from ipywidgets->jupyter->jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/8d/f2/c8bcccccbed39d51d3e237fb0c0f0c9bbc845d12afc41f5ca5f5728fffc7/widgetsnbextension-3.0.8-py2.py3-none-any.whl (2.2MB)\n",
      "\u001b[K    100% |████████████████████████████████| 2.2MB 9.2MB/s eta 0:00:01    57% |██████████████████▎             | 1.2MB 27.1MB/s eta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: ipython>=4.0.0; python_version >= \"3.3\" in /opt/conda/lib/python3.6/site-packages (from ipywidgets->jupyter->jupyterthemes==0.16.1) (6.5.0)\n",
      "Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 (from jupyter-console->jupyter->jupyterthemes==0.16.1)\n",
      "\u001b[?25l  Downloading https://files.pythonhosted.org/packages/e4/a7/81b39aa50e9284fe2cb21cc7fb7de7817b224172d42793fd57451d38842b/prompt_toolkit-3.0.5-py3-none-any.whl (351kB)\n",
      "\u001b[K    100% |████████████████████████████████| 358kB 22.8MB/s ta 0:00:01\n",
      "\u001b[?25hRequirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.6/site-packages (from jinja2->nbconvert->jupyter->jupyterthemes==0.16.1) (1.0)\n",
      "Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.6/site-packages (from nbformat>=4.4->nbconvert->jupyter->jupyterthemes==0.16.1) (2.6.0)\n",
      "Requirement already satisfied: html5lib!=0.9999,!=0.99999,<0.99999999,>=0.999 in /opt/conda/lib/python3.6/site-packages (from bleach->nbconvert->jupyter->jupyterthemes==0.16.1) (0.9999999)\n",
      "Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.6/site-packages (from jupyter-client>=4.1->qtconsole->jupyter->jupyterthemes==0.16.1) (2.6.1)\n",
      "Requirement already satisfied: pickleshare in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (0.7.4)\n",
      "Requirement already satisfied: pexpect; sys_platform != \"win32\" in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (4.3.1)\n",
      "Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (38.4.0)\n",
      "Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (0.10.2)\n",
      "Requirement already satisfied: simplegeneric>0.8 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (0.8.1)\n",
      "Requirement already satisfied: backcall in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (0.1.0)\n",
      "Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->jupyterthemes==0.16.1) (0.1.7)\n",
      "Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.6/site-packages (from pexpect; sys_platform != \"win32\"->ipython>=4.0.0; python_version >= \"3.3\"->ipywidgets->jupyter->jupyterthemes==0.16.1) (0.5.2)\n",
      "\u001b[31mipython 6.5.0 has requirement prompt-toolkit<2.0.0,>=1.0.15, but you'll have prompt-toolkit 3.0.5 which is incompatible.\u001b[0m\n",
      "Installing collected packages: ply, lesscpy, qtpy, qtconsole, prompt-toolkit, jupyter-console, jupyter, jupyterthemes, widgetsnbextension\n",
      "  Found existing installation: prompt-toolkit 1.0.15\n",
      "    Uninstalling prompt-toolkit-1.0.15:\n",
      "      Successfully uninstalled prompt-toolkit-1.0.15\n",
      "  Found existing installation: widgetsnbextension 3.1.0\n",
      "    Uninstalling widgetsnbextension-3.1.0:\n",
      "      Successfully uninstalled widgetsnbextension-3.1.0\n",
      "Successfully installed jupyter-1.0.0 jupyter-console-6.1.0 jupyterthemes-0.16.1 lesscpy-0.14.0 ply-3.11 prompt-toolkit-3.0.5 qtconsole-4.7.4 qtpy-1.9.0 widgetsnbextension-3.0.8\n"
     ]
    }
   ],
   "source": [
    "!pip install jupyterthemes==0.16.1"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Gather"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>source</th>\n",
       "      <th>text</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>retweeted_status_timestamp</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "      <th>name</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>puppo</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 16:23:56 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892420643...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Phineas</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 00:17:27 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Tilly. She's just checking pup on you....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892177421...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Tilly</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-31 00:18:03 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Archie. He is a rare Norwegian Pouncin...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891815181...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Archie</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-30 15:58:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Darla. She commenced a snooze mid meal...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891689557...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Darla</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-29 16:00:24 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Franklin. He would like you to stop ca...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891327558...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Franklin</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id  in_reply_to_status_id  in_reply_to_user_id  \\\n",
       "0  892420643555336193                    NaN                  NaN   \n",
       "1  892177421306343426                    NaN                  NaN   \n",
       "2  891815181378084864                    NaN                  NaN   \n",
       "3  891689557279858688                    NaN                  NaN   \n",
       "4  891327558926688256                    NaN                  NaN   \n",
       "\n",
       "                   timestamp  \\\n",
       "0  2017-08-01 16:23:56 +0000   \n",
       "1  2017-08-01 00:17:27 +0000   \n",
       "2  2017-07-31 00:18:03 +0000   \n",
       "3  2017-07-30 15:58:51 +0000   \n",
       "4  2017-07-29 16:00:24 +0000   \n",
       "\n",
       "                                              source  \\\n",
       "0  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "1  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "3  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "4  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "\n",
       "                                                text  retweeted_status_id  \\\n",
       "0  This is Phineas. He's a mystical boy. Only eve...                  NaN   \n",
       "1  This is Tilly. She's just checking pup on you....                  NaN   \n",
       "2  This is Archie. He is a rare Norwegian Pouncin...                  NaN   \n",
       "3  This is Darla. She commenced a snooze mid meal...                  NaN   \n",
       "4  This is Franklin. He would like you to stop ca...                  NaN   \n",
       "\n",
       "   retweeted_status_user_id retweeted_status_timestamp  \\\n",
       "0                       NaN                        NaN   \n",
       "1                       NaN                        NaN   \n",
       "2                       NaN                        NaN   \n",
       "3                       NaN                        NaN   \n",
       "4                       NaN                        NaN   \n",
       "\n",
       "                                       expanded_urls  rating_numerator  \\\n",
       "0  https://twitter.com/dog_rates/status/892420643...                13   \n",
       "1  https://twitter.com/dog_rates/status/892177421...                13   \n",
       "2  https://twitter.com/dog_rates/status/891815181...                12   \n",
       "3  https://twitter.com/dog_rates/status/891689557...                13   \n",
       "4  https://twitter.com/dog_rates/status/891327558...                12   \n",
       "\n",
       "   rating_denominator      name doggo floofer pupper puppo  \n",
       "0                  10   Phineas  None    None   None  None  \n",
       "1                  10     Tilly  None    None   None  None  \n",
       "2                  10    Archie  None    None   None  None  \n",
       "3                  10     Darla  None    None   None  None  \n",
       "4                  10  Franklin  None    None   None  None  "
      ]
     },
     "execution_count": 2,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Open the csv file\n",
    "df_twitter_archive = pd.read_csv('twitter-archive-enhanced-2.csv')\n",
    "df_twitter_archive.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Tweet image prediction**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "335079"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Download the image prediction file using the link provided to Udacity students\n",
    "url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'\n",
    "image_request = requests.get(url, allow_redirects=True)\n",
    "\n",
    "open('image_predictions.tsv', 'wb').write(image_request.content)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>jpg_url</th>\n",
       "      <th>img_num</th>\n",
       "      <th>p1</th>\n",
       "      <th>p1_conf</th>\n",
       "      <th>p1_dog</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>666020888022790149</td>\n",
       "      <td>https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Welsh_springer_spaniel</td>\n",
       "      <td>0.465074</td>\n",
       "      <td>True</td>\n",
       "      <td>collie</td>\n",
       "      <td>0.156665</td>\n",
       "      <td>True</td>\n",
       "      <td>Shetland_sheepdog</td>\n",
       "      <td>0.061428</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>666029285002620928</td>\n",
       "      <td>https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.506826</td>\n",
       "      <td>True</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.074192</td>\n",
       "      <td>True</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.072010</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>666033412701032449</td>\n",
       "      <td>https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>German_shepherd</td>\n",
       "      <td>0.596461</td>\n",
       "      <td>True</td>\n",
       "      <td>malinois</td>\n",
       "      <td>0.138584</td>\n",
       "      <td>True</td>\n",
       "      <td>bloodhound</td>\n",
       "      <td>0.116197</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>666044226329800704</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.408143</td>\n",
       "      <td>True</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.360687</td>\n",
       "      <td>True</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.222752</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>666049248165822465</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.560311</td>\n",
       "      <td>True</td>\n",
       "      <td>Rottweiler</td>\n",
       "      <td>0.243682</td>\n",
       "      <td>True</td>\n",
       "      <td>Doberman</td>\n",
       "      <td>0.154629</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id                                          jpg_url  \\\n",
       "0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg   \n",
       "1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg   \n",
       "2  666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg   \n",
       "3  666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg   \n",
       "4  666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg   \n",
       "\n",
       "   img_num                      p1   p1_conf  p1_dog                  p2  \\\n",
       "0        1  Welsh_springer_spaniel  0.465074    True              collie   \n",
       "1        1                 redbone  0.506826    True  miniature_pinscher   \n",
       "2        1         German_shepherd  0.596461    True            malinois   \n",
       "3        1     Rhodesian_ridgeback  0.408143    True             redbone   \n",
       "4        1      miniature_pinscher  0.560311    True          Rottweiler   \n",
       "\n",
       "    p2_conf  p2_dog                   p3   p3_conf  p3_dog  \n",
       "0  0.156665    True    Shetland_sheepdog  0.061428    True  \n",
       "1  0.074192    True  Rhodesian_ridgeback  0.072010    True  \n",
       "2  0.138584    True           bloodhound  0.116197    True  \n",
       "3  0.360687    True   miniature_pinscher  0.222752    True  \n",
       "4  0.243682    True             Doberman  0.154629    True  "
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Showing the data in the image predictions file\n",
    "df_image_predictions = pd.read_csv('image_predictions.tsv', sep = '\\t')\n",
    "df_image_predictions.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Ref: https://stackoverflow.com/questions/28384588/twitter-api-get-tweets-with-specific-id**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [],
   "source": [
    "auth = tweepy.OAuthHandler('5Uur0mo4ol2kB8yhtZ1VxXS0u', 'h8E7fSpXWiMoBel7G1ZOAeu4Mgru0v0MtxH5ehYE1RKM89SiBH')\n",
    "auth.set_access_token('303562412-ct9aNnU0FQR0UKJVn1i1W3Y8omqSewiQWUcRaygB', 'D3qslrbdOU5fqTOp951kOIuZbkeTPBodnjNYoEGFR63Ft')\n",
    "api = tweepy.API(auth, \n",
    "                 parser = tweepy.parsers.JSONParser(), \n",
    "                 wait_on_rate_limit = True, \n",
    "                 wait_on_rate_limit_notify = True)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Twitter API & JSON**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Rate limit reached. Sleeping for: 739\n",
      "Rate limit reached. Sleeping for: 737\n"
     ]
    }
   ],
   "source": [
    "#Download Tweepy status object based on Tweet ID and store in list\n",
    "list_of_tweets = []\n",
    "# Tweets that can't be found are saved in the list below:\n",
    "cant_find_tweets_for_those_ids = []\n",
    "for tweet_id in df_twitter_archive['tweet_id']:   \n",
    "    try:\n",
    "        list_of_tweets.append(api.get_status(tweet_id))\n",
    "    except Exception as e:\n",
    "        cant_find_tweets_for_those_ids.append(tweet_id)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "The list of tweets 2331\n",
      "The list of tweets no found 25\n"
     ]
    }
   ],
   "source": [
    "#Printing \n",
    "print(\"The list of tweets\" ,len(list_of_tweets))\n",
    "print(\"The list of tweets no found\" , len(cant_find_tweets_for_those_ids))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [],
   "source": [
    "#Then in this code block we isolate the json part of each tweepy \n",
    "#status object that we have downloaded and we add them all into a list\n",
    "my_list_of_dicts = []\n",
    "for each_json_tweet in list_of_tweets:\n",
    "    my_list_of_dicts.append(each_json_tweet)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [],
   "source": [
    "#we write this list into a txt file:\n",
    "with open('tweet_json.txt', 'w') as file:\n",
    "        file.write(json.dumps(my_list_of_dicts, indent=4))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [],
   "source": [
    "#identify information of interest from JSON dictionaries in txt file\n",
    "#and put it in a dataframe called tweet JSON\n",
    "my_demo_list = []\n",
    "with open('tweet_json.txt', encoding='utf-8') as json_file:  \n",
    "    all_data = json.load(json_file)\n",
    "    for each_dictionary in all_data:\n",
    "        tweet_id = each_dictionary['id']\n",
    "        whole_tweet = each_dictionary['text']\n",
    "        only_url = whole_tweet[whole_tweet.find('https'):]\n",
    "        favorite_count = each_dictionary['favorite_count']\n",
    "        retweet_count = each_dictionary['retweet_count']\n",
    "        followers_count = each_dictionary['user']['followers_count']\n",
    "        friends_count = each_dictionary['user']['friends_count']\n",
    "        whole_source = each_dictionary['source']\n",
    "        only_device = whole_source[whole_source.find('rel=\"nofollow\">') + 15:-4]\n",
    "        source = only_device\n",
    "        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')\n",
    "        if retweeted_status == 'Original tweet':\n",
    "            url = only_url\n",
    "        else:\n",
    "            retweeted_status = 'This is a retweet'\n",
    "            url = 'This is a retweet'\n",
    "\n",
    "        my_demo_list.append({'tweet_id': str(tweet_id),\n",
    "                             'favorite_count': int(favorite_count),\n",
    "                             'retweet_count': int(retweet_count),\n",
    "                             'followers_count': int(followers_count),\n",
    "                             'friends_count': int(friends_count),\n",
    "                             'url': url,\n",
    "                             'source': source,\n",
    "                             'retweeted_status': retweeted_status,\n",
    "                            })\n",
    "        tweet_json = pd.DataFrame(my_demo_list, columns = ['tweet_id', 'favorite_count','retweet_count', \n",
    "                                                           'followers_count', 'friends_count','source', \n",
    "                                                           'retweeted_status', 'url'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2331 entries, 0 to 2330\n",
      "Data columns (total 8 columns):\n",
      "tweet_id            2331 non-null object\n",
      "favorite_count      2331 non-null int64\n",
      "retweet_count       2331 non-null int64\n",
      "followers_count     2331 non-null int64\n",
      "friends_count       2331 non-null int64\n",
      "source              2331 non-null object\n",
      "retweeted_status    2331 non-null object\n",
      "url                 2331 non-null object\n",
      "dtypes: int64(4), object(4)\n",
      "memory usage: 145.8+ KB\n"
     ]
    }
   ],
   "source": [
    "tweet_json.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Assessing data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* (**Visual assessment**)  Each piece of gathered data is displayed in the Jupyter Notebook for visual assessment purposes."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>source</th>\n",
       "      <th>text</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>retweeted_status_timestamp</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "      <th>name</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>puppo</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 16:23:56 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892420643...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Phineas</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 00:17:27 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Tilly. She's just checking pup on you....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892177421...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Tilly</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-31 00:18:03 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Archie. He is a rare Norwegian Pouncin...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891815181...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Archie</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-30 15:58:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Darla. She commenced a snooze mid meal...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891689557...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Darla</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-29 16:00:24 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Franklin. He would like you to stop ca...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891327558...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Franklin</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>891087950875897856</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-29 00:08:17 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a majestic great white breaching ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891087950...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>890971913173991426</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-28 16:27:12 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Meet Jax. He enjoys ice cream so much he gets ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://gofundme.com/ydvmve-surgery-for-jax,ht...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Jax</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>890729181411237888</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-28 00:22:40 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>When you watch your owner call another dog a g...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/890729181...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>890609185150312448</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-27 16:25:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Zoey. She doesn't want to be one of th...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/890609185...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Zoey</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>890240255349198849</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-26 15:59:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Cassie. She is a college pup. Studying...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/890240255...</td>\n",
       "      <td>14</td>\n",
       "      <td>10</td>\n",
       "      <td>Cassie</td>\n",
       "      <td>doggo</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>890006608113172480</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-26 00:31:25 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Koda. He is a South Australian decksha...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/890006608...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Koda</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>889880896479866881</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-25 16:11:53 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Bruno. He is a service shark. Only get...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/889880896...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Bruno</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>889665388333682689</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-25 01:55:32 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here's a puppo that seems to be on the fence a...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/889665388...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>puppo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>889638837579907072</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-25 00:10:02 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Ted. He does his best. Sometimes that'...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/889638837...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Ted</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>889531135344209921</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-24 17:02:04 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Stuart. He's sporting his favorite fan...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/889531135...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Stuart</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>puppo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15</th>\n",
       "      <td>889278841981685760</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-24 00:19:32 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Oliver. You're witnessing one of his m...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/889278841...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Oliver</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>888917238123831296</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-23 00:22:39 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Jim. He found a fren. Taught him how t...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/888917238...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Jim</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>888804989199671297</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-22 16:56:37 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Zeke. He has a new stick. Very proud o...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/888804989...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Zeke</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>888554962724278272</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-22 00:23:06 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Ralphus. He's powering up. Attempting ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/888554962...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Ralphus</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19</th>\n",
       "      <td>888202515573088257</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-21 01:02:36 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>RT @dog_rates: This is Canela. She attempted s...</td>\n",
       "      <td>8.874740e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>2017-07-19 00:47:34 +0000</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887473957...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Canela</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20</th>\n",
       "      <td>888078434458587136</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-20 16:49:33 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Gerald. He was just told he didn't get...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/888078434...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Gerald</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>887705289381826560</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-19 16:06:48 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Jeffrey. He has a monopoly on the pool...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887705289...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Jeffrey</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22</th>\n",
       "      <td>887517139158093824</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-19 03:39:09 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>I've yet to rate a Venezuelan Hover Wiener. Th...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887517139...</td>\n",
       "      <td>14</td>\n",
       "      <td>10</td>\n",
       "      <td>such</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>887473957103951883</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-19 00:47:34 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Canela. She attempted some fancy porch...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887473957...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Canela</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24</th>\n",
       "      <td>887343217045368832</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-18 16:08:03 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>You may not have known you needed to see this ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887343217...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25</th>\n",
       "      <td>887101392804085760</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-18 00:07:08 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This... is a Jubilant Antarctic House Bear. We...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/887101392...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>26</th>\n",
       "      <td>886983233522544640</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-17 16:17:36 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Maya. She's very shy. Rarely leaves he...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/886983233...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Maya</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>27</th>\n",
       "      <td>886736880519319552</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-16 23:58:41 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Mingus. He's a wonderful father to his...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://www.gofundme.com/mingusneedsus,https:/...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Mingus</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28</th>\n",
       "      <td>886680336477933568</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-16 20:14:00 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Derek. He's late for a dog meeting. 13...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/886680336...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Derek</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29</th>\n",
       "      <td>886366144734445568</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-15 23:25:31 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Roscoe. Another pupper fallen victim t...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/886366144...</td>\n",
       "      <td>12</td>\n",
       "      <td>10</td>\n",
       "      <td>Roscoe</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>pupper</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2326</th>\n",
       "      <td>666411507551481857</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-17 00:24:19 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is quite the dog. Gets really excited whe...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666411507...</td>\n",
       "      <td>2</td>\n",
       "      <td>10</td>\n",
       "      <td>quite</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2327</th>\n",
       "      <td>666407126856765440</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-17 00:06:54 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is a southern Vesuvius bumblegruff. Can d...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666407126...</td>\n",
       "      <td>7</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2328</th>\n",
       "      <td>666396247373291520</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 23:23:41 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Oh goodness. A super rare northeast Qdoba kang...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666396247...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2329</th>\n",
       "      <td>666373753744588802</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 21:54:18 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Those are sunglasses and a jean jacket. 11/10 ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666373753...</td>\n",
       "      <td>11</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2330</th>\n",
       "      <td>666362758909284353</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 21:10:36 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Unique dog here. Very small. Lives in containe...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666362758...</td>\n",
       "      <td>6</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2331</th>\n",
       "      <td>666353288456101888</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 20:32:58 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a mixed Asiago from the Galápagos...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666353288...</td>\n",
       "      <td>8</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2332</th>\n",
       "      <td>666345417576210432</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 20:01:42 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Look at this jokester thinking seat belt laws ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666345417...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2333</th>\n",
       "      <td>666337882303524864</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 19:31:45 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is an extremely rare horned Parthenon. No...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666337882...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>an</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2334</th>\n",
       "      <td>666293911632134144</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 16:37:02 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is a funny dog. Weird toes. Won't come do...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666293911...</td>\n",
       "      <td>3</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2335</th>\n",
       "      <td>666287406224695296</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 16:11:11 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is an Albanian 3 1/2 legged  Episcopalian...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666287406...</td>\n",
       "      <td>1</td>\n",
       "      <td>2</td>\n",
       "      <td>an</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2336</th>\n",
       "      <td>666273097616637952</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 15:14:19 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Can take selfies 11/10 https://t.co/ws2AMaNwPW</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666273097...</td>\n",
       "      <td>11</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2337</th>\n",
       "      <td>666268910803644416</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 14:57:41 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Very concerned about fellow dog trapped in com...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666268910...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2338</th>\n",
       "      <td>666104133288665088</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 04:02:55 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Not familiar with this breed. No tail (weird)....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666104133...</td>\n",
       "      <td>1</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2339</th>\n",
       "      <td>666102155909144576</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 03:55:04 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Oh my. Here you are seeing an Adobe Setter giv...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666102155...</td>\n",
       "      <td>11</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2340</th>\n",
       "      <td>666099513787052032</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 03:44:34 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Can stand on stump for what seems like a while...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666099513...</td>\n",
       "      <td>8</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2341</th>\n",
       "      <td>666094000022159362</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 03:22:39 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This appears to be a Mongolian Presbyterian mi...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666094000...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2342</th>\n",
       "      <td>666082916733198337</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 02:38:37 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a well-established sunblockerspan...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666082916...</td>\n",
       "      <td>6</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2343</th>\n",
       "      <td>666073100786774016</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 01:59:36 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Let's hope this flight isn't Malaysian (lol). ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666073100...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2344</th>\n",
       "      <td>666071193221509120</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 01:52:02 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a northern speckled Rhododendron....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666071193...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2345</th>\n",
       "      <td>666063827256086533</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 01:22:45 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is the happiest dog you will ever see. Ve...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666063827...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>the</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2346</th>\n",
       "      <td>666058600524156928</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 01:01:59 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here is the Rand Paul of retrievers folks! He'...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666058600...</td>\n",
       "      <td>8</td>\n",
       "      <td>10</td>\n",
       "      <td>the</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2347</th>\n",
       "      <td>666057090499244032</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:55:59 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>My oh my. This is a rare blond Canadian terrie...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666057090...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2348</th>\n",
       "      <td>666055525042405380</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:49:46 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here is a Siberian heavily armored polar bear ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666055525...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2349</th>\n",
       "      <td>666051853826850816</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:35:11 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is an odd dog. Hard on the outside but lo...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666051853...</td>\n",
       "      <td>2</td>\n",
       "      <td>10</td>\n",
       "      <td>an</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2350</th>\n",
       "      <td>666050758794694657</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:30:50 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is a truly beautiful English Wilson Staff...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666050758...</td>\n",
       "      <td>10</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2351</th>\n",
       "      <td>666049248165822465</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:24:50 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a 1949 1st generation vulpix. Enj...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666049248...</td>\n",
       "      <td>5</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2352</th>\n",
       "      <td>666044226329800704</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-16 00:04:52 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is a purebred Piers Morgan. Loves to Netf...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666044226...</td>\n",
       "      <td>6</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2353</th>\n",
       "      <td>666033412701032449</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-15 23:21:54 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here is a very happy pup. Big fan of well-main...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666033412...</td>\n",
       "      <td>9</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2354</th>\n",
       "      <td>666029285002620928</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-15 23:05:30 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is a western brown Mitsubishi terrier. Up...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666029285...</td>\n",
       "      <td>7</td>\n",
       "      <td>10</td>\n",
       "      <td>a</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2355</th>\n",
       "      <td>666020888022790149</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2015-11-15 22:32:08 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>Here we have a Japanese Irish Setter. Lost eye...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/666020888...</td>\n",
       "      <td>8</td>\n",
       "      <td>10</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2356 rows × 17 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                tweet_id  in_reply_to_status_id  in_reply_to_user_id  \\\n",
       "0     892420643555336193                    NaN                  NaN   \n",
       "1     892177421306343426                    NaN                  NaN   \n",
       "2     891815181378084864                    NaN                  NaN   \n",
       "3     891689557279858688                    NaN                  NaN   \n",
       "4     891327558926688256                    NaN                  NaN   \n",
       "5     891087950875897856                    NaN                  NaN   \n",
       "6     890971913173991426                    NaN                  NaN   \n",
       "7     890729181411237888                    NaN                  NaN   \n",
       "8     890609185150312448                    NaN                  NaN   \n",
       "9     890240255349198849                    NaN                  NaN   \n",
       "10    890006608113172480                    NaN                  NaN   \n",
       "11    889880896479866881                    NaN                  NaN   \n",
       "12    889665388333682689                    NaN                  NaN   \n",
       "13    889638837579907072                    NaN                  NaN   \n",
       "14    889531135344209921                    NaN                  NaN   \n",
       "15    889278841981685760                    NaN                  NaN   \n",
       "16    888917238123831296                    NaN                  NaN   \n",
       "17    888804989199671297                    NaN                  NaN   \n",
       "18    888554962724278272                    NaN                  NaN   \n",
       "19    888202515573088257                    NaN                  NaN   \n",
       "20    888078434458587136                    NaN                  NaN   \n",
       "21    887705289381826560                    NaN                  NaN   \n",
       "22    887517139158093824                    NaN                  NaN   \n",
       "23    887473957103951883                    NaN                  NaN   \n",
       "24    887343217045368832                    NaN                  NaN   \n",
       "25    887101392804085760                    NaN                  NaN   \n",
       "26    886983233522544640                    NaN                  NaN   \n",
       "27    886736880519319552                    NaN                  NaN   \n",
       "28    886680336477933568                    NaN                  NaN   \n",
       "29    886366144734445568                    NaN                  NaN   \n",
       "...                  ...                    ...                  ...   \n",
       "2326  666411507551481857                    NaN                  NaN   \n",
       "2327  666407126856765440                    NaN                  NaN   \n",
       "2328  666396247373291520                    NaN                  NaN   \n",
       "2329  666373753744588802                    NaN                  NaN   \n",
       "2330  666362758909284353                    NaN                  NaN   \n",
       "2331  666353288456101888                    NaN                  NaN   \n",
       "2332  666345417576210432                    NaN                  NaN   \n",
       "2333  666337882303524864                    NaN                  NaN   \n",
       "2334  666293911632134144                    NaN                  NaN   \n",
       "2335  666287406224695296                    NaN                  NaN   \n",
       "2336  666273097616637952                    NaN                  NaN   \n",
       "2337  666268910803644416                    NaN                  NaN   \n",
       "2338  666104133288665088                    NaN                  NaN   \n",
       "2339  666102155909144576                    NaN                  NaN   \n",
       "2340  666099513787052032                    NaN                  NaN   \n",
       "2341  666094000022159362                    NaN                  NaN   \n",
       "2342  666082916733198337                    NaN                  NaN   \n",
       "2343  666073100786774016                    NaN                  NaN   \n",
       "2344  666071193221509120                    NaN                  NaN   \n",
       "2345  666063827256086533                    NaN                  NaN   \n",
       "2346  666058600524156928                    NaN                  NaN   \n",
       "2347  666057090499244032                    NaN                  NaN   \n",
       "2348  666055525042405380                    NaN                  NaN   \n",
       "2349  666051853826850816                    NaN                  NaN   \n",
       "2350  666050758794694657                    NaN                  NaN   \n",
       "2351  666049248165822465                    NaN                  NaN   \n",
       "2352  666044226329800704                    NaN                  NaN   \n",
       "2353  666033412701032449                    NaN                  NaN   \n",
       "2354  666029285002620928                    NaN                  NaN   \n",
       "2355  666020888022790149                    NaN                  NaN   \n",
       "\n",
       "                      timestamp  \\\n",
       "0     2017-08-01 16:23:56 +0000   \n",
       "1     2017-08-01 00:17:27 +0000   \n",
       "2     2017-07-31 00:18:03 +0000   \n",
       "3     2017-07-30 15:58:51 +0000   \n",
       "4     2017-07-29 16:00:24 +0000   \n",
       "5     2017-07-29 00:08:17 +0000   \n",
       "6     2017-07-28 16:27:12 +0000   \n",
       "7     2017-07-28 00:22:40 +0000   \n",
       "8     2017-07-27 16:25:51 +0000   \n",
       "9     2017-07-26 15:59:51 +0000   \n",
       "10    2017-07-26 00:31:25 +0000   \n",
       "11    2017-07-25 16:11:53 +0000   \n",
       "12    2017-07-25 01:55:32 +0000   \n",
       "13    2017-07-25 00:10:02 +0000   \n",
       "14    2017-07-24 17:02:04 +0000   \n",
       "15    2017-07-24 00:19:32 +0000   \n",
       "16    2017-07-23 00:22:39 +0000   \n",
       "17    2017-07-22 16:56:37 +0000   \n",
       "18    2017-07-22 00:23:06 +0000   \n",
       "19    2017-07-21 01:02:36 +0000   \n",
       "20    2017-07-20 16:49:33 +0000   \n",
       "21    2017-07-19 16:06:48 +0000   \n",
       "22    2017-07-19 03:39:09 +0000   \n",
       "23    2017-07-19 00:47:34 +0000   \n",
       "24    2017-07-18 16:08:03 +0000   \n",
       "25    2017-07-18 00:07:08 +0000   \n",
       "26    2017-07-17 16:17:36 +0000   \n",
       "27    2017-07-16 23:58:41 +0000   \n",
       "28    2017-07-16 20:14:00 +0000   \n",
       "29    2017-07-15 23:25:31 +0000   \n",
       "...                         ...   \n",
       "2326  2015-11-17 00:24:19 +0000   \n",
       "2327  2015-11-17 00:06:54 +0000   \n",
       "2328  2015-11-16 23:23:41 +0000   \n",
       "2329  2015-11-16 21:54:18 +0000   \n",
       "2330  2015-11-16 21:10:36 +0000   \n",
       "2331  2015-11-16 20:32:58 +0000   \n",
       "2332  2015-11-16 20:01:42 +0000   \n",
       "2333  2015-11-16 19:31:45 +0000   \n",
       "2334  2015-11-16 16:37:02 +0000   \n",
       "2335  2015-11-16 16:11:11 +0000   \n",
       "2336  2015-11-16 15:14:19 +0000   \n",
       "2337  2015-11-16 14:57:41 +0000   \n",
       "2338  2015-11-16 04:02:55 +0000   \n",
       "2339  2015-11-16 03:55:04 +0000   \n",
       "2340  2015-11-16 03:44:34 +0000   \n",
       "2341  2015-11-16 03:22:39 +0000   \n",
       "2342  2015-11-16 02:38:37 +0000   \n",
       "2343  2015-11-16 01:59:36 +0000   \n",
       "2344  2015-11-16 01:52:02 +0000   \n",
       "2345  2015-11-16 01:22:45 +0000   \n",
       "2346  2015-11-16 01:01:59 +0000   \n",
       "2347  2015-11-16 00:55:59 +0000   \n",
       "2348  2015-11-16 00:49:46 +0000   \n",
       "2349  2015-11-16 00:35:11 +0000   \n",
       "2350  2015-11-16 00:30:50 +0000   \n",
       "2351  2015-11-16 00:24:50 +0000   \n",
       "2352  2015-11-16 00:04:52 +0000   \n",
       "2353  2015-11-15 23:21:54 +0000   \n",
       "2354  2015-11-15 23:05:30 +0000   \n",
       "2355  2015-11-15 22:32:08 +0000   \n",
       "\n",
       "                                                 source  \\\n",
       "0     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "1     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "3     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "4     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "5     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "6     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "7     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "8     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "9     <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "10    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "11    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "12    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "13    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "14    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "15    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "16    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "17    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "18    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "19    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "20    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "21    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "22    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "23    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "24    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "25    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "26    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "27    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "28    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "29    <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "...                                                 ...   \n",
       "2326  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2327  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2328  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2329  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2330  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2331  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2332  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2333  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2334  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2335  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2336  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2337  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2338  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2339  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2340  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2341  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2342  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2343  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2344  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2345  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2346  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2347  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2348  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2349  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2350  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2351  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2352  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2353  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2354  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2355  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "\n",
       "                                                   text  retweeted_status_id  \\\n",
       "0     This is Phineas. He's a mystical boy. Only eve...                  NaN   \n",
       "1     This is Tilly. She's just checking pup on you....                  NaN   \n",
       "2     This is Archie. He is a rare Norwegian Pouncin...                  NaN   \n",
       "3     This is Darla. She commenced a snooze mid meal...                  NaN   \n",
       "4     This is Franklin. He would like you to stop ca...                  NaN   \n",
       "5     Here we have a majestic great white breaching ...                  NaN   \n",
       "6     Meet Jax. He enjoys ice cream so much he gets ...                  NaN   \n",
       "7     When you watch your owner call another dog a g...                  NaN   \n",
       "8     This is Zoey. She doesn't want to be one of th...                  NaN   \n",
       "9     This is Cassie. She is a college pup. Studying...                  NaN   \n",
       "10    This is Koda. He is a South Australian decksha...                  NaN   \n",
       "11    This is Bruno. He is a service shark. Only get...                  NaN   \n",
       "12    Here's a puppo that seems to be on the fence a...                  NaN   \n",
       "13    This is Ted. He does his best. Sometimes that'...                  NaN   \n",
       "14    This is Stuart. He's sporting his favorite fan...                  NaN   \n",
       "15    This is Oliver. You're witnessing one of his m...                  NaN   \n",
       "16    This is Jim. He found a fren. Taught him how t...                  NaN   \n",
       "17    This is Zeke. He has a new stick. Very proud o...                  NaN   \n",
       "18    This is Ralphus. He's powering up. Attempting ...                  NaN   \n",
       "19    RT @dog_rates: This is Canela. She attempted s...         8.874740e+17   \n",
       "20    This is Gerald. He was just told he didn't get...                  NaN   \n",
       "21    This is Jeffrey. He has a monopoly on the pool...                  NaN   \n",
       "22    I've yet to rate a Venezuelan Hover Wiener. Th...                  NaN   \n",
       "23    This is Canela. She attempted some fancy porch...                  NaN   \n",
       "24    You may not have known you needed to see this ...                  NaN   \n",
       "25    This... is a Jubilant Antarctic House Bear. We...                  NaN   \n",
       "26    This is Maya. She's very shy. Rarely leaves he...                  NaN   \n",
       "27    This is Mingus. He's a wonderful father to his...                  NaN   \n",
       "28    This is Derek. He's late for a dog meeting. 13...                  NaN   \n",
       "29    This is Roscoe. Another pupper fallen victim t...                  NaN   \n",
       "...                                                 ...                  ...   \n",
       "2326  This is quite the dog. Gets really excited whe...                  NaN   \n",
       "2327  This is a southern Vesuvius bumblegruff. Can d...                  NaN   \n",
       "2328  Oh goodness. A super rare northeast Qdoba kang...                  NaN   \n",
       "2329  Those are sunglasses and a jean jacket. 11/10 ...                  NaN   \n",
       "2330  Unique dog here. Very small. Lives in containe...                  NaN   \n",
       "2331  Here we have a mixed Asiago from the Galápagos...                  NaN   \n",
       "2332  Look at this jokester thinking seat belt laws ...                  NaN   \n",
       "2333  This is an extremely rare horned Parthenon. No...                  NaN   \n",
       "2334  This is a funny dog. Weird toes. Won't come do...                  NaN   \n",
       "2335  This is an Albanian 3 1/2 legged  Episcopalian...                  NaN   \n",
       "2336     Can take selfies 11/10 https://t.co/ws2AMaNwPW                  NaN   \n",
       "2337  Very concerned about fellow dog trapped in com...                  NaN   \n",
       "2338  Not familiar with this breed. No tail (weird)....                  NaN   \n",
       "2339  Oh my. Here you are seeing an Adobe Setter giv...                  NaN   \n",
       "2340  Can stand on stump for what seems like a while...                  NaN   \n",
       "2341  This appears to be a Mongolian Presbyterian mi...                  NaN   \n",
       "2342  Here we have a well-established sunblockerspan...                  NaN   \n",
       "2343  Let's hope this flight isn't Malaysian (lol). ...                  NaN   \n",
       "2344  Here we have a northern speckled Rhododendron....                  NaN   \n",
       "2345  This is the happiest dog you will ever see. Ve...                  NaN   \n",
       "2346  Here is the Rand Paul of retrievers folks! He'...                  NaN   \n",
       "2347  My oh my. This is a rare blond Canadian terrie...                  NaN   \n",
       "2348  Here is a Siberian heavily armored polar bear ...                  NaN   \n",
       "2349  This is an odd dog. Hard on the outside but lo...                  NaN   \n",
       "2350  This is a truly beautiful English Wilson Staff...                  NaN   \n",
       "2351  Here we have a 1949 1st generation vulpix. Enj...                  NaN   \n",
       "2352  This is a purebred Piers Morgan. Loves to Netf...                  NaN   \n",
       "2353  Here is a very happy pup. Big fan of well-main...                  NaN   \n",
       "2354  This is a western brown Mitsubishi terrier. Up...                  NaN   \n",
       "2355  Here we have a Japanese Irish Setter. Lost eye...                  NaN   \n",
       "\n",
       "      retweeted_status_user_id retweeted_status_timestamp  \\\n",
       "0                          NaN                        NaN   \n",
       "1                          NaN                        NaN   \n",
       "2                          NaN                        NaN   \n",
       "3                          NaN                        NaN   \n",
       "4                          NaN                        NaN   \n",
       "5                          NaN                        NaN   \n",
       "6                          NaN                        NaN   \n",
       "7                          NaN                        NaN   \n",
       "8                          NaN                        NaN   \n",
       "9                          NaN                        NaN   \n",
       "10                         NaN                        NaN   \n",
       "11                         NaN                        NaN   \n",
       "12                         NaN                        NaN   \n",
       "13                         NaN                        NaN   \n",
       "14                         NaN                        NaN   \n",
       "15                         NaN                        NaN   \n",
       "16                         NaN                        NaN   \n",
       "17                         NaN                        NaN   \n",
       "18                         NaN                        NaN   \n",
       "19                4.196984e+09  2017-07-19 00:47:34 +0000   \n",
       "20                         NaN                        NaN   \n",
       "21                         NaN                        NaN   \n",
       "22                         NaN                        NaN   \n",
       "23                         NaN                        NaN   \n",
       "24                         NaN                        NaN   \n",
       "25                         NaN                        NaN   \n",
       "26                         NaN                        NaN   \n",
       "27                         NaN                        NaN   \n",
       "28                         NaN                        NaN   \n",
       "29                         NaN                        NaN   \n",
       "...                        ...                        ...   \n",
       "2326                       NaN                        NaN   \n",
       "2327                       NaN                        NaN   \n",
       "2328                       NaN                        NaN   \n",
       "2329                       NaN                        NaN   \n",
       "2330                       NaN                        NaN   \n",
       "2331                       NaN                        NaN   \n",
       "2332                       NaN                        NaN   \n",
       "2333                       NaN                        NaN   \n",
       "2334                       NaN                        NaN   \n",
       "2335                       NaN                        NaN   \n",
       "2336                       NaN                        NaN   \n",
       "2337                       NaN                        NaN   \n",
       "2338                       NaN                        NaN   \n",
       "2339                       NaN                        NaN   \n",
       "2340                       NaN                        NaN   \n",
       "2341                       NaN                        NaN   \n",
       "2342                       NaN                        NaN   \n",
       "2343                       NaN                        NaN   \n",
       "2344                       NaN                        NaN   \n",
       "2345                       NaN                        NaN   \n",
       "2346                       NaN                        NaN   \n",
       "2347                       NaN                        NaN   \n",
       "2348                       NaN                        NaN   \n",
       "2349                       NaN                        NaN   \n",
       "2350                       NaN                        NaN   \n",
       "2351                       NaN                        NaN   \n",
       "2352                       NaN                        NaN   \n",
       "2353                       NaN                        NaN   \n",
       "2354                       NaN                        NaN   \n",
       "2355                       NaN                        NaN   \n",
       "\n",
       "                                          expanded_urls  rating_numerator  \\\n",
       "0     https://twitter.com/dog_rates/status/892420643...                13   \n",
       "1     https://twitter.com/dog_rates/status/892177421...                13   \n",
       "2     https://twitter.com/dog_rates/status/891815181...                12   \n",
       "3     https://twitter.com/dog_rates/status/891689557...                13   \n",
       "4     https://twitter.com/dog_rates/status/891327558...                12   \n",
       "5     https://twitter.com/dog_rates/status/891087950...                13   \n",
       "6     https://gofundme.com/ydvmve-surgery-for-jax,ht...                13   \n",
       "7     https://twitter.com/dog_rates/status/890729181...                13   \n",
       "8     https://twitter.com/dog_rates/status/890609185...                13   \n",
       "9     https://twitter.com/dog_rates/status/890240255...                14   \n",
       "10    https://twitter.com/dog_rates/status/890006608...                13   \n",
       "11    https://twitter.com/dog_rates/status/889880896...                13   \n",
       "12    https://twitter.com/dog_rates/status/889665388...                13   \n",
       "13    https://twitter.com/dog_rates/status/889638837...                12   \n",
       "14    https://twitter.com/dog_rates/status/889531135...                13   \n",
       "15    https://twitter.com/dog_rates/status/889278841...                13   \n",
       "16    https://twitter.com/dog_rates/status/888917238...                12   \n",
       "17    https://twitter.com/dog_rates/status/888804989...                13   \n",
       "18    https://twitter.com/dog_rates/status/888554962...                13   \n",
       "19    https://twitter.com/dog_rates/status/887473957...                13   \n",
       "20    https://twitter.com/dog_rates/status/888078434...                12   \n",
       "21    https://twitter.com/dog_rates/status/887705289...                13   \n",
       "22    https://twitter.com/dog_rates/status/887517139...                14   \n",
       "23    https://twitter.com/dog_rates/status/887473957...                13   \n",
       "24    https://twitter.com/dog_rates/status/887343217...                13   \n",
       "25    https://twitter.com/dog_rates/status/887101392...                12   \n",
       "26    https://twitter.com/dog_rates/status/886983233...                13   \n",
       "27    https://www.gofundme.com/mingusneedsus,https:/...                13   \n",
       "28    https://twitter.com/dog_rates/status/886680336...                13   \n",
       "29    https://twitter.com/dog_rates/status/886366144...                12   \n",
       "...                                                 ...               ...   \n",
       "2326  https://twitter.com/dog_rates/status/666411507...                 2   \n",
       "2327  https://twitter.com/dog_rates/status/666407126...                 7   \n",
       "2328  https://twitter.com/dog_rates/status/666396247...                 9   \n",
       "2329  https://twitter.com/dog_rates/status/666373753...                11   \n",
       "2330  https://twitter.com/dog_rates/status/666362758...                 6   \n",
       "2331  https://twitter.com/dog_rates/status/666353288...                 8   \n",
       "2332  https://twitter.com/dog_rates/status/666345417...                10   \n",
       "2333  https://twitter.com/dog_rates/status/666337882...                 9   \n",
       "2334  https://twitter.com/dog_rates/status/666293911...                 3   \n",
       "2335  https://twitter.com/dog_rates/status/666287406...                 1   \n",
       "2336  https://twitter.com/dog_rates/status/666273097...                11   \n",
       "2337  https://twitter.com/dog_rates/status/666268910...                10   \n",
       "2338  https://twitter.com/dog_rates/status/666104133...                 1   \n",
       "2339  https://twitter.com/dog_rates/status/666102155...                11   \n",
       "2340  https://twitter.com/dog_rates/status/666099513...                 8   \n",
       "2341  https://twitter.com/dog_rates/status/666094000...                 9   \n",
       "2342  https://twitter.com/dog_rates/status/666082916...                 6   \n",
       "2343  https://twitter.com/dog_rates/status/666073100...                10   \n",
       "2344  https://twitter.com/dog_rates/status/666071193...                 9   \n",
       "2345  https://twitter.com/dog_rates/status/666063827...                10   \n",
       "2346  https://twitter.com/dog_rates/status/666058600...                 8   \n",
       "2347  https://twitter.com/dog_rates/status/666057090...                 9   \n",
       "2348  https://twitter.com/dog_rates/status/666055525...                10   \n",
       "2349  https://twitter.com/dog_rates/status/666051853...                 2   \n",
       "2350  https://twitter.com/dog_rates/status/666050758...                10   \n",
       "2351  https://twitter.com/dog_rates/status/666049248...                 5   \n",
       "2352  https://twitter.com/dog_rates/status/666044226...                 6   \n",
       "2353  https://twitter.com/dog_rates/status/666033412...                 9   \n",
       "2354  https://twitter.com/dog_rates/status/666029285...                 7   \n",
       "2355  https://twitter.com/dog_rates/status/666020888...                 8   \n",
       "\n",
       "      rating_denominator      name  doggo floofer  pupper  puppo  \n",
       "0                     10   Phineas   None    None    None   None  \n",
       "1                     10     Tilly   None    None    None   None  \n",
       "2                     10    Archie   None    None    None   None  \n",
       "3                     10     Darla   None    None    None   None  \n",
       "4                     10  Franklin   None    None    None   None  \n",
       "5                     10      None   None    None    None   None  \n",
       "6                     10       Jax   None    None    None   None  \n",
       "7                     10      None   None    None    None   None  \n",
       "8                     10      Zoey   None    None    None   None  \n",
       "9                     10    Cassie  doggo    None    None   None  \n",
       "10                    10      Koda   None    None    None   None  \n",
       "11                    10     Bruno   None    None    None   None  \n",
       "12                    10      None   None    None    None  puppo  \n",
       "13                    10       Ted   None    None    None   None  \n",
       "14                    10    Stuart   None    None    None  puppo  \n",
       "15                    10    Oliver   None    None    None   None  \n",
       "16                    10       Jim   None    None    None   None  \n",
       "17                    10      Zeke   None    None    None   None  \n",
       "18                    10   Ralphus   None    None    None   None  \n",
       "19                    10    Canela   None    None    None   None  \n",
       "20                    10    Gerald   None    None    None   None  \n",
       "21                    10   Jeffrey   None    None    None   None  \n",
       "22                    10      such   None    None    None   None  \n",
       "23                    10    Canela   None    None    None   None  \n",
       "24                    10      None   None    None    None   None  \n",
       "25                    10      None   None    None    None   None  \n",
       "26                    10      Maya   None    None    None   None  \n",
       "27                    10    Mingus   None    None    None   None  \n",
       "28                    10     Derek   None    None    None   None  \n",
       "29                    10    Roscoe   None    None  pupper   None  \n",
       "...                  ...       ...    ...     ...     ...    ...  \n",
       "2326                  10     quite   None    None    None   None  \n",
       "2327                  10         a   None    None    None   None  \n",
       "2328                  10      None   None    None    None   None  \n",
       "2329                  10      None   None    None    None   None  \n",
       "2330                  10      None   None    None    None   None  \n",
       "2331                  10      None   None    None    None   None  \n",
       "2332                  10      None   None    None    None   None  \n",
       "2333                  10        an   None    None    None   None  \n",
       "2334                  10         a   None    None    None   None  \n",
       "2335                   2        an   None    None    None   None  \n",
       "2336                  10      None   None    None    None   None  \n",
       "2337                  10      None   None    None    None   None  \n",
       "2338                  10      None   None    None    None   None  \n",
       "2339                  10      None   None    None    None   None  \n",
       "2340                  10      None   None    None    None   None  \n",
       "2341                  10      None   None    None    None   None  \n",
       "2342                  10      None   None    None    None   None  \n",
       "2343                  10      None   None    None    None   None  \n",
       "2344                  10      None   None    None    None   None  \n",
       "2345                  10       the   None    None    None   None  \n",
       "2346                  10       the   None    None    None   None  \n",
       "2347                  10         a   None    None    None   None  \n",
       "2348                  10         a   None    None    None   None  \n",
       "2349                  10        an   None    None    None   None  \n",
       "2350                  10         a   None    None    None   None  \n",
       "2351                  10      None   None    None    None   None  \n",
       "2352                  10         a   None    None    None   None  \n",
       "2353                  10         a   None    None    None   None  \n",
       "2354                  10         a   None    None    None   None  \n",
       "2355                  10      None   None    None    None   None  \n",
       "\n",
       "[2356 rows x 17 columns]"
      ]
     },
     "execution_count": 12,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>jpg_url</th>\n",
       "      <th>img_num</th>\n",
       "      <th>p1</th>\n",
       "      <th>p1_conf</th>\n",
       "      <th>p1_dog</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>666020888022790149</td>\n",
       "      <td>https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Welsh_springer_spaniel</td>\n",
       "      <td>0.465074</td>\n",
       "      <td>True</td>\n",
       "      <td>collie</td>\n",
       "      <td>0.156665</td>\n",
       "      <td>True</td>\n",
       "      <td>Shetland_sheepdog</td>\n",
       "      <td>0.061428</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>666029285002620928</td>\n",
       "      <td>https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.506826</td>\n",
       "      <td>True</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.074192</td>\n",
       "      <td>True</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.072010</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>666033412701032449</td>\n",
       "      <td>https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>German_shepherd</td>\n",
       "      <td>0.596461</td>\n",
       "      <td>True</td>\n",
       "      <td>malinois</td>\n",
       "      <td>0.138584</td>\n",
       "      <td>True</td>\n",
       "      <td>bloodhound</td>\n",
       "      <td>0.116197</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>666044226329800704</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.408143</td>\n",
       "      <td>True</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.360687</td>\n",
       "      <td>True</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.222752</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>666049248165822465</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>miniature_pinscher</td>\n",
       "      <td>0.560311</td>\n",
       "      <td>True</td>\n",
       "      <td>Rottweiler</td>\n",
       "      <td>0.243682</td>\n",
       "      <td>True</td>\n",
       "      <td>Doberman</td>\n",
       "      <td>0.154629</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>666050758794694657</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Bernese_mountain_dog</td>\n",
       "      <td>0.651137</td>\n",
       "      <td>True</td>\n",
       "      <td>English_springer</td>\n",
       "      <td>0.263788</td>\n",
       "      <td>True</td>\n",
       "      <td>Greater_Swiss_Mountain_dog</td>\n",
       "      <td>0.016199</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>666051853826850816</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>box_turtle</td>\n",
       "      <td>0.933012</td>\n",
       "      <td>False</td>\n",
       "      <td>mud_turtle</td>\n",
       "      <td>0.045885</td>\n",
       "      <td>False</td>\n",
       "      <td>terrapin</td>\n",
       "      <td>0.017885</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>666055525042405380</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>chow</td>\n",
       "      <td>0.692517</td>\n",
       "      <td>True</td>\n",
       "      <td>Tibetan_mastiff</td>\n",
       "      <td>0.058279</td>\n",
       "      <td>True</td>\n",
       "      <td>fur_coat</td>\n",
       "      <td>0.054449</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>666057090499244032</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>shopping_cart</td>\n",
       "      <td>0.962465</td>\n",
       "      <td>False</td>\n",
       "      <td>shopping_basket</td>\n",
       "      <td>0.014594</td>\n",
       "      <td>False</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.007959</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>666058600524156928</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>miniature_poodle</td>\n",
       "      <td>0.201493</td>\n",
       "      <td>True</td>\n",
       "      <td>komondor</td>\n",
       "      <td>0.192305</td>\n",
       "      <td>True</td>\n",
       "      <td>soft-coated_wheaten_terrier</td>\n",
       "      <td>0.082086</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>666063827256086533</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.775930</td>\n",
       "      <td>True</td>\n",
       "      <td>Tibetan_mastiff</td>\n",
       "      <td>0.093718</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.072427</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>666071193221509120</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Gordon_setter</td>\n",
       "      <td>0.503672</td>\n",
       "      <td>True</td>\n",
       "      <td>Yorkshire_terrier</td>\n",
       "      <td>0.174201</td>\n",
       "      <td>True</td>\n",
       "      <td>Pekinese</td>\n",
       "      <td>0.109454</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>666073100786774016</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Walker_hound</td>\n",
       "      <td>0.260857</td>\n",
       "      <td>True</td>\n",
       "      <td>English_foxhound</td>\n",
       "      <td>0.175382</td>\n",
       "      <td>True</td>\n",
       "      <td>Ibizan_hound</td>\n",
       "      <td>0.097471</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>666082916733198337</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>pug</td>\n",
       "      <td>0.489814</td>\n",
       "      <td>True</td>\n",
       "      <td>bull_mastiff</td>\n",
       "      <td>0.404722</td>\n",
       "      <td>True</td>\n",
       "      <td>French_bulldog</td>\n",
       "      <td>0.048960</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>666094000022159362</td>\n",
       "      <td>https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>bloodhound</td>\n",
       "      <td>0.195217</td>\n",
       "      <td>True</td>\n",
       "      <td>German_shepherd</td>\n",
       "      <td>0.078260</td>\n",
       "      <td>True</td>\n",
       "      <td>malinois</td>\n",
       "      <td>0.075628</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15</th>\n",
       "      <td>666099513787052032</td>\n",
       "      <td>https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Lhasa</td>\n",
       "      <td>0.582330</td>\n",
       "      <td>True</td>\n",
       "      <td>Shih-Tzu</td>\n",
       "      <td>0.166192</td>\n",
       "      <td>True</td>\n",
       "      <td>Dandie_Dinmont</td>\n",
       "      <td>0.089688</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>666102155909144576</td>\n",
       "      <td>https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>English_setter</td>\n",
       "      <td>0.298617</td>\n",
       "      <td>True</td>\n",
       "      <td>Newfoundland</td>\n",
       "      <td>0.149842</td>\n",
       "      <td>True</td>\n",
       "      <td>borzoi</td>\n",
       "      <td>0.133649</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>666104133288665088</td>\n",
       "      <td>https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>hen</td>\n",
       "      <td>0.965932</td>\n",
       "      <td>False</td>\n",
       "      <td>cock</td>\n",
       "      <td>0.033919</td>\n",
       "      <td>False</td>\n",
       "      <td>partridge</td>\n",
       "      <td>0.000052</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>666268910803644416</td>\n",
       "      <td>https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>desktop_computer</td>\n",
       "      <td>0.086502</td>\n",
       "      <td>False</td>\n",
       "      <td>desk</td>\n",
       "      <td>0.085547</td>\n",
       "      <td>False</td>\n",
       "      <td>bookcase</td>\n",
       "      <td>0.079480</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19</th>\n",
       "      <td>666273097616637952</td>\n",
       "      <td>https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Italian_greyhound</td>\n",
       "      <td>0.176053</td>\n",
       "      <td>True</td>\n",
       "      <td>toy_terrier</td>\n",
       "      <td>0.111884</td>\n",
       "      <td>True</td>\n",
       "      <td>basenji</td>\n",
       "      <td>0.111152</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20</th>\n",
       "      <td>666287406224695296</td>\n",
       "      <td>https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Maltese_dog</td>\n",
       "      <td>0.857531</td>\n",
       "      <td>True</td>\n",
       "      <td>toy_poodle</td>\n",
       "      <td>0.063064</td>\n",
       "      <td>True</td>\n",
       "      <td>miniature_poodle</td>\n",
       "      <td>0.025581</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>666293911632134144</td>\n",
       "      <td>https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>three-toed_sloth</td>\n",
       "      <td>0.914671</td>\n",
       "      <td>False</td>\n",
       "      <td>otter</td>\n",
       "      <td>0.015250</td>\n",
       "      <td>False</td>\n",
       "      <td>great_grey_owl</td>\n",
       "      <td>0.013207</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22</th>\n",
       "      <td>666337882303524864</td>\n",
       "      <td>https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>ox</td>\n",
       "      <td>0.416669</td>\n",
       "      <td>False</td>\n",
       "      <td>Newfoundland</td>\n",
       "      <td>0.278407</td>\n",
       "      <td>True</td>\n",
       "      <td>groenendael</td>\n",
       "      <td>0.102643</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>666345417576210432</td>\n",
       "      <td>https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.858744</td>\n",
       "      <td>True</td>\n",
       "      <td>Chesapeake_Bay_retriever</td>\n",
       "      <td>0.054787</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.014241</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24</th>\n",
       "      <td>666353288456101888</td>\n",
       "      <td>https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>malamute</td>\n",
       "      <td>0.336874</td>\n",
       "      <td>True</td>\n",
       "      <td>Siberian_husky</td>\n",
       "      <td>0.147655</td>\n",
       "      <td>True</td>\n",
       "      <td>Eskimo_dog</td>\n",
       "      <td>0.093412</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25</th>\n",
       "      <td>666362758909284353</td>\n",
       "      <td>https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>guinea_pig</td>\n",
       "      <td>0.996496</td>\n",
       "      <td>False</td>\n",
       "      <td>skunk</td>\n",
       "      <td>0.002402</td>\n",
       "      <td>False</td>\n",
       "      <td>hamster</td>\n",
       "      <td>0.000461</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>26</th>\n",
       "      <td>666373753744588802</td>\n",
       "      <td>https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>soft-coated_wheaten_terrier</td>\n",
       "      <td>0.326467</td>\n",
       "      <td>True</td>\n",
       "      <td>Afghan_hound</td>\n",
       "      <td>0.259551</td>\n",
       "      <td>True</td>\n",
       "      <td>briard</td>\n",
       "      <td>0.206803</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>27</th>\n",
       "      <td>666396247373291520</td>\n",
       "      <td>https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.978108</td>\n",
       "      <td>True</td>\n",
       "      <td>toy_terrier</td>\n",
       "      <td>0.009397</td>\n",
       "      <td>True</td>\n",
       "      <td>papillon</td>\n",
       "      <td>0.004577</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28</th>\n",
       "      <td>666407126856765440</td>\n",
       "      <td>https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>black-and-tan_coonhound</td>\n",
       "      <td>0.529139</td>\n",
       "      <td>True</td>\n",
       "      <td>bloodhound</td>\n",
       "      <td>0.244220</td>\n",
       "      <td>True</td>\n",
       "      <td>flat-coated_retriever</td>\n",
       "      <td>0.173810</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29</th>\n",
       "      <td>666411507551481857</td>\n",
       "      <td>https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>coho</td>\n",
       "      <td>0.404640</td>\n",
       "      <td>False</td>\n",
       "      <td>barracouta</td>\n",
       "      <td>0.271485</td>\n",
       "      <td>False</td>\n",
       "      <td>gar</td>\n",
       "      <td>0.189945</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2045</th>\n",
       "      <td>886366144734445568</td>\n",
       "      <td>https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>French_bulldog</td>\n",
       "      <td>0.999201</td>\n",
       "      <td>True</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.000361</td>\n",
       "      <td>True</td>\n",
       "      <td>Boston_bull</td>\n",
       "      <td>0.000076</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2046</th>\n",
       "      <td>886680336477933568</td>\n",
       "      <td>https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>convertible</td>\n",
       "      <td>0.738995</td>\n",
       "      <td>False</td>\n",
       "      <td>sports_car</td>\n",
       "      <td>0.139952</td>\n",
       "      <td>False</td>\n",
       "      <td>car_wheel</td>\n",
       "      <td>0.044173</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2047</th>\n",
       "      <td>886736880519319552</td>\n",
       "      <td>https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>kuvasz</td>\n",
       "      <td>0.309706</td>\n",
       "      <td>True</td>\n",
       "      <td>Great_Pyrenees</td>\n",
       "      <td>0.186136</td>\n",
       "      <td>True</td>\n",
       "      <td>Dandie_Dinmont</td>\n",
       "      <td>0.086346</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2048</th>\n",
       "      <td>886983233522544640</td>\n",
       "      <td>https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg</td>\n",
       "      <td>2</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.793469</td>\n",
       "      <td>True</td>\n",
       "      <td>toy_terrier</td>\n",
       "      <td>0.143528</td>\n",
       "      <td>True</td>\n",
       "      <td>can_opener</td>\n",
       "      <td>0.032253</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2049</th>\n",
       "      <td>887101392804085760</td>\n",
       "      <td>https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Samoyed</td>\n",
       "      <td>0.733942</td>\n",
       "      <td>True</td>\n",
       "      <td>Eskimo_dog</td>\n",
       "      <td>0.035029</td>\n",
       "      <td>True</td>\n",
       "      <td>Staffordshire_bullterrier</td>\n",
       "      <td>0.029705</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2050</th>\n",
       "      <td>887343217045368832</td>\n",
       "      <td>https://pbs.twimg.com/ext_tw_video_thumb/88734...</td>\n",
       "      <td>1</td>\n",
       "      <td>Mexican_hairless</td>\n",
       "      <td>0.330741</td>\n",
       "      <td>True</td>\n",
       "      <td>sea_lion</td>\n",
       "      <td>0.275645</td>\n",
       "      <td>False</td>\n",
       "      <td>Weimaraner</td>\n",
       "      <td>0.134203</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2051</th>\n",
       "      <td>887473957103951883</td>\n",
       "      <td>https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg</td>\n",
       "      <td>2</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.809197</td>\n",
       "      <td>True</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.054950</td>\n",
       "      <td>True</td>\n",
       "      <td>beagle</td>\n",
       "      <td>0.038915</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2052</th>\n",
       "      <td>887517139158093824</td>\n",
       "      <td>https://pbs.twimg.com/ext_tw_video_thumb/88751...</td>\n",
       "      <td>1</td>\n",
       "      <td>limousine</td>\n",
       "      <td>0.130432</td>\n",
       "      <td>False</td>\n",
       "      <td>tow_truck</td>\n",
       "      <td>0.029175</td>\n",
       "      <td>False</td>\n",
       "      <td>shopping_cart</td>\n",
       "      <td>0.026321</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2053</th>\n",
       "      <td>887705289381826560</td>\n",
       "      <td>https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>basset</td>\n",
       "      <td>0.821664</td>\n",
       "      <td>True</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.087582</td>\n",
       "      <td>True</td>\n",
       "      <td>Weimaraner</td>\n",
       "      <td>0.026236</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2054</th>\n",
       "      <td>888078434458587136</td>\n",
       "      <td>https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>French_bulldog</td>\n",
       "      <td>0.995026</td>\n",
       "      <td>True</td>\n",
       "      <td>pug</td>\n",
       "      <td>0.000932</td>\n",
       "      <td>True</td>\n",
       "      <td>bull_mastiff</td>\n",
       "      <td>0.000903</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2055</th>\n",
       "      <td>888202515573088257</td>\n",
       "      <td>https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg</td>\n",
       "      <td>2</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.809197</td>\n",
       "      <td>True</td>\n",
       "      <td>Rhodesian_ridgeback</td>\n",
       "      <td>0.054950</td>\n",
       "      <td>True</td>\n",
       "      <td>beagle</td>\n",
       "      <td>0.038915</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2056</th>\n",
       "      <td>888554962724278272</td>\n",
       "      <td>https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg</td>\n",
       "      <td>3</td>\n",
       "      <td>Siberian_husky</td>\n",
       "      <td>0.700377</td>\n",
       "      <td>True</td>\n",
       "      <td>Eskimo_dog</td>\n",
       "      <td>0.166511</td>\n",
       "      <td>True</td>\n",
       "      <td>malamute</td>\n",
       "      <td>0.111411</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2057</th>\n",
       "      <td>888804989199671297</td>\n",
       "      <td>https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.469760</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.184172</td>\n",
       "      <td>True</td>\n",
       "      <td>English_setter</td>\n",
       "      <td>0.073482</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2058</th>\n",
       "      <td>888917238123831296</td>\n",
       "      <td>https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.714719</td>\n",
       "      <td>True</td>\n",
       "      <td>Tibetan_mastiff</td>\n",
       "      <td>0.120184</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.105506</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2059</th>\n",
       "      <td>889278841981685760</td>\n",
       "      <td>https://pbs.twimg.com/ext_tw_video_thumb/88927...</td>\n",
       "      <td>1</td>\n",
       "      <td>whippet</td>\n",
       "      <td>0.626152</td>\n",
       "      <td>True</td>\n",
       "      <td>borzoi</td>\n",
       "      <td>0.194742</td>\n",
       "      <td>True</td>\n",
       "      <td>Saluki</td>\n",
       "      <td>0.027351</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2060</th>\n",
       "      <td>889531135344209921</td>\n",
       "      <td>https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.953442</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.013834</td>\n",
       "      <td>True</td>\n",
       "      <td>redbone</td>\n",
       "      <td>0.007958</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2061</th>\n",
       "      <td>889638837579907072</td>\n",
       "      <td>https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>French_bulldog</td>\n",
       "      <td>0.991650</td>\n",
       "      <td>True</td>\n",
       "      <td>boxer</td>\n",
       "      <td>0.002129</td>\n",
       "      <td>True</td>\n",
       "      <td>Staffordshire_bullterrier</td>\n",
       "      <td>0.001498</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2062</th>\n",
       "      <td>889665388333682689</td>\n",
       "      <td>https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.966327</td>\n",
       "      <td>True</td>\n",
       "      <td>Cardigan</td>\n",
       "      <td>0.027356</td>\n",
       "      <td>True</td>\n",
       "      <td>basenji</td>\n",
       "      <td>0.004633</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2063</th>\n",
       "      <td>889880896479866881</td>\n",
       "      <td>https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>French_bulldog</td>\n",
       "      <td>0.377417</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.151317</td>\n",
       "      <td>True</td>\n",
       "      <td>muzzle</td>\n",
       "      <td>0.082981</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2064</th>\n",
       "      <td>890006608113172480</td>\n",
       "      <td>https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Samoyed</td>\n",
       "      <td>0.957979</td>\n",
       "      <td>True</td>\n",
       "      <td>Pomeranian</td>\n",
       "      <td>0.013884</td>\n",
       "      <td>True</td>\n",
       "      <td>chow</td>\n",
       "      <td>0.008167</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2065</th>\n",
       "      <td>890240255349198849</td>\n",
       "      <td>https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.511319</td>\n",
       "      <td>True</td>\n",
       "      <td>Cardigan</td>\n",
       "      <td>0.451038</td>\n",
       "      <td>True</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.029248</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2066</th>\n",
       "      <td>890609185150312448</td>\n",
       "      <td>https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Irish_terrier</td>\n",
       "      <td>0.487574</td>\n",
       "      <td>True</td>\n",
       "      <td>Irish_setter</td>\n",
       "      <td>0.193054</td>\n",
       "      <td>True</td>\n",
       "      <td>Chesapeake_Bay_retriever</td>\n",
       "      <td>0.118184</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2067</th>\n",
       "      <td>890729181411237888</td>\n",
       "      <td>https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg</td>\n",
       "      <td>2</td>\n",
       "      <td>Pomeranian</td>\n",
       "      <td>0.566142</td>\n",
       "      <td>True</td>\n",
       "      <td>Eskimo_dog</td>\n",
       "      <td>0.178406</td>\n",
       "      <td>True</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.076507</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2068</th>\n",
       "      <td>890971913173991426</td>\n",
       "      <td>https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Appenzeller</td>\n",
       "      <td>0.341703</td>\n",
       "      <td>True</td>\n",
       "      <td>Border_collie</td>\n",
       "      <td>0.199287</td>\n",
       "      <td>True</td>\n",
       "      <td>ice_lolly</td>\n",
       "      <td>0.193548</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2069</th>\n",
       "      <td>891087950875897856</td>\n",
       "      <td>https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Chesapeake_Bay_retriever</td>\n",
       "      <td>0.425595</td>\n",
       "      <td>True</td>\n",
       "      <td>Irish_terrier</td>\n",
       "      <td>0.116317</td>\n",
       "      <td>True</td>\n",
       "      <td>Indian_elephant</td>\n",
       "      <td>0.076902</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2070</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg</td>\n",
       "      <td>2</td>\n",
       "      <td>basset</td>\n",
       "      <td>0.555712</td>\n",
       "      <td>True</td>\n",
       "      <td>English_springer</td>\n",
       "      <td>0.225770</td>\n",
       "      <td>True</td>\n",
       "      <td>German_short-haired_pointer</td>\n",
       "      <td>0.175219</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2071</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>paper_towel</td>\n",
       "      <td>0.170278</td>\n",
       "      <td>False</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.168086</td>\n",
       "      <td>True</td>\n",
       "      <td>spatula</td>\n",
       "      <td>0.040836</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2072</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.716012</td>\n",
       "      <td>True</td>\n",
       "      <td>malamute</td>\n",
       "      <td>0.078253</td>\n",
       "      <td>True</td>\n",
       "      <td>kelpie</td>\n",
       "      <td>0.031379</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2073</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.323581</td>\n",
       "      <td>True</td>\n",
       "      <td>Pekinese</td>\n",
       "      <td>0.090647</td>\n",
       "      <td>True</td>\n",
       "      <td>papillon</td>\n",
       "      <td>0.068957</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2074</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>orange</td>\n",
       "      <td>0.097049</td>\n",
       "      <td>False</td>\n",
       "      <td>bagel</td>\n",
       "      <td>0.085851</td>\n",
       "      <td>False</td>\n",
       "      <td>banana</td>\n",
       "      <td>0.076110</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2075 rows × 12 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                tweet_id                                            jpg_url  \\\n",
       "0     666020888022790149    https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg   \n",
       "1     666029285002620928    https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg   \n",
       "2     666033412701032449    https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg   \n",
       "3     666044226329800704    https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg   \n",
       "4     666049248165822465    https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg   \n",
       "5     666050758794694657    https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg   \n",
       "6     666051853826850816    https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg   \n",
       "7     666055525042405380    https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg   \n",
       "8     666057090499244032    https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg   \n",
       "9     666058600524156928    https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg   \n",
       "10    666063827256086533    https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg   \n",
       "11    666071193221509120    https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg   \n",
       "12    666073100786774016    https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg   \n",
       "13    666082916733198337    https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg   \n",
       "14    666094000022159362    https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg   \n",
       "15    666099513787052032    https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg   \n",
       "16    666102155909144576    https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg   \n",
       "17    666104133288665088    https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg   \n",
       "18    666268910803644416    https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg   \n",
       "19    666273097616637952    https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg   \n",
       "20    666287406224695296    https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg   \n",
       "21    666293911632134144    https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg   \n",
       "22    666337882303524864    https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg   \n",
       "23    666345417576210432    https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg   \n",
       "24    666353288456101888    https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg   \n",
       "25    666362758909284353    https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg   \n",
       "26    666373753744588802    https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg   \n",
       "27    666396247373291520    https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg   \n",
       "28    666407126856765440    https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg   \n",
       "29    666411507551481857    https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg   \n",
       "...                  ...                                                ...   \n",
       "2045  886366144734445568    https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg   \n",
       "2046  886680336477933568    https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg   \n",
       "2047  886736880519319552    https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg   \n",
       "2048  886983233522544640    https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg   \n",
       "2049  887101392804085760    https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg   \n",
       "2050  887343217045368832  https://pbs.twimg.com/ext_tw_video_thumb/88734...   \n",
       "2051  887473957103951883    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg   \n",
       "2052  887517139158093824  https://pbs.twimg.com/ext_tw_video_thumb/88751...   \n",
       "2053  887705289381826560    https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg   \n",
       "2054  888078434458587136    https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg   \n",
       "2055  888202515573088257    https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg   \n",
       "2056  888554962724278272    https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg   \n",
       "2057  888804989199671297    https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg   \n",
       "2058  888917238123831296    https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg   \n",
       "2059  889278841981685760  https://pbs.twimg.com/ext_tw_video_thumb/88927...   \n",
       "2060  889531135344209921    https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg   \n",
       "2061  889638837579907072    https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg   \n",
       "2062  889665388333682689    https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg   \n",
       "2063  889880896479866881    https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg   \n",
       "2064  890006608113172480    https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg   \n",
       "2065  890240255349198849    https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg   \n",
       "2066  890609185150312448    https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg   \n",
       "2067  890729181411237888    https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg   \n",
       "2068  890971913173991426    https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg   \n",
       "2069  891087950875897856    https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg   \n",
       "2070  891327558926688256    https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg   \n",
       "2071  891689557279858688    https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg   \n",
       "2072  891815181378084864    https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg   \n",
       "2073  892177421306343426    https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg   \n",
       "2074  892420643555336193    https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg   \n",
       "\n",
       "      img_num                           p1   p1_conf  p1_dog  \\\n",
       "0           1       Welsh_springer_spaniel  0.465074    True   \n",
       "1           1                      redbone  0.506826    True   \n",
       "2           1              German_shepherd  0.596461    True   \n",
       "3           1          Rhodesian_ridgeback  0.408143    True   \n",
       "4           1           miniature_pinscher  0.560311    True   \n",
       "5           1         Bernese_mountain_dog  0.651137    True   \n",
       "6           1                   box_turtle  0.933012   False   \n",
       "7           1                         chow  0.692517    True   \n",
       "8           1                shopping_cart  0.962465   False   \n",
       "9           1             miniature_poodle  0.201493    True   \n",
       "10          1             golden_retriever  0.775930    True   \n",
       "11          1                Gordon_setter  0.503672    True   \n",
       "12          1                 Walker_hound  0.260857    True   \n",
       "13          1                          pug  0.489814    True   \n",
       "14          1                   bloodhound  0.195217    True   \n",
       "15          1                        Lhasa  0.582330    True   \n",
       "16          1               English_setter  0.298617    True   \n",
       "17          1                          hen  0.965932   False   \n",
       "18          1             desktop_computer  0.086502   False   \n",
       "19          1            Italian_greyhound  0.176053    True   \n",
       "20          1                  Maltese_dog  0.857531    True   \n",
       "21          1             three-toed_sloth  0.914671   False   \n",
       "22          1                           ox  0.416669   False   \n",
       "23          1             golden_retriever  0.858744    True   \n",
       "24          1                     malamute  0.336874    True   \n",
       "25          1                   guinea_pig  0.996496   False   \n",
       "26          1  soft-coated_wheaten_terrier  0.326467    True   \n",
       "27          1                    Chihuahua  0.978108    True   \n",
       "28          1      black-and-tan_coonhound  0.529139    True   \n",
       "29          1                         coho  0.404640   False   \n",
       "...       ...                          ...       ...     ...   \n",
       "2045        1               French_bulldog  0.999201    True   \n",
       "2046        1                  convertible  0.738995   False   \n",
       "2047        1                       kuvasz  0.309706    True   \n",
       "2048        2                    Chihuahua  0.793469    True   \n",
       "2049        1                      Samoyed  0.733942    True   \n",
       "2050        1             Mexican_hairless  0.330741    True   \n",
       "2051        2                     Pembroke  0.809197    True   \n",
       "2052        1                    limousine  0.130432   False   \n",
       "2053        1                       basset  0.821664    True   \n",
       "2054        1               French_bulldog  0.995026    True   \n",
       "2055        2                     Pembroke  0.809197    True   \n",
       "2056        3               Siberian_husky  0.700377    True   \n",
       "2057        1             golden_retriever  0.469760    True   \n",
       "2058        1             golden_retriever  0.714719    True   \n",
       "2059        1                      whippet  0.626152    True   \n",
       "2060        1             golden_retriever  0.953442    True   \n",
       "2061        1               French_bulldog  0.991650    True   \n",
       "2062        1                     Pembroke  0.966327    True   \n",
       "2063        1               French_bulldog  0.377417    True   \n",
       "2064        1                      Samoyed  0.957979    True   \n",
       "2065        1                     Pembroke  0.511319    True   \n",
       "2066        1                Irish_terrier  0.487574    True   \n",
       "2067        2                   Pomeranian  0.566142    True   \n",
       "2068        1                  Appenzeller  0.341703    True   \n",
       "2069        1     Chesapeake_Bay_retriever  0.425595    True   \n",
       "2070        2                       basset  0.555712    True   \n",
       "2071        1                  paper_towel  0.170278   False   \n",
       "2072        1                    Chihuahua  0.716012    True   \n",
       "2073        1                    Chihuahua  0.323581    True   \n",
       "2074        1                       orange  0.097049   False   \n",
       "\n",
       "                            p2   p2_conf  p2_dog                           p3  \\\n",
       "0                       collie  0.156665    True            Shetland_sheepdog   \n",
       "1           miniature_pinscher  0.074192    True          Rhodesian_ridgeback   \n",
       "2                     malinois  0.138584    True                   bloodhound   \n",
       "3                      redbone  0.360687    True           miniature_pinscher   \n",
       "4                   Rottweiler  0.243682    True                     Doberman   \n",
       "5             English_springer  0.263788    True   Greater_Swiss_Mountain_dog   \n",
       "6                   mud_turtle  0.045885   False                     terrapin   \n",
       "7              Tibetan_mastiff  0.058279    True                     fur_coat   \n",
       "8              shopping_basket  0.014594   False             golden_retriever   \n",
       "9                     komondor  0.192305    True  soft-coated_wheaten_terrier   \n",
       "10             Tibetan_mastiff  0.093718    True           Labrador_retriever   \n",
       "11           Yorkshire_terrier  0.174201    True                     Pekinese   \n",
       "12            English_foxhound  0.175382    True                 Ibizan_hound   \n",
       "13                bull_mastiff  0.404722    True               French_bulldog   \n",
       "14             German_shepherd  0.078260    True                     malinois   \n",
       "15                    Shih-Tzu  0.166192    True               Dandie_Dinmont   \n",
       "16                Newfoundland  0.149842    True                       borzoi   \n",
       "17                        cock  0.033919   False                    partridge   \n",
       "18                        desk  0.085547   False                     bookcase   \n",
       "19                 toy_terrier  0.111884    True                      basenji   \n",
       "20                  toy_poodle  0.063064    True             miniature_poodle   \n",
       "21                       otter  0.015250   False               great_grey_owl   \n",
       "22                Newfoundland  0.278407    True                  groenendael   \n",
       "23    Chesapeake_Bay_retriever  0.054787    True           Labrador_retriever   \n",
       "24              Siberian_husky  0.147655    True                   Eskimo_dog   \n",
       "25                       skunk  0.002402   False                      hamster   \n",
       "26                Afghan_hound  0.259551    True                       briard   \n",
       "27                 toy_terrier  0.009397    True                     papillon   \n",
       "28                  bloodhound  0.244220    True        flat-coated_retriever   \n",
       "29                  barracouta  0.271485   False                          gar   \n",
       "...                        ...       ...     ...                          ...   \n",
       "2045                 Chihuahua  0.000361    True                  Boston_bull   \n",
       "2046                sports_car  0.139952   False                    car_wheel   \n",
       "2047            Great_Pyrenees  0.186136    True               Dandie_Dinmont   \n",
       "2048               toy_terrier  0.143528    True                   can_opener   \n",
       "2049                Eskimo_dog  0.035029    True    Staffordshire_bullterrier   \n",
       "2050                  sea_lion  0.275645   False                   Weimaraner   \n",
       "2051       Rhodesian_ridgeback  0.054950    True                       beagle   \n",
       "2052                 tow_truck  0.029175   False                shopping_cart   \n",
       "2053                   redbone  0.087582    True                   Weimaraner   \n",
       "2054                       pug  0.000932    True                 bull_mastiff   \n",
       "2055       Rhodesian_ridgeback  0.054950    True                       beagle   \n",
       "2056                Eskimo_dog  0.166511    True                     malamute   \n",
       "2057        Labrador_retriever  0.184172    True               English_setter   \n",
       "2058           Tibetan_mastiff  0.120184    True           Labrador_retriever   \n",
       "2059                    borzoi  0.194742    True                       Saluki   \n",
       "2060        Labrador_retriever  0.013834    True                      redbone   \n",
       "2061                     boxer  0.002129    True    Staffordshire_bullterrier   \n",
       "2062                  Cardigan  0.027356    True                      basenji   \n",
       "2063        Labrador_retriever  0.151317    True                       muzzle   \n",
       "2064                Pomeranian  0.013884    True                         chow   \n",
       "2065                  Cardigan  0.451038    True                    Chihuahua   \n",
       "2066              Irish_setter  0.193054    True     Chesapeake_Bay_retriever   \n",
       "2067                Eskimo_dog  0.178406    True                     Pembroke   \n",
       "2068             Border_collie  0.199287    True                    ice_lolly   \n",
       "2069             Irish_terrier  0.116317    True              Indian_elephant   \n",
       "2070          English_springer  0.225770    True  German_short-haired_pointer   \n",
       "2071        Labrador_retriever  0.168086    True                      spatula   \n",
       "2072                  malamute  0.078253    True                       kelpie   \n",
       "2073                  Pekinese  0.090647    True                     papillon   \n",
       "2074                     bagel  0.085851   False                       banana   \n",
       "\n",
       "       p3_conf  p3_dog  \n",
       "0     0.061428    True  \n",
       "1     0.072010    True  \n",
       "2     0.116197    True  \n",
       "3     0.222752    True  \n",
       "4     0.154629    True  \n",
       "5     0.016199    True  \n",
       "6     0.017885   False  \n",
       "7     0.054449   False  \n",
       "8     0.007959    True  \n",
       "9     0.082086    True  \n",
       "10    0.072427    True  \n",
       "11    0.109454    True  \n",
       "12    0.097471    True  \n",
       "13    0.048960    True  \n",
       "14    0.075628    True  \n",
       "15    0.089688    True  \n",
       "16    0.133649    True  \n",
       "17    0.000052   False  \n",
       "18    0.079480   False  \n",
       "19    0.111152    True  \n",
       "20    0.025581    True  \n",
       "21    0.013207   False  \n",
       "22    0.102643    True  \n",
       "23    0.014241    True  \n",
       "24    0.093412    True  \n",
       "25    0.000461   False  \n",
       "26    0.206803    True  \n",
       "27    0.004577    True  \n",
       "28    0.173810    True  \n",
       "29    0.189945   False  \n",
       "...        ...     ...  \n",
       "2045  0.000076    True  \n",
       "2046  0.044173   False  \n",
       "2047  0.086346    True  \n",
       "2048  0.032253   False  \n",
       "2049  0.029705    True  \n",
       "2050  0.134203    True  \n",
       "2051  0.038915    True  \n",
       "2052  0.026321   False  \n",
       "2053  0.026236    True  \n",
       "2054  0.000903    True  \n",
       "2055  0.038915    True  \n",
       "2056  0.111411    True  \n",
       "2057  0.073482    True  \n",
       "2058  0.105506    True  \n",
       "2059  0.027351    True  \n",
       "2060  0.007958    True  \n",
       "2061  0.001498    True  \n",
       "2062  0.004633    True  \n",
       "2063  0.082981   False  \n",
       "2064  0.008167    True  \n",
       "2065  0.029248    True  \n",
       "2066  0.118184    True  \n",
       "2067  0.076507    True  \n",
       "2068  0.193548   False  \n",
       "2069  0.076902   False  \n",
       "2070  0.175219    True  \n",
       "2071  0.040836   False  \n",
       "2072  0.031379    True  \n",
       "2073  0.068957    True  \n",
       "2074  0.076110   False  \n",
       "\n",
       "[2075 rows x 12 columns]"
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>followers_count</th>\n",
       "      <th>friends_count</th>\n",
       "      <th>source</th>\n",
       "      <th>retweeted_status</th>\n",
       "      <th>url</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>36102</td>\n",
       "      <td>7688</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/MgUWQ76dJU</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>31143</td>\n",
       "      <td>5687</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/aQFSeaCu9L</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>23452</td>\n",
       "      <td>3770</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/r0YlrsGCgy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>39389</td>\n",
       "      <td>7855</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/tD36da7qLQ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>37619</td>\n",
       "      <td>8460</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/0g0KMIVXZ3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>891087950875897856</td>\n",
       "      <td>18951</td>\n",
       "      <td>2838</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/xx5cilW0Dd</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>890971913173991426</td>\n",
       "      <td>11025</td>\n",
       "      <td>1845</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/MV01Q820LT</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>890729181411237888</td>\n",
       "      <td>60823</td>\n",
       "      <td>17154</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/hrcFOGi12V</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>890609185150312448</td>\n",
       "      <td>26069</td>\n",
       "      <td>3906</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/UkrdQyoYxV</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>890240255349198849</td>\n",
       "      <td>29820</td>\n",
       "      <td>6671</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/l3TSS3o2M0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>890006608113172480</td>\n",
       "      <td>28696</td>\n",
       "      <td>6658</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/jy2alqaYPH</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>889880896479866881</td>\n",
       "      <td>26104</td>\n",
       "      <td>4538</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/u1XPQMl29g</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>889665388333682689</td>\n",
       "      <td>44942</td>\n",
       "      <td>9099</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/BxvuXk0UCm</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>889638837579907072</td>\n",
       "      <td>25294</td>\n",
       "      <td>4077</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/f8dEDcrKSR</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>889531135344209921</td>\n",
       "      <td>14170</td>\n",
       "      <td>2053</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/Ya3bdfYuCx</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15</th>\n",
       "      <td>889278841981685760</td>\n",
       "      <td>23581</td>\n",
       "      <td>4850</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/qw5xRwBaIv</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>888917238123831296</td>\n",
       "      <td>27210</td>\n",
       "      <td>4090</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/chxruIOUJN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>888804989199671297</td>\n",
       "      <td>23924</td>\n",
       "      <td>3859</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/L5cCoR2huQ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>888554962724278272</td>\n",
       "      <td>18467</td>\n",
       "      <td>3168</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/YnYAFCTTiK</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19</th>\n",
       "      <td>888078434458587136</td>\n",
       "      <td>20382</td>\n",
       "      <td>3155</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/UibDBnVpvR</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20</th>\n",
       "      <td>887705289381826560</td>\n",
       "      <td>28291</td>\n",
       "      <td>4901</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/m7BR4JgDrZ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>887517139158093824</td>\n",
       "      <td>43389</td>\n",
       "      <td>10714</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/20VrLAA8ba</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22</th>\n",
       "      <td>887473957103951883</td>\n",
       "      <td>64301</td>\n",
       "      <td>16359</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/cLyzpcUcMX</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>887343217045368832</td>\n",
       "      <td>31484</td>\n",
       "      <td>9527</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/WZqNqygEyV</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24</th>\n",
       "      <td>887101392804085760</td>\n",
       "      <td>28638</td>\n",
       "      <td>5427</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/UgW2xbO7Rg</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25</th>\n",
       "      <td>886983233522544640</td>\n",
       "      <td>32655</td>\n",
       "      <td>6977</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/I6oNy0CgiT</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>26</th>\n",
       "      <td>886736880519319552</td>\n",
       "      <td>11214</td>\n",
       "      <td>2928</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/RipKYZ0T1u</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>27</th>\n",
       "      <td>886680336477933568</td>\n",
       "      <td>21024</td>\n",
       "      <td>4073</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/BCoWue0abA</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28</th>\n",
       "      <td>886366144734445568</td>\n",
       "      <td>19763</td>\n",
       "      <td>2883</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/iIu3AF8IWH</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29</th>\n",
       "      <td>886267009285017600</td>\n",
       "      <td>111</td>\n",
       "      <td>4</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>n</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2301</th>\n",
       "      <td>666411507551481857</td>\n",
       "      <td>412</td>\n",
       "      <td>298</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/aMCTNWO94t</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2302</th>\n",
       "      <td>666407126856765440</td>\n",
       "      <td>100</td>\n",
       "      <td>32</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/LopTBkKa8h</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2303</th>\n",
       "      <td>666396247373291520</td>\n",
       "      <td>158</td>\n",
       "      <td>75</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/Dc7b0E8qFE</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2304</th>\n",
       "      <td>666373753744588802</td>\n",
       "      <td>174</td>\n",
       "      <td>83</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/uHXrPkUEyl</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2305</th>\n",
       "      <td>666362758909284353</td>\n",
       "      <td>725</td>\n",
       "      <td>518</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/XMD9CwjEnM</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2306</th>\n",
       "      <td>666353288456101888</td>\n",
       "      <td>198</td>\n",
       "      <td>66</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/tltQ5w9aUO</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2307</th>\n",
       "      <td>666345417576210432</td>\n",
       "      <td>274</td>\n",
       "      <td>128</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/VFKG1vxGjB</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2308</th>\n",
       "      <td>666337882303524864</td>\n",
       "      <td>181</td>\n",
       "      <td>83</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/QpRjllzWAL</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2309</th>\n",
       "      <td>666293911632134144</td>\n",
       "      <td>465</td>\n",
       "      <td>317</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/IIXis0zta0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2310</th>\n",
       "      <td>666287406224695296</td>\n",
       "      <td>136</td>\n",
       "      <td>61</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/d9NcXFKwLv</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2311</th>\n",
       "      <td>666273097616637952</td>\n",
       "      <td>161</td>\n",
       "      <td>70</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/ws2AMaNwPW</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2312</th>\n",
       "      <td>666268910803644416</td>\n",
       "      <td>96</td>\n",
       "      <td>32</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/0yxApIikpk</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2313</th>\n",
       "      <td>666104133288665088</td>\n",
       "      <td>13609</td>\n",
       "      <td>5972</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/Asgdc6kuLX</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2314</th>\n",
       "      <td>666102155909144576</td>\n",
       "      <td>70</td>\n",
       "      <td>11</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/11LvqN4WLq</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2315</th>\n",
       "      <td>666099513787052032</td>\n",
       "      <td>143</td>\n",
       "      <td>60</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/Ri4nMTLq5C</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2316</th>\n",
       "      <td>666094000022159362</td>\n",
       "      <td>154</td>\n",
       "      <td>66</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/mnioXo3IfP</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2317</th>\n",
       "      <td>666082916733198337</td>\n",
       "      <td>103</td>\n",
       "      <td>41</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/3RU6x0vHB7</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2318</th>\n",
       "      <td>666073100786774016</td>\n",
       "      <td>298</td>\n",
       "      <td>146</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/Yk6GHE9tOY</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2319</th>\n",
       "      <td>666071193221509120</td>\n",
       "      <td>136</td>\n",
       "      <td>52</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/ZoL8kq2XFx</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2320</th>\n",
       "      <td>666063827256086533</td>\n",
       "      <td>448</td>\n",
       "      <td>197</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/RhUEAloehK</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2321</th>\n",
       "      <td>666058600524156928</td>\n",
       "      <td>106</td>\n",
       "      <td>53</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/pYAJkAe76p</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2322</th>\n",
       "      <td>666057090499244032</td>\n",
       "      <td>269</td>\n",
       "      <td>124</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/yWBqbrzy8O</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2323</th>\n",
       "      <td>666055525042405380</td>\n",
       "      <td>408</td>\n",
       "      <td>220</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/rdivxLiqEt</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2324</th>\n",
       "      <td>666051853826850816</td>\n",
       "      <td>1124</td>\n",
       "      <td>774</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/v5A4vzSDdc</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2325</th>\n",
       "      <td>666050758794694657</td>\n",
       "      <td>124</td>\n",
       "      <td>51</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/fvIbQfHjIe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2326</th>\n",
       "      <td>666049248165822465</td>\n",
       "      <td>96</td>\n",
       "      <td>40</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/4B7cOc1EDq</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2327</th>\n",
       "      <td>666044226329800704</td>\n",
       "      <td>272</td>\n",
       "      <td>131</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/DWnyCjf2mx</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2328</th>\n",
       "      <td>666033412701032449</td>\n",
       "      <td>112</td>\n",
       "      <td>41</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/y671yMhoiR</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2329</th>\n",
       "      <td>666029285002620928</td>\n",
       "      <td>121</td>\n",
       "      <td>42</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/r7mOb2m0UI</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2330</th>\n",
       "      <td>666020888022790149</td>\n",
       "      <td>2408</td>\n",
       "      <td>460</td>\n",
       "      <td>8776558</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/BLDqew2Ijj</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2331 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                tweet_id  favorite_count  retweet_count  followers_count  \\\n",
       "0     892420643555336193           36102           7688          8776544   \n",
       "1     892177421306343426           31143           5687          8776544   \n",
       "2     891815181378084864           23452           3770          8776544   \n",
       "3     891689557279858688           39389           7855          8776544   \n",
       "4     891327558926688256           37619           8460          8776544   \n",
       "5     891087950875897856           18951           2838          8776544   \n",
       "6     890971913173991426           11025           1845          8776544   \n",
       "7     890729181411237888           60823          17154          8776544   \n",
       "8     890609185150312448           26069           3906          8776544   \n",
       "9     890240255349198849           29820           6671          8776544   \n",
       "10    890006608113172480           28696           6658          8776544   \n",
       "11    889880896479866881           26104           4538          8776544   \n",
       "12    889665388333682689           44942           9099          8776544   \n",
       "13    889638837579907072           25294           4077          8776544   \n",
       "14    889531135344209921           14170           2053          8776544   \n",
       "15    889278841981685760           23581           4850          8776544   \n",
       "16    888917238123831296           27210           4090          8776544   \n",
       "17    888804989199671297           23924           3859          8776544   \n",
       "18    888554962724278272           18467           3168          8776544   \n",
       "19    888078434458587136           20382           3155          8776544   \n",
       "20    887705289381826560           28291           4901          8776544   \n",
       "21    887517139158093824           43389          10714          8776544   \n",
       "22    887473957103951883           64301          16359          8776544   \n",
       "23    887343217045368832           31484           9527          8776544   \n",
       "24    887101392804085760           28638           5427          8776544   \n",
       "25    886983233522544640           32655           6977          8776544   \n",
       "26    886736880519319552           11214           2928          8776544   \n",
       "27    886680336477933568           21024           4073          8776544   \n",
       "28    886366144734445568           19763           2883          8776544   \n",
       "29    886267009285017600             111              4          8776544   \n",
       "...                  ...             ...            ...              ...   \n",
       "2301  666411507551481857             412            298          8776558   \n",
       "2302  666407126856765440             100             32          8776558   \n",
       "2303  666396247373291520             158             75          8776558   \n",
       "2304  666373753744588802             174             83          8776558   \n",
       "2305  666362758909284353             725            518          8776558   \n",
       "2306  666353288456101888             198             66          8776558   \n",
       "2307  666345417576210432             274            128          8776558   \n",
       "2308  666337882303524864             181             83          8776558   \n",
       "2309  666293911632134144             465            317          8776558   \n",
       "2310  666287406224695296             136             61          8776558   \n",
       "2311  666273097616637952             161             70          8776558   \n",
       "2312  666268910803644416              96             32          8776558   \n",
       "2313  666104133288665088           13609           5972          8776558   \n",
       "2314  666102155909144576              70             11          8776558   \n",
       "2315  666099513787052032             143             60          8776558   \n",
       "2316  666094000022159362             154             66          8776558   \n",
       "2317  666082916733198337             103             41          8776558   \n",
       "2318  666073100786774016             298            146          8776558   \n",
       "2319  666071193221509120             136             52          8776558   \n",
       "2320  666063827256086533             448            197          8776558   \n",
       "2321  666058600524156928             106             53          8776558   \n",
       "2322  666057090499244032             269            124          8776558   \n",
       "2323  666055525042405380             408            220          8776558   \n",
       "2324  666051853826850816            1124            774          8776558   \n",
       "2325  666050758794694657             124             51          8776558   \n",
       "2326  666049248165822465              96             40          8776558   \n",
       "2327  666044226329800704             272            131          8776558   \n",
       "2328  666033412701032449             112             41          8776558   \n",
       "2329  666029285002620928             121             42          8776558   \n",
       "2330  666020888022790149            2408            460          8776558   \n",
       "\n",
       "      friends_count              source retweeted_status  \\\n",
       "0                16  Twitter for iPhone   Original tweet   \n",
       "1                16  Twitter for iPhone   Original tweet   \n",
       "2                16  Twitter for iPhone   Original tweet   \n",
       "3                16  Twitter for iPhone   Original tweet   \n",
       "4                16  Twitter for iPhone   Original tweet   \n",
       "5                16  Twitter for iPhone   Original tweet   \n",
       "6                16  Twitter for iPhone   Original tweet   \n",
       "7                16  Twitter for iPhone   Original tweet   \n",
       "8                16  Twitter for iPhone   Original tweet   \n",
       "9                16  Twitter for iPhone   Original tweet   \n",
       "10               16  Twitter for iPhone   Original tweet   \n",
       "11               16  Twitter for iPhone   Original tweet   \n",
       "12               16  Twitter for iPhone   Original tweet   \n",
       "13               16  Twitter for iPhone   Original tweet   \n",
       "14               16  Twitter for iPhone   Original tweet   \n",
       "15               16  Twitter for iPhone   Original tweet   \n",
       "16               16  Twitter for iPhone   Original tweet   \n",
       "17               16  Twitter for iPhone   Original tweet   \n",
       "18               16  Twitter for iPhone   Original tweet   \n",
       "19               16  Twitter for iPhone   Original tweet   \n",
       "20               16  Twitter for iPhone   Original tweet   \n",
       "21               16  Twitter for iPhone   Original tweet   \n",
       "22               16  Twitter for iPhone   Original tweet   \n",
       "23               16  Twitter for iPhone   Original tweet   \n",
       "24               16  Twitter for iPhone   Original tweet   \n",
       "25               16  Twitter for iPhone   Original tweet   \n",
       "26               16  Twitter for iPhone   Original tweet   \n",
       "27               16  Twitter for iPhone   Original tweet   \n",
       "28               16  Twitter for iPhone   Original tweet   \n",
       "29               16  Twitter for iPhone   Original tweet   \n",
       "...             ...                 ...              ...   \n",
       "2301             16  Twitter for iPhone   Original tweet   \n",
       "2302             16  Twitter for iPhone   Original tweet   \n",
       "2303             16  Twitter for iPhone   Original tweet   \n",
       "2304             16  Twitter for iPhone   Original tweet   \n",
       "2305             16  Twitter for iPhone   Original tweet   \n",
       "2306             16  Twitter for iPhone   Original tweet   \n",
       "2307             16  Twitter for iPhone   Original tweet   \n",
       "2308             16  Twitter for iPhone   Original tweet   \n",
       "2309             16  Twitter for iPhone   Original tweet   \n",
       "2310             16  Twitter for iPhone   Original tweet   \n",
       "2311             16  Twitter for iPhone   Original tweet   \n",
       "2312             16  Twitter for iPhone   Original tweet   \n",
       "2313             16  Twitter for iPhone   Original tweet   \n",
       "2314             16  Twitter for iPhone   Original tweet   \n",
       "2315             16  Twitter for iPhone   Original tweet   \n",
       "2316             16  Twitter for iPhone   Original tweet   \n",
       "2317             16  Twitter for iPhone   Original tweet   \n",
       "2318             16  Twitter for iPhone   Original tweet   \n",
       "2319             16  Twitter for iPhone   Original tweet   \n",
       "2320             16  Twitter for iPhone   Original tweet   \n",
       "2321             16  Twitter for iPhone   Original tweet   \n",
       "2322             16  Twitter for iPhone   Original tweet   \n",
       "2323             16  Twitter for iPhone   Original tweet   \n",
       "2324             16  Twitter for iPhone   Original tweet   \n",
       "2325             16  Twitter for iPhone   Original tweet   \n",
       "2326             16  Twitter for iPhone   Original tweet   \n",
       "2327             16  Twitter for iPhone   Original tweet   \n",
       "2328             16  Twitter for iPhone   Original tweet   \n",
       "2329             16  Twitter for iPhone   Original tweet   \n",
       "2330             16  Twitter for iPhone   Original tweet   \n",
       "\n",
       "                          url  \n",
       "0     https://t.co/MgUWQ76dJU  \n",
       "1     https://t.co/aQFSeaCu9L  \n",
       "2     https://t.co/r0YlrsGCgy  \n",
       "3     https://t.co/tD36da7qLQ  \n",
       "4     https://t.co/0g0KMIVXZ3  \n",
       "5     https://t.co/xx5cilW0Dd  \n",
       "6     https://t.co/MV01Q820LT  \n",
       "7     https://t.co/hrcFOGi12V  \n",
       "8     https://t.co/UkrdQyoYxV  \n",
       "9     https://t.co/l3TSS3o2M0  \n",
       "10    https://t.co/jy2alqaYPH  \n",
       "11    https://t.co/u1XPQMl29g  \n",
       "12    https://t.co/BxvuXk0UCm  \n",
       "13    https://t.co/f8dEDcrKSR  \n",
       "14    https://t.co/Ya3bdfYuCx  \n",
       "15    https://t.co/qw5xRwBaIv  \n",
       "16    https://t.co/chxruIOUJN  \n",
       "17    https://t.co/L5cCoR2huQ  \n",
       "18    https://t.co/YnYAFCTTiK  \n",
       "19    https://t.co/UibDBnVpvR  \n",
       "20    https://t.co/m7BR4JgDrZ  \n",
       "21    https://t.co/20VrLAA8ba  \n",
       "22    https://t.co/cLyzpcUcMX  \n",
       "23    https://t.co/WZqNqygEyV  \n",
       "24    https://t.co/UgW2xbO7Rg  \n",
       "25    https://t.co/I6oNy0CgiT  \n",
       "26    https://t.co/RipKYZ0T1u  \n",
       "27    https://t.co/BCoWue0abA  \n",
       "28    https://t.co/iIu3AF8IWH  \n",
       "29                          n  \n",
       "...                       ...  \n",
       "2301  https://t.co/aMCTNWO94t  \n",
       "2302  https://t.co/LopTBkKa8h  \n",
       "2303  https://t.co/Dc7b0E8qFE  \n",
       "2304  https://t.co/uHXrPkUEyl  \n",
       "2305  https://t.co/XMD9CwjEnM  \n",
       "2306  https://t.co/tltQ5w9aUO  \n",
       "2307  https://t.co/VFKG1vxGjB  \n",
       "2308  https://t.co/QpRjllzWAL  \n",
       "2309  https://t.co/IIXis0zta0  \n",
       "2310  https://t.co/d9NcXFKwLv  \n",
       "2311  https://t.co/ws2AMaNwPW  \n",
       "2312  https://t.co/0yxApIikpk  \n",
       "2313  https://t.co/Asgdc6kuLX  \n",
       "2314  https://t.co/11LvqN4WLq  \n",
       "2315  https://t.co/Ri4nMTLq5C  \n",
       "2316  https://t.co/mnioXo3IfP  \n",
       "2317  https://t.co/3RU6x0vHB7  \n",
       "2318  https://t.co/Yk6GHE9tOY  \n",
       "2319  https://t.co/ZoL8kq2XFx  \n",
       "2320  https://t.co/RhUEAloehK  \n",
       "2321  https://t.co/pYAJkAe76p  \n",
       "2322  https://t.co/yWBqbrzy8O  \n",
       "2323  https://t.co/rdivxLiqEt  \n",
       "2324  https://t.co/v5A4vzSDdc  \n",
       "2325  https://t.co/fvIbQfHjIe  \n",
       "2326  https://t.co/4B7cOc1EDq  \n",
       "2327  https://t.co/DWnyCjf2mx  \n",
       "2328  https://t.co/y671yMhoiR  \n",
       "2329  https://t.co/r7mOb2m0UI  \n",
       "2330  https://t.co/BLDqew2Ijj  \n",
       "\n",
       "[2331 rows x 8 columns]"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "tweet_json"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* (**Programmatic assessment**) Pandas' functions and/or methods are used to assess the data."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2356 entries, 0 to 2355\n",
      "Data columns (total 17 columns):\n",
      "tweet_id                      2356 non-null int64\n",
      "in_reply_to_status_id         78 non-null float64\n",
      "in_reply_to_user_id           78 non-null float64\n",
      "timestamp                     2356 non-null object\n",
      "source                        2356 non-null object\n",
      "text                          2356 non-null object\n",
      "retweeted_status_id           181 non-null float64\n",
      "retweeted_status_user_id      181 non-null float64\n",
      "retweeted_status_timestamp    181 non-null object\n",
      "expanded_urls                 2297 non-null object\n",
      "rating_numerator              2356 non-null int64\n",
      "rating_denominator            2356 non-null int64\n",
      "name                          2356 non-null object\n",
      "doggo                         2356 non-null object\n",
      "floofer                       2356 non-null object\n",
      "pupper                        2356 non-null object\n",
      "puppo                         2356 non-null object\n",
      "dtypes: float64(4), int64(3), object(10)\n",
      "memory usage: 313.0+ KB\n"
     ]
    }
   ],
   "source": [
    "df_twitter_archive.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2075 entries, 0 to 2074\n",
      "Data columns (total 12 columns):\n",
      "tweet_id    2075 non-null int64\n",
      "jpg_url     2075 non-null object\n",
      "img_num     2075 non-null int64\n",
      "p1          2075 non-null object\n",
      "p1_conf     2075 non-null float64\n",
      "p1_dog      2075 non-null bool\n",
      "p2          2075 non-null object\n",
      "p2_conf     2075 non-null float64\n",
      "p2_dog      2075 non-null bool\n",
      "p3          2075 non-null object\n",
      "p3_conf     2075 non-null float64\n",
      "p3_dog      2075 non-null bool\n",
      "dtypes: bool(3), float64(3), int64(2), object(4)\n",
      "memory usage: 152.1+ KB\n"
     ]
    }
   ],
   "source": [
    "df_image_predictions.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2331 entries, 0 to 2330\n",
      "Data columns (total 8 columns):\n",
      "tweet_id            2331 non-null object\n",
      "favorite_count      2331 non-null int64\n",
      "retweet_count       2331 non-null int64\n",
      "followers_count     2331 non-null int64\n",
      "friends_count       2331 non-null int64\n",
      "source              2331 non-null object\n",
      "retweeted_status    2331 non-null object\n",
      "url                 2331 non-null object\n",
      "dtypes: int64(4), object(4)\n",
      "memory usage: 145.8+ KB\n"
     ]
    }
   ],
   "source": [
    "tweet_json.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Archive Dataframe Analysis**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "12      558\n",
       "11      464\n",
       "10      461\n",
       "13      351\n",
       "9       158\n",
       "8       102\n",
       "7        55\n",
       "14       54\n",
       "5        37\n",
       "6        32\n",
       "3        19\n",
       "4        17\n",
       "1         9\n",
       "2         9\n",
       "420       2\n",
       "0         2\n",
       "15        2\n",
       "75        2\n",
       "80        1\n",
       "20        1\n",
       "24        1\n",
       "26        1\n",
       "44        1\n",
       "50        1\n",
       "60        1\n",
       "165       1\n",
       "84        1\n",
       "88        1\n",
       "144       1\n",
       "182       1\n",
       "143       1\n",
       "666       1\n",
       "960       1\n",
       "1776      1\n",
       "17        1\n",
       "27        1\n",
       "45        1\n",
       "99        1\n",
       "121       1\n",
       "204       1\n",
       "Name: rating_numerator, dtype: int64"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive.rating_numerator.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1120    Say hello to this unbelievably well behaved sq...\n",
      "Name: text, dtype: object\n",
      "1634    Two sneaky puppers were not initially seen, mo...\n",
      "Name: text, dtype: object\n",
      "189    @s8n You tried very hard to portray this good ...\n",
      "Name: text, dtype: object\n",
      "Series([], Name: text, dtype: object)\n",
      "1779    IT'S PUPPERGEDDON. Total of 144/120 ...I think...\n",
      "Name: text, dtype: object\n"
     ]
    }
   ],
   "source": [
    "print(df_twitter_archive.loc[df_twitter_archive.rating_numerator == 204, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_numerator == 143, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_numerator == 666, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_numerator == 1176, 'text'])\n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_numerator == 144, 'text'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv\n",
      "Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3\n",
      "@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho\n",
      "@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10\n",
      "IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq\n"
     ]
    }
   ],
   "source": [
    "#print whole text in order to verify numerators and denominators\n",
    "#17 dogs\n",
    "print(df_twitter_archive['text'][1120]) \n",
    "#13 dogs\n",
    "print(df_twitter_archive['text'][1634])\n",
    "#just a tweet to explain actual ratings, this will be ignored when cleaning data\n",
    "print(df_twitter_archive['text'][313]) \n",
    "#no picture, this will be ignored when cleaning data\n",
    "print(df_twitter_archive['text'][189]) \n",
    "#12 dogs\n",
    "print(df_twitter_archive['text'][1779]) "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "10     2333\n",
       "11        3\n",
       "50        3\n",
       "80        2\n",
       "20        2\n",
       "2         1\n",
       "16        1\n",
       "40        1\n",
       "70        1\n",
       "15        1\n",
       "90        1\n",
       "110       1\n",
       "120       1\n",
       "130       1\n",
       "150       1\n",
       "170       1\n",
       "7         1\n",
       "0         1\n",
       "Name: rating_denominator, dtype: int64"
      ]
     },
     "execution_count": 22,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive.rating_denominator.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "784     RT @dog_rates: After so many requests, this is...\n",
      "1068    After so many requests, this is Bretagne. She ...\n",
      "1662    This is Darrel. He just robbed a 7/11 and is i...\n",
      "Name: text, dtype: object\n",
      "2335    This is an Albanian 3 1/2 legged  Episcopalian...\n",
      "Name: text, dtype: object\n",
      "1663    I'm aware that I could've said 20/16, but here...\n",
      "Name: text, dtype: object\n",
      "342    @docmisterio account started on 11/15/15\n",
      "Name: text, dtype: object\n",
      "516    Meet Sam. She smiles 24/7 &amp; secretly aspir...\n",
      "Name: text, dtype: object\n"
     ]
    }
   ],
   "source": [
    "print(df_twitter_archive.loc[df_twitter_archive.rating_denominator == 11, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_denominator == 2, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_denominator == 16, 'text']) \n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_denominator == 15, 'text'])\n",
    "print(df_twitter_archive.loc[df_twitter_archive.rating_denominator == 7, 'text'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…\n",
      "After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ\n",
      "This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5\n",
      "This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv\n",
      "I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible\n",
      "@docmisterio account started on 11/15/15\n",
      "Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \n",
      "Keep Sam smiling by clicking and sharing this link:\n",
      "https://t.co/98tB8y7y7t https://t.co/LouL5vdvxx\n"
     ]
    }
   ],
   "source": [
    "#retweet - it will be deleted when delete all retweets\n",
    "print(df_twitter_archive['text'][784]) \n",
    "#actual rating 14/10 need to change manually\n",
    "print(df_twitter_archive['text'][1068]) \n",
    "#actual rating 10/10 need to change manually\n",
    "print(df_twitter_archive['text'][1662]) \n",
    "#actual rating 9/10 need to change manually\n",
    "print(df_twitter_archive['text'][2335]) \n",
    "#tweet to explain rating\n",
    "print(df_twitter_archive['text'][1663]) \n",
    "#no rating - delete\n",
    "print(df_twitter_archive['text'][342]) \n",
    "#no rating - delete\n",
    "print(df_twitter_archive['text'][516]) "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "None          745\n",
       "a              55\n",
       "Charlie        12\n",
       "Oliver         11\n",
       "Lucy           11\n",
       "Cooper         11\n",
       "Penny          10\n",
       "Lola           10\n",
       "Tucker         10\n",
       "Winston         9\n",
       "Bo              9\n",
       "Sadie           8\n",
       "the             8\n",
       "Buddy           7\n",
       "Daisy           7\n",
       "Bailey          7\n",
       "Toby            7\n",
       "an              7\n",
       "Stanley         6\n",
       "Jack            6\n",
       "Oscar           6\n",
       "Leo             6\n",
       "Koda            6\n",
       "Milo            6\n",
       "Dave            6\n",
       "Rusty           6\n",
       "Bella           6\n",
       "Scout           6\n",
       "Jax             6\n",
       "Sammy           5\n",
       "             ... \n",
       "Swagger         1\n",
       "Chesterson      1\n",
       "Skittle         1\n",
       "Kanu            1\n",
       "Trevith         1\n",
       "Sunshine        1\n",
       "Asher           1\n",
       "Lance           1\n",
       "Covach          1\n",
       "Shelby          1\n",
       "Dixie           1\n",
       "Cheesy          1\n",
       "Batdog          1\n",
       "Cilantro        1\n",
       "Anna            1\n",
       "Grizz           1\n",
       "Vinnie          1\n",
       "Monster         1\n",
       "Crouton         1\n",
       "Ron             1\n",
       "Tino            1\n",
       "Barclay         1\n",
       "Horace          1\n",
       "Tater           1\n",
       "Major           1\n",
       "Autumn          1\n",
       "Pancake         1\n",
       "Harnold         1\n",
       "Jaycob          1\n",
       "Rumpole         1\n",
       "Name: name, Length: 957, dtype: int64"
      ]
     },
     "execution_count": 26,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive['name'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>source</th>\n",
       "      <th>text</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>retweeted_status_timestamp</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "      <th>name</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>puppo</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]\n",
       "Index: []"
      ]
     },
     "execution_count": 27,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive[df_twitter_archive.tweet_id.duplicated()]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>2.356000e+03</td>\n",
       "      <td>7.800000e+01</td>\n",
       "      <td>7.800000e+01</td>\n",
       "      <td>1.810000e+02</td>\n",
       "      <td>1.810000e+02</td>\n",
       "      <td>2356.000000</td>\n",
       "      <td>2356.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>7.427716e+17</td>\n",
       "      <td>7.455079e+17</td>\n",
       "      <td>2.014171e+16</td>\n",
       "      <td>7.720400e+17</td>\n",
       "      <td>1.241698e+16</td>\n",
       "      <td>13.126486</td>\n",
       "      <td>10.455433</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>6.856705e+16</td>\n",
       "      <td>7.582492e+16</td>\n",
       "      <td>1.252797e+17</td>\n",
       "      <td>6.236928e+16</td>\n",
       "      <td>9.599254e+16</td>\n",
       "      <td>45.876648</td>\n",
       "      <td>6.745237</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>6.660209e+17</td>\n",
       "      <td>6.658147e+17</td>\n",
       "      <td>1.185634e+07</td>\n",
       "      <td>6.661041e+17</td>\n",
       "      <td>7.832140e+05</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>6.783989e+17</td>\n",
       "      <td>6.757419e+17</td>\n",
       "      <td>3.086374e+08</td>\n",
       "      <td>7.186315e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>10.000000</td>\n",
       "      <td>10.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>7.196279e+17</td>\n",
       "      <td>7.038708e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>7.804657e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>11.000000</td>\n",
       "      <td>10.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>7.993373e+17</td>\n",
       "      <td>8.257804e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>8.203146e+17</td>\n",
       "      <td>4.196984e+09</td>\n",
       "      <td>12.000000</td>\n",
       "      <td>10.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>8.924206e+17</td>\n",
       "      <td>8.862664e+17</td>\n",
       "      <td>8.405479e+17</td>\n",
       "      <td>8.874740e+17</td>\n",
       "      <td>7.874618e+17</td>\n",
       "      <td>1776.000000</td>\n",
       "      <td>170.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "           tweet_id  in_reply_to_status_id  in_reply_to_user_id  \\\n",
       "count  2.356000e+03           7.800000e+01         7.800000e+01   \n",
       "mean   7.427716e+17           7.455079e+17         2.014171e+16   \n",
       "std    6.856705e+16           7.582492e+16         1.252797e+17   \n",
       "min    6.660209e+17           6.658147e+17         1.185634e+07   \n",
       "25%    6.783989e+17           6.757419e+17         3.086374e+08   \n",
       "50%    7.196279e+17           7.038708e+17         4.196984e+09   \n",
       "75%    7.993373e+17           8.257804e+17         4.196984e+09   \n",
       "max    8.924206e+17           8.862664e+17         8.405479e+17   \n",
       "\n",
       "       retweeted_status_id  retweeted_status_user_id  rating_numerator  \\\n",
       "count         1.810000e+02              1.810000e+02       2356.000000   \n",
       "mean          7.720400e+17              1.241698e+16         13.126486   \n",
       "std           6.236928e+16              9.599254e+16         45.876648   \n",
       "min           6.661041e+17              7.832140e+05          0.000000   \n",
       "25%           7.186315e+17              4.196984e+09         10.000000   \n",
       "50%           7.804657e+17              4.196984e+09         11.000000   \n",
       "75%           8.203146e+17              4.196984e+09         12.000000   \n",
       "max           8.874740e+17              7.874618e+17       1776.000000   \n",
       "\n",
       "       rating_denominator  \n",
       "count         2356.000000  \n",
       "mean            10.455433  \n",
       "std              6.745237  \n",
       "min              0.000000  \n",
       "25%             10.000000  \n",
       "50%             10.000000  \n",
       "75%             10.000000  \n",
       "max            170.000000  "
      ]
     },
     "execution_count": 28,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_twitter_archive.describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Image Dataframe Analysis**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>jpg_url</th>\n",
       "      <th>img_num</th>\n",
       "      <th>p1</th>\n",
       "      <th>p1_conf</th>\n",
       "      <th>p1_dog</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1218</th>\n",
       "      <td>743609206067040256</td>\n",
       "      <td>https://pbs.twimg.com/media/ClHUkhQWAAAy7Yj.jpg</td>\n",
       "      <td>3</td>\n",
       "      <td>Weimaraner</td>\n",
       "      <td>0.982794</td>\n",
       "      <td>True</td>\n",
       "      <td>American_Staffordshire_terrier</td>\n",
       "      <td>0.004766</td>\n",
       "      <td>True</td>\n",
       "      <td>Great_Dane</td>\n",
       "      <td>0.003432</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1920</th>\n",
       "      <td>856282028240666624</td>\n",
       "      <td>https://pbs.twimg.com/media/C-If9ZwXoAAfDX2.jpg</td>\n",
       "      <td>4</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.876543</td>\n",
       "      <td>True</td>\n",
       "      <td>Italian_greyhound</td>\n",
       "      <td>0.032962</td>\n",
       "      <td>True</td>\n",
       "      <td>Cardigan</td>\n",
       "      <td>0.020776</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1024</th>\n",
       "      <td>710588934686908417</td>\n",
       "      <td>https://pbs.twimg.com/media/CdyE2x1W8AAe0TG.jpg</td>\n",
       "      <td>4</td>\n",
       "      <td>Pembroke</td>\n",
       "      <td>0.982004</td>\n",
       "      <td>True</td>\n",
       "      <td>Cardigan</td>\n",
       "      <td>0.008943</td>\n",
       "      <td>True</td>\n",
       "      <td>malamute</td>\n",
       "      <td>0.007550</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1549</th>\n",
       "      <td>792913359805018113</td>\n",
       "      <td>https://pbs.twimg.com/media/CwD-eCLWIAA6v0B.jpg</td>\n",
       "      <td>4</td>\n",
       "      <td>web_site</td>\n",
       "      <td>0.226716</td>\n",
       "      <td>False</td>\n",
       "      <td>lighter</td>\n",
       "      <td>0.081941</td>\n",
       "      <td>False</td>\n",
       "      <td>switch</td>\n",
       "      <td>0.039009</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1558</th>\n",
       "      <td>793241302385262592</td>\n",
       "      <td>https://pbs.twimg.com/media/CwIougTWcAAMLyq.jpg</td>\n",
       "      <td>1</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.559308</td>\n",
       "      <td>True</td>\n",
       "      <td>Labrador_retriever</td>\n",
       "      <td>0.390222</td>\n",
       "      <td>True</td>\n",
       "      <td>cocker_spaniel</td>\n",
       "      <td>0.036316</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                tweet_id                                          jpg_url  \\\n",
       "1218  743609206067040256  https://pbs.twimg.com/media/ClHUkhQWAAAy7Yj.jpg   \n",
       "1920  856282028240666624  https://pbs.twimg.com/media/C-If9ZwXoAAfDX2.jpg   \n",
       "1024  710588934686908417  https://pbs.twimg.com/media/CdyE2x1W8AAe0TG.jpg   \n",
       "1549  792913359805018113  https://pbs.twimg.com/media/CwD-eCLWIAA6v0B.jpg   \n",
       "1558  793241302385262592  https://pbs.twimg.com/media/CwIougTWcAAMLyq.jpg   \n",
       "\n",
       "      img_num                p1   p1_conf  p1_dog  \\\n",
       "1218        3        Weimaraner  0.982794    True   \n",
       "1920        4         Chihuahua  0.876543    True   \n",
       "1024        4          Pembroke  0.982004    True   \n",
       "1549        4          web_site  0.226716   False   \n",
       "1558        1  golden_retriever  0.559308    True   \n",
       "\n",
       "                                  p2   p2_conf  p2_dog              p3  \\\n",
       "1218  American_Staffordshire_terrier  0.004766    True      Great_Dane   \n",
       "1920               Italian_greyhound  0.032962    True        Cardigan   \n",
       "1024                        Cardigan  0.008943    True        malamute   \n",
       "1549                         lighter  0.081941   False          switch   \n",
       "1558              Labrador_retriever  0.390222    True  cocker_spaniel   \n",
       "\n",
       "       p3_conf  p3_dog  \n",
       "1218  0.003432    True  \n",
       "1920  0.020776    True  \n",
       "1024  0.007550    True  \n",
       "1549  0.039009   False  \n",
       "1558  0.036316    True  "
      ]
     },
     "execution_count": 29,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions.sample(5)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<img src=\"https://pbs.twimg.com/media/C-If9ZwXoAAfDX2.jpg\"/>"
      ],
      "text/plain": [
       "<IPython.core.display.Image object>"
      ]
     },
     "execution_count": 31,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# This is an image for tweet_id 856282028240666624\n",
    "Image(url = 'https://pbs.twimg.com/media/C-If9ZwXoAAfDX2.jpg')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2075 entries, 0 to 2074\n",
      "Data columns (total 12 columns):\n",
      "tweet_id    2075 non-null int64\n",
      "jpg_url     2075 non-null object\n",
      "img_num     2075 non-null int64\n",
      "p1          2075 non-null object\n",
      "p1_conf     2075 non-null float64\n",
      "p1_dog      2075 non-null bool\n",
      "p2          2075 non-null object\n",
      "p2_conf     2075 non-null float64\n",
      "p2_dog      2075 non-null bool\n",
      "p3          2075 non-null object\n",
      "p3_conf     2075 non-null float64\n",
      "p3_dog      2075 non-null bool\n",
      "dtypes: bool(3), float64(3), int64(2), object(4)\n",
      "memory usage: 152.1+ KB\n"
     ]
    }
   ],
   "source": [
    "df_image_predictions.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>jpg_url</th>\n",
       "      <th>img_num</th>\n",
       "      <th>p1</th>\n",
       "      <th>p1_conf</th>\n",
       "      <th>p1_dog</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]\n",
       "Index: []"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions[df_image_predictions.tweet_id.duplicated()]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "golden_retriever             150\n",
       "Labrador_retriever           100\n",
       "Pembroke                      89\n",
       "Chihuahua                     83\n",
       "pug                           57\n",
       "chow                          44\n",
       "Samoyed                       43\n",
       "toy_poodle                    39\n",
       "Pomeranian                    38\n",
       "cocker_spaniel                30\n",
       "malamute                      30\n",
       "French_bulldog                26\n",
       "miniature_pinscher            23\n",
       "Chesapeake_Bay_retriever      23\n",
       "seat_belt                     22\n",
       "Staffordshire_bullterrier     20\n",
       "German_shepherd               20\n",
       "Siberian_husky                20\n",
       "web_site                      19\n",
       "Cardigan                      19\n",
       "teddy                         18\n",
       "beagle                        18\n",
       "Shetland_sheepdog             18\n",
       "Eskimo_dog                    18\n",
       "Maltese_dog                   18\n",
       "Shih-Tzu                      17\n",
       "Lakeland_terrier              17\n",
       "Rottweiler                    17\n",
       "Italian_greyhound             16\n",
       "kuvasz                        16\n",
       "                            ... \n",
       "sea_urchin                     1\n",
       "tiger_shark                    1\n",
       "ocarina                        1\n",
       "bison                          1\n",
       "radio_telescope                1\n",
       "park_bench                     1\n",
       "starfish                       1\n",
       "Scotch_terrier                 1\n",
       "long-horned_beetle             1\n",
       "EntleBucher                    1\n",
       "bookshop                       1\n",
       "dhole                          1\n",
       "terrapin                       1\n",
       "crane                          1\n",
       "basketball                     1\n",
       "stove                          1\n",
       "Madagascar_cat                 1\n",
       "conch                          1\n",
       "pitcher                        1\n",
       "suit                           1\n",
       "mud_turtle                     1\n",
       "standard_schnauzer             1\n",
       "padlock                        1\n",
       "hotdog                         1\n",
       "orange                         1\n",
       "nail                           1\n",
       "silky_terrier                  1\n",
       "fire_engine                    1\n",
       "lynx                           1\n",
       "boathouse                      1\n",
       "Name: p1, Length: 378, dtype: int64"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions['p1'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Labrador_retriever                104\n",
       "golden_retriever                   92\n",
       "Cardigan                           73\n",
       "Chihuahua                          44\n",
       "Pomeranian                         42\n",
       "Chesapeake_Bay_retriever           41\n",
       "French_bulldog                     41\n",
       "toy_poodle                         37\n",
       "cocker_spaniel                     34\n",
       "Siberian_husky                     33\n",
       "miniature_poodle                   33\n",
       "beagle                             28\n",
       "collie                             27\n",
       "Eskimo_dog                         27\n",
       "Pembroke                           27\n",
       "kuvasz                             26\n",
       "Italian_greyhound                  22\n",
       "Pekinese                           21\n",
       "American_Staffordshire_terrier     21\n",
       "toy_terrier                        20\n",
       "Samoyed                            20\n",
       "miniature_pinscher                 20\n",
       "malinois                           20\n",
       "chow                               20\n",
       "Norwegian_elkhound                 19\n",
       "Boston_bull                        19\n",
       "Staffordshire_bullterrier          18\n",
       "pug                                17\n",
       "Irish_terrier                      17\n",
       "Shih-Tzu                           16\n",
       "                                 ... \n",
       "dugong                              1\n",
       "timber_wolf                         1\n",
       "can_opener                          1\n",
       "rifle                               1\n",
       "spatula                             1\n",
       "neck_brace                          1\n",
       "chimpanzee                          1\n",
       "bib                                 1\n",
       "spindle                             1\n",
       "rule                                1\n",
       "comic_book                          1\n",
       "Bernese_mountain_dog                1\n",
       "crib                                1\n",
       "sandbar                             1\n",
       "sombrero                            1\n",
       "Windsor_tie                         1\n",
       "indri                               1\n",
       "bagel                               1\n",
       "komondor                            1\n",
       "giant_panda                         1\n",
       "crutch                              1\n",
       "grey_fox                            1\n",
       "umbrella                            1\n",
       "television                          1\n",
       "dock                                1\n",
       "promontory                          1\n",
       "cardigan                            1\n",
       "iPod                                1\n",
       "handkerchief                        1\n",
       "breakwater                          1\n",
       "Name: p2, Length: 405, dtype: int64"
      ]
     },
     "execution_count": 37,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions['p2'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Labrador_retriever                79\n",
       "Chihuahua                         58\n",
       "golden_retriever                  48\n",
       "Eskimo_dog                        38\n",
       "kelpie                            35\n",
       "kuvasz                            34\n",
       "Staffordshire_bullterrier         32\n",
       "chow                              32\n",
       "cocker_spaniel                    31\n",
       "beagle                            31\n",
       "Pekinese                          29\n",
       "toy_poodle                        29\n",
       "Pomeranian                        29\n",
       "Pembroke                          27\n",
       "Great_Pyrenees                    27\n",
       "Chesapeake_Bay_retriever          27\n",
       "French_bulldog                    26\n",
       "malamute                          26\n",
       "American_Staffordshire_terrier    24\n",
       "Cardigan                          23\n",
       "pug                               23\n",
       "basenji                           21\n",
       "toy_terrier                       20\n",
       "bull_mastiff                      20\n",
       "Siberian_husky                    19\n",
       "Shetland_sheepdog                 17\n",
       "Boston_bull                       17\n",
       "doormat                           16\n",
       "Lakeland_terrier                  16\n",
       "boxer                             16\n",
       "                                  ..\n",
       "dugong                             1\n",
       "affenpinscher                      1\n",
       "screen                             1\n",
       "soap_dispenser                     1\n",
       "European_fire_salamander           1\n",
       "hammerhead                         1\n",
       "boathouse                          1\n",
       "coral_reef                         1\n",
       "orangutan                          1\n",
       "tripod                             1\n",
       "prairie_chicken                    1\n",
       "cheetah                            1\n",
       "neck_brace                         1\n",
       "bullfrog                           1\n",
       "cab                                1\n",
       "chickadee                          1\n",
       "shovel                             1\n",
       "stinkhorn                          1\n",
       "sunglass                           1\n",
       "power_drill                        1\n",
       "jeep                               1\n",
       "mosquito_net                       1\n",
       "wok                                1\n",
       "standard_schnauzer                 1\n",
       "bulletproof_vest                   1\n",
       "snail                              1\n",
       "pier                               1\n",
       "mitten                             1\n",
       "great_grey_owl                     1\n",
       "shoji                              1\n",
       "Name: p3, Length: 408, dtype: int64"
      ]
     },
     "execution_count": 38,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_image_predictions['p3'].value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Twitter Counts Dataframe Analysis**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>followers_count</th>\n",
       "      <th>friends_count</th>\n",
       "      <th>source</th>\n",
       "      <th>retweeted_status</th>\n",
       "      <th>url</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>36102</td>\n",
       "      <td>7688</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/MgUWQ76dJU</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>31143</td>\n",
       "      <td>5687</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/aQFSeaCu9L</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>23452</td>\n",
       "      <td>3770</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/r0YlrsGCgy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>39389</td>\n",
       "      <td>7855</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/tD36da7qLQ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>37619</td>\n",
       "      <td>8460</td>\n",
       "      <td>8776544</td>\n",
       "      <td>16</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/0g0KMIVXZ3</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id  favorite_count  retweet_count  followers_count  \\\n",
       "0  892420643555336193           36102           7688          8776544   \n",
       "1  892177421306343426           31143           5687          8776544   \n",
       "2  891815181378084864           23452           3770          8776544   \n",
       "3  891689557279858688           39389           7855          8776544   \n",
       "4  891327558926688256           37619           8460          8776544   \n",
       "\n",
       "   friends_count              source retweeted_status                      url  \n",
       "0             16  Twitter for iPhone   Original tweet  https://t.co/MgUWQ76dJU  \n",
       "1             16  Twitter for iPhone   Original tweet  https://t.co/aQFSeaCu9L  \n",
       "2             16  Twitter for iPhone   Original tweet  https://t.co/r0YlrsGCgy  \n",
       "3             16  Twitter for iPhone   Original tweet  https://t.co/tD36da7qLQ  \n",
       "4             16  Twitter for iPhone   Original tweet  https://t.co/0g0KMIVXZ3  "
      ]
     },
     "execution_count": 39,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "tweet_json.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2331 entries, 0 to 2330\n",
      "Data columns (total 8 columns):\n",
      "tweet_id            2331 non-null object\n",
      "favorite_count      2331 non-null int64\n",
      "retweet_count       2331 non-null int64\n",
      "followers_count     2331 non-null int64\n",
      "friends_count       2331 non-null int64\n",
      "source              2331 non-null object\n",
      "retweeted_status    2331 non-null object\n",
      "url                 2331 non-null object\n",
      "dtypes: int64(4), object(4)\n",
      "memory usage: 145.8+ KB\n"
     ]
    }
   ],
   "source": [
    "tweet_json.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>followers_count</th>\n",
       "      <th>friends_count</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>2331.000000</td>\n",
       "      <td>2331.000000</td>\n",
       "      <td>2.331000e+03</td>\n",
       "      <td>2331.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>7539.323037</td>\n",
       "      <td>2697.995710</td>\n",
       "      <td>8.776556e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>11703.152049</td>\n",
       "      <td>4561.042979</td>\n",
       "      <td>6.235449e+01</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>8.776543e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>1316.000000</td>\n",
       "      <td>546.000000</td>\n",
       "      <td>8.776545e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>3278.000000</td>\n",
       "      <td>1266.000000</td>\n",
       "      <td>8.776550e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>9232.000000</td>\n",
       "      <td>3137.000000</td>\n",
       "      <td>8.776552e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>155721.000000</td>\n",
       "      <td>77591.000000</td>\n",
       "      <td>8.777215e+06</td>\n",
       "      <td>16.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       favorite_count  retweet_count  followers_count  friends_count\n",
       "count     2331.000000    2331.000000     2.331000e+03         2331.0\n",
       "mean      7539.323037    2697.995710     8.776556e+06           16.0\n",
       "std      11703.152049    4561.042979     6.235449e+01            0.0\n",
       "min          0.000000       1.000000     8.776543e+06           16.0\n",
       "25%       1316.000000     546.000000     8.776545e+06           16.0\n",
       "50%       3278.000000    1266.000000     8.776550e+06           16.0\n",
       "75%       9232.000000    3137.000000     8.776552e+06           16.0\n",
       "max     155721.000000   77591.000000     8.777215e+06           16.0"
      ]
     },
     "execution_count": 41,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "tweet_json.describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Clean\n",
    "\n",
    "This section consists of the cleaning portion of the data wrangling process:\n",
    "\n",
    "* Define\n",
    "* Code\n",
    "* Test\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Make a copy of the tables before cleaning\n",
    "df_twitter_archive_clean = df_twitter_archive.copy()\n",
    "df_image_predictions_clean = df_image_predictions.copy()\n",
    "tweet_json_clean = tweet_json.copy()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### Define\n",
    "\n",
    "1. Merge the `clean versions` of `df_twitter_archive`, `df_image_predictions`, and `tweet_json` dataframes Correct the dog types\n",
    "2. Create one column for the various dog types: doggo, floofer, pupper, puppo Remove columns no longer needed: in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, and retweeted_status_timestamp\n",
    "3. Delete retweets\n",
    "4. Remove columns no longer needed\n",
    "5. Change tweet_id from an integer to a string\n",
    "6. Change the timestamp to correct datetime format\n",
    "7. Correct naming issues\n",
    "8. Standardize dog ratings\n",
    "9. Creating a new dog_breed column using the image prediction data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* Merge the clean versions of df_twitter_archive, df_image_predictions, and tweet_json dataframes Correct the dog types\n",
    "\n",
    "**Code**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 54,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Ref: https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes/44338256\n",
    "dfs = pd.concat([df_twitter_archive_clean, df_image_predictions_clean, tweet_json_clean], join='outer', axis=1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 55,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>source</th>\n",
       "      <th>text</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>retweeted_status_timestamp</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>...</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>followers_count</th>\n",
       "      <th>friends_count</th>\n",
       "      <th>source</th>\n",
       "      <th>retweeted_status</th>\n",
       "      <th>url</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 16:23:56 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892420643...</td>\n",
       "      <td>...</td>\n",
       "      <td>0.061428</td>\n",
       "      <td>True</td>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>36102.0</td>\n",
       "      <td>7688.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/MgUWQ76dJU</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 00:17:27 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Tilly. She's just checking pup on you....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892177421...</td>\n",
       "      <td>...</td>\n",
       "      <td>0.072010</td>\n",
       "      <td>True</td>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>31143.0</td>\n",
       "      <td>5687.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/aQFSeaCu9L</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-31 00:18:03 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Archie. He is a rare Norwegian Pouncin...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891815181...</td>\n",
       "      <td>...</td>\n",
       "      <td>0.116197</td>\n",
       "      <td>True</td>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>23452.0</td>\n",
       "      <td>3770.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/r0YlrsGCgy</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-30 15:58:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Darla. She commenced a snooze mid meal...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891689557...</td>\n",
       "      <td>...</td>\n",
       "      <td>0.222752</td>\n",
       "      <td>True</td>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>39389.0</td>\n",
       "      <td>7855.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/tD36da7qLQ</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-29 16:00:24 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Franklin. He would like you to stop ca...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891327558...</td>\n",
       "      <td>...</td>\n",
       "      <td>0.154629</td>\n",
       "      <td>True</td>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>37619.0</td>\n",
       "      <td>8460.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/0g0KMIVXZ3</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5 rows × 37 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id  in_reply_to_status_id  in_reply_to_user_id  \\\n",
       "0  892420643555336193                    NaN                  NaN   \n",
       "1  892177421306343426                    NaN                  NaN   \n",
       "2  891815181378084864                    NaN                  NaN   \n",
       "3  891689557279858688                    NaN                  NaN   \n",
       "4  891327558926688256                    NaN                  NaN   \n",
       "\n",
       "                   timestamp  \\\n",
       "0  2017-08-01 16:23:56 +0000   \n",
       "1  2017-08-01 00:17:27 +0000   \n",
       "2  2017-07-31 00:18:03 +0000   \n",
       "3  2017-07-30 15:58:51 +0000   \n",
       "4  2017-07-29 16:00:24 +0000   \n",
       "\n",
       "                                              source  \\\n",
       "0  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "1  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "3  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "4  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "\n",
       "                                                text  retweeted_status_id  \\\n",
       "0  This is Phineas. He's a mystical boy. Only eve...                  NaN   \n",
       "1  This is Tilly. She's just checking pup on you....                  NaN   \n",
       "2  This is Archie. He is a rare Norwegian Pouncin...                  NaN   \n",
       "3  This is Darla. She commenced a snooze mid meal...                  NaN   \n",
       "4  This is Franklin. He would like you to stop ca...                  NaN   \n",
       "\n",
       "   retweeted_status_user_id retweeted_status_timestamp  \\\n",
       "0                       NaN                        NaN   \n",
       "1                       NaN                        NaN   \n",
       "2                       NaN                        NaN   \n",
       "3                       NaN                        NaN   \n",
       "4                       NaN                        NaN   \n",
       "\n",
       "                                       expanded_urls           ...             \\\n",
       "0  https://twitter.com/dog_rates/status/892420643...           ...              \n",
       "1  https://twitter.com/dog_rates/status/892177421...           ...              \n",
       "2  https://twitter.com/dog_rates/status/891815181...           ...              \n",
       "3  https://twitter.com/dog_rates/status/891689557...           ...              \n",
       "4  https://twitter.com/dog_rates/status/891327558...           ...              \n",
       "\n",
       "    p3_conf  p3_dog            tweet_id favorite_count retweet_count  \\\n",
       "0  0.061428    True  892420643555336193        36102.0        7688.0   \n",
       "1  0.072010    True  892177421306343426        31143.0        5687.0   \n",
       "2  0.116197    True  891815181378084864        23452.0        3770.0   \n",
       "3  0.222752    True  891689557279858688        39389.0        7855.0   \n",
       "4  0.154629    True  891327558926688256        37619.0        8460.0   \n",
       "\n",
       "  followers_count friends_count              source retweeted_status  \\\n",
       "0       8776544.0          16.0  Twitter for iPhone   Original tweet   \n",
       "1       8776544.0          16.0  Twitter for iPhone   Original tweet   \n",
       "2       8776544.0          16.0  Twitter for iPhone   Original tweet   \n",
       "3       8776544.0          16.0  Twitter for iPhone   Original tweet   \n",
       "4       8776544.0          16.0  Twitter for iPhone   Original tweet   \n",
       "\n",
       "                       url  \n",
       "0  https://t.co/MgUWQ76dJU  \n",
       "1  https://t.co/aQFSeaCu9L  \n",
       "2  https://t.co/r0YlrsGCgy  \n",
       "3  https://t.co/tD36da7qLQ  \n",
       "4  https://t.co/0g0KMIVXZ3  \n",
       "\n",
       "[5 rows x 37 columns]"
      ]
     },
     "execution_count": 55,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 57,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',\n",
       "       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',\n",
       "       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',\n",
       "       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',\n",
       "       'tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',\n",
       "       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'tweet_id',\n",
       "       'favorite_count', 'retweet_count', 'followers_count', 'friends_count',\n",
       "       'source', 'retweeted_status', 'url'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 57,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.columns"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Test**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 58,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 2356 entries, 0 to 2355\n",
      "Data columns (total 37 columns):\n",
      "tweet_id                      2356 non-null int64\n",
      "in_reply_to_status_id         78 non-null float64\n",
      "in_reply_to_user_id           78 non-null float64\n",
      "timestamp                     2356 non-null object\n",
      "source                        2356 non-null object\n",
      "text                          2356 non-null object\n",
      "retweeted_status_id           181 non-null float64\n",
      "retweeted_status_user_id      181 non-null float64\n",
      "retweeted_status_timestamp    181 non-null object\n",
      "expanded_urls                 2297 non-null object\n",
      "rating_numerator              2356 non-null int64\n",
      "rating_denominator            2356 non-null int64\n",
      "name                          2356 non-null object\n",
      "doggo                         2356 non-null object\n",
      "floofer                       2356 non-null object\n",
      "pupper                        2356 non-null object\n",
      "puppo                         2356 non-null object\n",
      "tweet_id                      2075 non-null float64\n",
      "jpg_url                       2075 non-null object\n",
      "img_num                       2075 non-null float64\n",
      "p1                            2075 non-null object\n",
      "p1_conf                       2075 non-null float64\n",
      "p1_dog                        2075 non-null object\n",
      "p2                            2075 non-null object\n",
      "p2_conf                       2075 non-null float64\n",
      "p2_dog                        2075 non-null object\n",
      "p3                            2075 non-null object\n",
      "p3_conf                       2075 non-null float64\n",
      "p3_dog                        2075 non-null object\n",
      "tweet_id                      2331 non-null object\n",
      "favorite_count                2331 non-null float64\n",
      "retweet_count                 2331 non-null float64\n",
      "followers_count               2331 non-null float64\n",
      "friends_count                 2331 non-null float64\n",
      "source                        2331 non-null object\n",
      "retweeted_status              2331 non-null object\n",
      "url                           2331 non-null object\n",
      "dtypes: float64(13), int64(3), object(21)\n",
      "memory usage: 681.1+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Create one column for the various dog types: doggo, floofer, pupper, puppo"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 59,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Extract the text from the columns into the new dog_type colunn\n",
    "dfs['dog_type'] = dfs['text'].str.extract('(doggo|floofer|pupper|puppo)')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 60,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>dog_type</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>puppo</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2241</th>\n",
       "      <td>NaN</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1087</th>\n",
       "      <td>NaN</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>929</th>\n",
       "      <td>NaN</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>614</th>\n",
       "      <td>NaN</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2204</th>\n",
       "      <td>NaN</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "     dog_type doggo floofer pupper puppo\n",
       "2241      NaN  None    None   None  None\n",
       "1087      NaN  None    None   None  None\n",
       "929       NaN  None    None   None  None\n",
       "614       NaN  None    None   None  None\n",
       "2204      NaN  None    None   None  None"
      ]
     },
     "execution_count": 60,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs[['dog_type', 'doggo', 'floofer', 'pupper', 'puppo']].sample(5)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 61,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>in_reply_to_status_id</th>\n",
       "      <th>in_reply_to_user_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>source</th>\n",
       "      <th>text</th>\n",
       "      <th>retweeted_status_id</th>\n",
       "      <th>retweeted_status_user_id</th>\n",
       "      <th>retweeted_status_timestamp</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>...</th>\n",
       "      <th>p3_dog</th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>followers_count</th>\n",
       "      <th>friends_count</th>\n",
       "      <th>source</th>\n",
       "      <th>retweeted_status</th>\n",
       "      <th>url</th>\n",
       "      <th>dog_type</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 16:23:56 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892420643...</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>36102.0</td>\n",
       "      <td>7688.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/MgUWQ76dJU</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-08-01 00:17:27 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Tilly. She's just checking pup on you....</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892177421...</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>892177421306343426</td>\n",
       "      <td>31143.0</td>\n",
       "      <td>5687.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/aQFSeaCu9L</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-31 00:18:03 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Archie. He is a rare Norwegian Pouncin...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891815181...</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>891815181378084864</td>\n",
       "      <td>23452.0</td>\n",
       "      <td>3770.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/r0YlrsGCgy</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-30 15:58:51 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Darla. She commenced a snooze mid meal...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891689557...</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>891689557279858688</td>\n",
       "      <td>39389.0</td>\n",
       "      <td>7855.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/tD36da7qLQ</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2017-07-29 16:00:24 +0000</td>\n",
       "      <td>&lt;a href=\"http://twitter.com/download/iphone\" r...</td>\n",
       "      <td>This is Franklin. He would like you to stop ca...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>https://twitter.com/dog_rates/status/891327558...</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>891327558926688256</td>\n",
       "      <td>37619.0</td>\n",
       "      <td>8460.0</td>\n",
       "      <td>8776544.0</td>\n",
       "      <td>16.0</td>\n",
       "      <td>Twitter for iPhone</td>\n",
       "      <td>Original tweet</td>\n",
       "      <td>https://t.co/0g0KMIVXZ3</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5 rows × 38 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id  in_reply_to_status_id  in_reply_to_user_id  \\\n",
       "0  892420643555336193                    NaN                  NaN   \n",
       "1  892177421306343426                    NaN                  NaN   \n",
       "2  891815181378084864                    NaN                  NaN   \n",
       "3  891689557279858688                    NaN                  NaN   \n",
       "4  891327558926688256                    NaN                  NaN   \n",
       "\n",
       "                   timestamp  \\\n",
       "0  2017-08-01 16:23:56 +0000   \n",
       "1  2017-08-01 00:17:27 +0000   \n",
       "2  2017-07-31 00:18:03 +0000   \n",
       "3  2017-07-30 15:58:51 +0000   \n",
       "4  2017-07-29 16:00:24 +0000   \n",
       "\n",
       "                                              source  \\\n",
       "0  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "1  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "2  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "3  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "4  <a href=\"http://twitter.com/download/iphone\" r...   \n",
       "\n",
       "                                                text  retweeted_status_id  \\\n",
       "0  This is Phineas. He's a mystical boy. Only eve...                  NaN   \n",
       "1  This is Tilly. She's just checking pup on you....                  NaN   \n",
       "2  This is Archie. He is a rare Norwegian Pouncin...                  NaN   \n",
       "3  This is Darla. She commenced a snooze mid meal...                  NaN   \n",
       "4  This is Franklin. He would like you to stop ca...                  NaN   \n",
       "\n",
       "   retweeted_status_user_id retweeted_status_timestamp  \\\n",
       "0                       NaN                        NaN   \n",
       "1                       NaN                        NaN   \n",
       "2                       NaN                        NaN   \n",
       "3                       NaN                        NaN   \n",
       "4                       NaN                        NaN   \n",
       "\n",
       "                                       expanded_urls    ...     p3_dog  \\\n",
       "0  https://twitter.com/dog_rates/status/892420643...    ...       True   \n",
       "1  https://twitter.com/dog_rates/status/892177421...    ...       True   \n",
       "2  https://twitter.com/dog_rates/status/891815181...    ...       True   \n",
       "3  https://twitter.com/dog_rates/status/891689557...    ...       True   \n",
       "4  https://twitter.com/dog_rates/status/891327558...    ...       True   \n",
       "\n",
       "             tweet_id favorite_count retweet_count followers_count  \\\n",
       "0  892420643555336193        36102.0        7688.0       8776544.0   \n",
       "1  892177421306343426        31143.0        5687.0       8776544.0   \n",
       "2  891815181378084864        23452.0        3770.0       8776544.0   \n",
       "3  891689557279858688        39389.0        7855.0       8776544.0   \n",
       "4  891327558926688256        37619.0        8460.0       8776544.0   \n",
       "\n",
       "  friends_count              source  retweeted_status  \\\n",
       "0          16.0  Twitter for iPhone    Original tweet   \n",
       "1          16.0  Twitter for iPhone    Original tweet   \n",
       "2          16.0  Twitter for iPhone    Original tweet   \n",
       "3          16.0  Twitter for iPhone    Original tweet   \n",
       "4          16.0  Twitter for iPhone    Original tweet   \n",
       "\n",
       "                       url  dog_type  \n",
       "0  https://t.co/MgUWQ76dJU       NaN  \n",
       "1  https://t.co/aQFSeaCu9L       NaN  \n",
       "2  https://t.co/r0YlrsGCgy       NaN  \n",
       "3  https://t.co/tD36da7qLQ       NaN  \n",
       "4  https://t.co/0g0KMIVXZ3       NaN  \n",
       "\n",
       "[5 rows x 38 columns]"
      ]
     },
     "execution_count": 61,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 64,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',\n",
       "       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',\n",
       "       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',\n",
       "       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',\n",
       "       'tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',\n",
       "       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'tweet_id',\n",
       "       'favorite_count', 'retweet_count', 'followers_count', 'friends_count',\n",
       "       'source', 'retweeted_status', 'url', 'dog_type'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 64,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 70,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "pupper     265\n",
       "doggo       93\n",
       "puppo       37\n",
       "floofer      4\n",
       "Name: dog_type, dtype: int64"
      ]
     },
     "execution_count": 70,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.dog_type.value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Delete retweets"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 71,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs = dfs[np.isnan(dfs.retweeted_status_id)]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 73,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 38 columns):\n",
      "tweet_id                      2175 non-null int64\n",
      "in_reply_to_status_id         78 non-null float64\n",
      "in_reply_to_user_id           78 non-null float64\n",
      "timestamp                     2175 non-null object\n",
      "source                        2175 non-null object\n",
      "text                          2175 non-null object\n",
      "retweeted_status_id           0 non-null float64\n",
      "retweeted_status_user_id      0 non-null float64\n",
      "retweeted_status_timestamp    0 non-null object\n",
      "expanded_urls                 2117 non-null object\n",
      "rating_numerator              2175 non-null int64\n",
      "rating_denominator            2175 non-null int64\n",
      "name                          2175 non-null object\n",
      "doggo                         2175 non-null object\n",
      "floofer                       2175 non-null object\n",
      "pupper                        2175 non-null object\n",
      "puppo                         2175 non-null object\n",
      "tweet_id                      1896 non-null float64\n",
      "jpg_url                       1896 non-null object\n",
      "img_num                       1896 non-null float64\n",
      "p1                            1896 non-null object\n",
      "p1_conf                       1896 non-null float64\n",
      "p1_dog                        1896 non-null object\n",
      "p2                            1896 non-null object\n",
      "p2_conf                       1896 non-null float64\n",
      "p2_dog                        1896 non-null object\n",
      "p3                            1896 non-null object\n",
      "p3_conf                       1896 non-null float64\n",
      "p3_dog                        1896 non-null object\n",
      "tweet_id                      2150 non-null object\n",
      "favorite_count                2150 non-null float64\n",
      "retweet_count                 2150 non-null float64\n",
      "followers_count               2150 non-null float64\n",
      "friends_count                 2150 non-null float64\n",
      "source                        2150 non-null object\n",
      "retweeted_status              2150 non-null object\n",
      "url                           2150 non-null object\n",
      "dog_type                      364 non-null object\n",
      "dtypes: float64(13), int64(3), object(22)\n",
      "memory usage: 662.7+ KB\n"
     ]
    }
   ],
   "source": [
    "#Verify no non-null entires are left\n",
    "dfs.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 75,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Remove the following columns:\n",
    "dfs = dfs.drop(['retweeted_status_id', \\\n",
    "                                  'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 76,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 35 columns):\n",
      "tweet_id                 2175 non-null int64\n",
      "in_reply_to_status_id    78 non-null float64\n",
      "in_reply_to_user_id      78 non-null float64\n",
      "timestamp                2175 non-null object\n",
      "source                   2175 non-null object\n",
      "text                     2175 non-null object\n",
      "expanded_urls            2117 non-null object\n",
      "rating_numerator         2175 non-null int64\n",
      "rating_denominator       2175 non-null int64\n",
      "name                     2175 non-null object\n",
      "doggo                    2175 non-null object\n",
      "floofer                  2175 non-null object\n",
      "pupper                   2175 non-null object\n",
      "puppo                    2175 non-null object\n",
      "tweet_id                 1896 non-null float64\n",
      "jpg_url                  1896 non-null object\n",
      "img_num                  1896 non-null float64\n",
      "p1                       1896 non-null object\n",
      "p1_conf                  1896 non-null float64\n",
      "p1_dog                   1896 non-null object\n",
      "p2                       1896 non-null object\n",
      "p2_conf                  1896 non-null float64\n",
      "p2_dog                   1896 non-null object\n",
      "p3                       1896 non-null object\n",
      "p3_conf                  1896 non-null float64\n",
      "p3_dog                   1896 non-null object\n",
      "tweet_id                 2150 non-null object\n",
      "favorite_count           2150 non-null float64\n",
      "retweet_count            2150 non-null float64\n",
      "followers_count          2150 non-null float64\n",
      "friends_count            2150 non-null float64\n",
      "source                   2150 non-null object\n",
      "retweeted_status         2150 non-null object\n",
      "url                      2150 non-null object\n",
      "dog_type                 364 non-null object\n",
      "dtypes: float64(11), int64(3), object(21)\n",
      "memory usage: 611.7+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "*  **Code and Test**: Remove columns no longer needed"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 78,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs.drop(['in_reply_to_status_id', \n",
    "                  'in_reply_to_user_id',\n",
    "                  'source',\n",
    "                  'img_num',\n",
    "                  'friends_count',\n",
    "                  'source',\n",
    "                  'url',\n",
    "                  'followers_count'], axis = 1, inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 80,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Ref: https://stackoverflow.com/questions/14984119/python-pandas-remove-duplicate-columns\n",
    "dfs = dfs.loc[:,~dfs.columns.duplicated()]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 81,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['tweet_id', 'timestamp', 'text', 'expanded_urls', 'rating_numerator',\n",
       "       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',\n",
       "       'jpg_url', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3',\n",
       "       'p3_conf', 'p3_dog', 'favorite_count', 'retweet_count',\n",
       "       'retweeted_status', 'dog_type'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 81,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 82,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 25 columns):\n",
      "tweet_id              2175 non-null int64\n",
      "timestamp             2175 non-null object\n",
      "text                  2175 non-null object\n",
      "expanded_urls         2117 non-null object\n",
      "rating_numerator      2175 non-null int64\n",
      "rating_denominator    2175 non-null int64\n",
      "name                  2175 non-null object\n",
      "doggo                 2175 non-null object\n",
      "floofer               2175 non-null object\n",
      "pupper                2175 non-null object\n",
      "puppo                 2175 non-null object\n",
      "jpg_url               1896 non-null object\n",
      "p1                    1896 non-null object\n",
      "p1_conf               1896 non-null float64\n",
      "p1_dog                1896 non-null object\n",
      "p2                    1896 non-null object\n",
      "p2_conf               1896 non-null float64\n",
      "p2_dog                1896 non-null object\n",
      "p3                    1896 non-null object\n",
      "p3_conf               1896 non-null float64\n",
      "p3_dog                1896 non-null object\n",
      "favorite_count        2150 non-null float64\n",
      "retweet_count         2150 non-null float64\n",
      "retweeted_status      2150 non-null object\n",
      "dog_type              364 non-null object\n",
      "dtypes: float64(5), int64(3), object(17)\n",
      "memory usage: 441.8+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 83,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs.drop(['retweeted_status'], axis = 1, inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 84,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 24 columns):\n",
      "tweet_id              2175 non-null int64\n",
      "timestamp             2175 non-null object\n",
      "text                  2175 non-null object\n",
      "expanded_urls         2117 non-null object\n",
      "rating_numerator      2175 non-null int64\n",
      "rating_denominator    2175 non-null int64\n",
      "name                  2175 non-null object\n",
      "doggo                 2175 non-null object\n",
      "floofer               2175 non-null object\n",
      "pupper                2175 non-null object\n",
      "puppo                 2175 non-null object\n",
      "jpg_url               1896 non-null object\n",
      "p1                    1896 non-null object\n",
      "p1_conf               1896 non-null float64\n",
      "p1_dog                1896 non-null object\n",
      "p2                    1896 non-null object\n",
      "p2_conf               1896 non-null float64\n",
      "p2_dog                1896 non-null object\n",
      "p3                    1896 non-null object\n",
      "p3_conf               1896 non-null float64\n",
      "p3_dog                1896 non-null object\n",
      "favorite_count        2150 non-null float64\n",
      "retweet_count         2150 non-null float64\n",
      "dog_type              364 non-null object\n",
      "dtypes: float64(5), int64(3), object(16)\n",
      "memory usage: 424.8+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Change tweet_id from an integer to a string"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 85,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs['tweet_id'] = dfs['tweet_id'].astype(str)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 86,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 24 columns):\n",
      "tweet_id              2175 non-null object\n",
      "timestamp             2175 non-null object\n",
      "text                  2175 non-null object\n",
      "expanded_urls         2117 non-null object\n",
      "rating_numerator      2175 non-null int64\n",
      "rating_denominator    2175 non-null int64\n",
      "name                  2175 non-null object\n",
      "doggo                 2175 non-null object\n",
      "floofer               2175 non-null object\n",
      "pupper                2175 non-null object\n",
      "puppo                 2175 non-null object\n",
      "jpg_url               1896 non-null object\n",
      "p1                    1896 non-null object\n",
      "p1_conf               1896 non-null float64\n",
      "p1_dog                1896 non-null object\n",
      "p2                    1896 non-null object\n",
      "p2_conf               1896 non-null float64\n",
      "p2_dog                1896 non-null object\n",
      "p3                    1896 non-null object\n",
      "p3_conf               1896 non-null float64\n",
      "p3_dog                1896 non-null object\n",
      "favorite_count        2150 non-null float64\n",
      "retweet_count         2150 non-null float64\n",
      "dog_type              364 non-null object\n",
      "dtypes: float64(5), int64(2), object(17)\n",
      "memory usage: 424.8+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Timestamps to datetime format"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 87,
   "metadata": {},
   "outputs": [],
   "source": [
    "#Remove the time zone from the 'timestamp' column\n",
    "dfs['timestamp'] = dfs['timestamp'].str.slice(start=0, stop=-6)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 88,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Change the 'timestamp' column to a datetime object\n",
    "dfs['timestamp'] = pd.to_datetime(dfs['timestamp'], format = \"%Y-%m-%d %H:%M:%S\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 89,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>text</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "      <th>name</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>...</th>\n",
       "      <th>p1_dog</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>dog_type</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>892420643555336193</td>\n",
       "      <td>2017-08-01 16:23:56</td>\n",
       "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/892420643...</td>\n",
       "      <td>13</td>\n",
       "      <td>10</td>\n",
       "      <td>Phineas</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>collie</td>\n",
       "      <td>0.156665</td>\n",
       "      <td>True</td>\n",
       "      <td>Shetland_sheepdog</td>\n",
       "      <td>0.061428</td>\n",
       "      <td>True</td>\n",
       "      <td>36102.0</td>\n",
       "      <td>7688.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1 rows × 24 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "             tweet_id           timestamp  \\\n",
       "0  892420643555336193 2017-08-01 16:23:56   \n",
       "\n",
       "                                                text  \\\n",
       "0  This is Phineas. He's a mystical boy. Only eve...   \n",
       "\n",
       "                                       expanded_urls  rating_numerator  \\\n",
       "0  https://twitter.com/dog_rates/status/892420643...                13   \n",
       "\n",
       "   rating_denominator     name doggo floofer pupper    ...    p1_dog      p2  \\\n",
       "0                  10  Phineas  None    None   None    ...      True  collie   \n",
       "\n",
       "    p2_conf  p2_dog                 p3   p3_conf  p3_dog favorite_count  \\\n",
       "0  0.156665    True  Shetland_sheepdog  0.061428    True        36102.0   \n",
       "\n",
       "  retweet_count  dog_type  \n",
       "0        7688.0       NaN  \n",
       "\n",
       "[1 rows x 24 columns]"
      ]
     },
     "execution_count": 89,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.head(1)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Correct naming issues"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 91,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs.name = dfs.name.str.replace('^[a-z]+', 'None')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 92,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "None         784\n",
       "Lucy          11\n",
       "Charlie       11\n",
       "Oliver        10\n",
       "Cooper        10\n",
       "Penny          9\n",
       "Tucker         9\n",
       "Sadie          8\n",
       "Lola           8\n",
       "Winston        8\n",
       "Toby           7\n",
       "Daisy          7\n",
       "Bo             6\n",
       "Stanley        6\n",
       "Bella          6\n",
       "Jax            6\n",
       "Oscar          6\n",
       "Bailey         6\n",
       "Koda           6\n",
       "Louis          5\n",
       "Leo            5\n",
       "Chester        5\n",
       "Buddy          5\n",
       "Dave           5\n",
       "Bentley        5\n",
       "Rusty          5\n",
       "Milo           5\n",
       "Scout          5\n",
       "Gary           4\n",
       "Sophie         4\n",
       "            ... \n",
       "Coleman        1\n",
       "Dawn           1\n",
       "Lenox          1\n",
       "Sweets         1\n",
       "Tyrone         1\n",
       "Jo             1\n",
       "Jarod          1\n",
       "Socks          1\n",
       "Orion          1\n",
       "Blakely        1\n",
       "Ferg           1\n",
       "JD             1\n",
       "Humphrey       1\n",
       "Pherb          1\n",
       "Nugget         1\n",
       "DonDon         1\n",
       "Emmy           1\n",
       "Malikai        1\n",
       "Sprinkles      1\n",
       "Hubertson      1\n",
       "Wafer          1\n",
       "Dutch          1\n",
       "Jerome         1\n",
       "Rose           1\n",
       "Loomis         1\n",
       "Clybe          1\n",
       "Rubio          1\n",
       "Reagan         1\n",
       "Cedrick        1\n",
       "Rumpole        1\n",
       "Name: name, Length: 931, dtype: int64"
      ]
     },
     "execution_count": 92,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs['name'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 93,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "1009       None\n",
       "2119       None\n",
       "1181      Pippa\n",
       "684        None\n",
       "1729       None\n",
       "1613       None\n",
       "1529    Maxwell\n",
       "398       Pablo\n",
       "1540      Ricky\n",
       "1462     Archie\n",
       "Name: name, dtype: object"
      ]
     },
     "execution_count": 93,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs['name'].sample(10)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Code and Test**: Standardize dog ratings"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 94,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs['rating_numerator'] = dfs['rating_numerator'].astype(float)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 95,
   "metadata": {},
   "outputs": [],
   "source": [
    "dfs['rating_denominator'] = dfs['rating_denominator'].astype(float)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 96,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 2175 entries, 0 to 2355\n",
      "Data columns (total 24 columns):\n",
      "tweet_id              2175 non-null object\n",
      "timestamp             2175 non-null datetime64[ns]\n",
      "text                  2175 non-null object\n",
      "expanded_urls         2117 non-null object\n",
      "rating_numerator      2175 non-null float64\n",
      "rating_denominator    2175 non-null float64\n",
      "name                  2175 non-null object\n",
      "doggo                 2175 non-null object\n",
      "floofer               2175 non-null object\n",
      "pupper                2175 non-null object\n",
      "puppo                 2175 non-null object\n",
      "jpg_url               1896 non-null object\n",
      "p1                    1896 non-null object\n",
      "p1_conf               1896 non-null float64\n",
      "p1_dog                1896 non-null object\n",
      "p2                    1896 non-null object\n",
      "p2_conf               1896 non-null float64\n",
      "p2_dog                1896 non-null object\n",
      "p3                    1896 non-null object\n",
      "p3_conf               1896 non-null float64\n",
      "p3_dog                1896 non-null object\n",
      "favorite_count        2150 non-null float64\n",
      "retweet_count         2150 non-null float64\n",
      "dog_type              364 non-null object\n",
      "dtypes: datetime64[ns](1), float64(7), object(16)\n",
      "memory usage: 424.8+ KB\n"
     ]
    }
   ],
   "source": [
    "dfs.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 99,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948',\n",
       " \"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS\",\n",
       " \"This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq\",\n",
       " \"I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Still a menace\",\n",
       " 'Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD']"
      ]
     },
     "execution_count": 99,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# For loop to gather all text, indices, and ratings for tweets that contain a decimal in the numerator of the rating\n",
    "ratings_decimals_text = []\n",
    "ratings_decimals_index = []\n",
    "ratings_decimals = []\n",
    "\n",
    "for i, text in dfs['text'].iteritems():\n",
    "    if bool(re.search('\\d+\\.\\d+\\/\\d+', text)):\n",
    "        ratings_decimals_text.append(text)\n",
    "        ratings_decimals_index.append(i)\n",
    "        ratings_decimals.append(re.search('\\d+\\.\\d+', text).group())\n",
    "\n",
    "# Print ratings with decimals        \n",
    "ratings_decimals_text"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 100,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "[45, 695, 763, 1689, 1712]"
      ]
     },
     "execution_count": 100,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Print the indices of the ratings above (have decimal)\n",
    "ratings_decimals_index"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 101,
   "metadata": {},
   "outputs": [],
   "source": [
    "#Correctly converting the above decimal ratings to float\n",
    "dfs.loc[ratings_decimals_index[0],'rating_numerator'] = float(ratings_decimals[0])\n",
    "dfs.loc[ratings_decimals_index[1],'rating_numerator'] = float(ratings_decimals[1])\n",
    "dfs.loc[ratings_decimals_index[2],'rating_numerator'] = float(ratings_decimals[2])\n",
    "dfs.loc[ratings_decimals_index[3],'rating_numerator'] = float(ratings_decimals[3])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 102,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "tweet_id                                             884562892145688576\n",
       "timestamp                                           2017-07-11 00:00:02\n",
       "text                  This is Kevin. He's just so happy. 13/10 what ...\n",
       "expanded_urls         https://twitter.com/dog_rates/status/884562892...\n",
       "rating_numerator                                                     13\n",
       "rating_denominator                                                   10\n",
       "name                                                              Kevin\n",
       "doggo                                                              None\n",
       "floofer                                                            None\n",
       "pupper                                                             None\n",
       "puppo                                                              None\n",
       "jpg_url                 https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg\n",
       "p1                                                      German_shepherd\n",
       "p1_conf                                                        0.975401\n",
       "p1_dog                                                             True\n",
       "p2                                                               beagle\n",
       "p2_conf                                                      0.00868727\n",
       "p2_dog                                                             True\n",
       "p3                                                           bloodhound\n",
       "p3_conf                                                      0.00539404\n",
       "p3_dog                                                             True\n",
       "favorite_count                                                    25344\n",
       "retweet_count                                                      5186\n",
       "dog_type                                                            NaN\n",
       "Name: 40, dtype: object"
      ]
     },
     "execution_count": 102,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Testing the indices \n",
    "dfs.loc[40]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 103,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<img src=\"https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg\"/>"
      ],
      "text/plain": [
       "<IPython.core.display.Image object>"
      ]
     },
     "execution_count": 103,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "Image(url = 'https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 104,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create a new column called rating, and calulate the value with new, standardized ratings\n",
    "dfs['rating'] = dfs['rating_numerator'] / dfs['rating_denominator']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 105,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>tweet_id</th>\n",
       "      <th>timestamp</th>\n",
       "      <th>text</th>\n",
       "      <th>expanded_urls</th>\n",
       "      <th>rating_numerator</th>\n",
       "      <th>rating_denominator</th>\n",
       "      <th>name</th>\n",
       "      <th>doggo</th>\n",
       "      <th>floofer</th>\n",
       "      <th>pupper</th>\n",
       "      <th>...</th>\n",
       "      <th>p2</th>\n",
       "      <th>p2_conf</th>\n",
       "      <th>p2_dog</th>\n",
       "      <th>p3</th>\n",
       "      <th>p3_conf</th>\n",
       "      <th>p3_dog</th>\n",
       "      <th>favorite_count</th>\n",
       "      <th>retweet_count</th>\n",
       "      <th>dog_type</th>\n",
       "      <th>rating</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1367</th>\n",
       "      <td>702598099714314240</td>\n",
       "      <td>2016-02-24 20:56:55</td>\n",
       "      <td>This is Sansa. She's gotten too big for her ch...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/702598099...</td>\n",
       "      <td>11.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>Sansa</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>pupper</td>\n",
       "      <td>...</td>\n",
       "      <td>canoe</td>\n",
       "      <td>0.178088</td>\n",
       "      <td>False</td>\n",
       "      <td>lakeside</td>\n",
       "      <td>0.099713</td>\n",
       "      <td>False</td>\n",
       "      <td>7471.0</td>\n",
       "      <td>2701.0</td>\n",
       "      <td>pupper</td>\n",
       "      <td>1.1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1188</th>\n",
       "      <td>718454725339934721</td>\n",
       "      <td>2016-04-08 15:05:29</td>\n",
       "      <td>This pic is old but I hadn't seen it until tod...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/718454725...</td>\n",
       "      <td>13.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>golden_retriever</td>\n",
       "      <td>0.016641</td>\n",
       "      <td>True</td>\n",
       "      <td>ice_bear</td>\n",
       "      <td>0.014858</td>\n",
       "      <td>False</td>\n",
       "      <td>3012.0</td>\n",
       "      <td>687.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1758</th>\n",
       "      <td>678755239630127104</td>\n",
       "      <td>2015-12-21 01:53:54</td>\n",
       "      <td>This is Dash. He didn't think the water would ...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/678755239...</td>\n",
       "      <td>10.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>Dash</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>Tibetan_mastiff</td>\n",
       "      <td>0.147940</td>\n",
       "      <td>True</td>\n",
       "      <td>black-and-tan_coonhound</td>\n",
       "      <td>0.024525</td>\n",
       "      <td>True</td>\n",
       "      <td>3278.0</td>\n",
       "      <td>1470.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>30</th>\n",
       "      <td>886267009285017600</td>\n",
       "      <td>2017-07-15 16:51:35</td>\n",
       "      <td>@NonWhiteHat @MayhewMayhem omg hello tanner yo...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>12.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>papillon</td>\n",
       "      <td>0.148258</td>\n",
       "      <td>True</td>\n",
       "      <td>Chihuahua</td>\n",
       "      <td>0.142860</td>\n",
       "      <td>True</td>\n",
       "      <td>26180.0</td>\n",
       "      <td>5749.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>820</th>\n",
       "      <td>770414278348247044</td>\n",
       "      <td>2016-08-30 00:14:12</td>\n",
       "      <td>Meet Al Cabone. He's a gangsta puppa. Rather h...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/770414278...</td>\n",
       "      <td>11.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>Al</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>English_springer</td>\n",
       "      <td>0.269744</td>\n",
       "      <td>True</td>\n",
       "      <td>boxer</td>\n",
       "      <td>0.048666</td>\n",
       "      <td>True</td>\n",
       "      <td>5096.0</td>\n",
       "      <td>1365.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1588</th>\n",
       "      <td>686730991906516992</td>\n",
       "      <td>2016-01-12 02:06:41</td>\n",
       "      <td>I just love this picture. 12/10 lovely af http...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/686730991...</td>\n",
       "      <td>12.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>collie</td>\n",
       "      <td>0.192031</td>\n",
       "      <td>True</td>\n",
       "      <td>Border_collie</td>\n",
       "      <td>0.121626</td>\n",
       "      <td>True</td>\n",
       "      <td>2639.0</td>\n",
       "      <td>635.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2277</th>\n",
       "      <td>667437278097252352</td>\n",
       "      <td>2015-11-19 20:20:22</td>\n",
       "      <td>Never seen this breed before. Very pointy pup....</td>\n",
       "      <td>https://twitter.com/dog_rates/status/667437278...</td>\n",
       "      <td>10.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>425.0</td>\n",
       "      <td>211.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>262</th>\n",
       "      <td>842765311967449089</td>\n",
       "      <td>2017-03-17 15:51:22</td>\n",
       "      <td>Meet Indie. She's not a fan of baths but she's...</td>\n",
       "      <td>https://www.gofundme.com/get-indie-home/,https...</td>\n",
       "      <td>12.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>Indie</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>basset</td>\n",
       "      <td>0.143527</td>\n",
       "      <td>True</td>\n",
       "      <td>bluetick</td>\n",
       "      <td>0.138992</td>\n",
       "      <td>True</td>\n",
       "      <td>175.0</td>\n",
       "      <td>2.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>242</th>\n",
       "      <td>846153765933735936</td>\n",
       "      <td>2017-03-27 00:15:53</td>\n",
       "      <td>This is Vixen. He really likes bananas. Steals...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/846153765...</td>\n",
       "      <td>13.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>Vixen</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>European_gallinule</td>\n",
       "      <td>0.000030</td>\n",
       "      <td>False</td>\n",
       "      <td>agama</td>\n",
       "      <td>0.000022</td>\n",
       "      <td>False</td>\n",
       "      <td>14934.0</td>\n",
       "      <td>3148.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1506</th>\n",
       "      <td>691756958957883396</td>\n",
       "      <td>2016-01-25 22:58:05</td>\n",
       "      <td>THE BRITISH ARE COMING\\nTHE BRITISH ARE COMING...</td>\n",
       "      <td>https://twitter.com/dog_rates/status/691756958...</td>\n",
       "      <td>10.0</td>\n",
       "      <td>10.0</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>None</td>\n",
       "      <td>...</td>\n",
       "      <td>black-and-tan_coonhound</td>\n",
       "      <td>0.258049</td>\n",
       "      <td>True</td>\n",
       "      <td>Rottweiler</td>\n",
       "      <td>0.145231</td>\n",
       "      <td>True</td>\n",
       "      <td>2771.0</td>\n",
       "      <td>1026.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 25 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                tweet_id           timestamp  \\\n",
       "1367  702598099714314240 2016-02-24 20:56:55   \n",
       "1188  718454725339934721 2016-04-08 15:05:29   \n",
       "1758  678755239630127104 2015-12-21 01:53:54   \n",
       "30    886267009285017600 2017-07-15 16:51:35   \n",
       "820   770414278348247044 2016-08-30 00:14:12   \n",
       "1588  686730991906516992 2016-01-12 02:06:41   \n",
       "2277  667437278097252352 2015-11-19 20:20:22   \n",
       "262   842765311967449089 2017-03-17 15:51:22   \n",
       "242   846153765933735936 2017-03-27 00:15:53   \n",
       "1506  691756958957883396 2016-01-25 22:58:05   \n",
       "\n",
       "                                                   text  \\\n",
       "1367  This is Sansa. She's gotten too big for her ch...   \n",
       "1188  This pic is old but I hadn't seen it until tod...   \n",
       "1758  This is Dash. He didn't think the water would ...   \n",
       "30    @NonWhiteHat @MayhewMayhem omg hello tanner yo...   \n",
       "820   Meet Al Cabone. He's a gangsta puppa. Rather h...   \n",
       "1588  I just love this picture. 12/10 lovely af http...   \n",
       "2277  Never seen this breed before. Very pointy pup....   \n",
       "262   Meet Indie. She's not a fan of baths but she's...   \n",
       "242   This is Vixen. He really likes bananas. Steals...   \n",
       "1506  THE BRITISH ARE COMING\\nTHE BRITISH ARE COMING...   \n",
       "\n",
       "                                          expanded_urls  rating_numerator  \\\n",
       "1367  https://twitter.com/dog_rates/status/702598099...              11.0   \n",
       "1188  https://twitter.com/dog_rates/status/718454725...              13.0   \n",
       "1758  https://twitter.com/dog_rates/status/678755239...              10.0   \n",
       "30                                                  NaN              12.0   \n",
       "820   https://twitter.com/dog_rates/status/770414278...              11.0   \n",
       "1588  https://twitter.com/dog_rates/status/686730991...              12.0   \n",
       "2277  https://twitter.com/dog_rates/status/667437278...              10.0   \n",
       "262   https://www.gofundme.com/get-indie-home/,https...              12.0   \n",
       "242   https://twitter.com/dog_rates/status/846153765...              13.0   \n",
       "1506  https://twitter.com/dog_rates/status/691756958...              10.0   \n",
       "\n",
       "      rating_denominator   name doggo floofer  pupper   ...    \\\n",
       "1367                10.0  Sansa  None    None  pupper   ...     \n",
       "1188                10.0   None  None    None    None   ...     \n",
       "1758                10.0   Dash  None    None    None   ...     \n",
       "30                  10.0   None  None    None    None   ...     \n",
       "820                 10.0     Al  None    None    None   ...     \n",
       "1588                10.0   None  None    None    None   ...     \n",
       "2277                10.0   None  None    None    None   ...     \n",
       "262                 10.0  Indie  None    None    None   ...     \n",
       "242                 10.0  Vixen  None    None    None   ...     \n",
       "1506                10.0   None  None    None    None   ...     \n",
       "\n",
       "                           p2   p2_conf p2_dog                       p3  \\\n",
       "1367                    canoe  0.178088  False                 lakeside   \n",
       "1188         golden_retriever  0.016641   True                 ice_bear   \n",
       "1758          Tibetan_mastiff  0.147940   True  black-and-tan_coonhound   \n",
       "30                   papillon  0.148258   True                Chihuahua   \n",
       "820          English_springer  0.269744   True                    boxer   \n",
       "1588                   collie  0.192031   True            Border_collie   \n",
       "2277                      NaN       NaN    NaN                      NaN   \n",
       "262                    basset  0.143527   True                 bluetick   \n",
       "242        European_gallinule  0.000030  False                    agama   \n",
       "1506  black-and-tan_coonhound  0.258049   True               Rottweiler   \n",
       "\n",
       "       p3_conf p3_dog  favorite_count retweet_count dog_type  rating  \n",
       "1367  0.099713  False          7471.0        2701.0   pupper     1.1  \n",
       "1188  0.014858  False          3012.0         687.0      NaN     1.3  \n",
       "1758  0.024525   True          3278.0        1470.0      NaN     1.0  \n",
       "30    0.142860   True         26180.0        5749.0      NaN     1.2  \n",
       "820   0.048666   True          5096.0        1365.0      NaN     1.1  \n",
       "1588  0.121626   True          2639.0         635.0      NaN     1.2  \n",
       "2277       NaN    NaN           425.0         211.0      NaN     1.0  \n",
       "262   0.138992   True           175.0           2.0      NaN     1.2  \n",
       "242   0.000022  False         14934.0        3148.0      NaN     1.3  \n",
       "1506  0.145231   True          2771.0        1026.0      NaN     1.0  \n",
       "\n",
       "[10 rows x 25 columns]"
      ]
     },
     "execution_count": 105,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.sample(10)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 107,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "tweet_id                                             886267009285017600\n",
       "timestamp                                           2017-07-15 16:51:35\n",
       "text                  @NonWhiteHat @MayhewMayhem omg hello tanner yo...\n",
       "expanded_urls                                                       NaN\n",
       "rating_numerator                                                     12\n",
       "rating_denominator                                                   10\n",
       "name                                                               None\n",
       "doggo                                                              None\n",
       "floofer                                                            None\n",
       "pupper                                                             None\n",
       "puppo                                                              None\n",
       "jpg_url                 https://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg\n",
       "p1                                                          toy_terrier\n",
       "p1_conf                                                         0.14968\n",
       "p1_dog                                                             True\n",
       "p2                                                             papillon\n",
       "p2_conf                                                        0.148258\n",
       "p2_dog                                                             True\n",
       "p3                                                            Chihuahua\n",
       "p3_conf                                                         0.14286\n",
       "p3_dog                                                             True\n",
       "favorite_count                                                    26180\n",
       "retweet_count                                                      5749\n",
       "dog_type                                                            NaN\n",
       "rating                                                              1.2\n",
       "Name: 30, dtype: object"
      ]
     },
     "execution_count": 107,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.loc[30]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 109,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0    1.3\n",
       "1    1.3\n",
       "2    1.2\n",
       "3    1.3\n",
       "4    1.2\n",
       "Name: rating, dtype: float64"
      ]
     },
     "execution_count": 109,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.rating.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Clean and Test**: Creating a new dog_breed column using the image prediction data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 110,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead\n",
      "  \n",
      "/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead\n",
      "  if sys.path[0] == '':\n",
      "/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead\n",
      "  # Remove the CWD from sys.path while we load stuff.\n",
      "/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead\n",
      "  \n"
     ]
    }
   ],
   "source": [
    "dfs['dog_breed'] = 'None'\n",
    "\n",
    "for i, row in dfs.iterrows():\n",
    "\n",
    "    if row.p1_dog:\n",
    "        dfs.set_value(i, 'dog_breed', row.p1)\n",
    "    elif row.p2_dog and row.rating_numerator >= 10:\n",
    "        dfs.set_value(i, 'dog_breed', row.p2)\n",
    "    elif row.p3_dog and row.rating_numerator >= 10:\n",
    "        dfs.set_value(i, 'dog_breed', row.p3)\n",
    "    else:\n",
    "        dfs.set_value(i, 'dog_breed', 'None')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 111,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "None                          315\n",
       "golden_retriever              160\n",
       "Labrador_retriever             99\n",
       "Chihuahua                      87\n",
       "Pembroke                       83\n",
       "pug                            62\n",
       "toy_poodle                     48\n",
       "chow                           47\n",
       "Samoyed                        42\n",
       "Pomeranian                     38\n",
       "cocker_spaniel                 30\n",
       "Chesapeake_Bay_retriever       30\n",
       "malamute                       30\n",
       "French_bulldog                 27\n",
       "miniature_pinscher             25\n",
       "Cardigan                       23\n",
       "Staffordshire_bullterrier      21\n",
       "Eskimo_dog                     20\n",
       "German_shepherd                20\n",
       "Siberian_husky                 19\n",
       "beagle                         19\n",
       "kuvasz                         18\n",
       "basset                         16\n",
       "Lakeland_terrier               16\n",
       "Italian_greyhound              16\n",
       "Maltese_dog                    16\n",
       "Rottweiler                     16\n",
       "Shih-Tzu                       16\n",
       "schipperke                     15\n",
       "Great_Pyrenees                 15\n",
       "                             ... \n",
       "Tibetan_terrier                 4\n",
       "Gordon_setter                   4\n",
       "Afghan_hound                    4\n",
       "Weimaraner                      4\n",
       "bluetick                        4\n",
       "Rhodesian_ridgeback             4\n",
       "keeshond                        3\n",
       "cairn                           3\n",
       "Brabancon_griffon               3\n",
       "komondor                        3\n",
       "Greater_Swiss_Mountain_dog      3\n",
       "briard                          3\n",
       "toy_terrier                     3\n",
       "Leonberg                        3\n",
       "Irish_water_spaniel             3\n",
       "Welsh_springer_spaniel          3\n",
       "curly-coated_retriever          2\n",
       "Appenzeller                     2\n",
       "wire-haired_fox_terrier         2\n",
       "black-and-tan_coonhound         2\n",
       "Sussex_spaniel                  2\n",
       "Australian_terrier              2\n",
       "silky_terrier                   1\n",
       "Japanese_spaniel                1\n",
       "Scottish_deerhound              1\n",
       "Scotch_terrier                  1\n",
       "clumber                         1\n",
       "groenendael                     1\n",
       "standard_schnauzer              1\n",
       "Bouvier_des_Flandres            1\n",
       "Name: dog_breed, Length: 112, dtype: int64"
      ]
     },
     "execution_count": 111,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.dog_breed.value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Storing, Analyzing, and Visualizing Data\n",
    "\n",
    "This section provides an analysis of the data set, and corresponding visualizations to draw valuable conclusions.\n",
    "\n",
    "   1. Visualizing the total number of tweets over time to see whether that number increases, or decreases, over time.\n",
    "   2. Visualizing the retweet counts, and favorite counts comparison over time.\n",
    "   3. Visualizing the most popular dog breed\n",
    "   4. Visualizing the most popular dog names\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 112,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Storing the new twitter_dogs df to a new csv file\n",
    "dfs.to_csv('twitter_archive_master.csv', encoding='utf-8', index=False)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Analyze and Visualize**: Visualizing the total number of tweets over time to see whether that number increases, or decreases, over time."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 117,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "tweet_id    2175\n",
       "dtype: int64"
      ]
     },
     "execution_count": 117,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.timestamp = pd.to_datetime(dfs['timestamp'], format='%Y-%m-%d %H:%M:%S.%f')\n",
    "\n",
    "monthly_tweets = dfs.groupby(pd.Grouper(key = 'timestamp', freq = \"M\")).count().reset_index()\n",
    "monthly_tweets = monthly_tweets[['timestamp', 'tweet_id']]\n",
    "monthly_tweets.head()\n",
    "monthly_tweets.sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 122,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/opt/conda/lib/python3.6/site-packages/matplotlib/font_manager.py:1316: UserWarning: findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans\n",
      "  (prop.get_family(), self.defaultFamily[fontext]))\n",
      "/opt/conda/lib/python3.6/site-packages/matplotlib/figure.py:1999: UserWarning: This figure includes Axes that are not compatible with tight_layout, so results might be incorrect.\n",
      "  warnings.warn(\"This figure includes Axes that are not compatible \"\n"
     ]
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAsgAAALICAYAAABiqwZ2AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMS4wLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvpW3flQAAIABJREFUeJzs3XmcHHd95/9X9RwajWYk+ZQtWxIYG6gQ7sOEYKBC4JewpHJwhX0kIQvZJRBIdsORkB9JSLgScpD1sgECCbABAoQYUhtIIEfFXIEAMYehAMnyIVu2wYfm0GjUM9O1f1SN3JI1mp6Z7q7u6dfz8dCje6q6uz71lf54z1ef/n6DPM+RJEmSVKhVXYAkSZLUSwzIkiRJUhMDsiRJktTEgCxJkiQ1MSBLkiRJTQzIkiRJUhMDsiRJp0jS7N1Jmr2y6jokVSNwHWRJnZKk2auAK+IofFrTsf3A/tMc+804Cj+wxs//V+CxwCIwD3wK+KU4Cm9t8f05cFkchQfWct1T3j8H5MBx4CvAn8VR+MH1fN46a/h74Iryxy1lLfXy5/fGUfiLXajhA8C1cRS+rtPXaockze4P/EfToW3c8/cIEMVR+MWuFyapZziDLKmTPgX8YJJmQwBJml0AjACPOOXYpeVr1+MlcRROlJ8xAfzhhqtem4eW138A8G7gLUma/Xa3Lh5H4Y/GUThR1vA+4E3LP3cjHPeDJM2Gm3+Oo/A7TWN2bnn4AU3jZjiWBtzw6i+RpHX7IkUgfhjwZeAJQApccsqx6+IoPAyQpNkDgf8FPBL4HsXM8odWu1AchUeSNPso8EvLx5I0ewzwP4EQOAb8DfCrcRTWkzRbDuRfLWeCXxBH4QeTNHs68DrgPsA3gV+Mo/BrLVz/DuAvkzQ7Brw3SbO3xFF4Z5Jmu4G3AY8H7gJ+P47Cd5T1bS3PxcBtwLuAX46j8OLy/K8BvwxsBw4DL46j8J9Xq6VZkmZfAH43jsKPJWn2w8A/Ak+Oo/Bfynt9dRyFjy1f+0LgV4HzgH8D/lschbeU574fuBJ4eFnrq+Io/GiSZr8MPAP4ySTNfh34+zgKn5Wk2W8CL6aYnb2l/KxPn6a+s4G3AE8BZoG3An8AjAO3Aw9bnuFP0uwi4ACwO47Cu5M0+0ngd4C9wNeBF8ZR+M3ytbdR/LL0X4D7lp+3lnE7MSuepNmPlDW+G/jvFP9b8F8p/m3/MbATeEMchX9UvncI+I3y2tuBT1D8z8aRtdQgqTrOIEvqmDgK68AXKEIw5eOngc+ccuxTAEmabaMIcO8HzgeeC/xpkmYPWu1aSZqdA/wURYBatgT8D4pZwh8AnkwR2oijcPn6Dy1nDT+YpNkjgL8AXgicA7wdSJI027KG2/5bismHx5Q//xVwM7AbeCbwhiTNnlye+22KIH4JRUD8mab7eQDwEuDRcRROAv8fcMMa6lh2NfCk8vkTgIPAE5t+vrq83k9ThL8fA3YB1wDvLc9tp/h7+XOKsfw54C+SNLs0jsIrKX7xeG05js9K0uyhFOHwYcAO4D+VY3A6b6MImvctx+BFwH+Oo/AokFD8G1j208AnynD8WOBPy+ucA/wl8NFTZoufU37mOa0O1hnsAxaAC4Dfo/h38kzgIcAPA68vAzzAK4CnUvxSdHH5vje3oQZJXWJAltRpV3NPGL6CIiB/+pRjV5fPnw7cEEfhu+IoXIyj8D8owtczz/D5VyZpNgXcQRHeXrp8Io7CL8dR+Pnys26gCLxPPP3HAMWs4NvjKPxCHIVLcRS+h2K28LGt3mwchQtlLWcnabaHIiT9WhyF83EUfgV4J/Cz5cufTTHzeHcchTdTzNAuW6LoKf6+JM1G4ii8IY7C61qto8nVnByI39j08xO5Z+xfCLyubD9YoJiZfXySZruAn6SYTX1fOS5fBP4vxczx6SwCW4HvA4biKDwYR+H1p76o/MXjGRTjM1vOFP8J94zP+zk5IP/n8thyvW8p/46X4ij8M4rxemTT698cR+HhOAqPnXGEWjMH/EEchYvAByh+ifjDOAqPxlF4DXAd8OCm2n69vPY8xVg+J0mzoA11SOoCWywkddqngF9K0uws4Lw4CvcnaXY78J7y2PdzT//xPuDyJM2a/yt6mGJ2cCW/HEfhO5M0ezDwdxQzdjfBiS9j/THwKIr/Yh+maOtYyT7geUmavbTp2CjF7G9LkjQboWhRuKt8311xFM40veTGsh7K84eazp14HkfhgSTN/jvwGuBBSZp9gqI95HCrtZQ+Azw0SbNzKfqk3wO8tvz5oeV5KO79bUma/e+m9y5SjOc+4Amn+Xu5+3QXjKPwG2W7xeuBB5ZfJPzVOApvP+WlF1BM1NzUdOxGYHkm9hMU/04eStEicxlFMF+u99lJmr2i6b2jTe+Fk8d2o74XR2GjfL4cuJvv5xgwUYbgPcDHy9adZTWKmew72liTpA4xIEvqtH+j+G/2/wZ8FiCOwukkzQ6Xxw43zS4eAq6Oo/Apa71IHIVfT9LsdcD/TtLsEXEU5hT9rNcAz42jcKYMnGeajT4EvD6Owtev9fpNfpwiWP47RSg/O0mzyaaQvJeiJxfgVooA+s3y5z2n3NP7gfeXLQ5vB36fe2ZXWxJH4VSSZtdS9BZ/OY7ChSTNvlT+fG0chdPlSw8Br4ij8G9O/YwkzR4CfDKOwh9b4TL3Wg6pnH1/T5JmOylaM15HMUPf7DagQTEmB8tjJ8anrPXDFLPIx4GPNM0GHwI+ttz322pdnRZHYZ6k2S3AT8VReKZfxiT1MAOypI6Ko/BYUyBrDp6fKY/9U9OxvwN+L0mzn6X4b2wo+lhn4yjMWrjceyhmXGOKXuBJYBqYLb/89yKKL/4tu52i/3e5b/kdwEeSNPsn7gm4TwI+dcos8L2UXzb7UYoZ69+Po/BO4M4kzT4HvDFJs5cD9wdewD29xh8CXpWk2RfLa72k6fMeQDEb+lmKJeyOsf62uKvLz35t+fO/UvQ/v6PpNW8DXp2k2bVxFH67nN3/oTIwf5Ri1vk5wFVAADyCYnb8O9wzjsu1fx/FLPrny7qPUbSMnCSOwuNJmn2Eoi/7BRQzyr9S1rbs/RR/r3Wa2meAPwPel6TZ1RT/K7AN+CHgn+IonFvb8LTd2yj+HT8/jsJDSZqdD1weR+H/Xe2NknqDPciSuuFqii/dfabp2KfLYyeWdytD6FMpvox1mGKG8fcpektXVX4p8ErgN8tDL6foW52hCIOnrk/8GopZziNJmj07jsIvUcxyvoWifeAA8POrXParSZrNlq/9BeB/xFH4W03nn0vxRbzDwEeA346j8B/Lc79L8eW16yl+UfgwxUwp5T3/HsV/yd9GMVa/sdoYrOBqil8WPrXCz8RR+FcU931VkmbTFGs6P6U8dzfFlwT/C8Ws92GKGeGR8u1/Bjy6HMcPUPQf/1FZ+60Uy+81j0mzF5aPNwL/QtGj/b6m858Chij+F+LEL1NxFH6WYoWPtwNHgO9Q/F33wuL+b6Ko9V+SNJsBPkfxC4WkPuFGIZLUI5I0exHw03EUnumLhJKkDrPFQpIqkqTZhRStCf9G8QW0l1HM4kqSKmRAlqTqjFK0CNyXok3gAxRr+0qSKmSLhSRJktRk08wgP+sXfuM8ii/33EDxjW9JkiRpJWMUX6L+5F+/8w3NKxxtnoBMEY7fW3URkiRJ6is/w8mr52yqgHwDwB233sTiwvFVXtpZQVBjy/gEx+dmyfPG6m/YZAb9/pc5DgXHoeA4FByHwiCPwyDfezPHofoxGB7ZwrkX7oUyQ550ruvVdM48wOLCcRaOH1vttR0V1IYYHt3CQn2evHGvtfE3vUG//2WOQ8FxKDgOBcehMMjjMMj33sxx6KkxuFdrrhuFSJIkSU0MyJIkSVITA7IkSZLUxIAsSZIkNTEgS5IkSU26vopFkmZ/CrwojsKg/PlXgJeWp6+Mo/DK8vgw8A7gCqBevufqbtcrSZKkwdLVGeQkza4AtjX9fBnwEuDh5Z+XlscAfh7YFkfhpcBzgHclaeaMtyRJkjqqa4EzSbMtwO8BL286/FPAX8dROBNH4QzwYeAny3PPAN4JEEfh14HbgUd1q15JkiQNpm62WPwW8OdxFH4vSbPlYxcD32x6zU3A9zWdO3TKuT3Av5/pIkFQI6gNtaXg9QpqtZMeB82g3/8yx6HgOBQch4LjUBjkcRjke2/mOFQ/BkGw8nW7EpCTNHsIcDnw6lNOBUB+ys+tnFvRlvEJhke3rKfMthsbn6y6hEoN+v0vcxwKjkPBcSg4DoVBHodBvvdmjkN1YzA0PLLiuW7NIP8gxczw9cuzx0ma3QC8Fdjb9Lo9wM3l80PluW+d5tyKjs/NslC/146BXRXUaoyNTzI/N0PeGLz91Qf9/pc5DgXHoeA4FByHwiCPwyDfezPHofoxGBkdg3N2nfZcVwJyHIVvpQjDACRplsdReJ8kze4PfCxJszeWp54FPK18fhXwAuCTSZo9GLgA+OJq18rzRtX7eZ+QN3qnlioM+v0vcxwKjkPBcSg4DoVBHodBvvdmjkN1Y5DnK4fyShtf4ij8DvCnwFfKP28pjwG8G5hP0uw64EPA8+MoHMxfsSRJktQ1XV8HGWB5DeTy+ZuBN5/mNQvA87pZlyRJkjS4X52UJEmSTsOALEmSJDUxIEuSJElNDMiSJElSEwOyJEmS1MSALEmSJDUxIEuSJElNDMiSJElSEwOyJEmS1MSALEmSJDUxIEuSJElNDMiSJElSEwNyG+VA474/Qb7zAVWXIkmSpHUarrqATWV0B5zzIHIacOdtVVcjSZKkdXAGuZ0m9wGQj0xWXIgkSZLWy4DcRvnk3uLJ6PZqC5EkSdK6GZDbqZxBZnSSvNpKJEmStE4G5DbJR3fAlp0wfxfURqA2VnVJkiRJWgcDcrsst1fcdS0AjZGJCouRJEnSehmQ2ySf3AeLcwRT1xU/D2+ruCJJkiSthwG5XSb3wsxNUJ8GIB92BlmSJKkfGZDbIB/dDlvOIpi5CRZmobFki4UkSVKfMiC3w0TZfzxzIwHAwowzyJIkSX3KgNwGRf/xMTj23eLAwgwNA7IkSVJfMiC3Q9l/HJQ/BvVpv6QnSZLUpwzIG5SPTMLY2QQzN95zsF60WLhZiCRJUv8xIG/U8vrHMzfdc2xhGmpDMDxeTU2SJElaNwPyBt2r/xgI6jPFk9HtFVUlSZKk9TIgb9TkXpg9RNDcUFGuhcyIAVmSJKnfGJA3IB+ZgLFzTu4/BlgoZpDz0ckKqpIkSdJGGJA34nT9xwCLc9BYBAOyJElS3zEgb0DRfzwPc7efdDwAgsWjtlhIkiT1IQPyRkycpv+4VFuctcVCkiSpDxmQ1ykfmYCt5967/7gULM46gyxJktSHDMjrNbGneDy1/7gULByF0UnyE/vrSZIkqR8YkNcpn9wHS8dh7rbTnq8tzkJQg5GJLlcmSZKkjTAgr9fp1j9uEizOFk/sQ5YkSeorBuR1yIe3wdbzVuw/BggWlgOyfciSJEn9xIC8HpNn7j+GssUCDMiSJEl9xoC8Dqv1HwPQOA5LdXJXspAkSeorBuT1mNwHszcT5I0VXxJAseW0M8iSJEl9xYC8Rvnw+Kr9xyfUZ/ySniRJUp8xIK/V5N7isYWAHCxMO4MsSZLUZwzIa5RP7IWl+pn7j5fVZ2Bkws1CJEmS+ogBea0m9xXrH5+h//iE+nSxWYhtFpIkSX3DgLwG+fBWGD+f4AzLuzULFmaKJ7ZZSJIk9Q0D8lpMtN5/DBQzyAAu9SZJktQ3DMhrkE/uhaUFmLu1tTfUl2eQbbGQJEnqFwbktZjcB0db7D8GgsZxWDpObouFJElS3zAgtygfGoOtrfcfn1B3qTdJkqR+YkBu1eReCILW+4+XGZAlSZL6igG5RfnkXmgswNEW+4+X1d1uWpIkqZ8YkFs1uQ9mbybIl9b0tqA+XWwWEjjUkiRJ/cDU1oKi/3jX2vuPoWmpN1eykCRJ6gcG5FZM7Flf/zHAQhmQbbOQJEnqCwbkFuST+6CxCEcPr/3NdQOyJElSPzEgt2Jy77r6jwEDsiRJUp8xIK8iH9oC4xesr/8YCBoLsHjMzUIkSZL6hAF5Ncv9x7Pr6D9eVp+GEQOyJElSPzAgr+JE//HsLev/ENdCliRJ6hsG5NVM7oWjt6yv/3hZfRpGXeZNkiSpHxiQz2C5/5h19h8vCxamYWQbeTDcpsokSZLUKQbkM5m4GIIawXrWP252YiULZ5ElSZJ6nQH5DO5Z/3gD/cfgUm+SJEl9xIB8JhN74ehhgsbixj7HgCxJktQ3DMgryGujsO3CDfcfA8UqFmBAliRJ6gMG5JW0q/8YCPJFWDhK7lrIkiRJPc+AvIKi/3hp4/3Hy1wLWZIkqS90bd2xJM2uBnYCAfAd4PnA2eXzb5Yvm4uj8HHl64eBdwBXAHXgRXEUXt2tepncB3OHi62i22FhGkZ3tOezJEmS1DHdnEGO4yh8aByFDwFuAl5RHj8cR+HDyj+Pa3r9zwPb4ii8FHgO8K4kzbpSb14baV//8bL6tDPIkiRJfaBrM8hxFE4BlCF3GzC7ylueAby5fO/XkzS7HXgU8O9nelMQ1AhqQxsrdnIfeVCjNntoXZ8V1GonPQIEC7Pkw1theKx9s9I96nT3P4gch4LjUHAcCo5DYZDHYZDvvZnjUP0YBMHK1+3q1m5Jmn0ceDTwDeBlwLnAriTNvgwsAVfGUfje8uUXA4ea3n4TsIdVAvKW8QmGR7dsqM7jZ19GI19iKzMEE+tvixgbv2djkIXaIseBsR27qS0c2VB9/aL5/geZ41BwHAqOQ8FxKAzyOAzyvTdzHKobg6HhkRXPdTUgx1H4tCTNhoA3Ai8G/iewJ47CO5I02wf8U5JmB+Mo/BxFr3Le9PaglWscn5tloT6/oTqXdp8PR29jfubOdb0/qNUYG59kfm6GvNEAIOd2uBDmFwOC2akN1dfrTnf/g8hxKDgOBceh4DgUBnkcBvnemzkO1Y/ByOgYnLPrtOe6GpAB4ihcStLsPcAH4yh8E3C8PH5jkmZ/C/wA8DmK2eO9wLfKt+4Bbl7t8/O8Qd5YWnd9eW0Exi+E2z+/oc8ByBv31JLPF7PG+fBEsTrGAGi+/0HmOBQch4LjUHAcCoM8DoN8780ch+rGIM9XDuVdafpI0uysJM2aI/ozgGuTNDu/XK2CJM3OAp4KfL18zVXAC8pzDwYuAL7Y8WInLobaEEE7v6AHsOBmIZIkSf2gWzPIZwEfStJslKJVIgNeCjwe+N0kzZaAIeBdcRR+snzPu4HHJ2l2HcUyb8+Po7Dj8+/5xF7IGzC76mT1mgT5EvnCLPnoZGu9IpIkSapEVwJyHIUHKVagONVV5Z/TvWcBeF4n6zqtyX1w9FaCRr39n+1Sb5IkST1vcNcWOY28NgzbdkMbtpc+LQOyJElSzzMgN9vWof7jZQZkSZKknmdAbpJPLvcfH1r9xesQ1GdgaAv50MbWaZYkSVLnGJCbTe6Duds6038MxQwywIizyJIkSb3KgFzKgw73HwMslAF51F1zJEmSepUBednERVAb7lz/Mdwzg2wfsiRJUs8yIJfyyX0d7T8GoD4DeYPcgCxJktSzDMjLJvfC3O0ES8c7domAHBZmnUGWJEnqYQZkIA+GYNtFne0/XlafMSBLkiT1MAMyFOG40/3Hy+rTMOKX9CRJknqVARmK5d3yHGa7FJBHt5N3/kqSJElaBwMy5QYhHe4/XhYsTMPQKAyNdfxakiRJWruBD8h5MFQs8Tbbhf5jcKk3SZKkHjfwAZltu6E20p3+YzAgS5Ik9TgD8nL/cdcC8kzxaECWJEnqSQMfkPPJvXDsuwRL89254MIsNJbcLESSJKlHDXRAzoMabLu4O+sfl05sFuJSb5IkST1poAMy23bDUBf7j5eVS71JkiSp9wx2QJ7cVzwakCVJklQa6ICcTyyvf3ysuxdecLMQSZKkXjWwATkPajBxcfdnj4GgPg21YRge7/q1JUmSdGYDG5AZvxCGRgm6+AW9E1zqTZIkqWcNbkBe7j+ePdT9a7tZiCRJUs8a2IB8Yv3jxbnuX3w5II8YkCVJknrNQAbkov94TyX9xwAsHi03C3EtZEmSpF4zkAGZ8Quq6z8GAjixkoUkSZJ6y2AG5KrWP27mWsiSJEk9aSADcj65D459r5r+42UGZEmSpJ40cAE5J6hs/eOT1KdhZNLNQiRJknrMwAVktl0IQ1sq6z9eFtRnoDYEIxOV1iFJkqSTDV5AnthbPPbCDDLYZiFJktRjBi4gF/3HdxAsHq22kBNrIbvUmyRJUi8ZqIDcM/3HUCzzBs4gS5Ik9ZiBCsiMXwDDY5X3HwOweAwaC+QGZEmSpJ4yWAF5suw/nq1+BjkAl3qTJEnqQQMVkPPJfTB/J8HCbNWlFAzIkiRJPWdgAnLRf7ynN/qPl9VnDMiSJEk9ZmACMuO7eqf/eFl9GkYmivAuSZKknjA4AXmyR9Y/bhLUpyGouVmIJElSDxmYgJxP7IP5uwgWZqou5R4u9SZJktRzBiIg5wQw2WP9x+BuepIkST1oIAIyW8+H4a291X8MxZf0wIAsSZLUQwYjIJ/oP+6xgLw0D0t1NwuRJEnqIQMRkIv1j+/urf5jmjYLGZmsuhRJkiSVNn1AzqHoP+6B3fNOy81CJEmSesqmD8hF//F47/UfLzMgS5Ik9ZTNH5B7tf942UK5WUiw+f8qJEmS+sGmT2X55D44fqTYlKMHBfUZCAL7kCVJknrEpg7IOcDE3t6dPQbXQpYkSeoxmzogs/U8GBkn6LUNQpqdCMjOIEuSJPWCzR2QJ/YVj84gS5IkqUWbOiDnk3vh+BRBfarqUlYUNOqwOE8+YkCWJEnqBZs2IBfrH/d4//GyBZd6kyRJ6hWbNiAzdi6MbOvt/uNl9RkDsiRJUo/YvAF5sg/6j5e5WYgkSVLP2LQBOZ/cWwTP+pGqS1lVUJ+GkW3kwVDVpUiSJA28TRmQm/uPg6qLaYVLvUmSJPWMTRmQGTsHRib6o/8YXOpNkiSph2zOgNxP/cdwT0B2qTdJkqTKbcqAXPQfz8Dxu6supTULziBLkiT1ik0XkHModtDrl/5jIGgswuIcuQFZkiSpcpsuIDOyHUb7qP94mWshS5Ik9YTNF5C3XVg89kv/8TLXQpYkSeoJmy8gj19Q9h/fVXUla1Ofdpk3SZKkHrD5AvK2C2Hmpr7pP14W1KdheJy8Nlx1KZIkSQNt8wXkkXGCfmuvAJd6kyRJ6hGbLyADzPbZF/TApd4kSZJ6RNf+Pz9Js6uBnUAAfAd4fhyF00maPRt4HUVY/+s4Cl/V9J7fA54JNIBXx1H4oVUvtHgM5u/swB10mLvpSZIk9YRuziDHcRQ+NI7ChwA3Aa9I0mwH8MdABDwQeGKSZk8GSNLsh4EryuMR8MdJmq2eHo/e1nf9x0DxxUIwIEuSJFWsazPIcRROASRpVgO2AbPAjwCfiqPwlvLce4BnAP9cPr4njsJF4JYkzT5dvv7Ms8hztxHUhjp1Gy0JarWTHlt6D7C0cBS27Ki8/o1az/1vRo5DwXEoOA4Fx6EwyOMwyPfezHGofgyCYOXrdnXJhCTNPg48GvgG8DLghcChppfcBDy9fH4xkJxybs9q1xhbupvGxI621LtRY+NrW7ZtbmmOYOvZbO2R+jdqrfe/WTkOBceh4DgUHIfCII/DIN97M8ehujEYGh5Z8VxXA3IchU9L0mwIeCPwYore4rzpJcEpz1c6t6L6zHdZqM9vtNQNCWo1xsYnmZ+bIW80Wn5fY/5u2HIWx2anOlhd5633/jcbx6HgOBQch4LjUBjkcRjke2/mOFQ/BiOjY3DOrtOe6/qiu3EULpWtFB8EXgs8oun0HuDm8vkhYO8p57682ufneYO8sdSmajcmb6yxluNTMLG3Z+rfqDXf/yblOBQch4LjUHAcCoM8DoN8780ch+rGIM9XDuVdCchJmp0FjMZReHt56BnAtcA/UHz5bjfwXeDngNeUr7kKeE2SZn8BnA88AfjFbtRblWBhmnx4jLw2StCoV12OJEnSQOpWV/RZwMeSNPtakmZfB74f+JXyi3svA64Gvg18No7CfwQoHz9bHr8aeNnyF/02LZd6kyRJqlxXZpDjKDwIPGqFcx8APrDCuVcCr+xgab2leam3+TuqrUWSJGlADe7aIr3IGWRJkqTKGZB7ycIM5Dn5qEu+SJIkVcWA3EOCvAELszDiDLIkSVJVDMi9pj5ti4UkSVKFDMi9xoAsSZJUKQNyr1mYgdHtJ20hKEmSpO4xIPeYoD4NQ6MwNFZ1KZIkSQPJgNxrTiz15koWkiRJVTAg9xrXQpYkSaqUAbnXLAdkl3qTJEmqhAG51yzMQt4gdwZZkiSpEgbkHhOQFyHZgCxJklQJA3Ivqk/7JT1JkqSKGJB7kZuFSJIkVcaA3IvKgOxmIZIkSd1nQO5BQX0aaiMwvLXqUiRJkgaOAbkXudSbJElSZQzIvWhhpni0D1mSJKnrDMi9yN30JEmSKmNA7kULs9BYInepN0mSpK4zIPegAIo2C2eQJUmSus6A3KtcC1mSJKkSBuReZUCWJEmqhAG5V9WnYcTNQiRJkrrNgNyjgvoM1IZgeFvVpUiSJA0UA3KvWnCpN0mSpCoYkHuVayFLkiRVwoDcq04EZNdCliRJ6iYDcq9anIPGIrkzyJIkSV1lQO5RAZxYyUKSJEndY0DuZa6FLEmS1HUG5F5mQJYkSeo6A3IvW5iB0UnyouFCkiRJXWBA7mFBfRqCGoxMVF2KJEnSwDAg9zKXepMkSeo6A3Ivc7MQSZKkrjMg9zIDsiRJUtcZkHvZ0jws1cldC1mSJKlrDMg9LIByJQsDsiRJUrcYkHudayFLkiR1lQG51xmQJUmSusqA3Ovq0zAyQR74VyVJktQNpq4eV2wWErhZiCRJUpcYkHudS71JkiR1lQG519VnikeXepMkSeoKA3KvW3AGWZIkqZsMyD0uWDoOS8fJRyerLkWSJGkgGJD7gUu9SZIkdY0BuR8YkCVJkrrGgNwP6m43LUmS1C0G5D4QnNgsZKjqUiRJkjY9A3I/WF4LecSHOmc3AAAgAElEQVQv6kmSJHWaAbkfnFjqzYAsSZLUaQbkfuBuepIkSV1jQO4HBmRJkqSuMSD3gaCxAIvHyA3IkiRJHWdA7heuhSxJktQVBuR+4VrIkiRJXWFA7hf1aZd5kyRJ6gIDcp8IFqZhZBt5MFx1KZIkSZuaAblf1F0LWZIkqRsMyP3Cpd4kSZK6woDcLwzIkiRJXWFA7hf1meLRgCxJktRRBuQ+EeSLsHCUfMSALEmS1EkG5H7iWsiSJEkdZ0DuJwvTrmIhSZLUYV1ZVDdJsz3Au4HdQAP4GPBrwBOBvwMOlC89EEfhM8v3bAfeBzwQmAaeF0fhtd2ot2fVp2FiT9VVSJIkbWrd2nViEfi1OAq/lKTZKPCPwE8BdwJfiqPwSad5zyuBLI7CH0vS7GnAW4ErulRvTwrq0+TDW8lrIwSNharLkSRJ2pS60mIRR+GtcRR+qXxeB74GrDYV+gzgneV7Pg7cL0mzXR0ttNe51JskSVLHdX3f4iTNzgF+AngqsAt4WJJm1wCzwOviKPxE+dKLgUNNbz1UHrv9TJ8fBDWC2lDb616LoFY76bFtFo+SA8GWnQT1I+397Dbq2P33Gceh4DgUHIeC41AY5HEY5Htv5jhUPwZBsPJ1uxqQkzTbAnwY+JM4CrMkzW4B9sZROJ2k2UOAv0/S7PFxFF4PBKe8/dSfT2vL+ATDo1vaW/g6jY239wt1jeGcOWBkchcj+d1t/exOaPf99yvHoeA4FByHguNQGORxGOR7b+Y4VDcGQ8MjK57rWkBO0myI4kt318RR+EcAcRROL5+Po/BrSZr9G/AI4HqKGeM9wHfKl1wM3LzadY7PzbJQn29z9WsT1GqMjU8yPzdD3mi07XPzYBaAemOYxdmptn1uu3Xq/vuN41BwHAqOQ8FxKAzyOAzyvTdzHKofg5HRMTjn9N273ZxBfjswA7xs+UCSZhcCt8VRmCdpdjFwOfDq8vRVwC8Aryy/pHd9HIVnbK8AyPMGeWOp7cWvR95ody1LsDBLPjLZM/d4Ju2///7kOBQch4LjUHAcCoM8DoN8780ch+rGIM9XDuXdWubtB4EXANcC1yRpBvAXFEu+vShJswWKFopXxVH4rfJtbwLel6TZfor+5J/rRq09r+5ayJIkSZ3UlYAcR+FnWbmH+C0rvGcKeHrHiupX9WkYO6fqKiRJkjatwf3qZL+qT7vMmyRJUgcZkPtMUJ+BoS3kQ72xUockSdJmY0DuN8ubhYw4iyxJktQJBuR+s+BuepIkSZ1kQO43J7abdiULSZKkTjAg95v6DOQNcmeQJUmSOsKA3GcCcliYtcVCkiSpQwzI/ag+Y0CWJEnqEANyP3ItZEmSpI4xIPej+jSMbCevug5JkqRNyIDch4KFaRgagaGxqkuRJEnadAzI/ajuWsiSJEmdYkDuRwZkSZKkjjEg96P6TPFoQJYkSWo7A3I/WpiFxpKbhUiSJHWAAbkPuVmIJElS5xiQ+1V9GkYmq65CkiRp0zEg9ys3C5EkSeoIA3K/WigCspuFSJIktZcBuU8F9WmoDcPweNWlSJIkbSoG5H7lUm+SJEkdYUDuV24WIkmS1BEG5H61HJBHDMiSJEntZEDuV4tHobFIPupSb5IkSe1kQO5TAcDCjC0WkiRJbWZA7meuhSxJktR2BuR+ZkCWJElqOwNyPyu3m3azEEmSpPYxIPexoD4DtSEYmai6FEmSpE3DgNzPXAtZkiSp7QzI/ezEWsgu9SZJktQuBuR+tuAMsiRJUrsZkPvZ4jFoLJAbkCVJktrGgNzHAnCpN0mSpDYzIPc7A7IkSVJbGZD7Xd3tpiVJktrJgNzv6tMwMkFeNFxIkiRpgwzIfS6oT0NQc7MQSZKkNjEg9zuXepMkSWqrlgJykmbxCsef3t5ytGbupidJktRWrc4gv3eF4/+nXYVonQzIkiRJbTV8ppNJmu0un9aSNLsQTvom2CVAvVOFqUVLx2GpTj663a/pSZIktcEZAzJwM5CXz2855dwR4LfaXpHWJABy10KWJElqm9UC8laKDHY18ISm43kchc4e9woDsiRJUtucMSDHUXi8fHp5F2rRetWnYet5VVchSZK0Kaw2gwxAkmZ7gN8BHgactOBuHIX370BdWouFcrOQoEaQN6quRpIkqa+1FJCB9wO3Aa8F5jpXjtYjqM+QBwGMTEJ9qupyJEmS+lqrAfmhwJPiKFzqZDFap+al3gzIkiRJG9LqOsifA76/k4VoA1wLWZIkqW1anUHOgE8kafYhilaLE+IofEPbq9LanAjIk9XWIUmStAm0GpAvAFLgvPLPsvz0L1c3BY06+eI8+YibhUiSJG1USwE5jsLndroQbZBrIUuSJLVFq8u87V7pXByFh9tXjtZtYcaALEmS1Aattlgsbzm9/D/4za0VQ22tSOtTn4bxC6quQpIkqe+1GpC3nvLzhcBvUvQlqwcE9WnykW3kwRBB7mp8kiRJ69VqD/LxUw7dkKTZS4FvAu9te1Vau+aVLI4fqbYWSZKkPtbqOsinsw9wXbFe4VrIkiRJbdHql/T+kZP7jseBhwNv6kRRWoflgDxiQJYkSdqIVnuQP3zKz0eBr8RReG2b69F6LTiDLEmS1A6t9iC/vdOFaGOCxiL54hz5qJuFSJIkbUSrLRZDwCuBnwUuAm4B/hL4gzgKFztXntak7lrIkiRJG9Vqi8UbgScBvw7cSPEFvd8AzgZe0ZHKtHbupidJkrRhrQbknwYeGUfh98qfv5qk2eeB/8CA3Dvq0zBxUdVVSJIk9bVWl3kbBk5tpVjEXfR6SlCfhuFx8lqrv/dIkiTpVK0mqY8AH03S7LeAmyhaLH4buKpThWkdmpd6O35XtbVIkiT1qVZnkF8GfAF4H7Cf4gt6XwJe3qG6tB4u9SZJkrRhrS7zNk+xisUrO1uONsTd9CRJkjbsjDPISZpdnqTZ61c497okzR7dmbK0LvWZ4tGALEmStG6rzSD//8A7Vzj3eeDVwI+vdpEkzfYA7wZ2Aw3gY8CvxVGYJ2n2K8BLy5deGUfhleV7hoF3AFcAdeBFcRRevdq1BlmQL5EvzLpZiCRJ0gas1oP8SODjK5z7B+BRLV5nkSIQh8DDgcuBn0rS7DLgJeWxhwMvLY8B/DywLY7CS4HnAO9K0qzVnunB5WYhkiRJG7LaDPIOTr/E2/J7W0picRTeCtxaPq8nafY1YA9wKfDXcRTOACRp9mHgJ4E3Ac8A3ly+5+tJmt1OEcj//UzXCoIaQa3a1eeCWu2kx65amIEtZ1U6BpXefw9xHAqOQ8FxKDgOhUEeh0G+92aOQ/VjEAQrX3e1gPxt4MkULRGnejLFihZrkqTZOcBPAE8FXgx8s+n0TcD3lc8vBg6dcm4PqwTkLeMTDI9uWWtZHTE2Ptn1ax7Pj7Mwup2tEzu6fu1TVXH/vchxKDgOBceh4DgUBnkcBvnemzkO1Y3B0PDIiudWC8hXAn+WpNl/jaPwRKtFkmZPA95G0aPcsiTNtgAfBv4kjsIsSbMAyJteEpzyfKVzKzo+N8tCfX4tZbVdUKsxNj7J/NwMeaPR1Ws3tt0BZz2YubljBI16V6+9rMr77yWOQ8FxKDgOBcehMMjjMMj33sxxqH4MRkbH4Jxdpz13xoAcR+F7kjS7CPibJM0awO3ALoqw+ro4Cv9Pq0UkaTZEsY7yNXEU/lF5+BCwt+lle4CbTzn3rdOcW1GeN8gbS62W1VF5o4Jajh8prj28DeaPdffap6jk/nuQ41BwHAqOQ8FxKAzyOAzyvTdzHKobgzxfOZSvug5yHIVvSNLsbRSrSZwD3Al8Jo7CO9dYx9uBGYpNR5Z9BPhYkmZvLH9+FvC08vlVwAuATyZp9mDgAuCLa7zm4Gle6m3+jmprkSRJ6kOtbhRyF/C3671IkmY/SBF2rwWuSdIM4C/iKLwySbM/Bb5SvvR/xVH4nfL5u4HHJ2l2HcUyb8+Po3Aw/w9iLdwsRJIkaUNaCsgbFUfhZ1mhhziOwjdTrlZxyvEF4HkdLm3zWZiBPHctZEmSpHUa3LVFNqkgb8DCrDPIkiRJ62RA3ozq0zDisjGSJEnr0VKLRZJmO4B6HIXHyqXZfhpYiqPwQx2tTutTn4at51VdhSRJUl9qdQb5H7hnA4/XAr8DvCZJszd1pCptzPydMHY2+dBY1ZVIkiT1nVYD8gOBa8rnP0exC94TgJ/pRFHamGDqAAQ12H5J1aVIkiT1nVYDcgMYTtLsQcDROApvoFgP2UbXXnT0MCwcJd95adWVSJIk9Z1Wl3n7JPBe4Dzgg+WxBwK3dqIobUxATj51Hey8lJyA4KQduyVJknQmrc4gvwD4DPAh4PXlsd3A6zpRlDYumNoPw+MwcVHVpUiSJPWVVmeQnx9H4ZXNB+Io/OckzV7cgZrUDtPXQ2OJfMelBLM3V12NJElS32h1BvkNKxx3BrlHBUvHYfYQ7Lis6lIkSZL6yhlnkJM0e1z5tJak2Q9w8nbRlwCznSpMGxdM7Sff8xTy0R0E9amqy5EkSeoLq7VY/E35uBW4qul4DtwG/GonilKbHDkAe54COy6F73256mokSZL6whkDchyFFwIkafahOAqf3Z2S1C7B8bvI5+8k33kpgQFZkiSpJS19SS+OwmcnaVYDHglcFEfhR5M0GwPyOAqPd7RCbcyRA3D+I8lrIwSNhaqrkSRJ6nktfUkvSbMHAhnw1xTrIQM8BXhXh+pSmwRTB6A2DJP3qboUSZKkvtDqKhZvB/4gjsL7AMvTkCnFdtPqZbM3wdJx8p2uZiFJktSKVgPyQ4A/L5/nAHEUzgLbOlGU2ifIGzB1EHZc6n56kiRJLWg1IN8EPLT5QJJmjwSua3tFartgaj+MTsLWXVWXIkmS1PNaDcivAT6WpNmrgJEkzf4HRT/yazpUl9pp6jrIc7DNQpIkaVUtBeQ4Cj8CPAO4DPh3itnkn4mj8O86WJvaJFicg6OHyXdcWnUpkiRJPa+lZd4A4ij8PPD5DtaiDgqm9pNf9CTy4W0Ei0erLkeSJKlntRSQkzQbAX4deC5wbhyF5ydp9sPA/eIofHsnC1SbHDkAFz0JdtwP7vxa1dVIkiT1rFZ7kP8QeBzwYmC0PPZt4CWdKEodcOx2qE/bZiFJkrSKVgPys4Bnx1H4r0ADII7CQ8CeDtWlNgugmEXecQl50OpfuyRJ0uBpNSktnnogSbNzgLvbW446KZg6AENbYGJv1aVIkiT1rFYD8lXAnydpdiFAkmZnAX8CfKhThakDZq6HxoK76kmSJJ1BqwH514G7gBuAncBtwCzwW50pS50QNBZh+kZ31ZMkSTqDllaxiKNwHvjFJM1+CdgN3BpH4b3aLtT7gqn95Dt/FLacDcfvqrocSZKkntPqMm9vAP4V+Gz55Tz1q6kDxePOy+D2L1RbiyRJUg9qdaOQEeC1wEOSNPsacHX55zNxFE51qji1X1CfJp+7nXzHpQQGZEmSpHtptcXiFQBJmk0APwg8FXg/ME4RntVPpg7ABT9APrSFYOl41dVIkiT1lFZbLLYAjwWeCDwJeCD3zCKrzwRH9pNf+IOw/RK4O6u6HEmSpJ7SaovFFHAIeCvwq8BX4yh0IYR+dfQwLMwVbRYGZEmSpJO0GpD/ELgCeDnFLPLVSZpdDfyHQbn/BOTkUwfK5d4CAhd9kyRJOqHVHuRXAyRpNgpcDvwn4J/L0zs7U5o6KZg6QH7uQ2Dbbjh6S9XlSJIk9YxWe5AnKGaQnwhEwEOBb2APcv+aPgh5g3znZQQGZEmSpBNabbH4HvBV4FPA7wKfjqNwumNVqeOCpePkMzfBjkvhln+tuhxJkqSeccaAnKTZc+Mo/CvgvDgKZ7tUk7okmDpAvueHyUe3E9T9fUeSJAmgtsr5twMYjjepI/uLxx2XVluHJElSD1ktIAddqULVOH4XzN9FvuOyqiuRJEnqGav1IA8laRZxhqAcR+G/tLckdUsAxXJv5z2CvDZC0FiouiRJkqTKrRaQtwB/zsoBOQcuaWtF6qrgyH7yXY+ByfvA1P6qy5EkSarcagH5aByFBuDNbPYmWDpe7KpnQJYkSVq1B1mbXJA3YOog7LzU/fQkSZLwS3qiWO6N0e2wdVfVpUiSJFXujAE5jsLJbhWiCk1dVzzudLk3SZIkWyxEsHgUZm9xuTdJkiQMyCoFUwdg227y4fGqS5EkSaqUAVmFI/shCGDH/aquRJIkqVIGZBWO3Q71GdssJEnSwDMgCyiXK5k6ADsuIQ/8ZyFJkgaXSUgnBEf2w9AWmNhbdSmSJEmVMSDrHjM3QGORfIfLvUmSpMFlQNYJQWOhCMmuhyxJkgaYAVknCY4cgLFzyLecXXUpkiRJlTAg62RTB4pHZ5ElSdKAMiDrJEF9Cua+63JvkiRpYBmQdW9T+2FiD/nQlqorkSRJ6joDsu4lmDoAtSHYft+qS5EkSeo6A7LubfYWWJyzzUKSJA0kA7LuJSCHqetgx/3Iiz32JEmSBoYBWacVHDkAI9tg2+6qS5EkSeoqA7JOb/og5A3ynbZZSJKkwWJA1mkFS/MwewjcdlqSJA0YA7JWFBw5AOO7yEcmqy5FkiSpawzIWtnU/uLRNgtJkjRADMha2fydMH83uW0WkiRpgAx360JJmr0ViIHdcRQG5bEnAX8HHChfdiCOwmeW57YD7wMeCEwDz4uj8Npu1SsIgHxqP5z3cPLaMEFjseqSJEmSOq5rARn4K+A1wG2nHP9SHIVPOs3rXwlkcRT+WJJmTwPeClzR0Qp1L8HUAfJdj4HJ+8DUgVVfL0mS1O+6FpDjKPwUQJJmrb7lGcCPl+/9eJJm70zSbFcchbef6U1BUCOoDW2o1o0KarWTHvva0VvIl+qw8zKCmetbesumuv8NcBwKjkPBcSg4DoVBHodBvvdmjkP1YxAEK1+3mzPIK3lYkmbXALPA6+Io/ER5/GLgUNPrDpXHzhiQt4xPMDy6pSOFrtXY+OZY/eHY3M00dt6fsbu/sKZ99TbL/W+U41BwHAqOQ8FxKAzyOAzyvTdzHKobg6HhkRXPVR2Q/wPYG0fhdJJmDwH+Pkmzx8dReD3cK4u1lM2Oz82yUJ9vd51rEtRqjI1PMj83Q95oVFpLOzTu+hb5vks4trSF4Nh3V339Zrv/9XIcCo5DwXEoOA6FQR6HQb73Zo5D9WMwMjoG5+w67blKA3IchdNNz7+WpNm/AY8ArqeYMd4DfKd8ycXAzat9Zp43yBtLHah27fJG79SyIXd/B/Y9jXz7JXD01pbftmnuf4Mch4LjUHAcCo5DYZDHYZDvvZnjUN0Y5PnKobzSxpckzS5M0mx5RYuLgcuBb5SnrwJ+oTz3NOD61fqP1RnB4lE4etjl3iRJ0kDo5jJv7wR+pHx+M/APwFeAFyVptkDRQvGqOAq/Vb7lTcD7kjTbT9Gf/HPdqlX3Fhw5QL77CvLhcYLFuarLkSRJ6phurmLxCyucessKr58Cnt65irQmU/vhoifAjvvBnV+vuhpJkqSOGdy1RbQ2c7dBfcY2C0mStOkZkNWSAIqNQrZfQn6GdQMlSZL6nUlHLQumDsDwGEzsqboUSZKkjjEgq3XT10Nj0TYLSZK0qRmQ1bKgsQAzN8LOy6ouRZIkqWMMyFqT4MgBGDuHfMvZVZciSZLUEQZkrc3U/uJxp20WkiRpczIga02C+hQc+659yJIkadMyIGvtjhyAib3ktdGqK5EkSWo7A7LWLJg6ALUh2HFJ1aVIkiS1nQFZazd7Mywes81CkiRtSgZkrVlADlPXwY5LyasuRpIkqc0MyFqXYGo/jGyDbburLkWSJKmtDMhan6mDkDfId7hpiCRJ2lwMyFqXYGm+6EV2PWRJkrTJGJC1bsHUfhi/gHxksupSTsiHx2lc/EM0Hv5y8rO/v+pyJElSHzIga/2OHCgee2A1i3x4K42LIvIH/xLsuhwIyM95UNVlSZKkPjRcdQHqY/N3wPG7yXdeSnDHNZWUkA9tJb/gcjj/UVAbhbu+QXDrZ8jPeySc+zDyYIggX6qkNkmS1J8MyFq3AMiPHCiD6DBBvti1a+dDY+S7Loddjy6C8d3fJDj8GYL5O4oXTB8k3/VomNwL09d3rS5JktT/DMjakGDqQBFEt+8r1kbusJOC8dAWuOubBIc/fU8wXjZzIzQWybdfQmBAliRJa2BA1sbM3AhLdfIdlxF0MCDnQ1vIdz0Gzn8MDI/BXVkZjL932tcHjQXy2UOw/RLgnztWlyRJ2nwMyNqQIF8in77+xK56QZs/Px/aAuc/pgjHw2Nw97eKYHzsu6vXNn2Q/OInk49MEizMtLkySZK0WRmQtWHB1H7ysx4AW8+DY6ef0V2rvDYKu5aD8Va4+9tlML699Q+ZOggXP7mYRb7zq22pS5IkbX4GZG3ccmvFjss2HJCLYPzoos94eCvc/R2Cw59aWzBeduy7UJ8h33EJgQFZkiS1yICsDQsWZsmP3los93bb59b1GXltFM5/VLFk2/A4HNlfBOO529ZfF5BPH4Sd9ycnICBf92dJkqTBYUBWe0zthwuvIB/eStCot/y2vDZSBONdj4WRcThyoAzGt7alrGD6IPm5D4VtF8LRw235TEmStLkZkNUWwZED5LufANvvB0eyVV+f10bgvEeSX/BYGNkGU9cVwbjdIXb6esjzog/ZgCxJklpgQFZ7zN0K9VnynZeeMSDnteGmYDxRBuNPExy9pSNlBYvHyOduJd9xP4JbP9ORa0iSpM3FgKy2CIB86gCc9UByavc6XwTjR5Bf8ANlMD5IcPjDHQvGJ5k6CBc+jnxojGBpvvPXkyRJfc2ArLYJpg6Qn/cwmLgYmAIgD4bhvIeTX/A4GJ2A6esJrvsbgtmbu1fX9HXkux8P2+8Dd3+ra9eVJEn9yYCs9pm+vtjeecf9yKe/SuO8RxZfvhudhOkbCA5eRTB7qPt1HT0Mi/PFttMGZEmStAoDstomaNTJZ24kP/tBzJ3zIPLhCZi5keDgRwlmb6qurrxBPnMDbL+kI7v9SZKkzcWArLYK7v528YW4ucMEB5NiVrkHBFMHyc96IIydC/N3VF2OJEnqYQZktdcd11A7eoitIw3mZ6d6Z2uO6eXd/i4xIEuSpDO693ID0gYEQHD87p5rYwjq03DsDvLtl1RdiiRJ6nEGZA2O6YMwubdYWUOSJGkFBmQNjGD6INRGYHJP1aVIkqQeZkDW4Ji5qViGzjYLSZJ0BgZkDYygsQCzN8GO+1VdiiRJ6mEGZA2UYOogbD2PfGSy6lIkSVKPMiBrsEwfLB532GYhSZJOz4CswXLse1CfsQ9ZkiStyICsgRJAMYu8/b7kPbdasyRJ6gUGZA2cYOo6GN4K23ZXXYokSepBBmQNnukbIM/J7UOWJEmnYUDWwAmWjsHRw2AfsiRJOg0DsgbT9EHYtpt8aKzqSiRJUo8xIGsgBVPXQVCD7fepuhRJktRjDMgaTEcPw+I8+XZ31ZMkSSczIGsgBeQwfT3suIS86mIkSVJPMSBrYAXTB2F0O4ydW3UpkiSphxiQNbjcdlqSJJ2GAVkDK6hPw7Hvue20JEk6iQFZg236IEzuI68NV12JJEnqEQZkDbRg6iDUhmFib9WlSJKkHmFA1mCbvQkai247LUmSTjAga6AFjUX+X3t3Hh7ZVd55/HtKu1pL7+pWt9Srl3J7wQ42i43tcmy8wWUJDIMDgQEHQhKSJ5NMJvNM1pkkPE8yGTLmCSTBBAdDSDBgU97wgssGL4CNwW13l+12q1trt9RSSyrtW53541y1b7dbai0l3Vuq3+d5+inVvbduveeV7PvWqXPPYaBFy06LiIjICSqQpeCZzEGo2IAtrQk7FBEREYkAFcgi/f50b+pFFhEREVQgi8BoN4xnNN2biIiIACqQRTDgepFrdmDdMxERESlgKpBF8JedLi6HVfVhhyIiIiIhU4EsApA5BDaLrd0VdiQiIiISMhXIIoCZGoWhDt2oJyIiIiqQRU7INMGqemxRRdiRiIiISIhUIIv4TH8TGAM128MORUREREKkAllk2lAHTI5oHLKIiEiBK16ON0mm0l8CPKDeS8RNYPvvAp/1n97mJeK3+duLgS8D7wDGgc94ifgTyxGrFC6DxWYOQc1OLGjCNxERkQK1XD3I3wQuCW5IptJnAb8NXOz/+6y/DeDjwCovEd8NfAj4ajKVVm+3LDmTaYLSaqjYEHYoIiIiEpJlKTq9RPyHXiLeecrm9wN3eYn4gJeIDwDfBt7n7/sV4Hb/tS8CncCblyNWKXBadlpERKTgLcsQixlsBfYHnrcA5wX2tZ6yrwH46ZlOakwMEyvKVYwLYmKxkx4LTT6330wNMzVyDFu7i9ix5xZ3rjzOQy4pD47y4CgPTiHnoZDbHqQ8hJ8DY2Z+3zALZAPYU57PZd+syiqrKC4tW2RouVFeWR12CKHK1/aPjXYwUbuH8up1GDu56PPlax5yTXlwlAdHeXAKOQ+F3PYg5SG8HBQVl8y4L8wCuRVoDDxvANpO2ffyafbNamx4kInx0VzFuCAmFqO8sprR4QFsNhtqLGHI9/Zbk4Y1FzFiajEDTQs+T77nIVeUB0d5cJQHp5DzUMhtD1Iews9BSWk5rKs77b4wC+S7gfuTqfTn/OcfBG7yf/4u8Eng4WQqfQGwCXh2Lie1NovNTuU61gWx2ejEEoZ8bb/NNEN2gmz1dmJ9BxZ/vjzNQ64pD47y4CgPTiHnoZDbHqQ8hJcDa2cuypdrmrfbgRv8n9uA73uJ+K3JVPqLwC/8w77gJeKv+j/fAVyRTKUP4qZ5+4SXiBfmxytZdsZOYgdadKNeHrOmGMpWQ9ka9zjUgRlqDzssERHJE8tSIHuJ+K0zbP888PnTbJ8APrbUcYnMxGSasA3XYUtrMOOZsMOR07BF5X4BvAbK12Cni+GyNVBac/LBkyPw0j9hJpAIc64AACAASURBVIfCCVZERPJKmEMsRKKrv8mNfK/ZBd0/DzuagmQBSqr9oncttjxQAJetgeKKk18wPgBjvZA5hBnrcz+P9bpznfNRbOM7MU13L3s7REQk/6hAFjmd0W4Y68fW7sSoQF4y1sSgtPZE0Wv93uATQyNigTuMbRamC9+hI5jpAnisF8b6MNmJmd/oyJPYLVdje17C9C9+XLmIiKxsKpBFTsMANtMEa+JYE8PMMpBfZmdjJUyVrsOursOW1PpFsOsVprQGgvNQTk24gnf0OPQfPLkIHs8s/Pdw9Bn3u9x2I+xrwUyN5aZxIiKyIqlAFpmByTRhN1wMq+phcE6zDEqALanGnn0LVKxnJLhjYtgVvINtrud37PiJXmAmBuc+6fk8GJuF5gew534MuyWBafn+EryLiIisFCqQRWaSOQw2i63ZhVGBPG+28Z1QWotpf4JSM8ZEfzt2tCe03lsz1IHtfBY2vQV7fB9msPXMLxIRkYJUuOsbipyBmRqFoQ6o1XRv82Vrz4I152KO/IhY5zOUDB7EjHSGPrTBdDwBY33Y7TdjTbhL0ouISHSpQBaZhek/CJWbsafOmCAzsrESbOP1MNIFnT8JO5yTmOwEpvkBKF+H3XxF2OGIiEhEqUAWmU2mCYyBmh1hR5I3bP2VUFaLaX4wkjc3mswh6N4Lm96GrdgYdjgiIhJBKpBFZjN0BCaHsVpVb05sxUaouwyO/TzS47ZN66MwNeqGWizJbYEiIpLPVCCLzMJg3c16NTvdwhUyI4vBbrsJJkcwbY+FHc6szNQIpuVhN0NJ3aVhhyMiIhGjAlnkDEx/E5RWg76On92Gi6FqC6b1UXeDY9T17oe+A9j6q7CltWFHIyIiEaICWeRMMk3uUcMsZmRLqrBbEpA5BMdfCjucOTGAaX4QsNhtN+kbAhEROUEFssgZmIkBGO7Carq3GdmGayFWjGn+fl6N6DUTA5i2lJvKb90FYYcjIiIRoQJZZC4yTVDVgI2VhB1J5NianbB2D+bIU25VvHxz7Gcw2IptuA5bvCrsaEREJAJUIIvMgck0QawYqreFHUqkWFOMbbwBRrrh6DNhh7MgBjCH74dYCbbxurDDERGRCFCBLDIXAy0wNaHp3k5h66+A8jWYlu9j7FTY4SyYGe3BHHkK1u5xqwCKiEhBU4EsMgfGTsFgs5adDrDl66HurdC9FzPQHHY4i3f0aTfWfNsN2Fhp2NGIiEiIVCCLzJHpb3JLFGtKMCxgt90I2TFM2w/CDicnjM1imu+Hkmrs1kTY4YiISIhUIIvM1fR0b7W7wo0jCtZfBNWNmLbHMJPDYUeTM2aoA7qehY1vxlZtDTscEREJiQpkkbka7YGx/oIfh2yLK7Fbr3HjsrtfCDucnDPtj8NYH3bbzVhTFHY4IiISAhXIInNkwPUi12zHmsL9T8du/WWIlWGaH8yrOY/nymQn3AIiFeuxmy8POxwREQlB4V7lRRbA9B+EojJYtSXsUEJhq7fB+guh88eY0e6ww1kyJtME3Xth09uxFRvCDkdERJaZCmSR+Rg4DDZbkMMsrClyN+aN9mI6ngw7nCVn2h6FqVE31GJF9pWLiMhMVCCLzIOZGoPB9sK8UW/T26B8nT/n8WTY0Sw5MzmCaX0EqrbAxjeHHY6IiCwjFcgi82QyTVC5CVtcGXYoy8aWrXXjcY/vc+0vFMf3Qd9r2C1Xa3o/EZECogJZZL76D4IxULMj7EiWhZvz+AbITmJaHw07nGVlANPyIGCx227Ehh2QiIgsCxXIIvM1fBQmhgtnHPLa86FmB6Y9hZkYDDuaZWfGM5i2x92wmrXnhx2OiIgsAxXIIvNksJA5BLU7V3yPoi0qxzZc68ZdH3s+7HDCc+xnMNiGbbyuoIbWiIgUKhXIIgtgMk1QUgUVdWGHsqTs1muguALT/EBBz+NgsJjD90OsDNtwXdjhiIjIElOBLLIQJ5adXrnDLGzVVthwMXT+FDPSFXY4oTOj3ZgjT8G687G1u8MOR0RElpAKZJEFMBODMNy5YschWxPDNt4IY/2Yjh+GHU50HH0aRo5hG2/AxkrDjkZERJaICmSRhco0QVUDNlYSdiS5V/cWqNyIaXkIk50IO5rIMHbKDbUorcFuuTrscEREZImoQBZZINPfBLEiqN4Wdig5ZUtrsZvfAb0vY/oPhB1O5Jihduh6Dja+GVugS46LiKx0KpBFFmqwFabGsStoVb0Tcx6TxbQ8HHY4kWXaH4fxDHb7zVhTFHY4IiKSYyqQRRbI2CkYaIGVNA55zblQuxvT/gRmYiDsaCLLZMcxzQ9CxQbs5reHHY6IiORYcdgBiOQzkzmIXb0bW7oaM94XdjiLYovKsA3vhKGjbgiBzMpkDmJ7XoRNl2OPpzGj3WGHFDk2VgoVG6CyDltRB5UbMCPd2P6fhR2aiMisVCCLLEZ/YLq3PF9Iw9ZfBSVVmNfucouhyBmZ1kexNbuw298FL/9rwebNApTWQmUdVNRhKze6OcLL17x+0OQIjPZg11/EcO0uzKF7YKA1rJBliVmAWDHEyqCoFGKl7rGoDMb7gamQIxSZnQpkkcUYOw5jfdianZg8LpBt5WbY+Gboeg4zfCTscPKGmRyG1oexO98LG3+pIHrebazE9QoHC+HKja7wAbDW/XcxfATT8wIMd8JIF4xn3GIz1Y3Yne8he/ZH4MiTmI4nC/aDRdRYUxQoZk8pbKcL3aJS983ATMcVlb3+szn9KE5rpxjv+Rl28HFUKEtUqUAWWQQD2P4mWLcHa2IYmw07pHmzGOz2m2BiENPxRNjh5J/j+2DdBdgtCeh7FTOeCTuinHC9wjUnCmBbsdH1EJetBeOvqzg56orfnhcxw10w0gkjx2adGtAMtVPR/C2G17wVW3+lm0u86Xt5P0Qpn9iy1dj6K93vtihQAMfmeMNpdhKmxiA7DlPT/0Zdz/DU+IntJjv2+v5s4HHjpYyvvwwqGjCHvocZ7VnaBossgApkkUUymSbsxktg1VYYbAk7nPmruxQqN2EOfgczNRZ2NHnHADQ/gN3zaey2m+DAv+fdstzWFEPF+td7hSvroGIjFFe8ftBoL4x0Ynr2uUJ4uBPG+xfUVpOdINZ8H9m+A9htN2L33AotD7lCO2etklPZ4grs5itgwy+BnYLMoUChO4YJFrKnFsDTxW52fNEdAab5PkrG2hnd+A7seZ+EthR0PavfvUSKCmSRxRo4DNkpbO1OTJ4VyLak2o097nsNel8OO5y8ZcYz0J7CNl4Pa/e4XuUIsgAlVYFeYX94RPm6178Onxp3vcLH05jpQnjkGCY7nvN4TO9+GGrD7vCwOzyo3Q3ND2KmRnP+XoXMmmKouxS76e2ut7j7BUzHD92KoCEpHmwi1v0q2cYbsI3vhNVnw+F7V8w3MJL/VCCLLJKZGsMOtbvp3tofDzucebGN1wMG0/J99d4sVtfPYO35biaQzCE3PjlkFqB8A9TuwtbscD3DJateP2CsD4a73KIwI12uGB7rXda/BTOegVe+AZveiq2/Clu1FQ59DzOQXx82o8iCG/5TfxWU1ULfAUzbY5GZccVMDmFe+xasvwjbcB32vF+H1of1TYJEggpkkRwwmSbslquxxZWRKIzmwtaeBWvOcRfM8f6ww8l7BguH78Oedyu24VrMoWQocdiiMqje7hawqd3lxhGDK377DgR6hbsiM6TGYOHoM5A5jN35HuzZH8EefQbT8URejuuPAlu9Hdvwy1C5CYaOYA7fixloDjusNzAA3S+43/2Od7tvElafA80P5M3/S2VlUoEskgv9TbDlateLfPylsKM5Ixsrcb3Hw13Q+ZOww1kxzGg39ujTUP8ObM8+TObgkr+nBTdkonanK4pXbXU3W02Oup7szA+hvykvFn4xw0dg/1ewDdfB5re7Xu+mezBjx8MOLW/Yio3Yrde4D0djfZime+D4vsj3yJrxfnjl61D3FtfZsOdTbrhN3ythhyYFSgWySC4MH4GJITcOOR8K5PoroawWk75DPXQ5Zo48hV1zLnbbjbDvn5dk7K4tKoeaHa4grtkFpVVux9BR6Pwxpv8gDLXn5e/WZCcwzQ9g+1/DbrsZe96t0PoIdP888kVemGxJNXbLVbDuQpgaxbQ+6qZttPkzjZoB94G9/yB2x3uwuz+A7X4B0/pIZL7tkMKhAlkkBwxgM4dc0eI/jypbUQd1l8Gx5zFD7WGHs+IYOwWH78ee+zHslqswrY8s+pwW3Ffltbv8XuIt7qa6yRHINGH6m9xjiDdd5ZrpexWGOrDb3+WmIazdDc3362v3U9hYqVvufONlbvq9zp9gjjyV1zc6mtFuePmrbsaNzZdjq7e7G/giOEREVi4VyCI5YjJN2HXnu6+7RzrDDue0LMb1bE4OY9pSYYezYpmhdmzXc7DxUuzx/Qv6IGKLK9wHrppdbqXGkule4g448pTfS9yxohfZMBODcODfXR63XuNu4jp8LybTFHZoobMmBusvwdZf4W687HkJ0/74irmfwNgspuOH7puEHR72nI9gO3+KaU9hspNhhycFQAWySK4El52OaIHMhkugagum6Z687mHKB6b9ceyac7Dbb4b9t5/xWwWLgVWboWa6l7je9QhODPu9xAfdY4H1oBqArmdhoNm/ge/DrlBqeyyvhg/kigVYfQ52a8JNz5c5jDnwHyt2BUwz1AH7b3cL8dRd5haWOZRcse2V6FCBLJIjZnIIO9yJrd2FOfpM2OG8gS2pwm65GjJNkZ2ndyUx2XFofhB71odg0+XQ+fQbjrHFlVDj31xXsxNKKt1SzUMdmI4fQeagm4FgBfcSz5UZ6YL9X3WFYd1l7mv3Q/dgRo6FHdqysau2uJkpqhrc3NQH/gP6X4v0kK5cMNlJTOsj2L4DbqaL+MexR57CHHkyL8fZS35QgSySS/0H3V3YsVIM0erdsg3XQqwY06w5j5eL6X8N2/MSdvPl2P5XsExhV20hW73DfdOwqt4dODHkCp3MQX8O5ZFwA48oY/1Cqf+gXyh9AtoeW/GrsNmyNa4HdW0cxgcxh+93i30U2AcnM3AY9v2zm2u8/h3Y2t2uNzki8zrLyqICWSSHTKbJ3TBTvQ0GojNO0tbshLV7MO1PYMZ6ww6noJjWR7C1O8nu/hBDRaVQVA4262aZaH/cfagaPrqiC7xcM5km2Pdl7Pab3Spstbvg8H0r6iZFcN8wuKWhLwE7hWl/wt2El50IO7TQmKkxzOF7sX2vumXKz/sktKeg86f6b0hySgWySC4NtsLUOLZ2Z2QKZBsrxm67AUa63WIMsqzM5LAbarHlGopHDjPV8zL0H9QY8EUyk8Pw2l2w4RLs1mvddHDND7jZL/KcjRXDxsvch+1YCRz7OabjR5jJobBDiwzT9woMtmG33eTmzV59Nhy6d8XcpCjhU4EskkPGZrEDzW48aUTYzVdA2RrMK3cW5E1NUWB6XybWf4DyqlpGBvuxWf0ecsEAHHve3cC3473Y3R/Edj2PaXs0L3tZLcYtDb3lKrcCYu+rmPbHMKM9YYcWSWZyCA7eBesuxDa+E7vn16HlEeh5Qb3JsmgqkEVyzPQ3YVefhS1bDSGPEbTl66HurW684kBLqLGILBUz2uPmza2/Cja9DVuzza3AN3w07NDmzNbsdCvgVdbBYLubaWawNeywIs8A9OyFgcPY7e/G7ngXrDkbDj+gHndZlFjYAYisOP7ywrY63F5kC27O4+wYpu0HocYistSMzRJrT2Fe/QbESrDnfhy76W2uVzbCbMVGsmd9GHv2h6GoFHPwu5iX71BxPE9mPIN59RuYlofdzDB7PoVdfU7YYUkeUw+ySK6N9cJoL7bxnQzaEHuQjSsMzKH7NCuCFAwz0Oxu4Nt2o+uRrd0FTd/DTAyEHdpJbEkNo3XXkK05G6ZGXGF37HkNg1qEE3NmZw65xUV2fwDb8yKm5SEtVS3zpgJZJMcMwOH7oHYnxaVlTI6PYUOaq9OM90PPC6G8t0hYzNQoNN0N/a9hG693Y1ObH8T0ppf0fS3G3VRXVOoeY6VQNP1Y6h5jJdjytbDhErKA6fwJHHlSBVwOuaWq74BNl2Prr8BWb3OznGQOhR2a5BEVyCJLwAy2YIbbKauqJaubskSWnRub+iIMtmJ3vAe76/3Y7hdcT212fIYC9o0/2xmL3dP9XDK34KzFHN9HRf/PGetr1/8floCxWTjyI/chaYeHPfsWbNdzbgXGPLyBU5afCmQREVmxzFgfvPw1bP0VsPkK7NrzIVY0v5NMjUF2AqbG3WN23G2bGDxpm5n+eWrcHRP8eWoisG2MmIFYVe3SNFpOMMNHYP9XsFuvdos41exwi4sMdYQdmkScCmQREVnRDBbT8SO3At+acyE7cUoxO130nmZbdmJpbvMz8yzSZcHcCoyPuqWqt78be+7HsEefwXT+1M2nLXIaKpBFRKQgmKEO9RwWMDPQDPu/7BYW2Xw5tu6t2P4DmO69bqn3Alu6W2anAllEREQKgluq+j7s0Z9g118I68533ypMDLoZL7r3upv8pOCpQBYREZGCYkaPYdp+gG1PQe1u7LoL3fLem96GHWzH9OyF4/s0u0gBU4EsIiIiBcnYLPS9iul7FVtc6XqU113kFllquA7b+wqm5wXIHNYQjAKjAllEREQKnpkchs6fun+Vm7DrL4K1e7Dr9sB4Btu9F9OzFzPWG3aosgxUIIuIiIj4DMDwUUzLUWzro7D6bFcsb367W3hkoAXT/QL0pjWnch6zpghbUjPjfhXIIiIiIqdh7JQrhHvT2JJqWHcBdv2F2B3vhsbrsb1pNwvGYMvSTAcoi2JjpVC2BsrXQNkabJl7pGwNlNZAth8Gf3Ta16pAFhERETkDMzEAR592/1Zt8YdgnOceR3uhZy/07MWMZ8IOtWBYgOJVpxTAq6FsrXssWXXyCyaGYKwXBltgrA8me6H29B9tIlEgJ1Ppw8AwMO5vusVLxPcnU+nfBT7rb7vNS8RvCyM+EREREfCHYAy1Y4basa2PwOpzsOsvwm65CuqvxA4ccr3Kva9g7GTY4eY9i3G9veVr/SJ49eu9wGVr3HLvJw7OwnjGFcF9r7rx4mO97gPMWC8mO37SuU1ZBdSeddr3jUSB7LvJS8QPTz9JptJnAb8NXOxvej6ZSj/oJeIHwghOREREJMhkJ+D4S5jjL2FLa/25lS/E7nwvTI5ij+93s2AMdWgIxiysKcb6vcCUnzoUovbk5eGzk67oHeuDgeaTi+DxfjcsJgeiVCCf6v3AXV4iPgCQTKW/DbwP+JvZXmRMDBMLdwlPE4ud9FhoCr3905QHR3lwlAdHeXAKOQ8rte1mchCOPo09+jRUNWLXXYhdfwF24yUw0g3HX8T0vISZHHLHr9A8nIktroBVDdiqrWRXbWaofA22uOrkgyZHXY/vSCf0vQxjfZixPlcITwzM/GHDMK9l3I2ZOfdRKpDvSabSBrgP+HNgK7A/sL8FOO9MJymrrKK4tGxJApyv8srqsEMIVaG3f5ry4CgPjvLgKA9OIedhZbe9H3p+hO39MZNVu5moPYfslgS2/iqKhlooybxC0XAbZMdXdB4sYEuqmaqoZ6piE1MVm7Gla9zO7CSxsW5iQ23EJvoxExliExli4/2QHTt9EVwWg7LanMVXVFwy476oFMhXeIl4WzKVrgLuBP4A9zkgOCv3nL6dGBseZGJ8dAlCnDsTi1FeWc3o8AA2mw01ljAUevunKQ+O8uAoD47y4BRyHgqu7ZluTMePiZWtxa67gKm15zNVfz3g3/g33AnDnZiRLhjpcr2lebooicVAxQZs1VaoasCu2gql/geAyVEYasMc+wVmsA2GjxIzNtS/hZLSclhXd9p9kSiQvUS8zX8cTKbSXwE+DTwJNAYOawDaznQua7PYbG7GnyyWzUYnljAUevunKQ+O8uAoD47y4BRyHgqu7SPHMG2PQVsKqhuhagtF1VuZLF0NNTux01/3T43DyDEY6cQMd8FIJwx3veEGsyiwpghW1btiuLoRVm2B4nK3czzjxggPtsJgq2v/qa/3h8SG9bdg7cxFeegFcjKVXgUUeYl4JplKFwO/AuwF7gbuT6bSn/MP/SBwU0hhioiIiCyawbrCcaiN8qGXGRnsJ2uBig1QsRFbWQcVG2FNHLvhkhOvs2O94BfMZrjL9TyP9y3rzX+2qByqtmKrGqCqAVZthphfSo50wfH9mMEWGGzN++nuQi+QgTrgu8lUOgYUAc8Af+Ul4sPJVPqLwC/8477gJeKvhhWkiIiIyFIwdgqGj7oV/HrcNgtQUg2VdVBZh63Y6Arn1WdjjV8WT41hg0XzSKfrqc3RCn+2pBqqG14viCs2gjGQnYLhI9D1LGagFQbbMFMjOXnPqAi9QPYS8SbgTTPs+zzw+eWNSERERCRcBmBiAPoHoP+1Ez3FNlbsCtVgb/Pa87Eb/aEN1mLHjrthGf7wDEY6YTwza2+zBShf7w+X8AvistVu59SYK4J70264xFAHJruy53gOvUAWERERkbkx2UkY6jhpbmULbr5gv2C2073Oa+Ovv3ByBDvS9foNgcNdrje4qgFb1QhVW6Gk0h07MQgDrZjOn8Bgm3tNnt44uFAqkEVERETymAEY73f/+l4N9DaXurHN00M0Kutg/ZuwwdXnAEZ73Oumb6gb6y34hU1UIIuIiIisQCY7DkPtbmlsf5sFt0JdxUa3YbDtxOIl8joVyCIiIiIFwoC/VHNv2KFEWmGtbygiIiIicgYqkEVEREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQkQAWyiIiIiEiACmQRERERkQAVyCIiIiIiASqQRUREREQCVCCLiIiIiASoQBYRERERCVCBLCIiIiISoAJZRERERCRABbKIiIiISIAKZBERERGRABXIIiIiIiIBKpBFRERERAJUIIuIiIiIBKhAFhEREREJUIEsIiIiIhKgAllEREREJEAFsoiIiIhIgApkEREREZEAFcgiIiIiIgEqkEVEREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQkQAWyiIiIiEiACmQRERERkQAVyCIiIiIiASqQRUREREQCVCCLiIiIiASoQBYRERERCVCBLCIiIiISoAJZRERERCRABbKIiIiISIAKZBERERGRABXIIiIiIiIBKpBFRERERAJUIIuIiIiIBKhAFhEREREJUIEsIiIiIhKgAllEREREJEAFsoiIiIhIgApkEREREZEAFcgiIiIiIgEqkEVEREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQkQAWyiIiIiEiACmQRERERkQAVyCIiIiIiASqQRUREREQCVCCLiIiIiASoQBYRERERCVCBLCIiIiISoAJZRERERCRABbKIiIiISEBx2AHMJplKnw98DagG0sCveon4QLhRiYiIiMhKFvUe5H8E/thLxM8CXgb+MOR4RERERGSFi2wPcjKVrgN2eIn4A/6mrwB3A38y2+uMiWFiRUsd3qxMLHbSY6Ep9PZPUx4c5cFRHhzlwSnkPBRy24OUh/BzYMzM7xvZAhnYCrQFnrcADWd6UVllFcWlZUsW1HyUV1aHHUKoCr3905QHR3lwlAdHeXAKOQ+F3PYg5SG8HBQVl8y4L8oFsgHsfF80NjzIxPjoEoQzdyYWo7yymtHhAWw2G2osYSj09k9THhzlwVEeHOXBKeQ8FHLbg5SH8HNQUloO6+pOuy/KBXIbJ/cYN3Jyj/JpWZvFZqeWLKj5sNnoxBKGQm//NOXBUR4c5cFRHpxCzkMhtz1IeQgvB9bOXJRHduCLl4gfBQ4nU+mb/E2fBL4bYkgiIiIiUgAiWyD7PgP8VTKVPgCcB/xNyPGIiIiIyAoX5SEWeIn4XuDisOMQERERkcIR9R5kEREREZFlpQJZRERERCRABbKIiIiISIAKZBERERGRABXIIiIiIiIBKpBFRERERAJUIIuIiIiIBKhAFhEREREJUIEsIiIiIhKgAllEREREJEAFsoiIiIhIgApkEREREZEAFcgiIiIiIgEqkEVEREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQkQAWyiIiIiEiACmQRERERkYDisAPIoXKA4pKysOPAmBhFxSWUlJZjbTbscJZdobd/mvLgKA+O8uAoD04h56GQ2x6kPISfg0DNWP6GfcsbypLaDrB+c2PIYQSsqws7gnAVevunKQ+O8uAoD47y4BRyHgq57UHKQxRysB14KrhhJRXIDwMfAQ4Do+GGIiIiIiIRV44rjh8+dYex1i57NCIiIiIiUaWb9EREREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQkYCVN87ZgyVS6AbgDqAeywP3Af/cScZtMpX8X+Kx/6G1eIn6b/xoP+F/A+cCtXiJ+R+B8q4B/AN4GWP91XzzN+xYDXwbeAYwDn/ES8Sf8fX8KfBzYAezwEvHDOW30yXFEsf3fBM7zX98FfNJLxFtz2/I3xBPFPDwObAUG/cP/wEvEH81dq98oanlIptIVwDOBQ9cB3V4ifnHOGn0aUcuDv+99wJ8DRcB+4ONeIj6c04a/MZ6w8jDbOb4EeEC9l4ibXLZ3JrnMQzKV3gV8J3D6zcDTXiL+vtO8b+jXiYi2Pa+vETnMw+Ms4zUiajlYyuuDepCdSdwvOA5cDLwFeH8ylT4L+G1/28XAZ/1tAK/g5l3+t9Oc7++AV71E/Bwgzsl/AEEfB1Z5ifhu4EPAV5Op9PTv5CHgaqB5cU2bkyi2/ze8RPwiLxF/E3Af8NeLbONcRDEP4P6H8ib/35IWx75I5cFLxEcC7X8T8APgW7lo6BlEKg/JVHot8CXgXV4ifj7wLPAHi2/mGYWVh9nO8U3g8tuEIwAACQdJREFUkoU1Z8FylgcvET94yt90mpn/pj9O+NeJKLY9r68ROcwDLO81IlI5WMrrgwpkwEvEj3iJ+HP+z+PAXqABeD9wl5eID3iJ+ADwbeB9/nGveIn4S7hPUCckU+lq4L3A3/rHWS8R75zhrX8FuN0/7kWgE3iz//wnXiLektOGziCi7e8PHFeN6yVYUlHMQxiinIdkKl3pn+/rOWjqrCKYh11Ac6CX7CHchWJJhZWHmc7h7/vhLPlbErnMQ1AylW4E3gTcM8MhoV8nItr2vL5GBC0mD8styjnI9fVBBfIpkqn0OlyCH8J9bRH8yqYF94cwm53AMeD/JVPp55Op9PeSqfT2GY5dyPmXVJTan0ylb0+m0u3Ah4E/nE87FitKeQD+IZlKv5hMpf/BLzCWTcTygB/Lz7wl/ir1VBHJwwFgezKVPs/f/qE5vG9OLXMeIisHeQj6CPAdLxEfmWF/pK4TUWp7nl8jghb7NxDKNSJiOYAcXx9UIAckU+ky3Keev/cS8TRgOPlT6VzGupXgxtl8z0vELwG+B/zrDMcu5PxLJmrt9xLxW71EfAvwT8CfzqkRORCxPHzES8T3AL/kP/8/c3jvnIhYHqZ9FLhzDu+bM1HJg5eI9wG/BtyeTKV/Cozgvu5cFiHkIZJylIegjzD733RkrhNRa3ueXyOCFpOHUK4REcvBtJxeH3STni+ZShcB3wB+7iXif+dvbgUaA4c1AG1nOFUr0O8l4g/5z/8dmB6onvTP1+0l4tcGzv/yPM6/JCLe/n/BfZ3ym/Np00JELQ9eIj79OO7fmPTNhbdu7qKWB//4OuDtwAcX2Kx5i1oe/Nc/5L/uUuDmBTduHkLKQ+TkMA/T53szUAk8EdgWyetExNuej9eI6fMtKg9hXCOilgP/+JxfH1Qgv+6fgAHg9wPb7gbuT6bSn/OffxC4abaTeIl4ZzKV3ptMpS/1EvFngeuAF/193imHfxf4JPBwMpW+ANiEu/EmDJFpv//JtN5LxA/5x30AeGnhTZuXKOWhGFjrJeJd/nH/CTfeazlEJg+B/bcA93qJ+CDLJ1J5SKbSdf65SoE/A76wqNbNXRh5iKKc5CHgo8DXvUT8RM9YhK8TkWn7SrhGBCwmD2FdIyKTg8D+nF8fjLVLPq498pKp9OXAk7j/wKb8zf/iJeK3JVPp38PdmQnwBS8R/3v/NdcDXwHWAGPAMHCel4hn/DGCtwNVQB/waf8riFPft8Q/7grctCW/6SXiKX/fnwO34v4IjgF7vUT8+ly33X+vSLXfH0P1sP/6LNAB/I6XiB/IfetPiidqeViF+0RdihsOlQZ+K/A/wyURtTwE9j8P/JGXiD+c6zafThTzkEyl78TdmFIE3OEl4kt+536IeZjtHLcDNwBbgHbg+14ifmvuW39SPLnOQ7Ef+5VeIv7KLO8b+nUiam1fQdeIxeZh2a8RUctBYH/Orw8qkEVEREREAnSTnoiIiIhIgApkEREREZEAFcgiIiIiIgEqkEVEREREAlQgi4iIiIgEqEAWESkwyVT61mQq/XjYcQQlU+lrk6n04bDjEBEBLRQiIjInyVT6G8CYl4h/IrDtKtwE9ud7ifiR0ILLoWQqvRs4ADzrJeKXBbbX4VauavYS8d2LfI9iYALY4SXihxdzLhGRpaAeZBGRufkd4KZkKn0dQDKVLge+DPx+rotjfynXsNUmU+l44PmvAk1hBSMispzUgywiMgdeIt6TTKU/C/xzMpU+H/hj4KCXiN8BkEylY8Af4ZZDrQUeBT7jJeK9/r5v4VaBKgd+4e9L+6/9OtAP7ALeAdwMPB58/2QqfStuadetQBfwOS8Rv93fdy1ulakvAv8N1zv7R14i/jV//wbgq8CVwH7gB3No8p3ArwH/w3/+a8DXgP8SiGmP/54XAa3+e94faNNx4Cy/3S8Bt/jLA//QP8W+ZCptgY/57SeZSv/h6dogIrKc1IMsIjJHXiJ+F/Az4JvAp4BPB3b/V1xheyWuiB0Cbgvsvw9XLG7CFYt3nnL6W4C/AKqBZ07z9p3++WuAXwe+kEylLwzs3wpUAPXAbwBfSqbSNf6+LwED/nt/CvgEZ3YncEsylY4lU+kLgBK/7QAkU+lSv033AxuA3wP+wx+iEWzTnwBrgRbgf/vbr/Qf93iJeJWXiH9nDm0QEVk26kEWEZmf3wIOAv/TS8RbAts/DdzqJeLtAMlU+s+B15Kp9Me8RDwL3DF9oL/vWDKVXuUl4kP+5ru9RHy6MB479U29RPzewNPHkqn0D3C9zXv9baPAX3qJ+BSQTKbSY8DZyVT6BeC9wLleIj4M7E2m0ncClzELLxFvTqbSh4AEcCOu9zjocqAU+FsvEbfAo8lU+kHgPwN/6R/zbS8Rf85v8zeAv57tPWdqA/DcGV4nIpJTKpBFRObBS8Q7k6l0N7DvlF2NwL3JVDob2GaBjclU+hjwOeADwHpg+pj1uJ5mcEMUZpRMpd+F6409C/ftXyXwbOCQbr+wnDYMVAF1QNEp52/mDAWyb3pIxVXAW4ELAvvqgRa/OA6ed0vg+dHTxDObmdogIrKsNMRCRCQ32oDrvER8deBfuZeIH8WN370JuAY3Pnl6GIIJvN4yg2QqXQF8G1dk13mJ+Grg4VNeP5NOXEHeENjWOMc23YXrfX55umc8oANoSKbSwRgagVOPO50Z2yoiEgUqkEVEcuMfgb9OptKNAMlUemMylfb8fdW4YRM9uJ7fv5rnuctwwxmOAVN+b/Ivz+WFXiI+AdwD/EUyla7wbzD86BxfO4AbYvHp0+x+GpgEfj+ZSpckU+lrcB8CvjWH807hcrFzLnGIiCw3FcgiIrnxf4HvAz9IptIDuALyUn/fV3E9rh24oRlPz+fEXiLeh7sJ7m7czBAfwN0gN1efAdbgepO/4scz1/d+1kvE3zC9m5eIjwHvBt4DdONuSLzFS8RfneOp/wz4t2Qq3ZdMpd8/13hERJaDsVbfdImIiIiITFMPsoiIiIhIgApkEREREZEAFcgiIiIiIgEqkEVEREREAlQgi4iIiIgEqEAWEREREQlQgSwiIiIiEqACWUREREQk4P8DRqrTyPZ6nVkAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<matplotlib.figure.Figure at 0x7f774a15ae48>"
      ]
     },
     "metadata": {
      "needs_background": "dark"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# Plotting time vs. tweets\n",
    "\n",
    "plt.figure(figsize=(10, 10));\n",
    "plt.xlim([datetime.date(2015, 11, 30), datetime.date(2017, 7, 30)]);\n",
    "\n",
    "plt.xlabel('Year and Month')\n",
    "plt.ylabel('Tweets Count')\n",
    "\n",
    "plt.plot(monthly_tweets.timestamp, monthly_tweets.tweet_id);\n",
    "plt.title('We Rate Dogs Tweets over Time');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Over time tweets decreased sharply, with spikes in activity during the early  of 2016(Jan), 2016(Mar), and generally decreasing from there."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Analyze and Visualize**: Visualizing the retweet counts, and favorite counts comparison over time."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 123,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/opt/conda/lib/python3.6/site-packages/matplotlib/font_manager.py:1316: UserWarning: findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans\n",
      "  (prop.get_family(), self.defaultFamily[fontext]))\n",
      "/opt/conda/lib/python3.6/site-packages/matplotlib/figure.py:1999: UserWarning: This figure includes Axes that are not compatible with tight_layout, so results might be incorrect.\n",
      "  warnings.warn(\"This figure includes Axes that are not compatible \"\n"
     ]
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAcwAAAFgCAYAAAA2BUkTAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMS4wLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvpW3flQAAIABJREFUeJzsvXucJGV56P99q3t6Znpmdpe9sHcQBLRQkKsIcisTo/GXVIKIeDdHMCfkaNAYbxzj7SRGPSca8RzNLxEFL2AA0ZQk8RJPuYCAsMqdggUEl73M3ndnZmemb/WeP963d3pmu3tqZrp6Znae7+fTn+5+36r3faqnp5963ve5KK01giAIgiA0x5ltAQRBEARhPiAKUxAEQRASIApTEARBEBIgClMQBEEQEiAKUxAEQRASIApTEARBEBIgClNY0ARhdHEQRo/NthyCIMx9lMRhCrNFEEbPASuBSk3zSb7nbpsdiSAIoy3A23zP/fkMxng78D7gxcAA8Gvgb33PvbslQtafMwuUgON8z30urXnqzPu7wE+AYUADW4HP+J77zYTnfxt42vfcT6Ym5OFz/i7wNd9zXzDJca8APgmci/mOPgX8n6TXNgP57rLyXZ/mPMLUEQtTmG3+0Pfc3ppH25SlVTKtHvNDwP8C/gewAjgW+Cfgj1o91xxis++5vcAi4IPA14MwOmGWZZoRQRidD/wn8DPgeGAZ8B7gdbMplzC7iIUpzBrWwrzS99z/nNDuADcD5wNdwIPAVb7nRvaH7F+A9b7nxvb4y4CP+p57RhBGXcDngcuA2B77Ed9zi1XLAqPA/gL4D+A7WGsjCKObgMuBAsai+LjvuV8IwuiVwN9jLMbngL/wPfeOOtdzFMbCeqvvud9vcM3N5LsSY91ebI8dZzVaa2wvcKL9bB4F3uJ77rNBGN2NsYSqlt47fc/9Xs283cAO4OW+5z5h21YBzwLrgAxwPXCeletR33MvrHcNE67nMGstCKO9wBXVzyAIo5OBa4EzgJ3Af/c993tBGP058CUrbxH4KfDvwOt8z73EnvsccLfvuW+x77cDr/Y999FG49Z8zp+xn3MO+B7wl0An0G+fh63Ix/ueu3PCdd0L/NL33KubXPufAX8FHAXcifmObrc3C0/5nqtqjj1kNdq/89sxKw//BfM3/TPfc38ShNHn7JgloGzPeV+zv4HQPsTCFOYqt2MUwyqMYviWbf8F5sfkoppj3wLcaF9/HDgLOBU4HXgl8NGaY9cBvcAxwJ/XTuh77puBbcDvW2v3C0EYrQcC4BPAUuAjwG1BGC2rI/Mrgaw9vhGTyTcZbwH+2sqyGWPJAlSV20us7N+rPcn33BHgB8Cba5ovB37me+4ejGX4G4xVvMrOMSWCMHKCMLoEo0Cetm19GEX4TeBo4K3APwVh9CLfc7+CuWH4jJX5EmADcGEQRsp+9mBuDgjC6CSgA3is2bj2nP8FHIf5nE8EXoBRqAeAP8RaxfYxUVn2AS8Hbm1yrb8HfBp4A7AW8735zhQ+rvOARzCW6xeB6wB8z/0wcA9GgfaKspxbiMIUZpsfBGG03z5+AOB7bux77vW+5w76njuK2Uc6MwijHt9zNfBd7A9/EEZLgNfYNjA/nJ/0PXeX/SH8NOZuvkrZ9hetEpmMdwCB77k/tnL9CHgIeG2dY5cBO33PrdTpqzKZfJNxq++5G33PLWF+oE+bwrk3Ml5h1t5olIA1wDH2s9kwhXGPCcJoPzCCUTLv9T33EdvnA5t8z/2m77ll33N/hVHcb6g3kO+5mzAW/imYm6J/B3Zbq+0i4A77HWg4rl2huBJ4n++5+3zPHQD+DnhTwutZCihge5Nj3oqx/h6039GPABcFYbQu4RzP+J77dftduQFYF4TR8oTnCrNEy/dwBGGK/HGdJdkM5gfuDcByzBIh9vVBzI98GITRfwMuxSydbbHHrAZ+WzPcbzEWQJUdvucWpyDfscCbreVUpQP4UZ1j9wBHB2HkVJeL6zCZfJPRX/N6GGMtJ+U/gSVBGJ0J7AdeAvyr7fss8CngZ0EYVYB/9D33fyYcd7Nd0u4E/ifwO8D/tn3HAq+0CrVKFrP824g7gIuBl2L2EEcxyvIijAU62birMEuuDwVhVO1TJGcvZpl4NdZSrsMa4JATl++5A0EY7cP8LfckmGPi3xHM33L3FOQU2owoTGEu8g6Mc8WrMAplGbAL+6Pne+7Ddi/rNYy3ksBYBccCT9r3x2D2FatMtmk/sf954Bu+516VQO5fYCxYH2Pt1KOZfAeBfM2xqxLMWWVSZwTfc8tBGN2CsTIPAP/qe+5B2zcAvB94fxBGp2BuSO6biqXpe24hCKMPApuCMPoD33Nvx3x+P/M99/enIPcG4NWAi1kKH8XcGF2EWWql2bj2hqsIvMj33B0J56y9jsEgjO6zc97Z4LBtmL9jdc4+zFL0VqzXdxBGed9zq8qwpX9LYXYQhSnMRfowy3J7MArkb+sccxPmB/5cxi/v3QR8PAijX2MU7F8D357C3DswXpE/t++/BdwbhNFtwP/FWJfnAk9O9Oj1PXdfEEafAr4ahFGM2WMrA78HXOB77kcmke8h4FSrsJ7GKItE+J5bCcJoj5X9uSaH3ohZvh7COJcAEITRHwKPY/YxD2B+9JstLTeSoxCE0Rcxe7W3Y/Zz/zYIo7cAt9jDTgcO+J77JGOfdy0bgM8B26wTzR2YZUsNPFwVudm4QRh9DfiHIIz+AmO1rQVO9j33J3bO5UEY9fmeO9jgUj4I/EcQRpuB633P3RuE0enAB60D0k3ADUEYfRdz8/N3wJ2+524JwkhhLMi3BWF0HXAFNco1AfU+E2EOIHuYwlzkG5g7+G3AY9QsfdVwI8YC/anvuftq2j+FUTyPYH5cf4n5MUvKZ4BP2T3V99mYxkswim0XxtHmAzT43/E993PAhzH7rnswltBVjFmcDeXzPfdxO//PMT/Ch3niTsIngBut7K9vcMzdGCW+AhM/WeVFmBuCIYyl/CXfc+8CCMLoJzZcJilfA04Iwuj3rZPNa4C3Yazrfsz1dtYc+7IgjPYFYXQrHPocRrHWnf37PgfcVV3qTjDuBzCrE/dhbgB+gnH+wffcRzFes8/Zz+roiRfge+6dwO/aOZ6znr9fxeypYveyPw18385/DGZfE7vH+m7gGoyyPgHzd07KP2C2AfYHYfSFKZwnpIyElQiCIAhCAsTCFARBEIQEiMIUBEEQhASIwhQEQRCEBIiXbBMuu/KaHkw6tCdu+dpnDs62PIIgCMLsIQqzOS8GNvZvfopXXPQHMx5MKYeu3sWMDh1A60Zx7XMDkTUdRNZ0EFnTYz7Jm1TWezfcPpVEFoeQJdl2ohRKKVDT+lu1F5E1HUTWdBBZ02M+yZuyrG2xMG0S5esx6aRi4N+AD/ueq4Mwuhp4rz30Wt9zr7XnZIF/Bi7AZO24qpp1JAijtZjA4VWY+Ks3+5671fZdDHwFU6HgTuDdvueWbV/duQRBEARhMtplYZYxCtLFZOM4B3h9EEYnYmrMnW4f77VtAH8C9PieewKmqsI3bFJlMFlAvut77kmYrCWfhUNlob4OXG7P6wHeafuazSUIgiAITWmLhel77nZs5n/f1P17GFiPyYBxSzU9lc30cQmmXuClmLI3+J77SBBGOzBlke7D5Or8Uzv8DViFCZwN9NdUSrgOuNo+v77JXE1RykE5mWlf/6FxHGfc81xGZE0HkTUdRNb0mE/ypi1r251+bB3BP8bk1/xzTP7KKpuBk+3rdZi0YrV964MwegYYqSY19j33YBBGI3bcuufUjNdorqZ05nvJ5jonPzAhXfm+lo2VNiJrOois6SCypsd8kjctWduqMG35n1uBf/A9N7JJimtz86kJr+v1TWxv1pdkvEkpDA9RKo4mPbwhynHoyvcxOjyIjue4t5nImgoiazqIrOkxn+RNW9a2KUxbcuc7wAO+5/69bX4ek7S4ynpgy4S+Jyb07QHy1dI5QRj1AF2+5+4JwijJePX6mqJ1jI6nXLih8Xhxa8dLE5E1HUTWdBBZ02M+yZuWrO1clP7/gUFMFYEq3wcuC8Koz9aTu8y2AdyGKYuDLXe0CrjfVgL4IcYpCIxTzw/t643Aans8wLvsOJPNJQiCIAhNaYvCDMLolRjldxbwQBBGDwZh9Be+527ChIA8aB//27aBCUMZtXuWNwPvqqli/xFM+ZunMMVwPwymJqCd52Z73qgdh0nmEgRBEISmSHmvJlx25TVnYjP9lAojMx5PORm6exczMnRgzi9tiKzpILKmg8iaHvNJ3qSySqYfQRAEQUgRUZiCIAiCkABRmIIgCMKCYSabkFKtRBAEQVgQaOVAR++0zxeFKQiCIBzx6EwnZPNMIWfNYYjCFARBEI5YNMpYlU7HjMcShSkIgiAckWinAzp6aJW7jihMQRAE4YhCAzrbA5nWFc0AUZiCIAjCEYRWGcgtnpk7bAMkrEQQBEGY92hAZ7rQ2V5QR0g9TEEQBEFoJYfCRTK5VOcRhSkIgiDMW1oRLpIUUZiCIAjCvKOV4SJJEYUpCIIgzCtaHS6SFFGYgiAIwrxAA6QQLpIUUZiCIAjCnEerjFmCVZlZk0EUpiAIgjBnMVZlN2S6Z1sUUZiCIAjC3ORQuIiaG6pqbkghCIIgCDW0M1wkKaIwBUEQhDnDbISLJEUUpiAIgjAnmK1wkaSIwhQEQRBmldkOF0mKKExBEARh1tAqa6zKWQwXSUrbFGYQRl8FfGCN77nKtr0feGfNYS8B3uB77r8GYXQ98Cpgr+37gu+537TnXQx8BcgBdwLv9j23bPuuBt5rz7nW99xrbXsW+GfgAqAIXOV77oZ0rlYQBEFoxlwKF0lKOxeKbwLOqG3wPfeLvuee5nvuacAlwBDw45pDPl7tr1GWDvB14HLfc08AerBKNwijE4H3AKfbx3ttG8CfAD32nMuBb9ixBEEQhDailQO5RfNKWUIbLUzfc+8ACMKo0SFvA271PXd0kqHOBvp9z33Evr8OuNo+vx64xffcQTvXrRhF/HngUuCLVpZHgjDaAZwF3DeZ7Eo5KGfmywXKccY9z2VE1nQQWdNBZE2PVsurM52obL4lY00kiay6Z+20x59Le5hvA66c0PaxIIz+EngI+KDvuf3AOuD5mmM2A+vt63XA4xP6Tq7pq3fepAqzM99LNte6zeiufF/LxkobkTUdRNZ0EFnTY6byahQ6m29LEoLOrp7D53c6KS49g7jvuGmPOycUZhBG5wAdwF01zdcA2zFRqx8GbgBeY9/rmuPUhNfT6WtKYXiIUnEyw3dylOPQle9jdHgQHcczHi9NRNZ0EFnTQWRNj1bIq50O4wVbGmmxdONRjkNnVw+F0YOHZNUAi09Cr3qF2TOdAXNCYQJvB77te+4hheZ77jb7Ugdh9GWMAgVjJR5Tc+56YMsU+p6o09cUrWN0XEl2JUnGi1s7XpqIrOkgsqaDyJoe05F3XLiI1ubRBoysMTq3GNZeCL3rTEelAP33AudOa9xZX0QPwqgD44TzrQnta2reXg48bF9vBFYHYXSKff8u4Db7+vvAZUEY9QVh1AdcZtuwx1xhxz4FWAXc39qrEQRBEMCGi+QWz0pspVYOesUZcOIbx5Tl/qdh03dRex9vfnIT2hlW8jXgtfb1FuBHvudeCfw+8JTvuU9NOOWbQRitxNykbMd4ueJ7biUIoyuAm4MwymGWca+3fZuCMPoK8KAd48u+526yr68Hzg/C6BlMWMm7fM+d++shgiAI84jZDhepdC5Hr34tdC01DcVB2HYHanDzjMdWuk0m8nzksiuvORPY2L/5KUqFma+9KydDd+9iRoYOzPmlGJE1HUTWdBBZ02Mq8s5mdRHt5GD1K2DpS2xDDLsfhp33o+LyuGN/+ZNvTiuj+1zZwxQEQRDmMbNVXUQDLDoe1pxv89ACI7tgy89Ro7tbOpcoTEEQBGHazGZ1Ed3RA2suhEUvMA1xiY59j1Du3wgpWO+iMAVBEIRpoZ0cdORpt/+oRsGyl8LKcyBjFfXAb1H9d9HRoaigSWOzURSmIAiCMCVms7qI7loOay+C/NGmoTQM2++CA8+YDD8d6SWEEIUpCIIgJGa2qotolYWVZ8PyU0FZi3bPY9B/LyoutkUGUZiCIAjCpGhAz1K4iO49BtZeYBK2A4zuha0bUMP9bZVDFKYgCILQFI2tLqLb7AGb7YbVr4QltuhUXIFdv4JdD6B0+8PoRWEKgiAIDdGZTnRHH5QGTWxjO+YEOMqF1eeO7ZMObTVWZfFAW2SohyhMQRAE4TCq4SIq217HHt25xDj19NjsqOVR2H437H+yzRGehyMKUxAEQRjHbISLaOXAijPMo1p/eN8m2H43qpJulZOkiMIUBEEQgNkLF9H51caq7DrKNBQHzPLrUKKCUm1DFKYgCIJgw0V6x0I22jFnphNWnQtLXdsQw64HYeevULrc/ORZQBSmIAjCAsZYlXnIdLV3zsUnGA/YjrxpHN5hrMrRPW2TY6qIwhQEQVigaJWxSQjapwp0R58p6tx3jGmoFGHHL2HPY6hUEtq1DlGYgiAICxCd6TJ1K9vke6pRsPxlsPKssUTtB34D2+5ClQ+2RYaZIgpTEARhATEb1UV09wrj1NO9wjSUhmDbnaiB59omQysQhSkIgrBAaHe4iHY6YOXLTWUR5YDWsOdR2PFLVFya/PxqjU0nY7L8lIdRlcLMhEowbyNEYQqCIBzhaLBWZa59c/a9ANZcALle0zCyB7b+HDWyM9n5mU7I1VQecTKQ60MXmZ7S1GWjcOPpe9+KwhQEQTiC0U4Wsu0LF9HZPKw5Hxa/0DTEZdhxP+x+GMUUUutl843bp6QwYyiPzNwyRRSmIAjCEUm7w0U0wNKXwKpzxhIfDD4P2+5AFQemPqDToHxYo/Z6ElVGjbKc+ux1EYUpCIJwhNHucBHdudTmf11lGsojsP0XsP+p6SuruFJfOcaVBOeWoDjY8oomojAFQRCOINoZLqJVBo4+E1acNlZQeu8T0H/3zJdAy8Pj9zBr2xsKVEGVh1CloVQqq4jCFARBOAJod7iI7llrEhB0LjENhf2w9Q7Uwa0tGV9VCugiybxkdWz6qKByi1syfz3aojCDMPoq4ANrfM9Vtu1i4HbgaXvY077nvsH2LQK+A7wYGADe6Xvuo7bvpcA3gT4gAt7qe+6g7Xsj8DcYn+lbfM/9aI0MnwXeAMTAx3zPvTnNaxYEQWgXJlykh7ZYlZkuWH0eHPUi0xBXYPcDsPPXKJ1guXQKqEphEgefCfuUifc3p0e7suzeBJxRp32j77mn2ccbato/BES+554I/DXw1Zq+f8QovBOBJ+yxBGG0GPgC4GEU7UVBGP2O7ftd4ALb7gFfsEpZEARh3qIB3dFrLMuUlaUG9JIXwUlvGlOWB7fD07egdtzfcmU5KXERCvtRLXTqmYy2KEzfc+/wPXfHFE65FPiaPfffgRcGYbQyCKOVwHG2DeA6eyzAa4E7fM/d6ntuGbihpu9S4Abfc8u+524F7rTHC4IgzEu0k4XckrbEVsbZPvSx/x+sf5XZH60UYOsG+M0PUIV9qc8/Dl2G4gFUaajtuWdnew/ztCCMHgCGgL/xPffHtn0d8HzNcc/bNoDaAmmbgfUNztkM/EFNX9DgvElRykG1wNRXjjPueS4jsqaDyJoOC0lWEy7SjWpDuIhWDnr5aYwurynqfOAZVP/dqPIwtPPz1jaeMi4aY1od/puc9vdgNhXmr4FjfM8dCMLoVOA/gjA63/fcZzl8bUHVPDe6pZjYpxL2TUpnvpdsrnUFVbvydTy/5igiazqIrOlwpMuqlYPO5Osqi1ZT6VxOcfnL0Tnj1KPKB8ntvp/MyDbIZep7sKaCNnuZcQGV6wa6Jz0jre/BrClM33MHal4/HITRPZh9zmcxluJ6YJM9ZB3GslSMtwyPYczifJ7x+6TrJ/QdM6HvV0llLQwPUSqOJj28Icpx6Mr3MTo8iI5b7/LcSkTWdBBZ02EhyHoorypNwipagHZy6JUvh6NOBqVAx2QHNhFvv4dSpcj0M7FOg0rRer8mW3pN+3swawozCKPVQL/vuToIo3XAOcDHbPdtwJXAh4Iweh3wbHUPNAij54Iwep3dx7zCHgvwI4wzzxpgJ/AO4JM1430yCKOvA0cDFwJ/llRWrWN0kmDZpOPFrR0vTUTWdBBZ0+FIlHVcuEiKNwMaYNHxJq1dR49pHNmF2nYHOafAaKXYvpuRuGQUpXUkmupOZVrfg3aFlXwN62QThNEWjHJ7ELgqCKMSxnL8qO+5T9hTPg98JwijpzD7m++oGe4q4IYgjL4EPAm8FcD33ANBGH0A2IBxZvqe77k/tX0/DcLo1fb4GPiA77kH0rxmQRCEmdKucBHd0WsSpS96gWmIS2P5Xx0F7Vrq1jbWcgYVRdJEaT23K1zPJpddec2ZwMb+zU9RKozMeDzlZOjuXczI0IE5fxcssqaDyJoOR5qsxqrsSd0DVqNg2SmmBFfGJjwY+K2pVVkatPK2Y7lbm3R6ldEZ3Rok/R7cu+H2aU0z216ygiAIQg3tqi6iu5ab/K/5o01DaRi232W8YFOdeQKVwpT2KWcTUZiCIAhzgHZVF9EqCyvPhuWnjinlPY9B/70mZKNdTNinnA+IwhQEQZhlTHWR3tTDRXTvMbD2AsjZRGeje03+1+Htqc47Xoi5vU/ZDFGYgiAIs0g7qovobDesfiUsOdE0xBXY9SvY9UDLS2A1Jrb7lIX2Lvm2EFGYgiAIs4DGQXfkU60uogGOcmH1uWNFnYe2GquyuD+1eQ+TolKwCdLn/j5lM0RhCoIgtBntdEDnIojTUyC6cwmsuQh615iG8ij03wP7nmifhReXoHywjVZsuojCFARBaBMaBdkek96OQaYekp9gDuXAijPMo5r/df8m2HY3qjLz8LhkQpTtPmW5PfO1CVGYgiAIbeBQuEgmvZ9dnV9tQkW6jjINxQGz/Dr0fPMTW4ZNkN60huX8RRSmIAhCirQjXEQ7ObNPufRk2xDD7odgx0aUboeVp2viKY9cRGEKgiCkRNrhIhpg8QnGA7YjbxqHd8DWDajRPanMeRixTZB+hOxTNkMUpiAIQgqkHS6iO/pg7YXQZwsxVYqw45ew57H2eKPqMpSG22TBzg1EYQqCILQQrRzI9qQWLqJRJkvPyrPH5jjwrMn/Wj6YypzjBYitQ08bswLNEURhCoIgtIi0q4vo7hXGqad7hWkoDcG2u1ADz6Yy32FURmw85cJEFKYgCMIMSbu6iHY6TEWRZS81+V+1hr2PQv997bH04hIU9h9xYSJTRRSmIAjCDNBOh1mCTam6iO47FtZcCLle0zC6xzj1DO9IZb7xk5ehOIrTEaPQ8zxPz8wRhSkIgjAN0g4X0dk8rDkfFr/QNMRl2LkRdj2EImWP1Jp9SuWkmxB+PiEKUxAEYYqkGS6iAZa+BFadM5b/dfB52HYHqjjQ8vkOm708CpWFu0/ZDFGYgiAIUyDNcBHdudQ49fSsMg3lEdj+C9j/VPoKbB4Vcp4tRGEKgiAkIM1wEa0ycPSZsOK0Mat17xPQfw+qMtry+cYxDws5zxaiMAVBECYhzXAR3bPWJCDoXGIaCvtN/teDW1s+1/iJKyZEZAHGU04XUZiCIAgNSDNcRGe60GvOgaNebBsqsOsB2PnrlK09bQs5j8o+5RQRhSkIglCHtMJFNFDuPQ69/jS7Fwoc3G5CRQr7WjrXYcg+5YwQhSkIglBDmuEiOrcI1l5EsXedaagUoP9e2Pt4utae7FO2BFGYgiAIlrTCRbRyYPlpxrHHsT+7B54xae3Kwy2da/zEFRtPWUpvjgVE2xRmEEZfBXxgje+5yra9FfgQZie9BHzE99yf2r7rgVcBe+0QX/A995u272LgK0AOuBN4t++5Zdt3NfBee861vudea9uzwD8DFwBF4CrfczekeMmCIMwj0goX0fmVtqjzMtNQHCS399eU9zyBjtNKQBDbeErZp2wl6eRyqs9NwBkT2p4FPN9zTwXeAdwYhFHtrd3Hfc89zT6qytIBvg5c7nvuCUAP8E7bdyLwHuB0+3ivbQP4E6DHnnM58A07liAICxitHFMqK5unlcpSOzn0mgvg+EuMsrRFndUzN5MdScsDVkNlFAoHUKIsW07bLEzfc+8ACMKotu3umkMex1iMfcD+JkOdDfT7nvuIfX8dcLV9fj1wi++5g3auW4FLgM8DlwJftPM+EoTRDuAs4L7JZFfKaUl6KOU4457nMiJrOois6TBdWbXTieporVWpAfqOs0Wde0zjyG7Utg2o0d3pfa6H9iljaOHYC+F7kJRECjMIo0t8z/1+nfY/9j33By2S5S3Ao77n1irLjwVh9JfAQ8AHfc/tB9YBz9ccsxlYb1+vwyje2r6Ta/rqnTepwuzM95LNdU7hUprTle9r2VhpI7Kmg8iaDkll1Sh0prvlSQjiTJ7SsrOo9FinnrhMx76HyQ48iXI01MjX2dXTmkl1jKqMoHQGOtP7Wx2J34OpktTCvAE4TGFilkZnrDCDMDoD+Azw6prma4DtmFu/D1sZXmPf1/pEqwmvp9PXlMLwEKXizLNtKMehK9/H6PBginsXrUFkTQeRNR2mIqsJF8mDGgVak0VHo2DpS9BHnw0ZG7M5uBm1/U4qpSFqfVOV49DZ1UNh9ODMPletTc7XSmFGsk/Gkfo9mA5NFWYQRsfYl04QRusZr2SOB2b8lwrC6CTgVuBNvuduqrb7nrvNvtRBGH0Zo0DBWInH1AyxHtgyhb4n6vQ1ResYHbfOHVvHrR0vTUTWdBBZ06GZrOPCRTRmT7EVc3YtM049+ZWmoTQM2+8yXrDQMOLRyDodGXRNPGXj8VvNkfI9mAmTWZjPMfb3+O2Evt3AJ2YyeRBG64DbMR6r90zoW1OjNC8HHravNwKrgzA6xe5jvgu4zfZ9H/i3IIz+zr6/DHidfX0bcAXwkyCMTgFWAffPRH5BEOYHrQ4X0ZlO6OiD5afAkpPGkhvseQz6700v3VxcHNunFNrOZAqzA2NVbgAurGnXvudO6S8WhNHXgNfa11uAH2GU8Urgc0F7QARlAAAgAElEQVQYfc4e+se+5z4HfDMIo5X2mO0YL1d8z60EYXQFcHMQRjngLuB627cpCKOvAA/asb5cY7VeD5wfhNEzmLCSd031GgRBmH+0OlxEZzphyQmw4swxp57iAGy7EzW4uSVzHD5p2cZTltMZX0iE0lpSJDXisiuvORPY2L/5KUqFkRmPp5wM3b2LGRk6MOeXNkTWdBBZ06GerFo51qpsXTCAznbDWg8WHWsbKrA3gn1PQlxKlNpuSvtsOm7LPmUz5vv3oB73brh9WndPSb1kjwX+B3Aa0Fvb53vu8dOZWBAEIS10prOlcZUaTJL0VedC1qbMG9kFOzdCaci8b0Ho2bgZK6OmmkgLRxVmRtJbrxsxTjP/HUgxj5MgCML00Sh0R29Lq4vo3BJTfqt3rWmoFGD3wzD43PgDW2V9yT7lnCWpwjwFuND33LltjwvCEYTOdJklRScLcRlKQ+kXE57HaJWF3GITbtGS8RxYcbrZq6xaj/ufgh33Q6ZO/OZMc8LqMpSGUVr2KecqSRXmXcCpwAMpyiIIgkVnusYKCoNRmp1L0IX9ojQnUA0X0dkeKA62RGHq/Gqb//Uo01AcMEWdh0zuk0NLvk7GWJbl4envM+rYOvRIIee5TlKF+RTwY5tqrr+2w/fcT7dcKkFY6HT0Nm4XhXmIQ+Ei9Sy+6Yzn5GD1ubDUJgiz+V/ZsXGc5acqBbM0Wz0v04nuPGrqCrQ8Ypx6WiK9kDZJFeZS4MeYPK+1OYfExVYQ0sBp8K/ZqH0BojPd1gFn5upGAyw+weZ/zZvG4R2mqPPonknk6IRczc+ik4FcH7pIY6UZF6GwX8JE5hmJ/vt8z3172oIIglBDXK6vHOUHtuXhIrqjD9ZeAH02VKRShB33wZ5HUUlsgmy+cftEhRmXoFzA6ehFocXimGckDSs5plGf77kpReoKwgKmNDR+D7O2fQHTynARjYLlp8LKs8eSsA88axIQlA4mH6hROEltu66YEJG42JLKR8LskPQW7TnMqkX1W1p7YyR/fUFoMaoyii7sFy9Zi0aZrDotChfR3SuMU0/3CtNQGoJtd8HAs1NXxXGlvtKMK4C2+5RSm/JIIKnCnLijvhr4OCZlniAIKaAqo+Lgg60u0tFDK+rda6cDVr4clr3U5H/VGvY+Cv33Td9LtTw8fg+zSmGf2aeUhdcjhqR7mBPjL7cEYXQ1EAHfablUgiAseEy4SA9kWlOLVvcdC2suGFNuo3uMU8/wjhmNqyoFdJGxMJNyAUZ345SnsKwrzAtmsmt+PBPS5AmCILSCVlYX0dk8rDkfFr/QNMRl2Pkr2PUgitZk01G23JaJpyy1ZExh7pHU6Sdk/L5lHpPI4DNpCCUIwsJEA7QoXESDiadc9YoxK3Voi7EqiwMzE3TiTLJPuSBIamF+e8L7g8BDvudGLZZHEIQFSivDRXTnUcapp2e1aSiPwPa7Yf+mFiq1aiHnEdmnXCAk3cO8Lm1BBEFYuLQqXESrDHrlWbD8tDHP1X1PwPZ7WuthHJegfFASpC8wki7JZoGPAm8H1gJbgW8Bn/U9VxbsBUGYFiZcpHcsDnIGVLpWotecBZ2LTUNhv8n/enDrjMc+hK7IPuUCJunax+eAVwLvA34LHAt8DFgCfCAd0QRBOJJpVbiIznShV59H4agX2YYK7HoQdv4KpVtVYCk2S6+zWMhZmH2SKsw3Aqf7nrvbvn8sCKP7gQcRhSkIwhRoVbiIBlhyEqw+D7LdpnG4H7ZsQBX2zlDKmlmsB6w49AhJFWYGDvO/jmlVOXNBEBYErQoX0blFxqmnd51pqBTo2PcQ5R0PQNyifUUp5CxMIKnCvBUIgjD6BLAZsyT7ceB7aQkmCMKRw1i4SPcMx3Fgxcvg6LPGktMfeAbVfzcduQwVmLm/qi7bfUpJdC+MJ6nC/CDwCeA6TFq8bcB3gU+lJJcgCEcIrQoX0d0rbf7XZaahOGgSpQ/+FuU49dPTTQnZpxSakzSspABcYx+CIAiJaEW4iHY6YNU5sPSloJQp6rznUdhxX4u8VbXJ2VuWQs5Cc5oqzCCMzgV833M/WqfvM8APfM+9Ly3hBEGYn7QqXEQvOs6kteuwWThHdplMPSO7WiAlsk8pTInJLMxrgH9q0HcXJrTEn2ySIIy+ao9b43uuqmm/GnivfXut77nX2vYs8M/ABUARuMr33A22by1wE7AK6Afe7HvuVtt3MfAVIAfcCbzb99xys7kEQWgtrQgX0dkekyh98XGmIS7Bjvth98Otyaqjy1AaRmnZpxSSM9k3+gzgPxr0/QQ4K+E8N9mxDhGE0YnAe4DT7eO9tg3gT4Ae33NPAC4HvhGEUVXWzwHf9T33JMw+6mfteA7wdeBye14P8M4EcwmC0ADtdKK7lqHzq9Bdy9GZrsbHYhVdRx/TVZYahV72UjjpTWPKcvC3sOlfULsfmrmy1LGpK1ocEGUpTJnJLMzF9ph636wssCjJJL7n3gEQhONSz74euMX33EHbdytwCfB54FLgi/bcR4Iw2oFRzvdhLNU/tWPcgFWYwNlAv++5j9j31wFX2+dmc02KUk5LqqQrxxn3PJcRWdNhPslKR564ow9VGTahGpkcZJZC8cBhaea0yqA6ek2NyWmiO5fCmgshv9I0lIdR2++GgWfM3mKTzyzR51qbIL0F/8/TZV59B5hf8qYt62QK8wng1cAP6/S9GnhyBnOvAx6veb8ZOLmm7/kJfeuDMHoGGPE9dxjA99yDQRiNBGG0rNE5CeaalM58L9lca2ryAXTlZ+rN1z5E1nSYD7LGuaPQQK4rP65ddXfjFPcBNoTD6TLOPdNEqwylJadQXvziQwo3M/A0uX0PGKeeKXxWnV09hzfGRVRlFNXRCbTu/3imzIfvQC3zSd60ZJ1MYX4J+KcgjP4r8EPfczVAEEY+8FXgwzOYWzE+ZEol6JvY3qwvyXiJKAwPUSrOPHGzchy68n2MDg+iWxVcnRIiazrMJ1npyZPrylMcHT5MVjVywISLZHvBKWJcDaaO7lmHXnMB5OxiVWEfatsd6OF+phLcoRyHzq4eCqMHx2SNbTxly9LjtYZ59R1gfsmbtqxNFabvud8Kwmg1Zg8yE4TRTuBozBLtp33PnVj2ayo8DxxT8349sGVC3xMT+vYA+SCM8r7nDgdh1AN0+Z67JwijJOPV65sUrWN03Lp/Oh23drw0EVnTYV7IWikCeSNrrRdpXEar7Fi4yDR+mHSmG9acZ1LbAcQV2PVr89DxtHcqdRyjKyUTIhIbJT5XC2/Ni+9ADfNJ3rRknXSh1/fcz2MqlFyK8Yq9FFhn22fC94HLgjDqC8KoD7jMtgHcBlwBEITRKRiP2PuthftDjFMQGKee6nLxRmC1PR7gXXacyeYSBKEepYOHNemq2022h+nEVmpAH/Vi49RTVZZD2+Dpm1E7N84wvMMWci4eOKQsBaGVJE1csB/4t+lOEoTR14DX2tdbgB/5nntlEEZfwSRwB/iy77mb7OvrgfPtnmUReJfvudX/pI8ANwZh9H5sWImVsRKE0RXAzUEY5TBhL9fbvk1N5hIEoQ6qMopTGjTVP3CMotTxtJWazi2BtRdC71rTUCnA9ntgXzTzhAGVAqqkW1vzUhAmoLSeqwsWs89lV15zJrCxf/NTlAojMx5PORm6exczMnRgzi9tiKzpMB9lHR46gHa6pl1dRCsHVpwOK84c807d/xRs/wWqPMP/q7gE5WEcxbz7XOeDrDC/5E0q670bbp/WPdrMkjsKgnBEo1UGcounvRGo86tM/teupaahOGCKOg893/zESQeeUMh5htVPBCEJojAFQTiManURne01Sc6nuAyrnRysegUse4ltiGH3Q7Bj4wwTBujx8ZSC0EYSK8wgjI7C7EOu8T3374MwWgU4vuduS006QRDazqHqIpnc1M8FWPxCWH0+dNj4zeGdsPXnqNE9MxPsUIJ02UYSZodECjMIowswHqcPAecAfw+8GPhLEuSSFQRhfjCT6iK6ow/WXgB9x5qGShF23Ad7Hp2ZkotLUD4oCdKFWSephfkl4K2+5/4kCKN9tu1e4OXpiCUIQjuZSXURjYLlp8LKs8fOH3jW1KqsE5qSfOAJ+5SCMMskVZjH+Z77E/u6eqtYBGZWu0cQhFlnJtVFdNdyWHcxdK8wDaWDsO1OGHh2BnuMsd2nLMg+pTCnSPof8kQQRr87oe1VwKMtlkcQhDYxk+oi2smiV58HJ1xqlKXWpqjzpu+ipq0sbSHnwn6UKEthDpLUwvwr4F+DMPpXoDsIo/+DqfZxSWqSCYLQUnSmyy67ZjHx1xoVT91jVfcda2pV5myC69G9xqlneMf0hZNCzsI8INFtpe+5vwBOA54BvglsB871PfeXKcomCEKL0Jku6FxiLMNMJ3QuNu+nkIxAZ/Po9a+GF7zOKMu4DP2/hKdvmb6y1GUoDaBKQ6IshTlPUi/Z9/me+w/AZya0/4XvudemIpkgzFNqLTnisilYPNsp2zp60Tgm1KO2ZmU2b1LUNUEDeunJJq6yqmCHtsDWDajiwDQFMvuUapK5BWEukXTj4tMN2j/ZIjkE4Yigasnh2HtRJ2stua7ZlSubh1ydAs+TFFKOOxajj/sjk60n02mccZ7/GTz7w2kqSw2VkUP7lIIwn2hqYQZhdKF9mbGxmLX78McDQ2kJJgjzko7exu2zYGVOGi7SIN+mVhn00Wcyuvy0sbRz+56E7XdP31qWfUphnjPZkux37HMXcGNNu8ZUCrk6DaEEYd7iNPiXatSeItrJ2Ww7DpSHx5x0aikPH35ezxpjUXYuMQ2FA2b59eDWaQpShtLwDFPiCcLsM1kB6fUAQRjd6HvuW9ojkiDMY+JyfeU4DW/U6XKoXmWNQ4+qFNBFzJ6lkzGWZXl43LKoznTCqvNg6YttQ4XsgYjKtnuhMo3kATq2iQekNqVwZJC0HqYoS0FIQmlozDKb2N4GtMqaJAR1qneoSqGug48GU8x59XmQ7TaNB/tR2+8glykzqitTTGynoTwKlRGJpRSOKBoqzCCMHvE99xT7+lkaFPjxPff4lGQThHmHqoyiC/vb7iVrrMpuyHRP7bzcIlhzIfStNw2VggkV2fsYynEgX2cZtxmVgrEqJUG6cATSzMJ8T83rK9MWRBCOFFRltK0OPoeqi6jk+6QaB1a8DI4+a2wJ+cAzsO0uVJ19zckHLEPpIErP7QLDgjATGv6H+Z67ASAIowzwFuDPfc8VP3BBmEPoTJddRk2++Km7Vxqnnu5lpqE4ZBKlDz43DQEqJp5S9imFBcCkt6S+51aCMHodILeOgjBHmE51Ee10wKpzYOlLQSnjlLPnUdhx3zQqgkghZ2HhkTRxwbXAJ4Iwar9vvCC0CZ3pQnctR+dXmec2JBuYzpzayZnUdlNRlouOg5PeBMtOMcpyZBc8cxtq+y+mriwrBZt4QJSlsLBIqgD/FFgHfCAIox3UOACJ049wJHAoQ0+VaoYeqxjmwpz1wkUmnSPbA2vOh8X23zQuwY77YffDU3fMiUs28YAsNgkLk6QKU5x+hCOb2cjQM4U5m4WL1EOjYNlLYOU5kMmZxsHNsPUOVGlwanLqGEqDUshZWPAkjcP8WdqCCMKsMhsZehLMmTRcRGc6x5ISZPtg5Zk1RZ2HYfsv4MDTU1xC1ajKCBQPoBqk0BOEhUTSaiVZ4KPA24G1wFbgW8Bnfc+d0W1nEEYvBL5X07QauBv4EnA78LRtf9r33DfYcxZh0va9GBgA3ul77qO276WYEmR9QAS81ffcQdv3RuBvMHu3t/ie+9GZyC4cQcxGhp5J5kwaLqIznSbtncrA0pNNEoJqkvW9j0P/vVNPdF4ZhVIR1bEIRYMgbEFYYCS9ff4c8ErgfcBvgWOBjwFLgA/MRADfc5/B1NoEIAijnwM327cbfc+9uM5pHwIi33P/0HrwfhW4wPb9I/Ax33P/PQijz9tj/zoIo8XAF4BzgB3AHUEY/Y5Yz3OLWSuN1cYMPdrpRHctQztdxiqcmD6uNDS1cJFsHvIrYcUZY8u8xQHYcT9q/6apCReXoHwQpWPUJJVMBGGhkVRhvhE43ffc3fb9Y0EY3Q88yAwVZi1BGB2DUZ4/wCi2RlwK/BGAVYxfC8Jope07zvfcf7evrwO+D/w18FrgDt9zt9q5brDjiMKcI8yG402VdmXo0Zku4o4+M3ZcRJeBbB5dBlUeRpcOopyOxB6wOtMNq8+FvmNtQwX2PgH7ngCmUBVE29yysk8pCA1JqjAzHP7fFzOVaOlkvA34nu+5I0EYAZwWhNEDmDJif+N77o/tceuA52vOe962AWypad8MrG9wzmbgD5IIpZTTkrtt5TjjnucysyJr56LD6zXadjXa+Ie8VbIqXYLivvGNrbaybMUQ5TgQYyp4lAZMppzyQVRH3oR9TILJ//oiWPkKyNpQlJFdsOsB49SjAK0n/0y0rU9ZKZh/5prrle9rOswnWWF+yZu2rEkV5q1AEITRJzCK5ljg44zfe2wFbwP+3L7+NXCM77kDQRidCvxHEEbn+577LIcralXz3Gi7ZWJfYmXfme8lm0vuyj8ZXVPNzzmLtENW7XSis3kqnctMrcTK6GGZYzLZyfcS58PnWulcBECuK3+oTQM4nTjlnkRjxB19FJe9nLjbLqpUimQHnsQZ3mKcaDNmbKd8EJVp/JmouGAVZRemgl995sPnWkVkTY/5JG9asiZVmB8EPoFZ4lwNbAO+C3yqVYIEYXQWkAc2APiee6icu++5DwdhdA9wBvAsxlJcD1Q3aNZhLEvFmEUJcAxjFufz9vwq6xlvjTakMDxEqTjzpTnlOHTl+xgdHkTHc7uIbrtk1ZkuyHVBaQRdGbROMApKpTFHFV1GjR6YdVlbQiVHLr+I4ugwOo7RKmP3KkdRhebhHlo5sPw09PIzxizBA0+j+u+mEsdUOvLG8UdXTP3JuIGjz6F4yuaf1Xz6XEXW9JhP8qYta9KwkgJwjX2kxduBb/ueqwGCMFoN9Pueq4MwWofZ0/yYPfY2TGzoh6zTz7O+5+6w5z0XhNHr7D7mFfZYgB8BXwjCaA2wE3gH8Mkkgmkdo1voVq/j1o6XJmnLqnPdJs4P0KWDY0WOnU6Teg2gMGDqN042Vh1ZZ82JqBHFQcgvIo5jk7GnGiNZHIIm/+A6v8rkf+1aao8fgK13ooY2jx1U/byq5xw2SNnuU5br9zeaW76vqTCfZIX5JW9asiYNK/kV8G3gu77nbm+1EDZs5U3AhTXNlwJXBWFUwliOH/U99wnb93ngO0EYPYXZ33xHzXlXATcEYfQl4EngrQC+5x4IwugDGAvWweyV/rTV1yJMkZqwChUX0cXBmiLHM1Nws+lE1AhVGUWVDpp9R5WtW8i5Fu3kYNUrTBICMDcXux82HrA6achLbBKkTzW0RBCEcSitJ7/PDMLoMuDNwGuAe4EbgVt9z228TnYEcNmV15wJbOzf/BSlwsikx0+GcjJ09y5mZOjAnL9Ta5esumt5w1hENbr78PY6NJK1FWO3nI48XYtWTrpkpAEWvxBWnw8ddr9zeCds3TAF2bWJpyxPr5CzfF/TYT7JCvNL3qSy3rvh9mk5rCZyJfI99xbfc1+PSVpwI0Z5bg3C6LbmZwrCJDSKc2xF/ONsZO9pgEahO/qM9TzZsR29cOzr4JjfM8qyUoJtd5lk6UmVZVw0GXqmqSwFQTicKf1y+J67Pwij64F+4P3YWEhBmC5J4h+nvQ85G9l76qCdnMkDO4nq0ihYfgqsfPlYHObAc6ZWZdIbiAn7lIIgtI7ECjMIo4swhaRfD2wHbkKSsgstQFVGzRJkVSl29KKr7TPZh2xj9p56jF1TbvJju5bDuotr8r8eNFblwG8SWoiyTykIaZPU6WcLUAT+BXiV77mPpCqVsKBophRnUkWkXdl76qGdLGR76ydimHjcypfbOpWOSSSw9zHo/+VhsagNRpjRPqUgCMlJamFe7nvuL1KVRFi4NFOKM9yHVJXR9Mpz1cFUF8lDkkLQfcfAmgvHQmlG98LWn6OGdySbLC4miqcUBKE1JI3D/AVAEEbdwHJqNmN8z93c6DxBmAyd6bLerJmxEIuqZVW1CufAPmQStMrYmpWTVRfpIl53jvGCBXMtO38Fux9Mpvx02SQmSBxWIghCK0i6JPtiTDmvMzk83llKGgjT4vCl2Azk+tDFQaM07RLqbO5DJiVJdRENcJTLyMpXjCUsGNpiijoXE0Ro6Rgqsk8pCLNF0iXZrwD3AL8PPAWcAHwGuCsluYSFQHUptjw8tiwJZkmzWDy03zhb+5BJ0CgrW/PqIrrzKFh7EbpntWkoj8D2e2D/kwn2HmWfUhDmAklTup8G/JUt76V8z90D/CUtzCUrLEDsUquKiyZlXG2gcY0XrKqMokZ3o4b7zfNcUZZOzli/TZSlVhn0yrPhhMvAKsvM4G9QT9+MSqIsJZ5SEOYMSS3Mgj22COwJwmg9sA+znykI06Nmf9IozeKh9rmiFOuRNFxE96wx+V+rS8qFA6jtd9KpBxithtI0PFn2KQVhrpFUYd4FvAH4Jqak179hlOjP0xFLWBDU2Z/UTs5U3MivmnPLr5AsXERnOmHVubDUtQ0V2PUg7PwVSmloVnpIx+MdnwRBmDMkVZhvrHn9EeBxoA/4RsslEhYME/cntVVCStul2TmQLL1KknARU9T5RFj9SusABAz3w5YNqMJe876hopV9SkGY6zRVmEEYrfI9t79acgvA99wYuD5twYSFwbg4ya7l4NQJq0iQpCBNkoSL6NwiE1PZZ8uxVgrQ/0vY+1iyfcrSQVTigluCIMwGkzn9bKp9I8nWhVSZQ8nSq5gC14saKkuNg15+Gpx4+ZiyPPAb2PQvqMmUpS5DcQBVGhJlKQjzgMl+iSb+v1+ckhyCMKeSFCQJF9HdRxunnm7r+1YcMonSB5+bZPTYWJTlmZeMEwShfUymMOW2V2gfNU5A2smNFZIu7INMV9v2MSerLqKdDlh5Dix7KShl8r/ueQR23IeKS81GNnuUpdgUy05FekEQ0mIyhZkNwshj7Jdj4nt8z/2/aQknLCyqTkC6a5lJZBBXoDho0sW1wfnHWJU9TcNF9KIXwJoLxpIujOw2RZ1HdjYfvLpP6TgoOlsntCAIbWMyhbkT+HrN+z0T3mvg+FYLJSxcjBNQAUb3HN6ZovPPZOEiOtsDa86HxfbrHpdgx0bY/TCKJvlfddkoSj23K9ULgjA5TRWm77kvaJMcgjBGG51/JgsX0ShY9hKzBFvN/zq42eR/LQ02GVjiKQXhSGP23A8FoRFtcv4x4SK9JlFCvf6upbD2YsivNA2lYdj+CzjwdPMU6+VRkyS9pdIKgjDbiMIUZhWd6TossXo7KpQ0qy6iVRaOPhNWvGxMme6NoP+e5pVCKgVjVYo7jyAckYjCFGaNw8t7mcw+FPabRwoVSrRyINvTMFxE964zoSK5RaZhdB9s24A6uL3BNXRCphPiEko5Jg3eHErlJwhC6xCFKcweVU/TOu1qdHfLFU+zcBGd6YbV58FRJ5mGuAK7fg27ft2wqLN2OsDJjinyOZTKTxCE1iMKU5g92uTc0yxcxBR1fhGsOg+y1vHn4DYTKlLY33BEyqPQ4dSPu5zlVH6CIKTDnFCYQRg9BwxjyocBvMX33MeDMLoaeK9tu9b33Gvt8Vngn4EL7DlX+Z67wfatBW4CVgH9wJt9z91q+y7GFMPOAXcC7/Y9V+onzRY1zj3jEhVUCi1LVNAsXETnFpvl1961pqFSMEWd90WNHXZq9yk7F9c/pkbhH7ZHW5HsPoIwX0laQLodvM733NPs4/EgjE4E3gOcbh/vtW0AfwL0+J57AnA58I0gjKrX8jngu77nngR8F/gsgO3/OnC5Pa8HeGebrk2oh3Xi0U7OJCpwrINNpWiWNptUBpkMDehsHjoWHaYstXLQK86AE984piz3PwWbbkI1UpZxyRZyrkmS3shr17Yf2qOtKlAnC7nFaEcSFwjCfGROWJgNeD1wi++5gwBBGN0KXAJ8HrgU+CKA77mPBGG0AzgLuA/wgT+1Y9yAVZjA2UC/77mP2PfXAVfb56Yo5aCc+qEHU0E5zrjnuUw7ZFW6hC4NQs9ao9R0xaSO02XzvnMRarRZqrn6smqVQXU0sCq7V5qqIl1LTUNxELX9TtTQ8+b9xOvVsZEpLpqtz9oQlMoIZOpYmZUR833pPFxZK8dBZzvlO9BiRNb0mE/ypi3rXFKYPwjCSAG3A58E1mHqblbZDJxsX68Dnp/Qtz4Io2eAEd9zhwF8zz0YhNFIEEbLGp2TRLDOfC/ZXOusgq5mBYRnGe10orN5tMoQ6wqdTicqbhJK0QIqHWDqkQOZDmDMgzWTTb5i3pXvM/LXsUy100HpqNMoL7KLFDomO/AkHfseNll4DvubaBNCEhdQuW6gu+6c2tGHPi+lK6jyMCrTCXRSqRcag7F+5/J3YCIiazrMJ1lhfsmblqxzRWGe73vuliCMeoFvAX+FuZ+vDWhTE17X65vY3qwvcVx5YXiIUnHm+2nKcejK9zE6PIiOm6RTmyVMKasuKI2gHIdcV55CJYMeLaSbw7WcrV8+S5dRowcmPV85Dp35xYyWYjQlYMwq1QCLjkevOs96yAIju1DbNhCP7qHurUClYAs5zyyest51Kcehs7Nzzn4Hapnr39daRNb0mE/ypi3rnFCYvudusc9DQRhdB/xX4C7gmJrD1gNb7Ovnbd8TE/r2APkgjPK+5w4HYdQDdPmeuycIo+ebjNcUrWN03LpcoDpu7XitQue6zRIkUE2PquPYhFyUDk5vzDqJCSYqX10YqJ+ooDBgwjsmG1NX0B296NLQuH8S3dFrEqUveoG9phLsfgQGnkHHFbTqGJ+IIC4Zhx6b93Wm6QfqXlcMqjw8Z78D9RBZ02E+yQrzS1/B9E4AACAASURBVN60ZJ31RekgjHqCMFpkX2cx+5MPA98HLgvCqC8Ioz7gMtsGcBtwhT3nFIxH7P2+52rghxinIDBOPT+0rzcCq+3xAO+y4yx4dKYL3bUcnV+Jzi0xTji1TDPMo67TS40zz6F5u49Gdy5Fd60w8ysHGsQy1o6pUejcIsivHOdIo1HoZafCSW8aU5aDm2Hzj2HgGStLBnJ9JvGArkBpEFUabGmSdFUZNQkYqs5Bcdk4DqW8xC0IQjrMBQtzJXCb9WLNAPcAf2stxK8AD9rjvux77ib7+nrgfLtnWQTe5Xtu1bT4CHBjEEbvx4aVAPieWwnC6Arg5iCMchgL9vrUr26OMy7bTlwZUyTl4bGDppvDtUliAg1GeVY9ZM1EZq6ORSY9XXn4cIvUjqlV1qS2U8peh9lj1F3LYd3F0L3CHF86CNvuMjU1JzpuaQ0oo8Smd4WTYqqvjMlvnMfES1YQ5iNKa8l72YjLrrzmTGBj/+anKBVmHj+nnAzdvYsZGTowZ5Y2dNfy8bGQVnkpNF2ZMqOFErpSNJbXFFPU6fyqxp02BlPnlowpMtVhkgeUBgHHLJHaAtJqdC+qMkqcX2Uqi2TGrGClHDq6+yjmVsKyU8Y8U/c8Bv33mmLN3cvHz18pQqWAQqOG+xNdTyuYi9+BRois6TCfZIX5JW9SWe/dcPu07pHngoUpzCZOdnzSgOoqvQLQoItjy5RTTf3WrOrIoWXaGqsv22WUndNh5Clah5+ORaBj4uLgYcoSjGIurjjdnAMwuhe2322TuC8y/zjKMfuzcRnKo2M1LFtcAUUQhCMXUZgLHK0yNUuicMjbpzAA+V7IdqM7esxybbW+Y9LUb82qjhxy2qnUWJhWqWW6xpyPAJyMUer5lVAeGVOYmU5Yfhr0WV+uuAw7f2Uqi+R6xsZ1MoCCShlVqVlqrsoiCIKQAFGYC5RDnqZdS031jsqoWQKt9js54o4+E5yv47G9zeJg4v0+VRlFN6g6Ut3DpDw8prB1bOTI5k3tSTOKtTi77JgFdBGz9Lr8ZYeUpzPSj97ycxjdh+48quZCtQkTiYsm6UDVum1hBRRBEBYGojAXIOMcfXRsE4n3mmXYuGwcZTp66lfpyOZhdPjw9gZMdHqpbdeF/aiqA1AmB+XCmNVJbGIYM51jIS1xxSjDtRdBz2rTVh5B9d9LZ2k7heKgGas2xV5ldEzB64qpgiIIgjANRGEuRGq9V+OKza4TQxxbhxuMp6quY305mZYtY1aVaa3FWg01IX804BhlqUtmufaoE2DZqWMKcd+TsP1ulC6iajN7lEchLo/tUx66VtmvFARh+ojCPMKYLFHAIYXkZIyy1JWxsla1eU9Lw9CZNcrR6Rw7vjSQ7jKmLqNKQ+iDlTFHpM5lcPSZY9VBCgdg2x2oIZt3opo30sZTomPIr0JXZa7uvcp+pSAIM0AU5hHEuKVWOMyrdVy/6oDOPuuVmjPKJi6NKRgnA10rTCacck1ITcMakTOUHYyCzNTsVQKsOheWuvagCux6CHZuHJ9gQGtUZQRVHDDZe7JdJo60qnCzefTwAI7sVwqCMANEYR5JNEkUQGV0rD8uQ/cisz+orFNNcRBGdqPKxgpT2sEpDoIuY2Ii03OS0Spj91DNUqsGWHIirH6lSU4AMNwPWzagCntrz7TOSkVUzlifumupCUOpWpfFQWNdtrgotSAICw/5FTmSaKQUalPTwZgSwma6qQb4dnRDuaZGJRjHm0oRHZeNg07nksTKM1Ee2UyXGTNrw0AyXbDidOhdZw6oFKH/Xtj7+Phk6HHR5n2ND5VeMxZ0jYfsNDx7BUEQGiEK80iiWaIATOFkOhZBNQNPpWAsyGo4h2NzvKoMSinAJiHP5m26POvF6mQgXo4e7scp1l+ijXNLzDy1+4hOdmx5WDmQ7TEJ0nN9gIIlJ8HSk8eu4cBvYNtdqPL/a+/MgyS5qzv/+WVmVVefc2pGGmkkIQ6RILDAYFiDgVwfgIA0t82CBWFBLOya9W7IC4sDvBusxGJ2wUCwHAHYCMxCcJOAEAacFhhsjEBGgFKIQ6CZkUbSXH1MdXVVVv72j/fLruqePqpnpqprNO8T0dFVefzyVXZVf+v93vu911X43ebQqkvPzOWU60WXl8DbYGavoijKSqhg3p9Yo1CA9WviLXo+YCV2GdQko7Q1I5moRQNTP4idvBg7uou8NkHhzUls0xYwOtnJovV8SaxpN1b0GilL2JXVe+xW7PwhTJFjbeFabRkRs5FtsOsxHdvzOtzzPcyRH3UNWnSSd1ajrD9bXdYL7zRm9iqKcvaignk/wrQbFHkDRndKfLK9APOH8NoNyYwFpPSdETFrN5Hyd65gQWtWPMOJC8GvYYMaVHzx+PK6TIN24/lLqv6UU7C2thNqO51QOk/QeDC60zValuUe1qtI9uuWB0ks1VqY/hkc/lHnPKyIent+/WlVm2NsgW3OihAHNUluKhqLBd+1UIGiKCeLCub9iBOmQdtNyRht1xanVaGA+ftgZEqWi5QxzLyOaRzGTl0iYlsu1fBcbdeRbVC/e9kF253C7d0ZuJ4vhQi8QMTO5iKYfg0qDWiAnbxYelVWXSLSwjG49ybpKlKOXTShdbz3Rs6t41CZlGLrubODliQ0bbQOrqIoyjJUMO8nLE6DdtdPrU5i2672a3WbbMsb4lEuzIgHVrjqN2XJuuqULN/wx7F+FQrPFTcYkXO7yeudYgDLiyGU8VR/BAojj20B+NiLnt7V1DmHo7fJTymMRRvqBzH5cUkKWidxqMS0G1JovTIB1a1L12CW9FoHV1EUZRkqmPcTbG2HeHhlAfN2Q6YjR8+VerB4sq/iSVEC24KWeF+mcQjr1yjGz4fRXZKxajwKz4PACV2rIRWB2sjYy4oB2GBsaccTW0ipu+oEUMjzyhTsfqx4rADzh+DIreIBGuMqDc1hFo6euG4UevISF0vxrZcxrCiKskH0v8f9AOvXoHaOE6xAYoH+GARV19LKk+lX3xUoMJ6IVV4H26YY3wO1XeKVBZMwMgHWYm0bTEMcv9Y01O+Ra+R1TFdzZ+vXusQSRCDbsnwlr4s920Mp9A4SOz32E1lbaSpQ2yatvGbvxHR7kF1e65IWZJUJmNu/9tTqOhnDiqIoG0UF836ArW2X6VWbA4F4a9WJTtaoVxWvzh8RL85HYpJjuxZnQalMSuZqMCIC5wVganJ8ftTFMbfLb68i45ZUJrqyU11CEW3Ij0uR9K0P6ZTdm90PMz91gjYq17S5E+tD0p+z9CBXaGwNyOtYLx65VmsxRVGUk0AF8/5AZUrii8YDGq72a0XEr8idULbEswvGxPMzuOfOc/PHZJtXQSroLIiwGk+8Rc+DimvQHIw6nS2wC0fBBC7RpiEi5XkSM90euuUjSFLPgRtFTD0PrOc83jKLtqvIQBlnLL3EsjF0yWKhhdXjkWu1FlMURTkZVDDvD5T9Ir1AvErriqrnDVdY3SXd5PPyuDUrXmRQA39UYpbVKSgWkAbSLnPWy1lcs9l2nT/KlluVcRmnMgWAtaNgrHikOx4JE3vkeNuGe2+G+76PsW3s6DlufeaoeMIlZb3aYKyzfKX0EpcXIii923Xikau1FlMURTkZVDDPYKTzyA7p4uGPukbJDSdivohbpQbWB9t0S03cMg/PF6/Sr7KYlFPGP62VbYU7p2h1hMevynXKKVa/CnhQ3SJrL7c9cGlSz30/kPjnyFYpiF6/R8Q5GHVZs0aEupwq9fzFOOMSL9EfOTHrVeORiqIMEBXMM4jFwgDBmJtqdLHJfAFMVUSrjAeWHqW1Uqug7SNzrtZ5cV29Im0hNWS9EZkaLZrQnMXzDUVroTM1WliZxi3L6XlVEbKgBtseJsk7IMcfuVVK21XH5biFY7KeMqhhmzNOeBvibZZLXcC1EOvEGU27AXP7NR6pKMqmo4I55CwRyWBMxKgyIRmnXoB0EmmKN2l8mV4d2SLbje/adjlxK4sPmMDFBmtynG1Lj0njStU1p6E1gx8EFI3ZjrhWxlisFIQR0Zt6AExdtNhphPpBaeycN2R/Pg+2WFJ8wHjBogguyX4t118um0bVeKSiKMOACuYQs2QdYjAmmawTe2XKNRgRoWu7hBzjKvJ4TgxLUWu72KBx3mXZR7KsKVs0JZu1OSuP201pEu1V8EfHyReOSjGAMvGmMi5ea2VcCqWX2av5vAhl4z7ZX7Q6CT1lkk6JFyyKoKlMuKnf9YsSaDxSUZTNZNMFM0mzvcCHgD1IxsmXgNcCTwa+CPzMHfqzOAqf786ZAj4KPBSYAV4aR+GP3L7LgA8Dk0AGvDiOwlm374XANYib9Mk4Cl83gJd48nRXzxnZLi2vaud0igMYA9XS4ys9ONeyC0RUKbq6krTd8zoUfue45rFOTNIVOcevYlptaSBtC2yzBUFLpk63XtrV1Nm6pSK3S+arta4CUJcw58s6hXTFKFUEFUU5U/A22wAgB14bR2EIPAp4HPBct++mOAovdz/P7zrnNUAWR+GDgTcA7+na917g9W7fbe5YkjTbArwNiBChfXKSZr/dx9d16nSvQ6ztFA/Tc1OvXiCL/nHiid/1uMw+NS4mmUv80RoZp7pFpmVbcy4j1ZOkofw4LByR4uj+6GJPTOtVRLwnL4ILn9oRy8YR2P8PMH2b80ynZSrWJefQmuk0cO5GY4+KopyBbLqHGUfh3cDd7nEzSbNbgL3A4TVOex7w++6c65M0+0CSZrvdvgfEUXi9e/xB4LOIqD4N+EYchQcAkjS7zo3z9fVsNMZbbFJ8KhhX0Lz8vT6FCFt1AlsZ7VTyYS1bSm/Tyi8vkMQaY8Q7NC6rNRiTbQvHIJ/FLBzGNKdLQ6FYwPrbZeq1Mgk7L5ciBADtFhy9FaZ/jilaWCzGdwlDNscc37c4tSox2HG33CWXYuq2deJSkVNg4/d181Bb+4Pa2j/OJHv7beumC2Y3SZrtAJ4N/B6wG7g8SbObgTngmjgKv+IOvQDY13XqPrcNYH/X9jsR8V3pnDuBZ/Zi18jYBEF1ZAOvZG1qY5PrHwQUwShF7Rzy2h7ykW1Sy3VNsYRFwbSFWz/ZdAUJkOUlWIl12jamOkbFzmGrOzGtGczoWFeiUIsCD2/nZRRTD1n0dr36AaqHvutK1IGx5RszB3KMbeONjgDd90v2WW8EO3aua/HVxuR1TLHQ831bj17v6zCgtvYHtbV/nEn29svWoRHMJM1GgE8Bb4+jMEvS7ABwYRyFM0maPRL4cpJmT4yj8A44oTVi1xzkqr2glu9bt71iyUJ9jlbz1GNtxvOojU3SqM9iu5d1rEBR3YKtbAEzBdUdMv1qjRQHWNd09zLbDZg/KB5i20qmLBVozYNtYy005w67snkVTGtOzvRGoLYbs+1SbHWLjNU6jjn4Lez0L2i257EYTLmvm+b0iok71q9BtSbX7twRaC6ccrbrRu7rZqO29ge1tX+cSfb229ahEMwkzXwkiefmOArfChBH4Uy5P47CW5I0+yfg0cAdiKe4F7jdHXIB4lkaOh4lwIV0PM597vySvSz1RlfF2kIyRU8Ttlh7POvXsGPnS7xx7FwIJjoFAnrSeVdxp1kXgQom5Nwil+lZv+oKqs9JrDGQbRZkWcqWB8LkRdiyEs/hH8N938eWay8x0JrDNo6suNRjpW8stloWKliGPyp9LE8D693XYUJt7Q9qa/84k+ztl63DMin9PmAWuLrckKTZeUmaGff4AiQZ6Mdu92eAl7t9VwB3xFF4TxyFB4Ffum0AV7ljAW5AEn32JGkWAFd27RsuKhNQ2+ESdLa6yjm9imUBedMVFvBk7aWpuHqxta6kIV+q7Wx7GNR2y/Fj58N5vym9Ko3BtGYxd3we7v5HKHKMzWU9pWuzBWAahzD1g/J7LU9R220pinKGs+n/rZI0ewIibD8Cbk7SDOCvkSUmr0rSrIUoxeviKLzNnfYW4KNJmv0UiW9e2TXkq4DrkjR7B/AT4MUAcRROJ2l2NXAjoj6fjqPwq/1+fSeFF4jQVac6xQV6nkE2bjmJBT+Alit9h2sCXeQiwEXLFTwwMHaetPQq228VbTh6G9X5O2hN/8x5qCt4hxtpxqztthRFOcPZdMGMo/BbrK4G71rlnGlWSdiJo/AWZHnKSvs+Dnz8JMwcKNYflWo9wQSuZcgGR3DHG08ShWzLJc460ZNApWSuju6C0e2dSj2NI3D0dmgdw5gcqlNYr3bi0hDYmHeo7bYURTnD2XTBPNspS9+VcUBb5FKT1brqPRsWS7ekpDzP851z2HaZs+4YE8DYOc6DRTy9mTukCEEwCv4Y1oD1ZSrX5pwomhvwDrW8naIoZzoqmJvIktJ3IPVixy8Qr8+wtP1Vz5TJwIbFaVTPFTZo57I9cEXTy/EXpuFIBvP3Sb3Y9ryItetRKYlDY9A8tQIEWtlHUZQzGRXMzaSr9J31qlL+ruoyYlfKKF2TUiQNMo1btuny3L62xC4r1c5UapHD3F0ilI3DLPa+BNcP0w3tBa7cXa7eoaIoZy0qmJtJdwwwGOsk+HiVrvhlr6ywNNW4RtBYSQTypdQd1opXOXcXFPMihgtHxJssl44YSxGMYQMfmJcs2MahU3m1iqIoZzQqmJtJd+Zo2dC5ukUKDZTdQU4Fa8RjrNQ6nmO+AMfvkpJ4x++ShKBWHZPXZUq43XQeru3YFdSwRb7haKqiKMr9CRXMzWRJ5qgHo64wepmIc9I4sQsqnZqttpAWXi3XOcQEIqILUhzdNA5JMYLJi+XYyljnvPlD0sNSURTlLEb/C24iSzJHgzEIJmXq1FRPYVQrIul5naSevAH1+1yPyrbrgTnnKvyMLLbfMu0GtnxMG89bwBw/LIk6KpiKopzl6H/BTabMHLXbHyGFBrxTEEtjZIxSKK2FxlGXzSpTq4u9Mb2qCGHtHBHJsXNliti2Mc1jGOPheROYoin+qhYYUBTlLEcFc5NYvv6S8XPF29tQok8XntfxKq2rJVvkEsf0go5AtupA4cSzAbbA2LLZs5TNk24iywRSCwwoinKWo4K5CYhYTspSkuoWqRs7co50CdkoxoDvL/Uq2+IpYgtJ4CkanSII/og0di5yWWeZLy18boom1njihYL8XpjRJSSKopz1qGBuBpXxrnWXU1KowDuJqj6+i1VCl1fp6sZiOyLqGjsDLr5ZkQ4hQU2yZZdhbIFpHMYPckxj2i1NURRFObtRwdwMTNBZd1mZFA/TbGAqtnv6FUQk292i5hpIY8STLNriZS4WHmhJNZ/mNKY1e+L4Gq9UFEU5ARXMzcDmztOryrKSYJSeY5fLvcp2u7NmksJNxVr3uIDWLOTzEoO0uWTMzt+LaR7D5o2Vl7BovFJRFOUEVDA3AVtIFxDGzoPqdnr6M6zrVebQdi27sCKO80fcMpJWRwRtLiK6cAyv3cC2aysXRPdOMvlIURTlfooK5oCx3ghUazItW+mhSMGKST3dXiVAWzzH5jH5abckNtmuu96XbaCQ3/WDeM1O3FILoiuKovSGCuYAsX6N9ui5WLPVtdYaZc1En1WTepaR10Uo6/eIh9mqy7bWLGAxttCC6YqiKKeICuaAsH4NU92C9SqSHTuy2627XIHlXuUJ06+LowJt8RCP3w31g5DXpW/lwjEVR0VRlNOICuagqExgvSp5dQfUdq0+FbtmUs8ycudJHj8A0z+VAgTqSSqKovQFFcwBYYMxqG2nXdnm2mwtm4pdN6lnOc6zzI/D7K/wjh/ol+mKoigKKpiDw69CdStUti+t6NNTUs8K5PMSozx2O2buV/2zW1EURQFUMAfL+CVL+1x6noglrJ3Us4hbZ9k6Dsf3Qf0ezLHbdPpVURRlAKhgDortj4LR7fJ4Ja8yX6e6jnXZr/V7YOanmIUjUOQqloqiKANCBXMAFFsfBlMXyZNel4osYmH+EEz/BBaOdLJgQSvyKIqiDJCzTjCTNLsM+DAwCWTAi+MoXKGg6mlk1+Nci62NJPUAFFC/Gw5+G1O/e+WKPIqiKMpAOOsEE3gv8Po4Cq9P0uwtwGuAN/TrYnZ0N0yc2/tSkSUnF1DdAXufgfXKrFoj220utWCxklDk1cR7LXA1Y+elwLptQdO186pMQnWiU/2nNSP76gehOS21basT0mqsOs68H9DeUhdPtt2U+Gm7IY+NXBoDtJuYvI4tcowXgBdgjU930YTufaXgA9jaDrHLL22aw+T1xS8EZd9QG4zJ63TXWu0LQ3ef0eU2bMaXjBP6nrbnB3r9NW3RL12KsiHOKsFM0mw38IA4Cq93mz4IfJY+CKb1Ktg9T4Ldv+F6USJCueb06zKMD0GAKJMFvHJ0Ea/KhHtaSKk9cDXcK1JFqN2A9gJUtwGmUx/W82W4yih4o5KI1JwR8QsmpM6t59P2KuBPSDeVxlFkKUveEWS/InFVv4X1R8CvYpvOWa9OimnNWSfEk9jmrEwnewF2dJdsD0bAVKDikqG8quiwF1DkDUxQc31DJ93rG1ncb5cVZyj7jMr9ry6xwQCMbD3hnH5i/ZoU1y/xAvC3YL0eviwNwpYB3w9FOdM5qwQTuADY3/X8TmDveicZ42E2UIzcTl2CvfCp0hwaNuZVLr1y12+zdLvp+tOVgrz8PL8mwuoFcozN5TxbuKnhqgirKUS4mrMwsg3ppRmIR2dyKAzUtsPCYfFA84bz9hpQGcO0ZrG1bZh8HirjS22qTnSeV8YxTZfcVBnHVqfEM62MdY4PRjGFO25sF6Y1J2N0v8ZynJEpTKOFcd67qU6y+KWiMr7EBlP2/XTnDISRqRP+NsbzsMHIos0DYwVbyu2r3Y/F+zpoW08CtbV/nEn29tvWs00wy4nEDTEyNkFQXaWMXReFP8rCridSTD5INtg2lcPfo7XlURu95GnCeZWeL4/x3T9N6wQUCAI8UwWqeLRoV0YwRQvr+XKjvEC01Q/wi6qU+PMBLCaXW+n5OUUwiddDG00vkLhtUZ2kCCbwcksRjJ5wjBe0Kapb8ZpQlKK7wjh+0LlodWxq8XFReqTl8X7nuO5z+km726PrwgK1sckV9w3aFlj/fgza1lNBbe0fZ5K9/bL1bBPM/Sz1KC9kqce5Igv1OVrN1aetLGB3XI694Cni1QHM3ol355cpFo7CZY9Y6hGegOtdaTw6066nA+s6lRgnkO6xdQ2mbQF5TtFugs0pmg3wFrBYsJ5MB7v4I0WbvNWENuJhUsh0ry0wrXlsgHiYZfNpz71e6xKbjC/LYJoudpn72KrB5PPYStDxfoo2pjmLac5hW2Bac9h2sLTBdjmOzTGNaYznURubpFmfwbr7Z3N/iQ1modPezDSmT+M9Xh2bByf83Y3nMTIyQqM+i93I9HwfbHE7Vr0f5X0dtK0ng9raP84ke/tt61klmHEUHkzS7JdJml3h4phXAZ9Z7zxrC2yxckZrUdsBFz8TJi6QDfk87Ps65vAP5FyAw7fCzss4UQwttBoyJeoFIm6+747rno5dJYZZikx3DLNzVZkyLXInYmUMs+limFbWdubzUl6vjGEuHJUYps2hbcQm23YxzAKaZSPqTgzT2gIaR7F+VYoqQCfm6ASS6qTss/Imtq3j0G5hgxGJg5YxzHxe9tkCW78Xghq2OdcZDzrjLMy4LwTuVTdnsWUMs3V8qQ3uusvP6Sd2YWZp3BCgwCVIrf6eGpgt0NP9GLStp4La2j/OJHv7ZetZJZiOVwHXJWn2DuAnwItPZhBrfJfU87hOMs2RWzF3fkWyOLvwDtxAAbD9Ukl0sYhQ5sekuXNel5hgMCYeqjfCotcpI3SybLuyZOlXlmwuWbK+H9BunmSW7MIxlmTJNmeWZMmWMcXFLFnaJ2TJlg2uTWVCvgKskyVr2g35kFQmxLxlNgw6K9S0G2LDsixZs1qXmkHbolmyirIhzjrBjKPwFuCUgorF1CVw4dOgtk02LEzDr76EN3PHqud4B27A3P1VRie2MD83PfTf1Iznb9hWs8rjlZ4vbl+naHzZ4HqNrqErHr/WNQfJ8gbdkjw2eMFcyRZFUTbGWSeYp0IRjMHe34MdD5cNtoB7b8IcSDHFYBJJFEVRlM1BBbMHLFDsfBSc/5ROrO34QfEq6wc30zRFURRlQKhg9sJFV8DUQ+Vxuwl3/yMc/Ge8ja9QURRFUc5QVDB7Yfxc+T39C/jVDXjNo5trj6IoijJwVDB7IZ+HO7+JOXzLUCSSKIqiKINHBbMXfv45vPqRzbZCURRF2USGvzjgEGA2scOEoiiKMhyoYCqKoihKD6hgKoqiKEoPqGAqiqIoSg+oYCqKoihKD6hgKoqiKEoPqGAqiqIoSg+oYCqKoihKD6hgKoqiKEoPqGAqiqIoSg+oYCqKoihKD6hgKoqiKEoPqGAqiqIoSg9ot5K1qQEElZHTMpgxHn5QoVKtYW1xWsbsF2prf1Bb+4Pa2j/OJHt7tfUFL//zXwdu++QH3nR8I+OrYK7NxQA7z7vw9I66Y/fpHa+fqK39QW3tD2pr/ziT7F3f1puAxwDf28iwKphr83fAS4BfAo3NNUVRFEU5jdy20ROMtbYfhiiKoijK/QpN+lEURVGUHlDBVBRFUZQeUMFUFEVRlB5QwVQURVGUHlDBVBRFUZQe0GUlAyJJs8uADwOTQAa8OI7C2T5f8z1ADOyJo9B0bf9T4NXu6TvjKHyn2x4A7wd+C2gCr4qj8Ea373zgY8C5wEHgRXEUHnD7ngK8G6gC3wReEUdhvkFb9wIfAvYABfAl4LVxFNohtfdGYCtggNuBP46jcCZJsxcC1yBfRj8ZR+Hrus55M/B89/peH0fhJ9z2KeCjwEOBGeClcRT+yO07be+bJM3ejdwj454P4339JVB31wX4d3EU3jqkto4D/xf4N4B1dr17SG19IPDprk3nAd+Oo/A5Q2rvM4A3Ife1DlwVR2G22Z8v9TAHx3uRP+KD8tsHSQAACU5JREFUkfU/rxnANT8GPLp7Q5JmDwb+BHiU+3m12wbwMmA8jsIHAX8A/E2SZuV75C+Bj8dR+BDg48Cb3Xge8NfAH7jzxoGXnoStOSKQobPrccBzh9jeOI7CX4uj8JHAncB/TdJsC/A2IEI+nE9O0uy33XV/B/nH81C3/23ugwzyXsjce+MNwHu6rnNa3jdJmv0W8lrL58N6XwGuiKPwcvdz6xDb+lbg9jgKLwVC4NPDamschT/vuqeXI+LwiWG1FxHqP3S2/i3wxmH4fKlgDoAkzXYDD4ij8Hq36YPA8/p93TgKvxFH4T3LNj8X+WY2675JfQp4jtv3POAD7twfAvcg1TBAPNUPucfXAb/vHj8WOOiOh5N8bXEU3h1H4U3ucRO4Bdg7xPZOw+I/iHHkm/DTgG/EUXjAfaO+rmvs5wHXxVGYu2/i33THL38d1wMPTNJs9+l63yRpNoL8Q/uzrs1DeV9XYehsTdJsEng28L/dta37rA2drSvYfiFwOfC5Iba3AErB2wLczRB8vlQwB8MFwP6u53ciYrBZtuxbxZYV9yVptgOYj6OwDhBH4XFg3m1fa7yTwo37bOArw2xvkmbXI/9ELgXecjK2rrJvn9t2ut43fwF8MI7C+7q2De19BT6XpNkPkjS7NkmzypDaeglwH/COJM2+n6TZ55M0u3hIbV3OS4BPx1E4P8T2vgT4YpJm+xBP940nY+sq+07686WCORgM4oEMA8ttMT3sW8n+1fYZTgHnDX0KeHschdkw2xtH4RVIDOdfgP9wkrauZMNar2NDJGn2SGR6+29WuMYw3tcnumm4JwAPQ7ziYbS1AlwGfD6OwkcDn0c8nmG0dTkvAT7Sw/ibYq+Lnb4W+LdxFO4F/g/izW7650sFczDsZ+k3lwtZ+s1mkOxz1y/Z22XLavsOA2NJmo3BYrJDLY7Cw+uMtyGSNPOR4PzNcRS+ddjtBYijsI38o7zyJG0t93W/P8pvvqfjfVMKzx0uoaZMrBnK+xpH4X73ew6ZIvvNIbV1HzAdR+FX3POPA78+pLYukqTZY4Ax4MZ1bNpMey8HtndN634UiUtu+udLBXMAxFF4EPhlkmZXuE1XAZ/ZJHM+C7wgSbNJF4d5gduGs+kqgCTNHoF4T9+No9ACX0CmRkCC+F9wj28CznPHA/wxJ//a3gfMAlcPs71Jmm1z8Y+S5wE/Am5AEhH2uG/JV3aN/RngpUmaBUma7QGe5I4v973cjX0FcEcchfecjvdNHIXviaNwTxyFF8dReLHbdjHDeV/Hy0QNd/+eh8Syh85WF6+8JUmzx7pNvwv8cBhtXcYfAX/rrsmQ2rsfeHAimfMgschbGYLPlwrm4HgVcG2SZj9FvvG/pd8XTNLsA0ma7XeP9ydp9oE4Cm9HUr7/1f28y20DmfZoJGn2c+ATyFKJsqncfwNe5Ox/ETJlUnpYVyEZdz9Hurp86CRsfYIb5zHAzUma/WuSZv9pSO3dBnwpSbNbkjT7ITI196cuEehq5Nv7T4BvxVH4VXfdrwLfcttvBK4uE4eQ98LDnK3XAq/sulZf3jdDel93A99I0uwW4AdAG7h2SG0F+Tu9w9l7tbv2sNpafgn5QzrTsUP5PnBCdjVwQ5JmP0Cm5a8ahs+XditRFEVRlB5QD1NRFEVRekAFU1EURVF6QAVTURRFUXpABVNRFEVRekAFU1EURVF6QAVTURRFUXpA23spSp9wFXV2I+sJ55CF1H/iqtisd+5TkAXmF/TTxhWu+0vg5XEUfm2NY6aQ2p7PBbYj7Z2+CFwTR+GhPtr2MmfbE/t1DUVZC/UwFaW/PCuOwgmk3NejgNetc/xQk6RZFfg68HCkAssUUr7uMPAbm2iaovQd9TAVZQDEUXgwSbOvIMIJLBaavxZ4ITCClCT7L8gX2S8DI0mald7oQ4CfA3vjKDyUpNnrgf+B1NycSdLsGmAijsL/vNq4rjsFSZo9E2nCezFScuyVcRTekqTZR5B6ml9I0qwNvDGOwuWVT650x0RdnvK9wP/sel0h0nPwcuAA8Lo4ChO37x8Qz/kD7vnL6PIakzSzSPWVq4GdwP9D+jU+FOldWHH3JI+jcGuPt19RTgvqYSrKAEjS7ALg6cDPujb/JSKElwMPAs4H/sK1S3o6cFcchRPu5y7gu8CT3blPAn6FFFcvn9+41rjOjkcjDX7/PbADqd+bJGk2EkfhHyEtjp7lrrlSmbDfAW5YbVo5kXZcXwD+DtgFvBr4aJJml/Z0o4RnIn0Vfw0R/ae6zjWvBP7J2aZiqQwcFUxF6S+fS9JsFumYcC/w3wGSNDPAKxDP74hr3vsmpNbnatyIFJ8OgEcC73TPa4jAfLOHcV8BvC+Owu/EUdiOo/A6YAF4fI+vZwfSzHc1Hg9MAG+Oo7AZR+HfI/HNF/U4Pu7cY3EU3gmkdHnlirKZ6JSsovSXZ8dR+LUkzZ6MTC/uBI4B5yBtlr6XpFl5rAH8Nca6EXgb8GikM8ZXkRZYjwd+5qZqd60z7kVIV4dXd41bBfb0+HoOA+etsX8PsK+rSDeIJ3x+j+ODJBGV1BEBVpRNRwVTUQZAHIU3Jmn2IaQZ7rOBQ8A88PA4Cg+scMpKXRG+DVwKPAe4MY7CW5M0uxB4Bp3p2PXG3Yd0ALl2FVPX68bwNeCaJM3G3dTxcu4C9iZp5nWJ5oVA2QHjOCLoJeeuc72N2KYofUWnZBVlcLwd+N0kzS53YvJ+4K+cV0iSZucnafZUd+w9wI4kzbaUJ8dRWAe+B/xHOgL5bSQeeaM7Zr1x3w+8MkmzxyVpZlwPyme4XojldS9Z4zV8BBHdTydp9tAkzbwkzXYkafbnrq/gdxBRfE2SZhW3POZZSINlkBZSz03SbCxJswfh+i32yD3ABS5TV1EGjgqmogyIOArvAz4MvMFtei2SBPTPSZrNIN7bpe7Y24CPAb9I0uyYa4oLIowV4F+6nk8C3+i61Frj3oTEMd8FHHXHvazr3P8FvN5d889WeA0LSOLPbciU8IyzZSfwnTgKm0CMJC0dQnotXuleD8BfAU1E/K4DPtrDrSv5e+DHwMEkzfq23lNRVkP7YSqKoihKD6iHqSiKoig9oIKpKIqiKD2ggqkoiqIoPaCCqSiKoig9oIKpKIqiKD2ggqkoiqIoPaCCqSiKoig9oIKpKIqiKD3w/wGnn7AJW/eHkQAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<matplotlib.figure.Figure at 0x7f774a081ba8>"
      ]
     },
     "metadata": {
      "needs_background": "dark"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# Scatterplot of retweets vs favorite count\n",
    "\n",
    "sns.lmplot(x=\"retweet_count\", \n",
    "           y=\"favorite_count\", \n",
    "           data=dfs,\n",
    "           size = 5,\n",
    "           aspect=1.3,\n",
    "           scatter_kws={'alpha':1/5});\n",
    "\n",
    "plt.title('Favorite Count vs. Retweet Count');\n",
    "plt.xlabel('Retweet Count');\n",
    "plt.ylabel('Favorite Count');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Favorite counts are correlated with retweet counts - this is a positive correlation."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Analyze and Visualize**: Visualizing the most popular dog breed"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 124,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "pupper     244\n",
       "doggo       84\n",
       "puppo       32\n",
       "floofer      4\n",
       "Name: dog_type, dtype: int64"
      ]
     },
     "execution_count": 124,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs['dog_type'].value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The most popular dog breed is a golden retriever, with a labrador retriever coming in as the second most popular breed."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 125,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/opt/conda/lib/python3.6/site-packages/matplotlib/font_manager.py:1316: UserWarning: findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans\n",
      "  (prop.get_family(), self.defaultFamily[fontext]))\n",
      "/opt/conda/lib/python3.6/site-packages/matplotlib/figure.py:1999: UserWarning: This figure includes Axes that are not compatible with tight_layout, so results might be incorrect.\n",
      "  warnings.warn(\"This figure includes Axes that are not compatible \"\n"
     ]
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAagAAAEYCAYAAAAJeGK1AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMS4wLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvpW3flQAAIABJREFUeJzt3XmcFMX9//HXAiIIgleMGsUrqBU1QjziHSqJxrO84hWj4hGjJlG8f2pEJB45jBJPVFSIeCTeJWrUrxagQSMogkeZeKF4Kx6ggijw++NTI80yO9u7O7Mzy3yej8c+mJ3u6f7MAFNT3T3vT8OCBQtQSimlak2naheglFJKFaMDlFJKqZqkA5RSSqmapAOUUkqpmqQDlFJKqZqkA5RSSqmapAOUUqpm+BAH+BDfrHYdtcKHONaHeGS166iWLtUuQCm1kA9xGrAasJqz5sPM/c8AmwBrO2umtWH7C4C+zpqXm1g+ELgWmA3MB14DznTWjMm5/ZHAm86a37e2xma2vwD4AlgAfAk8A1ztrPlHO+xvDvAQcIyz5pNK7E8tSmdQStWe14ADC7/4EDcGurfj/h931vQElgOuAG7xIS7XjvtvziapvvWBkcBlPsSz22F/6wDLA0OKreRDbPAh6ntqGekMSqnacwNwCHBp+v1Q4O/AuYUVfIi90/KdkU/41wDnO2vm+xC/i8yC+gFfAQ87a/b3IY5PD5+SZgZHlJp5pG3dAAwH+gIT075vBbZDBs0pyIzieR/iUcBBwAIf4iAgOGt29yGulmrdHvgMuNhZc0naVnfgSmAP4B3g+rwvUpph3uBDnA2M9iFe5qyZkfY3HNgW+Aj4k7Pmmsz+hgMOeDft7zhnzeo59jfTh+iBPQv3+RDHAv8GBgA/ADb2IX4AXATsgsxCrwfOdtbMS485HDgFWAV4EjjKWfN6WrZDeq1WRf4dNOR9PZZEOtorVXueAHr5EI0PsTOwPzC60TqXAr2RT/U/Qga0w9KyPwAPIp/2V0/r4qzZPi3fxFnTs7nDYmnfhyGD3OuZRfcjA9bKwNPAjWn7V6fbf07b3z3NKO5BBrLvAD8BBvkQf5a2dTawbvr5GTIYt9TdyIftLdLvNwNvIodKfw6c70P8SWZ/ayGv2w7AL/PuxIe4PDI4PdFo0cHAUcCyyOs0Cvga+C7QH9gRODJtY0/gDGBv4FvAo6lefIgrAbcDvwdWAl4Btslb35JIByilalNhFrUD8CLwVmFBZtA63VkzK52T+ivyRgkyoKyJnMea46x5rIX73tKH+AlyzuVC4JfOmvcLC50116X9fokc7tokzeiK2Rz4lrNmqLNmrrPmVWS2d0Bavh9wnrPmI2fNdOCSFtaKs+Yr4ENgBR/iGsjM6bT03J8BRrDwtdkPmWl+7Kx5M+f+nk6vx4dAH+CqRstHOmued9Z8DayAzGoHOWs+T6/bxZnn+2vgAmdNTOufD/TzIa6JzLhecNbclp7TMGSWV7f0EJ9StekGYDywNnJ4L2sloCuLzmpeR2YoAKcis6gnfYgfA3911lzXgn0/4azZ1ofYEzlUuB3wT/hmcDwP2BeZAczP1PRpkW2tCayW3uALOiMzB5BZzvRGz6NFfIhLpVo+Stv7yFkzq9E2N2tif9nbTfmBs+bltJ9jgUd9iN9z1swpso01gaWAd3yIhfs6ZdZZE/ibD/Gvmcc0IH93i9TmrFngQ8xT3xJLByilapCz5nUf4mvIp+ojGi3+kIWzpBfSfX1IsyxnzbvArwB8iNsC/+dDHN/UlXslavjMh3gs8IoP8TpnzWTgF8j5op8C05DDjB+z8FxJ4/YI04HXnDV9m9jNO8AawPOZ59FSeyCH1J4ElkFmUstmBqlvXpu0v9VZ+LqtkXcnzpqvfIgjkJnNRsCktCj7nKcjVxeulGZIjU1HZow3Nl7gQ+ybrceH2NCS+pZEOkApVbuOAJZ31nzuQ/zm/6qzZp4P8Z/AeT7EQ5DDSicih+PwIe6LXIn3JjJ4LADmpYe/h5x/yTVYpYsORgCDgb2Q8yxfAjOQweD8Rg8pbL/gSWCmD/E05HDaXMAA3Z01E5GZ2ek+xP8APYDf5akrPc/C4bSLkAshZgAzfIgTgAt8iCcD6yGvY+FcU2F/E1P9v23B/grn5GYDrxZbx1nzjg/xQeCvPsSzkItC1gZWd9aMQy7Q+IMP8Zl0YUlvYEdnza3AvcgViXsDHvgNciFF3dJzUErVKGfNK86aSU0s/h3wOfJG+RhwE1A4jLc58B8f4mfIG93xzprX0rIhwCgf4ic+xP1yljIM2MWH+H3kcOPryIzkBRa/YOBa4Htp+3elK9d2R64ofA2Z/Y1AZl4A56TtvYZc2HFDjnqmpOf2MnLxwQnOmsGZ5QciF0K8DdyJXEH3UFo2FLmA4jXg/4DbkAE3z/4+Ri7i2MtZ81GJ9Q9BDsG+kB5zG3JVHs6aO4E/IZfuzwSeQwbZwlWJ+wJ/RD4A9EWuEKxbDdqwUClVr3yIxwAHOGt+VO1a1OL0EJ9Sqm74EFdFDkE+jsxQTgIuq2pRqkk6QCml6klX5DLxtYFPgFuQtAxVg/QQn1JKqZqkMyjVoex75BnfQr6ZPw35IqlSqmPrhlzU8uCtI87/ILtAByjV0ezI4rE/SqmO75ek2KwCHaBURzMNYMa70/lqbm1MoBoaOrH0Mj358ovPWLBgfvMPaAdaUz5aUz6VrKnLUkuz0qp9IP3fXmRZWfekVOXNAfj6q7l89eXsatcCQEOnznTpujRfzZ3Dgvnzmn9AO9Ca8tGa8mmnmhb7xKlf1FVKKVWTdAalOqS1DzyHzsu1LQXmhYtzd1pQSlWBzqBawIc41Ifocqx3X2qaVmqdfqk3TFX5EI/2IR5d5m0OTK2/lVKq1XQG1QKN8r5KrbdLjtX6IV0472pJDT7EzoXOnOXgrBlerm2VU7mfp1Kq49EBCkjtrwcjoY3LIW2rT0JaOE9DwiG/TLOCsc6aken258D3kT4uo501Z6ftTQMGOGum+RAvAbYClkaCIQ9H+sUMBXr6EJ9BLq2cCAxx1gxI2xiYtjEw3d4LabGwgQ9xU6R76PlIIvPnwNHOmkILgcbPbwASUPkakiQ9HWlC94kPcQiAs2ZIur0OEmy5JvCos+aItI2hwD5IKvZ7zpod0v2/RZqwzQfeygzOK/oQ70bSpF8C9k2v4fJItExf5PsPVzhrhvsQ1wLGAbciDefOBB5u+m+t7Ro6dS7Tdjot8mct0Jry0ZryqWRNDQ1Nb1MHqIVec9ZsnSL6HwK2cta85EO8F3ljvqnIY9YFLNAd6ZlztbPmrUbrnJPaAJAGqyOcNZf7EAeTBqC0bEAz9W0LbJTi/FdAWivs5Kz52Ie4DZIivVWJx28K/MpZM9WHeBEyIJ9YZL1NgK2RtghP+xC3Rjq6HgBs4KyZnwYZfIg7IH2HtkuD3YqZ7WyGDN4fIi3CC6/hxcDNzpoxPsTuwOM+xHFIC4M+wEPOmpObeS3KonvPpprAtk63ZZYt6/bKQWvKR2vKpxI1de6yVJPLdIBa6Nb052TgJWfNS+n3p1m0v03Wnakp2Swf4n+RfK/GA9QeKTG5G9Ji4L5W1veIs+addHsrZAYSMl07V2jm8VOdNVPT7VHA9U2sd5+z5nOANLtbB/gPMAu4PvW6GZPW/RnS7voTkN5Bme2MddZ8kLYzkYWv4a5Ii+tz0++9gQ2Q1/1DZ80DzTyPspn9WbEGsC3X0KkT3ZZZljlfzGLB/Br53orWlIvWlE8la1qqazdY8dtFl+kAlThrCj1h5rFof5h5NP06lVwvHbb6A7BZmvn8DpnJFPM1i1600q3R8s8ztzsBE5w1uzWxrWLyhi4u9pxSg7wtge2RQek8H2J/FnZRzbWddLsT8NPU++Yb6bXKPseKK/f3ORbMn18z31sp0Jry0ZryqURNpb74qwNUZfVCDl196ENcBjiYha2mZ6blBa8B6/sQeyJv7nsjDdeKmQBc7UPs76yZ7EPsBPRz1jxdopZNfIgbO2ueTXWEvE/Ch7gs0MNZ87APMSAN6Pogs8GLfIjXFw7xNZpFFXMvcApwWtr2esC7eWspeO3ms5k7p13HM6VUO6uds3BLoHRI7WFkUBqDtL8ueARYzYf4jA/xlHTuajjwDPLG/1Lj7WW2OwPpvHm5D3EK8DxyEUUpTwInpfUNMrPLqzdwtw9xKjA1PZepzpqHgWuAx9J2R+bY1vHAKj7EZ32IzyGtD7q2oBalVJ3Qdht1IF2A8c0Vgh3ZvkeesSkw6b3pr9TMDKqhU2e69+zN7M8+rZlDMlpTPlpTPpWsaamlu7NKn74Am9064vynsst0BqWUUqom6TmoJUi6dH3vRne/4axxyJeClVKqw9ABagnirBmKfAFYKaU6PD3Ep5RSqibpDEp1SN/bZBOWWqo8/3wnPja+LNtRSpWXzqCUUkrVJJ1BVUgKoJ2SuesMZ01rY47y7nMISPBrJdbPPG6Bs6ah8e1G6wxgCbm0XSlVHTpAVZCzpl+p5T7ELinLT1VRW1PN6y19urW0pnzqrSZNM68haWZ1GuCAa3yIntLtJ+5EEtPnAfs5a15O0UZDgT2QNhdPOmt+lXaxjg/xIRq1yyhh/bR+H+CeQpJ4tmVIoe5iM6VGz+0gYAjwDhL+ml02lIWXwN9WmLX5EPshwbVzgX8Bg5vbT7mVK9W8XtKn20pryqdeatI08ypJaeAFWzhr5qbbnzhrtk3rjKR0+4k7nDWDfIinA6cCRwFHAJsDmztr5jRqc7FYuwxnzYQSZW6O9L36EhjrQ3TOGt+K57oK8FckDPdt4LbMsj2QkNnN0l3jfYhPOWvuQZLV/5+z5v6U+t7u2ppqXm/p062lNeVTbzVpmnmVlDjEd2Pmdqn2E+86awqXmD0J/CTd/hkw3FkzJ+0nG9BarF1GqQHKO2tmpvVvQb7Q2+IBCvghkrD+VtrW34ET0rIBwE2Fen2INwHWhzgeWMNZc39a70bgilbsu03KFd1SL+nTbaU15VMvNWmaeY0pDCBJqfYTTbWsaE2bi6Y0Fcb4TfsPH2Lj1h/FNJTYVqn9ahikUqooHaCqrzXtJ+4DjvYh3l84xJejzUVTnA/xHGAOsB/wx3T/q8jhv1eRbrrNeQK40oe4KlL/QZllATjDh3hV+v0A4Fxnzac+xLd8iD9LjQoPzFv0C1Om1ExYrFKqMmrnMpH61Zr2E9cjh/yeSofxzm/D/h9Fugk/CzyRzgsBnAUM8SH+G1ituY04a94FTkYu7BgPvJxZ5oEHgUnp51/OmkJX3oHAn3yI/wFWRvpkKaWUtttQ1eVD7Oms+Szd/gVwmLNmh6bW13Yb+WhN+WhN+VSr3YYe4lPV9tP0heHOwKfAkdUtRylVK3SAqgPpu1Z9Gt19R0o/rypnzV3AXdWuQylVe3SAqgOpH5RSSnUoepGEUkqpmqQzKNUhzfvZCczrsVJZt9n5pkFl3Z5Sqm3abYBKX/Y8H8mPm418ifQKYCtgrLNmZHvV0lYpnqjNNfsQxwKrA58hOXzjgN9UK0DWh7gnMM1Z80yJdZ5pLgRXKaXKoT1nUMOR7/ds5KyZ7UNcFti/Hfdfq4501oz1IXZGvpO0EzCmmce0So709D2BscBiA5QPsbOzZl57DE7VSnlvbap5vaVPt5bWlE+91VT1NHMf4trAPsDqzprZAM6aWcAIH+K2wOY+xCOQL4SOdtacnR63ETAMWA5J7T7RWfNYeszfkEuTuwBHOGv+40O8BJmRLQ08BxyekhYGIikJ85BsuqeQgWGuD3F5iqeJd0cy6VZI99/grCmkLGSf2yHAr5B08tnAhUgu3dLAXc6awTlfpm7p5+O03Z2Bs9N2vgKOddZM8iH+Huha2K4PcVfgGGfNbk289kOQZPNvA72AbX2IeyPBs12B95Hw2fXSc/ixD3EQkqO3JrBX2v8GPsRNgTmZXlDbIbPiZYDPgaOBN5Av6a7jrPkirTcBOMlZ83gKhD0c+Xt7Cfl7mJlmkxOQv7/ngd/mfN3Kpq2p5vWSPt1WWlM+9VJTLaSZbwS84qxpKjZ6XaSlRHfgFR/i1cB7wLXAvs6aN3yI6wAPpz9PBQY5ax71IXZB3tgBzilE/qTB6gjg8rRsa2BDFiZtHw1cAlxM8TTx/6V9f+JD7Ar824d4j7Pm+ULRPsQTgB2BnZw1n6fB4EVnzW/TjGhMJsanKSN8iJ8hA+cDzpp/p/ufALZ21sz3If4ASZjYHBiRajzHWTMPSTe/usT2Qd70t0gDQV/gN0grjTmpRcaFzpoD0+Xo3xy6TAP7tsis9510X+G5r4AMxjs5az72IW4DXOus2cqHGJDB7pb04WTlNDgNALYHtnLWfO1DPBM4Pf2ADIg/dtZU5dvjrU01r7f06dbSmvKpt5pqJc281JvOnemQziwf4n+BtZFZ04aAL7wpIp/4V0bO1VzkQ/wHcK+zprDCHukTejckFTzbwfaRRknbhyIDVFNp4i8BZ/kQf4oEoa4ObIx8ugc4DngTcM6ar9J9uwI9fIiFL5v2BNYHSg1QhUN83YDbfYiDnDXDgFWA0T7ENZHg1g1AIoV8iBOBXX2Ik5D2GveW2D5In6dChNCOyOv6RHpdO1M6XuiRwuDUyFbIrDNk/n5WSH+OBo4BbgF+ycL09l2BbYBJ6TFdgamZbd5UrcEJ2p5qXi/p022lNeVTLzXVQpr5c8B3fYi9Mm+UWcUSuDshJ+yLnfP4qw9xDPJme3saXCYAfwA2c9a840P8HdKbqKCpN76m0sQPBQywZTpndjsLZ2oATyNvtn2AVzLbOsRZM6mJfTUpzWbGALshhzWvAEY6a0al83XZ1+1K4CRkcBqVZlKlNE5Pv81Zk/cQWlN5Qp2Q9hrFDi0+AFztQ1wJ+AUymyo85hJnzYUt3JdSqg61ywDlrHnNh3gncLkP8aj0ht8TCQptyotANx/iLs6a+wB8iJul8zB9nTX/Bf6b3rw3RwbB2cCHPsRlgIOBFzLb+3GjpO2Q7m8qTbw38EGqdW1gB+CezPYeA25ADuPt6qx5NW3rBB/ioekQ1neAeSlItSQvXXJ/hMzcSPt/I93+dXZdZ03wIV4G9EdmMi3xEHCaD/FCZ820dPhyA2fNVGQQ7JVzOxOQQai/s2Zyqr+fs+bp9NzvAP4CzHTWFJ7TvcClPsTrnTUzfIg9kH5QL7bwOdD5gYvpXCNZfEqpymjPy0SOBmYAz/sQn0WuWJvT1MrpsNkewIk+xCk+xIgcNgIY5EN83oc4GRk4hqU32IeRQWkMkvadNQ6ZlTyX9ls4b9NUmvgNwNopLfyi9PjGNY4DjgXuS+fGzkcuOpicnuNtyKHKUkakfTwPLIW0cgf4fVr2GMXTzW8EJjtr3iiyrElpMPgNMvOcgjRG3DazzaN9iM/4EG0z25kB7It86JiS6t8rs8oNyAeQ0ZnHPILMDh/xIU4FHkcONyql1GLqIs08newf4KwZWOVSysaHeB9wWWF2WS80zTwfrSkfrSkfTTNXufgQ10XO8UwG7m9mdaWU6rDqYoBKl02PrMa+fYgrI836GjujNbMfZ80rwHeL7KdmE8uVUqo16mKAqiZnzftAxdMXNLFcKbWkqZ0sDaWUUipDZ1CqQ7p+gxdYt/NHZd3mlk/1L+v2lFJtozMohQ9xLR/itHba14AUeaSUUiXpAKXa24D0o5RSJekhviWAD3EBMBjYGfli8EFIFNIPgGnAXs6aL32IhyFfdl4KmAUclq4KzG6ryRR3L32wZiNXEa6HhMXOQdLcl0dinh5v/L2zFKILcDPyhe1C76m/OGtubCrhvGwvUE7abqOytKZ86q2mqrfbUO3iNWfN1j7Ek5E4o62cNS/5EO9FWp3cBHhnzfUAqeXGH5E0iKy5lE5xXxsZCL+FJL6f76zZwoe4H3AOko9YlLPmvz7E4en2kFTHAEonnLcbbbfRPrSmfOqlplpot6Eq79b052TgpUz+3dNIKw+A9VOw7srI4d1iH10aKJ3iXkief8eH+AlwR7r/KSTqqaWaSzhvN9puo7K0pnzqraZaabehKshZU0iEn0fxdHiQrL2BzppxPsSNWTT8tuAgSqe4N952dr+F/XzNooNfN5rOXWwu4bzdaLuN9qE15VMvNZVqt1E7BzlVe8gmpB9VYp3GKe4t9SrSY6tLSq3fNbOscWL6vcBhPsQVAXyIPXyIG7Rin0qpJYzOoOrLKUiDwTeAsU2scwPw85Sw/hpFUtyb46yZkJoqPof0ypqcWXwXcEdKor8wXSRRSDhvSOucg7RbadJhL36vZsJilVKVURdp5mrJoWnm+WhN+WhN+VQrzVwP8SmllKpJOkAppZSqSTpAKaWUqkk6QCmllKpJOkAppZSqSXqZueqQduiyGz279ijrNv8x97qybk8p1TY6g+ogfIhjO3KbivS9qubWGZIJllVK1TmdQdUJH2JnZ03VvlThrKl42/u20jTzytKa8qm3mjTNvMp8iBb4E7A0klO3J7Ab8FtgAZLWMMhZ81WK/LkM2Cgtu9RZc02j7Z0JbA4cAHRP6/dFMu+ucNYM9yGulbZ7K7AtcCbwcJHa9kKSG+Yj4bDOWfN6auHxB2AnpD3Hoc6aqT7ENYDRwLJIsOtfnDWj0rbGAk8C2wGrABc4a65OyxY4axrS7e2QYNllgM+Bo501L7TqxS0jTTNvH1pTPvVSk6aZV5EPcSUkpHUHZ83zPsRlgE2AU4FNgUIi+NHApcAlwP+cNQemx6+Y2VyDD/FipPfSPs6aeal9xc3OmjGpl9PjPsRxSN+mPsBDzpqTS5R4DrCrs2Z6enw2WuS91ErDASOR/lIfAjs7a77wIfYCnk7tOAr911cAtkZS0J/1IV6X0s8Lr8cKSB+pnZw1H/sQtwGuBbbK/aJWiKaZV5bWlE+91aRp5tW1JTCx0E8pvbFvAdxVeFNPjQAPQQaonyEzK9L6MzLbugh4Amk0WBhIdkWCWc9Nv/cGNkDy7z501jzQTH1jgVEptXyMs+b1zLIbUg3ehzgqDUgLgGHpOcxHZkrrpboAbk21TfchzkrL38xscytkthdSew2QQa3qNM28fWhN+dRLTaXSzHWAqryG5lcBFp25NGUC8ga/IjKTAbnQ5afOmg+zK6ZDfM2G1TlrjvMh9kdSy8f6EA911owv8ZATkYGpf2ow+BSl23E0/jfWCZjgrNmtudqUUvVNB6jKmwAM9yFumDnENxZJ9B4KfIrMnh5J698PDALOBjnEl5lF3QqMBx7wIe6Y7r8XSSk/La2/HvBu3uJ8iOs5ayYDk32I3wX6p32A9Ia60oe4G/Cqs2amD7E38HYanH6IHK5s6etxtQ+xv7Nmsg+xE9DPWfN0Szby0NdjmDu3NsJilVKVoQNUhTlrZvgQDwJGphbqc4G9kPMwj6bVxgNXpdvHA1f4EJ9DZiCXAiMy2/uHD7Ez8KAPcce0/jAf4rPIbO0DFm/jXsqf08D0NdIr6tTMsl4+xP8gF0Mcmu67DLjdh7gLEIGJLdhX4fXYF7jch9gjbfs2pPOvUkp9Q9ttqKKyV93VEm23kY/WlI/WlE+12m3kmkH5EH/cxKIvgTcbnVhXSiml2izvIb5rgdXS7RnISXqA94FVfIhTgQOcNS+VuT5VJj5Ej1x2nnWHs2ZosfVrcfaklKovLRmgegODnTWz0/dlzkFO8A8D/gpcgVwJpmqQs8ZVuwallGqJvLkVxwOnO2tmA6Q/z0TSDz4HTgI2q0yJSiml6lHeGdTnSLTO45n7NgW+SLdr4+vOqm5cuMxM+nT9rF32tefMtkUgKaVaJ+8ANRi5rNkD05EYm92B36XlP0EuFVZllPLwpiAz3dnAsc6ap0o/qjak73hNctb4ateilOqYcg1Qzpq/+xAnAfsgF0v8D9iqEPDprBkDjKlYlXWskALuQ/wt8n2o/u21bx9iA9DgrGnxDNlZM7gCJSml6kjuL+o6a17wIb4IfBsJEdXDeu3rYSQRHR/i6shgtRryxd/jnTX/ziSY341EIi0ADgfOQ/L5nnDWHJq2sQZwObAq8u9gqLPmztRz6gLkS7ibAAemwXErJI39OeBwZ80cH+JA5EPLfCSP7yVgX2fNlylfcKyzZqQP8TDgGCQVfRaSJfhKpt47AYt8MXk/Z83LZX/12qC5Nhz11h6htbSmfOqtpja320ghoZcB+6fHfO1DvAU4zlnTugho1VL7AIWmf5cCDzprLvIhbo7EJn03LeuDBLYe50O8DBmsfoikpj/tQ9zaWTMBuB442VnzTEpMn5jaZYCcX/yVs+Y5AB/iOYW4JR/iJcARyOAGcnHM95FswPtTnTc1qt07a65Pj98b+CML0y76IJe7D/Ihno4kWRzVpleqzPK24aiX9ghtpTXlUy81laPdxiVAD2Bj4HVgTeRT+SUsjMBRFZA60TYA04CB6e4BhdvOmok+xBnA+sBM4F1nTSFCaTKwYiFI1oc4BVgn/bkdEr9U2FUXYN10e0phcEr28CEeg4TC9gbuyywb66z5IG1/IrBOkaexfkpbXxk5n5b9yPRuJpz2SeR8Zk1prg1HvbVHaC2tKZ96q6kc7TZ2AtZx1hSu2vtfOmzzShnqUyU00Ym2WD5V4b7GaeLF0sU7IYcG+2fadgCQDvF9nvl9LaRx4WbOmnd8iL9DZlgFzaWXg/TDGuisGedD3Bi4p4WPr6q80S710h6hrbSmfOqlpnK025gDfAuZPRWsxKJvLqr9jAUOQ0JiN0X6Kf0POZ/ULGfNLB/iZOS80BUAPsQfIDOuxnohVxB+mJLYDwZa2v22NxJEC2U6fHfyF72YO6d1LdqVUh1D3gFqBPCQD/EiFh7iOwG4ulKFqZKOA0b4EA9HZkIHpgsTWrKNg4BLfYhHA52RAWTXxiulNu8PI4PSdOQwXM8W1nsK0qDwDWRwVUqpZuVKM0+XGx8G/AK5cuxt4GbgusaHiJSqJE0zz0drykdryqem08zTIHRd+lFKKaUqrskBKh0+apazRgctpZRSZVdqBnVw5nYDsA3SSnw6sAawCvAYOqtSSilVAU0OUM4aW7jtQ7wUuMtZMyxz3/Es/N6MUkopVVZ5r+L7JXJZedZlSHrAcWWtSCmLn4C7AAAgAElEQVSllCL/APUu4JDMtILdkY66qgb5EA8GTk6/dgVGOGv+WsWSmpWy/QY4awY2t+7MA3sxp/cyFa+pseWGfdDu+1SqXuUdoI4DbvMhnoKcg+oDfI+FeWqqhvgQvwOcD/Rz1szwIXZFD8cqpTqYvJeZP+RDXAfYBfke1L3AvYUAUVVzVkZSPmYBOGvmAjElmI8GlkVmVX9x1owCSEGxTyHtPNYFTkQ+hOyF/DvZx1nzUhrs/oZk+QFc4qy52of4S2BHZ80haXsbAv9w1mzkQ1weOSTcF8nzu8JZMzytdwqSLvEmkoZe04olm9db+nRraU351FtNbU4zB0iD0Q3lKEhV3BTgv8AbPsQAPIjk4X0I7Oys+SIl1D/tQ7zHWfNRelwvZ82PfYibIW0wfu2s+YEP8VQkDeIoJB5pVSTBfDngKR/iE8CtwPk+xOWdNR+ndQtJIxcDNztrxvgQuwOP+xDHIYPVUUi235dIysR/K/i6tFmpZPN6SZ9uK60pn3qpqRxp5qoDSb26dk05fRY4CUkB2RvJ79sC6eG0CtLH6Yn00EJX5MnAMsigAzKz2jHdHgBcn/bxkQ/xbuS80dTUguVgH+LVSNuNjdNjdgX6pURzkGy+DZBDxfc4a2YCpMe3W0PG1iiWbF5v6dOtpTXlU281lSPNXHVAqT38Uz7EvwPvIYft5iMp5l/7EJ9CZjEFX6bHzfMh4qwphAE3lzJeiLu6CrmQ5mPg4TSTAklP/2mh7UeBD3EQxZPZa1apmJd6SZ9uK60pn3qpqVSaeZMH/3yIm5S1CtVufIirpUaGBf2QhoXLAW+nwemHSMfclgrAoT7ETunc0u7I4UCcNa8A7yAdea/KPOZe5BBhob710iHGccDuPsRe6dzWfq2oRym1hCr1qfhRpNUCPsSXnDV926ckVQZLARek1vBfIonn+yBND2/3Ie6CtHSf2IptDwcMMDX9/mdnzdTM8lHAGalrb8HxyKHFZ5FUkg+Q1vCTfYjXIIcQ30z1LJeniF43z6RbjYTFKqUqo8k089Qa4VikzcJU5HxCQ+P1nDWvVrJA1bH4EK8EnnXWXFGJ7WuaeT5aUz5aUz61mGZ+PDAM6f3UieLdcxcgvYRUnUtX5z2NfHn7xCqXo5RaApTK4ruTlBzhQ5zlrKm9ax5VzXDWzEYO/SmlVFnkvYpvRQAfYifg28B76TJjpZRSqiLyfi146XSp8hzgLWC2D3GUD7Hpby0qpZRSbZB3gLoU6AFsBHRHLphYBrikQnUppZSqc3kP8e0ErOOs+SL9/j8f4mEUv3BC1REf4lrAWGfNWu2536XX/jldGqp/WvSLFy6rdglKLbHyzqDmAN9qdN9KpOQBpZRSqtzyzqBGAA/5EC8CXkcuPT+BhWGgqk74EC3wJ2Bp4GtgENDgQxyG5P7NA/Zz1rxcIvl8L2BvZ83BPsQdkDDbVZ0176b4pf1SKoVSqo7lHaDOA95GAkdXS7f/DFxXobpUDfIhroSkou/grHneh7gM8mGlD3CHs2aQD/F04FRKJ5+PQ75jBxI++yQwwId4P7BiRxqcGjp1rrv2CK2lNeVTbzW1ud2Gs2YBMhjpgFTftgQmOmueB0htO2YD7zprxqd1ngR+km4PoHjy+SU+xE98iOsC2wNDkY7NnyMRWx1Gtv1GvbRHaCutKZ96qUnbbahyWSzqKsmei8ybfD4WaYC5NPAA8Afgs3R/hzH7s0/rrj1Ca2lN+dRbTdpuQ5XLBGC4D3HDzCG+7iXWLySf34P0gNod6dALMhANA+5M6ervAz8Hflyx6isgm0tWL+0R2kpryqdeairVbkMHKJWbs2aGD/EgYGS6AGIucrFMU0oln48D1mDhjGkssGHe809fvnZbzYTFKqUqo8k0c6VqkaaZ56M15aM15VNzaeY+xKF5Nu6sGdy28pRSSqnFlTrEt0bmdjek4d1E5HtQfYAtgNsrV5pSSql6VqrdxmGF2z7EW4ADnTW3Z+7bG9i3suUppZSqV3m/dbUzcFej++5GLhNWSimlyi7vAPUy8JtG9x2LhsUqpZSqkLyXmR8J3OlDPBXpB/UdJIdt70oVplQpH737CrM/+7jaZfCt1bWJsFKVkjfqaLIPsS8SdbMa8A7wuLPmq0oWp5RSqn61Kvkv5a519SH2KHM9Kgcf4pBq19ASPsQBPsSxjW8rpVQpuWZQPsSNAY9krq0O/AP4EXAosH/FqlNNORsYUu0ilKaZt4TWlE+91dTmNHPgSmCws+YGH2LhwP844Jo21qZayId4cfrzGWAWcDQSKdQb+BQ4ylkTfYj/B5zvrHkkrf8X4D1nzYVNbHcsMAXoj7TIGOysuTkt2ws4BwmLfQ74tbNmpg+xN9IT7HtICOxZzpq702MOQgbRd4DJJZ7PMcDhyL/Fl4AjnTUzW/XiVIGmmbec1pRPvdRUjjTzDYHR6fYCAGfN5z7EUkGhqgKcNSf4EAc5a/oB+BAnA39w1tzhQ9wH+XvaFPlQcRTwSMrNOwAZfEpZFZkZfweY5EN8BBmUhgNbOGte9yFeiszgTkIGoPecNfun1u9PpH5PDcBfUx1vA7cV25kPcQDSbmOrFBh7JnB6+ukQNM08P60pn3qrqRxp5tOQN5tJhTt8iFsgl5+rKvEh9gLWctbcAeCsud2HOCLdfzdwYWoy+BPgMWfNh81scnTq/fWmD/Fx4IfIYDPBWfN6WudaFvYFGwAMTPuelgan7GPeSnX+neKhsrsC2yCDIUBXFgbLdgiaZt5yWlM+9VJTOdLMzwLu9SEORy6OOB05tPSrtpen2qCBhf2VshakGcnfkQFkZ+DcHNvLmxxcar0FyMU3ebbVCWkDX/Swo1KqvuW9zHyMD3Fn5PtQ45A233s7a54q/UhVIbN8iL2cNZ/6EKf5EPd01tyVzhW94qyZlda7Bunh9AX5GgEe5EMcg3yVYEvkQ0gDcJUPsY+z5g1kwAtp/QAcBgzyIfZBZk+/To+50oe4KvAucFAT+7sXuNSHeH1q5dEDWMNZ82Jzha6wyro1k2aulKqM3P2gnDVPI+kRqvr+BjzpQ/wAOBgZQIYiF0kcXFjJWfOmD/FF4MF06K45rwLjgW8DJzpr3gPwIR4LjPEhNgDPI+e2QC6cuNqH+CwwHzg685iTkQ8z7yFt3FduvDNnzSM+xGHIebKGzDabHaCUUku+XP2gfIhLA4OBA4EVnTW9fYg7Aus5ay6rcI2qlXyIPZEBZdPmzj+lq/iGOGvGtkNprab9oPLRmvLRmvKpVj+ovBe1XwxshByqKYxozwPHlKtIVV4+xP2BF4C/5bg4Qimlak7eQ3x7Ad9Nl5bPB3DWvOVD/E7lSlNt4az5B/KF6m/4EFcGHiyy+hnOmgHtUZdSSuWVd4Ca23hdH+K3gBllr0hVjLPmfaBftetQSqk88h7iuxUY5UNcGyBdnXUZcEulClNKKVXf8s6gzgD+DDwLLINE0lyDXHGlVLvb9FcnsPSKK1W7jBYZO2RQtUtQqkNpdoDyIXYCtgVOc9YMSof2Psx52bJSSinVKs0OUM6a+T7Eu501y6bfP6h8Waoj8iEuAP4A7AQsBRzqrJnqQxwIDHDWDEzrDQFw1gzxIa6A5Ad+B4jA2siHobHtXX+lNXTq3I77qq9E7NbSmvKp9TTz8T7ELZ01T5SnJLUEe89Zs4UP0QEjgR80s/7ZwLPOml1SW5cmk887umzyeXupl0TsttKa8qnVNPPXgft9iHcD08nkrDlrBrepOrWkuQHAWeN9iKNScG0p2yN9xXDWPOtD7FBhsS0x+7NP221f9ZaI3VpaUz61nmbeHbgr3V49c7+eh1J5fM2iV4x2A+ak200F3i5xqpEKUC+J2G2lNeVTk2nmzprDylaNWtIdhATF7ga8mhobvgr08yF2QQanXYHb0/rjgV8Ap/sQNwQ2rkbRSqnakzsstiClEWwLvJAndVrVnV4+xP8gvZ0Kh+4m+BAnIt14X2HR80znADf6EKek+6ciobclPXXNxZrFp9QSruQAlaKMLkVaej8OXIh84p0HLOdDPMRZo1/WVd9w1vwJ+FOR+49o4iGzgN2dNV/5EPsibUH+V7kKlVIdRXPXDA4HPka6oTYADwBHOmtWBvZFvsCrVFusCvwnzaDuAI5x1tTG1EgpVVXNHeLbGljVWTPXhzgOOfRyF4Cz5u7UsVUpAJw1Dc2vtdhjXqf5S9GVUnWouRnUUs6auQDOmi+AWY0SJFr8hqSUUkrl0dwMqosP0bJwIGr8e/t9NV4ppVRdaW6Aeh+4LvP7jEa/v1/2ipRSSimaGaCcNWu1Ux1Ktcj1dgHrLlMrWWULgE/S7crUtOXttZEooFR7avH3oFTtSSGtU5B3x9nAsc6ap8q07bHAkLaEt/oQ1wLG6gcepVRL1MpHUNVGzpp+zprvI1l4I9p7/yklQimlykbfVJY8D5O+KOtDXB7pfNwXiRi6wlkzPM1oxgF3A1shx6gOB84DNgCecNYcmtnmXj7Eoch3lgY7a25O218AnAY44Bof4sPI4LgaMBc43lnz72xxqb3G3cDVzpobfIjbAecjjTA/B4521rxQ3pek42tpq456a9nQWlpTPrXebkN1HPsAz6TbFwM3O2vG+BC7A4+n77PNBvoAtzprjvMhXoYMGj9ETqY87UPc2lkzIW1nVeBHSM+mST7ER5w176VlnzhrtgXwId4JPOisuciHuDlwhw/xu4XCUjLJXcA5qaYVkHSSnZw1H/sQtwGuRQZNldHaVh310rKhrbSmfGq13YaqcT7EZ5DL/6cBA9PduyIhreem33sjM6TJwLvOmkfT/ZOBFZ01H6ZtTQHWAQoD1Oj0/bc3fYiPIwOZT8tuzJQxoLBvZ81EH+IMYH1gJtALCEgSyfi0/lbI7C74EAvbWKG1r8GSrKWtOuqtZUNraU351Hq7DVXjnDX9itzdCfhpYeApSIf4vszcNa/I79l/G022w2gUS1RsvcJ9XwDPIt12CwNUJ2CCs2a3pravRGtDaOulZUNbaU351GS7DdVh3Qucgpwnwoe4HvBuK7ZzkA9xDHJuaUvg6CbWGwscBgzzIW6KzIb+hxwi/Bo4APinD/E8Z82ZyAztah9if2fNZB9iJ6Cfs+bp5go6LDQwd06tfLrUNHOlKqF2zsKpSjgeWMWH+KwP8TngKqQNRku9isx6AnBi5vxTY8cBO6WuuFcBBzprvpmZOWu+AvYDNvIhnuusmYGEDl+eDis+D+zVivqUUkughgUL6qKZqVpC7HvkGZsCk96b/or2gypBa8pHa8qnkjUttXR3VunTF2CzW0ecv8j3N3UGpZRSqibpAKWUUqom6QCllFKqJukApZRSqibpAKWUUqom6fegOigfYjckw24PJLpoHnAFks4w1lkzsshj7kOSHN72IU4DBjhrppWpnrJurznbmD3p3rlne+yq5tw36apql6BUu9ABquMajnynaSNnzWwf4rLA/qUe4KzZpV0qU0qpMtABqgPyIa6NhMKu7qyZDeCsmQWM8CFuC2zuQzwCSX4Y7aw5Oz1uGovOcg73Ie4ErAgMctbc40McgPR/GpAeMzA9ZmBKh7gE6I4cHv5/zpp/ZUor9/ZUEXmSzestEbu1tKZ8NM1ctcRGwCvOmqYSRNcFLPLG/4oP8WpnzVtF1vvKWbOFD3ErYBRwTzP7fQkZXL5KyeT/9iGunYJkK7E9VURLks3rJRG7rbSmfDTNXOVV6k38TmfN18AsH+J/gbWBYgPUP9OfTyLp5c3piczSvodk660GfJuF+X7l3p4qIk+yeb0lYreW1pSPppmrlngO+K4PsZezZmaR5aWSyRdbz1kzz4dYOG70NYte3dktc/u8tO/9nTULUjuN7PJyb08V0ZKomXpJxG4rrSkfTTNXzXLWvJaaA17uQzwqXSTRk4V9oNriNWD9tL0vgb2Bt9Oy3sD0NJj8nHy9m8q9PaVUndABquM6GrnM/Hkf4ufITOXytm7UWfOWD3E40pX3NaRdRo+0+ALg7z7Eo5DDeG+09/YK/h3v0rBYpZZwmmauOhRNM89Ha8pHa8pH08yVUkqpDB2glFJK1SQdoJRSStUkHaCUUkrVJB2glFJK1SS9zFx1SIN6dubb3ZaudhkZn0OvLtTKf6mTZ35d7RKUajOdQTXiQ2zRdfc+xLEpELWcNQz0IY4s5zZz7refD3HPZtYZ4UPcrL1qUkrVLx2g2okPsaIfrfNs34fY4EMs9XfeD2hygPIhdnbWHOmsmdSaGvOq9GullOoY9I0gBx/iGsBoYFmkB9NfnDWjMqvs5UMcCqwKDHbW3JwetwA4DXDANWlwOAZYCpgFHOaseSWtewpwFPAmkvJd2HdX4G/AdumuS5w1V6dl04DrgJ8ADyDJEo1rH4AkNkRgE+DAtM1hwHLAfOBEYAowFOjpQ3wGuBG4FRiX/twWONOHeBbSPmNsel0uT8+7CzDUWXOnD/FR4AxnzaOphvOBWc6aC3yI26U6lwE+B4521rzgQxwCrImExfZK+1OtVG8tG1pLa8pH223Utg+BnZ01X/gQewFP+xDvcdZ8lJavCvwI+A4wyYf4iLPmvbTsE2fNtgA+xBWdNden23sDfwT29SH2RwanTZG8urHAf9Pjj0nb/z4yoDzlQ3zCWTM1Le/urPlRM/VvCvzKWfNcmp38G9jXWfOGD3Ed4GEkfXwwqVdTqnEtoA/wkLPm5HTfWZntXg+c7Kx5xoe4IjDRhzgWGcwPAh71ITYABwDWh7gCcCGwk7PmYx/iNsC1SBdg0p9bNBGAq1qg0BahXlo2tJXWlI+226hNXYBhPsQtkBnHKsB6wBNp+ejUw+hNH+LjwA8Bn5bdmNnO+j7Ec4GVkcOrhY8O2wP3FN6YfYi3AP3TsgHA9c6a+cBHPsS7032FAWp0jvqnOGueK9QAbAh4H2JheddUUzEfOmseaHynD7EHMqsbmdlOF6QX1T+Bs32IxyGvxXRnzes+xF2BvkDIPCYbEHuPDk7lMeeLWXXVsqG1tKZ8tN1GbTsRGZj6O2u+9iE+xaJtIZq8sMJZkw2MuxEY6KwZ50PcmIUN/RpKbaOI7Lp5Aumy63QCpjlr+jVeKTNoNPXYrE7AXOQ1Wax2H+J/gJ3Tz+jMYyY4a3bLUadqg8KbSL20bGgrrSkfbbdRm3oDb6fB6YfIuZysg3yIY5CGe1siSeNNbaeQ2H1U5v5xwD98iOcAc4D9WHgeKgCH+hDvSY/fHdirDc/lRaCbD3EXZ819AD7EzdKFDzOR8z/NctbM8iFORg5BXpG28wNgchqwRgOHA5sD/y89bAJwtQ+xv7Nmcjon189Z83RLn8Swz+Yxd86Xza/YDmo13FOpjk4HqCJ8iG9mfg3A2cDtPsRdkIsNJjZ6yKvAeOQE/4mZ80+NnYIc3noDOc8EQHqzvgZ4CrlIYiJyvglgOGBYeEjvz5nzTy2W2qvvAfzNh3gBcnhvAnAE8AhwaqOLJEo5CLjUh3g00BkZfHdFZnhjgGuA4Kz5JO17hg9xX6SPVY+079uAFg9QSqkln7bbUB2KttvIR2vKR2vKR9ttKKWUUhl6iG8J4UMcjLRTz3rDWeOqUY9SSrWVDlBLCGfNUOSLtkoptUTQQ3xKKaVqkg5QSimlapIe4lMd0rY//5Rlen1W7TIyZlS7gCI6Vk1jrliuyWWqPukMqp2Vas/R0lYf5eZD3NOHuFjCRKN1nmmvepRS9U1nUHXEh9jFWVOqk92eyBeIFxuEUquNecUiksotR51qCVSN9It6Sw5vLU0z76B8iL9EkibeASYDmzhrBqT2G4XLvm9z1gwp8th+SCL4XKRdRnZZqbYU6yAJ52sCjzprjihR3xAatbFISeqnIkkO7yMpEushbUF+7EMcBJyQHrcX8BWwgQ9xU2COs6ahqRqRNImXgXWcNV+k9SYAJzlrHvchHoNEIHVB4pyOdNbMTCnoE5BE8+eB3zb1nNSSqXvP3lXbd70kh7eVppl3ID7EVYC/AD8A3gUKfaD2AH4GFDrPjvchPuWsuafRJkYhfZPuTcnfhe0215ZiE2BrZGB72oe4tbNmQolSv2lj4UPsC/wGaasxx4d4EHChs+ZAH6IHxjprRqY6BiJ9mTZy1ryT7itZo7NmKx9iQAa7W3yIawMrp8FpAJLcvlXKNTwTOD39gAyIPy4WPquWfLM/+7Td91lvyeGtpWnmHdMPgcczb943IcnnA4CbnDVzMvdbFqaX40PsDazhrLk33TUKaUwIMqCUaktxXyElPZ0TWgeZfTQl28ZiR6TdxhNp252RkNimPFJ4fo2UqnE0EiJ7C/BLFrYc2RXYBumZBTKDy+YK3qSDU/2qZqxPvSSHt5WmmXcsLWmTUWy9BU3cbq4tRTbGex7N/z02brdxm7Mm7yG0Uu02mqrxASS1fCXgF8hsqvCYS5w1F7ZwX0qpOqQDVNv8B7jSh7iKs+ZdYP90fwDO8CFelX4/ADg3+0Bnzac+xOk+xJ2dNfcDh2QWl60tRREPAaf5EC901kxL7d83SAnpudttlKoxHb67Azn8OdNZU2gdci+Sfn59SjbvgcwiX2zpk3jstt7MnVMb/3zrLdyztWqxJlXbaucykQ4oHfo6DWltPh45D/Wps8YDDwKT0s+/nDVjimxiIHB+au7XI7PdGUChLcUU5KKBtvSAytb8InIO6va07cnIeSaQQ3FH+xCf8SHaZrbTXI03IM9vdOYxjwDDgEd8iFOBx5HDjUoptRhtt9FGPsSezprPfIgNSO+mN5w151W7riWVttvIR2vKR2vKR9ttdFynp86yLyCHx/7WzPpKKaVyqI2D+B2Ys+ZM4Mxq15EuEe/T6O47Usq5Ukp1ODpALSG075NSakmjh/iUUkrVJJ1BqdxSmO0oZ83A9PsAYIizZkB71zLfDGR+59pJv66lXPUCrSkfrSmfltTUaVJ5rhPTGZRqqe1SXJJSSlWUzqBUS/0ZOItFv1gMQFMBuSkI9klgO2AV4AJnzdVpWdFQ3Mo+BaVUR6AzKNVS1wFb+xDXy97ZKCB3M2AXH+LumVVWQAJutwf+7EPskgmcdc6aTZHQ2Gvb4TkopSqooVPn/D/abkOVi7PmKx/iH4HBwIjMogGUDsi9NQXBTvchzkJmUptQOhRXKdUBtaR1irbbUOU2Eol4+ncz62VjSooF3DYXiquU6oBa0jqlVLsNPcSnWix1u70A+H+ZuwNwoA+xmw+xGxKQG5rZ1ARgUx9ifwAfYicf4g8qUbNSqv0smD8v/4+221AV8HfgjMIvzhrvQ9wMCccFuUiiWEAumcfM8CEWAmd7IP2hbgOaTW3vFEfSSbP4mqQ15aM15VOtmjQsVnUoGhabj9aUj9aUj4bFKqWUUhl6iE91NN0AuizVteSx6/bU0NCJzl2WYqmu3bSmErSmfOqtpi5LLV242W2xZWXdk1KVtxbAiqusUeUyimjiSqSq0pry0ZryqWxNa9HoymAdoFRH8yDwS2AaMKe6pSilyqAbMjg92HiBXiShlFKqJulFEkoppWqSDlBKKaVqkg5QSimlapIOUEoppWqSDlBKKaVqkl5mrjoMH+JGSAbgskAEDnLWzKpCHdOAL4C56a5fOGte8CEeD/wu3XeJs+aSCtZwJeCA1Zw1DZn7i9bgQ+wCXIM0jZwLHOOsGVfpmnyIA4AxwMtptZedNT9Py3oBNwIbADOBQ501z5W5pjWQ9P3VgPnAvcBpzpoF1XqtmqoJ+BHVfa3GAcsBDcD/gMOdNTN9iPsB5yITmludNadnHvNH4OfpefzeWfPPctakMyjVkQxH/hP0BV4ETq1iLbs4a/qlnxd8iH2B3wL908/v0n2VcjOwSPJ7MzUMBHo4a74L7A9c70Ms9///xWpKJmVeq59n7j8ViOnv8yzgyjLXA/A1MiAZ5DX5IbB3lV+rojWlZdV8rZyzZhNnzfeBN4BTfIi9gYuQ3m4bAD/yIf4EwIf4U2QQ3yAtvygNpGWjA5TqEHyI3wbWdtbcl+66FtiniiU1tjfy6XJWmtXdBuxVqZ05a8Y7a95rQQ37kBpMOmueBd5DOh9XuqZSsjXdB6yb/p7LWdM7zppJ6fZcYCqwBlV8rUrUVEp7vFafgrS9AXog/dx2AsY7a95KbXZGsfD/3T7AKGfN186at4BH0/plo4f4VEexOvBm5vc3aP4/dSXd5UNsQA7JDEHqeyGz/A3ge+1cU6kaVgemN1q2BvBkO9TVz4c4GfgMONdZ80ATNU1P97VkkMvNh7gisCewI3AsNfBaNarp21T5tfIh3gdsDjwPnAT8msVfi0KD0dUB32hZWf9P6gxKdRQNLNqht5q2ddb0A7ZB3tROZvH6Goo9sMJK1VCt+p4G+jhr+gO/Aa7zIa7dRA0Vq8mHuDQySxrmrInUwGtVpKaqv1bOml2AVZDB+Fiq/DrpAKU6ijdZ9NNZHxadUbUbZ82b6c/PkEONWyOfMvtkVluD9q+vVA1Vqc9ZM9NZMzPdngo8zsLzVNNZ9O+08Sy5LHyInZELDCY7a/6a2XfVXqtiNdXCa5X2PQ85lHcIVX6ddIBSHYKz5l1gmg9xl3TXEcAd7V2HD7FH4URwutprH+Qcwp3Avj7EZX2IywL7pvvaU6ka7kBeM3yIGyOfkidWuiAf4qrpUCg+xNWRCwKez9R0ZFq2C/BaC89h5XUVMAs5ZFVQ7ddqsZqq+Vr5EJdvdE5rH+A54F/IhRGrpX/vh7Dw/90dwKE+xC4+xNWA7dP6ZaNhsarD8CF+H/lk1xP4L3KZ+aftXMM6yH/MTkBn5FPucc6aL3yIJyBXhgFc6qwZVsE6RiAnpL8DvAX8y1lzZFM1+BCXQk6yb4tcOn2ssyZUuibgGeAY4CvkENBfnDWj0/q9kVnE+sg5l0PSRQnlrGkb4DHkzbbQCvY6Z80l1XqtmqoJuVS7Kq9V+nf9T6Br2ncEfpT74IgAAAI9SURBVOesec+HeADwB+Tf/O3OmlMzj/szMpjNB85y1txSrppAByillFI1Sg/xKaWUqkk6QCmllKpJOkAppZSqSTpAKaWUqkk6QCmllKpJOkAppZSqSZrFp5SqGB/iL4ATkcTrWcj3os5z1jxWwX0uAPo6a15udmVV03QGpZSqCB/iicAw4HwkCLUPcAWwRzXrUh2HflFXKVV2KfngLeAwZ82tRZYvDfwJ2C/d9U+kR9KXPsSBwJHOmm0z638zK/IhjgQ+B9ZC4nVeQJpGvuJDHI/0KPoCCTI9wlnzj8o8S1VpOoNSSlXCVkA3ms4jPBPYEugHbAJsAfy+Bds/EDgHWB7pQHsegLNm+7R8E2dNTx2cOjYdoJRSlbAi8GFqclfMQcBQZ837zpoPkMHm4BZs/w5nzZNp+zciA51awugApZSqhBnASikBu5jVgNczv7+e7svr3cztL5AAYbWE0QFKKVUJjwNzkG6xxbwNrJn5vU+6D+T80jKFBT7EVSpRoKp9epm5UqrsnDWf+hAHA5f7EL8GHkTaSPwUsMDNwO99iBORixkGA6PTw6cAG/oQ+wEvAkNauPv3gHWQc1OqA9MZlFKqIpw1FyHfgfo98AHSgfW3wF3AucAkpNnjs0i783PT4/4HDAX+D3gJ6Z3UEkOAUT7ET3yI+zW3sqpdepm5UkqpmqQzKKWUUjVJByillFI1SQcopZRSNUkHKKWUUjVJByillFI1SQcopZRSNUkHKKWUUjVJByillFI16f8DAqBbyivA0PQAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<matplotlib.figure.Figure at 0x7f774a1afdd8>"
      ]
     },
     "metadata": {
      "needs_background": "dark"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# Histogram to visualize dog breeeds\n",
    "dog_breed = dfs.groupby('dog_breed').filter(lambda x: len(x) >= 25)\n",
    "\n",
    "dog_breed['dog_breed'].value_counts().plot(kind = 'barh')\n",
    "plt.title('Most Rated Dog Breed')\n",
    "plt.xlabel('Count')\n",
    "plt.ylabel('Breed of dog');"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "* **Analyze and Visualize**: Visualizing the most popular dog names"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 127,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/opt/conda/lib/python3.6/site-packages/matplotlib/font_manager.py:1316: UserWarning: findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans\n",
      "  (prop.get_family(), self.defaultFamily[fontext]))\n",
      "/opt/conda/lib/python3.6/site-packages/matplotlib/figure.py:1999: UserWarning: This figure includes Axes that are not compatible with tight_layout, so results might be incorrect.\n",
      "  warnings.warn(\"This figure includes Axes that are not compatible \"\n"
     ]
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAABDAAAAI4CAYAAACcFxlBAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMS4wLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvpW3flQAAIABJREFUeJzs3Xu8ZvdgL/7P3rMnmRkzGRI9iQiNErV6coiGn2vKahV1WWgaqkVTVGk5tA5apxdVQh0cpS4liFJad+uHplFWXKvEXawehJRo+BFEJpnJbe/fH+uZY2fMnpnMvjzf7PV+v177tfez1nrW+u79mZ3s/dnf9X1mFhYWAgAAAFCy2WkPAAAAAGB/FBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDx5qY9AAAYo7brz09ydJKjm7r63qLtn01ymyQ3a+rq/GWcfyHJcU1dfXUfx9woybOS3CfJ1iTfSvKPSZ7X1NWlB3vtkrRd/4wk/zPJrsmmC5OcleTZTV1duErX+/MkD27q6i2TbXNJrswyMwWAsTMDAwCm5+tJHrr7Qdv1/y3J5rW4cNv1hyf518n17tTU1bYkv5zk+kluvhZjWEP/OPn8Dk/yoCRHJfnUpMBZDd9P8sy26zes0vkBYJTMwACA6Xl9kkckecnk8W8l+bsMsyKSJG3Xb5/s/5UklyV5VZLTmrqab7v+FkleneSEDH/hf39TVw9pu/5Dk6d/bjIT41FNXf3jHtf+wySXJHlYU1fzSdLU1TeTPHHRte+c5K+T3DLJl5M8samrj032nZ3kI0l+Mcmtk3RJTk3y4iT3T/J/kpyye8bBZBy/n+QPMhQIL0pyRpI3JPmvSc6cjOWKyfG/k+RpGUqHjyR5bFNX/7noXI9L8uQkN0zyxiSPb+pqYV9f7Kaurkxybtv1D0ny6cnz/8cBXO+ekwyOSvL3k/G+vqmr05e41JlJjk/ysCSv23Nn2/X3zZDxzZNcnOTVTV09Y7Lv2AzF1iOTPDPDzJg/TvKpDFnfNMkbmrp6/KLzPTLJUybj+0SSxzR19R9t188keWGS30xyaJL/SPIbTV19cV9fJwAolRkYADA9H09yWNv11eSv9Q/J8Av9Yi9Jsj3JzyS5W4bC47cn+/4yw+0QN0hyzOTYNHX1C5P9t2nqauteyoskuUeSt+8uL/Y0maHxngyFxBEZfhF+T9v1Ryw67NeTPDzJjTP8Mv6vSV6boQToM9xKsdi9k5yY5I5JnprklRl+ub5Jhl/4Hzq59i8meU6SBye5UYZfvP9hj3PdL8ntM9xu8+Ak99rb57E3TV1dneRdSU7a3/Xarr9hkrdmKBGOyFDM3Hk/l1hI8qdJ/rzt+o172X9phhyvn+S+SR7Xdv0D9zjmDkmOy/Bv4kUZboO5R4by5MFt199tMr4HJnl6kl9N8lNJPpzkTZNz3DPJL2QooK4/OddF+xk7ABRLgQEA07V7FsYvJ/n3DOtQJEkWlRp/3NTVJZPZDC/IUBokw6yLn86wjsaupq4+ci2ue0SG9SCWct8kX2nq6vVNXV3V1NWbJuO7/6JjXtvU1XlNXV2c5J+SnNfU1b80dXVVkrckue0e5/yrpq5+1NTVuUm+mOSspq6+tuj5u4//zSSvaerq001dXZ6hPLjTZHbCbs9t6uqHTV19I8PsjxOuxeeeJP+ZoWjZ3/Xuk+Tcpq7ePvm8Xpzk2/s7eVNXbZLvJnn0Xvad3dTVF5q6mm/q6vMZCoe77XHYX04yPStD4fGmpq7+v6auvpWhpNj9tfrdJM9p6qqfjO+0JCe0Xf/TGf59bEtyqyQzk2NWfN0PAFgrCgwAmK7XJ/mNDLdf/N0e+26Y5JAMMwJ2+48MMx6SYRbDTJJPtF1/7uRWggN1UYbZBks5eo/r7nntJPnOoo937uXx1j2ef6DHX+PaTV3tmIx38bUXlwiX7eVa+3PjDGtV7O96Ryf55qJ9C0kuOMBr/EmGmRObFm9su/4Obdd3bdd/t+36i5M8NkPWix3o1+qnk/x12/U/bLv+h5PPaSbJjZu6+kCSv0ny0iTfabv+lW3XH3aAYweA4igwAGCKmrr6jwxrHtwnydv32P29/HiWxW43zWSWRlNX327q6neaujo6w1/iXzZZF+NA/EuSB7Vdv9TPAv+5x3Wvce1Vdo1rt11/vQwzRlbk2pPP+f4ZZjLs73oXZrg9Z/e+mcWP96Wpq/cl+WqS39tj1xuTtElu0tTV9iSvyFA6HIxvJvndpq6uv+ht8+61Spq6enFTVydmuPXklhnWygCA6ySLeALA9D0qyQ2aurp08pKbSYa1Gtquf3OSZ7dd/4gMtzz8YZLnJ0nb9ack+demri5I8oMMay9cPXn6dzKsm7HUy6i+MJNFJtuu/5PJoo83zrCw5RlJ3pvkJW3X/0aSNyc5OcnPJXn3yn3aS3pjkn9ou/6NGdbSOC3Jvy33JUgn61HcIskzMix4+cL9Xa/t+h1J/may1sS7M8yWOOpaXPZ/ZlhvY7FtSb7f1NWutuv/nwwzcM46uM8qr0jyl23Xf7apq3Mni77es6mrt7Rdf/sMf6z6dIbbUHblx/8+AOA6xwwMAJiyyToS5yyx+wkZfvn8WoZXx3hjktdM9t0+yb9NfsluM7xKyNcn+56RoZz4Ydv1D97LNb+fYTHKKyfnuCTJ+zO8KsZXm7q6KMNCmU/OcDvFU5Pcr6mr7y33892fpq7en2ERzLdlmAFx8wwLhh6sh0y+Rj/M8HW6KMmJu19lZF/Xm3y+pyR53uR5P5fknCSXH+Dn8tEMrwyy2O9leJnVS5L8WYaC6KA0dfWOJH+VoYD5UYa1RX5lsvuwDK9a84MMt8hclEn5BQDXRTMLC/t8xTEAACYmt59ckOQ3m7rqpj0eABgTt5AAAOxD2/X3SvJvGRbPfEqG9So+PtVBAcAIuYUEAGDf7pTkvAyLqt4/yQObuto53SEBwPi4hQQAAAAo3rq6heSURz/9p5LcM8n5GVbaBgAAAK47NiU5NslZbzn9tO8u3rGuCowM5cUbpj0IAAAAYFkeluTvF29YbwXG+Uly0be/mSuvMAFjPZuZmc2hW7bm8st2ZGFhftrDYRXJelzkPR6yHg9Zj4esx0PW4zGNrOc2Hpob3uimyeT3+2vsW5MRrJ1dSXLVlVfkysutrbWezcxuyNwhh+bKK3ZlYf7qaQ+HVSTrcZH3eMh6PGQ9HrIeD1mPx5Sz/olZCV6FBAAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKN7ctAewGr7/7fOyc8cP9nvcTx1TrcFoAAAAgOUyAwMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKN7cgRzUdv0RSd4/eXh4kq1JvjF5/LSmrv75QC/Ydv0tkpzZ1NUtrs1AAQAAgPE6oAKjqauLkpyQJG3Xn5rk7k1dnbp6w1pa2/VzTV1dNY1rAwAAANNxQAXGvrRdf0GSOzZ1dUHb9XNJdjV1NTfZ90tJnpPk0CRXJmn2eO4Nk7wryUubunpj2/V3T/KsJJuT7Ejyu01d/Xvb9c9KcqMkRyfZkuRuyx13kszMbliJ0zAFM7Oz13jP+iXrcZH3eMh6PGQ9HrIeD1mPxzSynplZ+lrLLjCW0nb9f0nyhiS/2NRV33b99ZJcnaGASNv1N0nyziR/2tTVeydlxnOT3Lupqx+2XX+3JK9KctLklHfMUJRcslJj3Lx1+0qdiinZtGXbtIfAGpH1uMh7PGQ9HrIeD1mPh6zHYy2z3jC3ccl9q1ZgJLlzko81ddUnSVNXlyZJ2/VJcv0Ma2r8dlNXH50cf5ckxyU5e3JMkhy26HztSpYXSbJzx8UreTrW0MzsbDZt2ZZdl12Shfn5aQ+HVSTrcZH3eMh6PGQ9HrIeD1mPxzSy3njIpuSII/e6byUKjKvy41cz2bRo+8w+nrMjyZeS3CvJ7gJjNsmHm7p64BLPuXQ5g9ybhfmrV/qUrLGF+Xk5joSsx0Xe4yHr8ZD1eMh6PGQ9HmuZ9cLC0kXJStzI8rUkt598/OuLtn8kyR3brq+SpO36LW3X7y44rkry4CQntF3/F4uOv0Pb9beZHD/bdv1tV2B8AAAAwHXcShQYf5Lk2W3XfzTJ/53n0dTVd5M8PMnr267/XJIPZngJ1t37r0jya0lObLv+GZPjH5LkFZPjv5jkASswPgAAAOA6bmZhYWHaY1gxpzz66ScmOaf/5FnZueMH+z3+p46pVn9QrIqZ2Q3ZvHV7du642LS1dU7W4yLv8ZD1eMh6PGQ9HrIej2lkvfHQzTnqpsclye3ecvppn1q8z+veAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxZub9gBWw+FH3TxX7Lp02sMAAAAAVogZGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8eamPYDVcOLv/EEOPeKG+z3u7Gc8aQ1GAwAAACyXGRgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPHmDvaJbdcvJPlchhJkZ5Lfa+rqUys1MAAAAIDdljUDo6mrE5q6unWS1yc5fWWGBAAAAHBNBz0DYw/vT/JXSdJ2/Q2S/E2S45JsSvKypq5e0Xb9sUk+mOQdSeokVyd5cFNXX227/tQkJyeZT3LLJF9JckqSo5J8IMlxTV3Nt10/l+RrSe7Q1NWFyx30zOyG5Z6CKZmZnb3Ge9YvWY+LvMdD1uMh6/GQ9XjIejymkfXMzNLXWqkC4+Qkn518/L+TvKmpq3e3Xb85yb+2Xf/BDLeZ3DTJ25u6elLb9X+c5KlJHjN53u2S3DrJ95L8U5KTm7p6Y9v1X0pyzyRnJrl/knNWorxIks1bt6/EaZiiTVu2TXsIrBFZj4u8x0PW4yHr8ZD1eMh6PNYy6w1zG5fct6wCo+36zyaZSXJ+klMnm++b5IS26581ebw9ya2SfCbJt5u6+tBk+yeS/NKi053d1NV3J+f9ZJKfmWx/eYaS48zJ+xctZ8yL7dxx8UqdijU2MzubTVu2Zddll2Rhfn7aw2EVyXpc5D0esh4PWY+HrMdD1uMxjaw3HrIpOeLIve5bVoHR1NUJe9k8m+QeTV19b/HGyS0kly/adPUe119q35lJXtR2/R0y3F7yvuWMebGF+atX6lRMycL8vBxHQtbjIu/xkPV4yHo8ZD0esh6Ptcx6YWHpomQ1bmR5T5Kn7H7Qdv0t264/7GBP1tTVfJLXJnlbkldPHgMAAAAjslJrYCz2xAwzJr6Q4faS72ZYkHM5XpfkmRmKDAAAAGBkDrrAaOpqZontP0jyW3vZ9b0kxy467uwkd598fEaSMxbte8Yezz0pyTtWavFOAAAA4LplNWZgrKi269+U5PZJ7jftsQAAAADTUXyB0dTVQ6c9BgAAAGC6VmMRTwAAAIAVpcAAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAijc37QGshk+96n/nil2XTnsYAAAAwAoxAwMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKJ4CAwAAACieAgMAAAAongIDAAAAKN7ctAewGl5bL+TmWw68m7nj2+ZXcTQAAADAcpmBAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRv7kAOart+U5LTkjwgyc4kVyd5WVNXf7uKYwMAAABIcuAzMF6R5Kgkxzd1dXySu2YoMdZc2/UbpnFdAAAAYHr2OwOj7fqbJTk5yTFNXe1MkqauLklyetv1xyQ5PcnRSa5I8sSmrj46ed7jkjw+yUKSDyZ5UlNXV7Zdf8bk2OOSHJPkFU1dvWDynOOTvCjJ9ZPMJ/nDpq4+0nb9qUkelOTKJLdqu/7Epq4uX5kvAQAAAFC6A7mF5Pgk5zV1dfFe9r0kyVlNXb2w7frbJ3l72/W3SFIleWqSE5P8MMnbkzx2cnyS/NckdZLNST7ddv2/JDk3yauTnNLU1Tfarv+ZJO+fvE+GWR/HN3V14cF8ovsyM2tSx3XNzOzsNd6zfsl6XOQ9HrIeD1mPh6zHQ9bjMY2sZ2aWvtYBrYGRYRbF3tw9yalJ0tTVJ9uuvyjJzya5W5J3NnX1/SSZzLp4RH5cYPxjU1dXJLmi7fp2cvxVGYqNtu363ec/JMl/mXz8gdUoL5Jk89btq3Fa1sCmLdumPQTWiKzHRd7jIevxkPV4yHo8ZD0ea5n1hrmNS+47kALji0lu0Xb9YU1d/WiPfXsrNpYqOxb2c8xskvObujphzx2TQuPSAxjrQdm5Y2+TSyjZzOxsNm3Zll2XXZKF+flpD4dVJOtxkfd4yHo8ZD0esh4PWY/HNLLeeMim5Igj97pvvwVGU1dfb7v+HUle2nb9Y5q62tl2/dYMMy/OTvLbSV7Udv2JSQ5P8uUMZcTb265/ZpKLM8y++MCi0z647fpXZLiF5P4Z1tj49ySb2q6/T1NX702Stutv19TVOQfxOV8rC/NTWY+UFbAwPy+/kZD1uMh7PGQ9HrIeD1mPh6zHYy2zXlhYuig50FtIHpvhZVTPbbv+0gy3e7w0yX/PsJjnIzMszPnQyeKan2u7/vlJPjx5/oeSLH7J1U8lOSvDIp4vb+rqc0nSdv0Dkvx12/XPyXD7yMeSPOoAxwgAAACsUwdUYDR1dVmSJ03e9nTvJZ7z8iQvX+KUn23q6ifO1dTVuUnusZftZyQ540DGCgAAAKw/lo0FAAAAinegt5CsmKauTl3rawIAAADXbWZgAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFm5v2AFbDb3czuWLX/LSHAQAAAKwQMzAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOLNTXsAq+Eu1QOzecPWAz7+vef87SqOBgAAAFguMzAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4s0t58lt129J8r+S/EqSq5N8K8kfNnX16bbrz0hydlNXZ7Rd/8wk5zR11S53wAAAAMD4LHcGxt8m2ZbkZ5u6Oi5DmXFm2/U3XHxQU1d/tlLlRdv1yypdAAAAgOuegy4D2q6/WZIHJblxU1dXJklTV+9pu/59SR6/x7FnJDk7yYeTnDkpO9J2/WySrye5c5L/TPLnSe6T5NAkH0/y+01dXdV2/flJXpPkl5L8c5LTDnbcAAAAwHXPcmYzHJ/kK01dXbzH9k8mOSnJJXs+oamr89qu/17b9Xds6urjSe6W5KtNXX2r7fpTk1wvyR2aulpou/6VSR6VYZZHkmxu6upuyxjvkmZmN6zGaVlFM7Oz13jP+iXrcZH3eMh6PGQ9HrIeD1mPxzSynplZ+lrLKTBm9rFvYR/73pDkYRlmWDxs8jhJ7pvktkl+ue36JNmc5OI9nrcqNm/dvlqnZpVt2rJt2kNgjch6XOQ9HrIeD1mPh6zHQ9bjsZZZb5jbuOS+5RQYX0hyXNv12/eYhXH7JF9McuwSz/uHJJ9vu/6PMtwu8geT7bNJ/qipq7cu8bxLlzHWfdq5Y89JJJRuZnY2m7Zsy67LLsnC/Py0h8MqkvW4yHs8ZD0esh4PWY+HrMdjGllvPGRTcsSRe9130AVGU1dfb7v+XUle3Hb9o5u6urLt+vsmuWeSJ2VY0HNvz7uo7fpPJ3lJkg81dfWjya73JPn9tuv/qamrS9uuPzzJ9qauvn6wYzxQC/NXr/YlWCUL8/PyGwlZj4u8x0PW4yHr8ZD1eMh6PNYy64WFpYuS5d7I8pgkO5N8ue36ryR5WpJfaerqu/t53uuTnJpr3hby2iTvT/Lxtuu/kOR9SY5Z5vgAAACAdWBZL0na1NWlSR67xL5T9/bx5PGbk7x5j20LSZ41edvzXMcuZ5wAAADAdZtlYwEAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDiKTAAAACA4ikwAAAAgOIpMAAAAIDizU17AKvho/07c8WuS6c9DAAAAGCFmIEBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRvbtoDWA1P2rohR2469Fo958k/vHyVRgMAAAAslxkYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPHmDuSgtus3JTktyQOS7ExydZKXJblTkrObujpjOYNou36hqauZycefberqhOWcDwAAAFhfDnQGxiuSHJXk+Kaujk9y1wwlxrK0Xb9hz23KCwAAAGBP+52B0Xb9zZKcnOSYpq52JklTV5ckOb3t+rsmuX3b9Y9KcnSSNzR19eeT5704wwyNQ5N8Mckjm7ra1Xb9qUkelOTKJLdqu/7EPa63eDbGSRlmfmxJcmmSxzZ19aXlf9oAAADAdcmB3EJyfJLzmrq6eIn9N09SJ9mc5Ly261/Z1NW3kvxFU1cXJf+3zHhUkpdOnnPXDLM5Lpzs/4mTtl1/eJLnJ7l3U1c/aLv+LklenaEUWXEzsz8xGYSCzczOXuM965esx0Xe4yHr8ZD1eMh6PGQ9HtPIemZm6Wsd0BoYSRb2se8dTV1dleSStuv/T5KbJflWkge0Xf+4JJuSbE/y3kXP+cDu8mIf7pTkuCTdooLj8AMc77W2eev21To1q2jTlm3THgJrRNbjIu/xkPV4yHo8ZD0esh6Ptcx6w9zGJfcdSIHxxSS3aLv+sKaufrSX/Zcv+vjqJHNt1x+b5C+T3K6pqwvbrn9CksW3ilx6ANedTfKxpq7udwDHLtvOHUtNMKFEM7Oz2bRlW3ZddkkW5uenPRxWkazHRd7jIevxkPV4yHo8ZD0e08h64yGbkiOO3Ou+/RYYTV19ve36dyR5adv1j2nqamfb9VuTnLqPpx2W4dVKvtd2/ZYkD09ybdeu+FiSV7Zdf9umrj7Tdv1skhOauvr0tTzPAVmYX/aapEzBwvy87EZC1uMi7/GQ9XjIejxkPR6yHo+1zHphYemi5EBvZHlskouSnNt2/ReSfDjJrqUOburq80nen6G0eHeSTxzoYBed46Ikp2QoTj6X5NwMi38CAAAAIzOzsLCv5S2uW0559NNPTHLOQ39wfo686vL9Hr/Yk3947Y5numZmN2Tz1u3ZueNire86J+txkfd4yHo8ZD0esh4PWY/HNLLeeOjmHHXT45Lkdm85/bRPLd5n2VgAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKDWbcK3AAAUnElEQVR4CgwAAACgeHPTHsBqeNGOq3PFrsunPQwAAABghZiBAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUb27aA1gNd/21i7PlsB3X6jnvftn1V2k0AAAAwHKZgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFE+BAQAAABRPgQEAAAAUT4EBAAAAFG/VCoy26xdW69wAAADAuJiBAQAAABRvbi0v1nb9qUnu3tTVqZPHz0iSpq6e0Xb95iQvSHJSkoUkb0/y2iQfSHJcU1fzbdfPJflakjs0dXXhSo5tZnbDSp6OVTYzO3uN96xfsh4XeY+HrMdD1uMh6/GQ9XhMI+uZmaWvtaYFxn78SZLNSW4zKSuOaOrqorbrv5TknknOTHL/JOesdHmRJJu3bl/pU7IGNm3ZNu0hsEZkPS7yHg9Zj4esx0PW4yHr8VjLrDfMbVxyX0kFxr2S/E5TV/NJ0tTVRZPtL0/ymAwFxmOSvGg1Lr5zx8WrcVpWyczsbDZt2ZZdl12Shfn5aQ+HVSTrcZH3eMh6PGQ9HrIeD1mPxzSy3njIpuSII/e6b60LjKtyzXU3NiXZNfl4ZonnnJnkRW3X3yHJLZO8bzUGtjB/9WqcllW2MD8vu5GQ9bjIezxkPR6yHg9Zj4esx2Mts15YWLooWeublr6W5IS26+fart+a5L6L9r03yRParp9Nkrbrj0iSyYyM1yZ5W5JX756hAQAAAIzHqs7AaLv+gkUPu6auHt52/SeTfDHJeUk+s2j/aUlemOQLbddflWERz7+Y7HtdkmdmKDIAAACAkVm1AqOpq73eEtLU1aOW2L4zyeOWON1JSd6xGot3AgAAAOUraRHPvWq7/k1Jbp/kftMeCwAAADAdxRcYTV09dNpjAAAAAKZrrRfxBAAAALjWFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDxFBgAAABA8RQYAAAAQPEUGAAAAEDx5qY9gNXwkbduzxW71uWnBgAAAKNkBgYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAULy5aQ9gNcxXp2Z+w/WnPQxW2Y5pD4A1I+txkfd4yHo8ZD0esh4PWZdr9pxnT3sIq8YMDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeAoMAAAAoHgKDAAAAKB4CgwAAACgeCtaYLRdv9B2/RmLHt+97fqzV/IaAAAAwPisxgyMk9quP24VzgsAAACM1NwqnPN5Sf40ySP23NF2/TOT/Ork4VubunrGZPvZST6R5KQkRyV5TlNXr5zsOynJaUm2JLk0yWObuvrSKowbAAAArtNmZjes4Llmr/F+LczMLH2t1SgwXpPkKW3X33LxxrbrH5DkXkluN9n0obbrP9XU1f87eXx4kjsnOSbJF9quf02Sw5I8P8m9m7r6Qdv1d0ny6iR3WoVxAwAAwHXa5q3bV/ycm7ZsW/FzLmXD3MYl9614gdHU1ZVt1z83yZ8lOX3RrrsneWNTV7uSpO36Nyapk+wuMN7S1NVCkm+2XX9JhpkYt0lyXJKu7frd5zl8pccMAAAA68HOHRev2LlmZmezacu27LrskizMz6/Yefdl4yGbkiOO3Ou+1ZiBkSRnJHlako/u57iFRR9fvujjqzOMbTbJx5q6ut+Kjg4AAADWoYX5q1fhnPOrct69Xmth6aJkVW5kaerqqiTPSfJHizZ3SR7adv2mtus3Jfn1ybZ9+ViSE9uuv22StF0/23b9z6/GmAEAAIByreZKHH+X5MrdD5q6apOcleScyduZTV29e18naOrqoiSnJHlp2/WfS3Jukget2ogBAACAIs0sLCzs/6jriFMe/fQTk5xz4daTcsWG6097OAAAALCmZs959oqda2Z2QzZv3Z6dOy5es1tINh66OUfd9Lgkud1bTj/tU4v3rd1roQAAAAAcJAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFA8BQYAAABQPAUGAAAAUDwFBgAAAFC8uWkPYDXM9mdkdtel0x4Gq2hmdkM2b92enTsuzsL81dMeDqtI1uMi7/GQ9XjIejxkPR6yZlrMwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKp8AAAAAAiqfAAAAAAIqnwAAAAACKNzftAaywTUkyt/GQLCzMT3ssrKKZmdlsmNuYjYdskvU6J+txkfd4yHo8ZD0esh4PWY/HNLKe23jo7g83/cS+NRnB2jk2SY446iZTHgZr5ogjpz0C1oqsx0Xe4yHr8ZD1eMh6PGQ9HtPJ+tgkH128Yb0VGGcleViS85Psmu5QAAAAgGtpU4by4qw9d8wsLCys+WgAAAAArg2LeAIAAADFU2AAAAAAxVNgAAAAAMVTYAAAAADFU2AAAAAAxVtXL6Padv3xSf4uybYkfZLfbOrqkumOioPRdv3LkzRJjm7qambR9icmecLk4YubunrxZPtcklclOSnJFUke19TVB9d21ByMtutvkuSMJEcnmU/yniRPa+pqQd7rT9v1H0xy/SQzSb6c5JFNXf2o7foHJ3lWhmL9LU1d/fGi5zw3ya9l+PfxJ01dvXntR87Barv+ZRm+R2cmj31frzNt15+f5LIMuSXJbzR19SVZr09t118vyUuT3CnJQoZsXybv9aXt+psneduiTTdK8rGmrh4k6/Wn7fr7Jjktw/f0ZUke1dRVX+LPZ+ttBsYrMnzxjkvy70meOuXxcPDelOTnF29ou/64JI9PctvJ2xMm25Lk1CTXa+rqFkkekuS1bdevt3/f69VVGQqLKkOud0jyq/Jet5qmrm7T1NWtk3wjyVPart+e5IVJ6iS3SnK3tut/KUnarr9Hhh+EbjXZ/8K26w+bztC5ttquPynJ9RY99n29ft2nqasTJm9fkvW69oIkX27q6meTVEneJu/1p6mr8xZ9T5+Q4Y/Db5b1uvWqJL8+yfoNSZ5Z6s9n6+YfVNv1Rya5WVNX751senWSk6c4JJahqasPNXX1nT02/2qG5u+SycyatyZ50GTfyUlOnzz3C0m+k+R2azVeDl5TVxc2dXXO5OMrknw+yU0i73WpqauLk2TyA831MjT9907yoaauvtXU1VVJXpcf//f75CSva+rqqqauvpXkw5PjKVzb9YcmeW6S/7Fos+/r8ZD1OtR2/bYkD0zyv5KkqauFyc9r8l7H2q6/aZITkrwzsl6v5pPsLiC2J7kwhf58tm4KjCTHJLlg0eNvZPgliPXjmCTfXPR4ccb72sd1RNv1R2T4weifI+91q+3692b4oeZnkzwvsl6v/izJq5u6+u6ibbJev97Zdv3n2q5/dtv1GyPr9epnknw3yV+3Xf/ptuvf1Xb9sZH3evewJG9r6mpnZL1ePSzJu9uu/2aGmTTPTKFZr6cCYybDX/JYv/bMeOYA93EdMPlr7VuTvKipqz7yXreaurpPkqOSfCLJ70XW607b9bfOcDvYa/fYJev16a6Tacd3SfJzGWbdyHp92pjk+CTvaurq55O8K8NfZeW9vj0syesnH8t6nZmsXfK0JL/Y1NVNkjw/w/p0RWa9ngqMC3LN1uemueaMDK77vpkh191ukh9nvK99FK7t+g1J/j7JZ5q6esFks7zXsaaurs7wQ+8jIuv1aPcvsl+fLPC4e6FHWa9DTV1dMHm/I8MtvHeOrNerbya5uKmrf548/ockJ0be61bb9bdLsiXJ7sU4Zb3+nJDk8MltP8nwM3mdQrNeNwVGU1ffTnJ+2/X3mWx6VJK3T3FIrLx3JDml7fptk3swT5lsS4asH5Ukbdf/twx/3f3kVEbJwfjbJJckefKibfJeZ9quv8FkvaLdTk7yxSRnZlgY6ujJXwEekR//9/vtSX6r7fq5tuuPTvILk+MpWFNXL2/q6uimro5t6urYybZj4/t63Wm7/nq7F26bfP+enGEtI1mvQ5P1Lj7fdv3tJ5t+OckXIu/17OFJ3tDU1e6/tst6/bkgyXGTVwZMhrUsvpRCfz5bNwXGxOOSPLvt+q9k+MvP86Y8Hg5S2/Wnt11/weTjC9quP72pqy8neVmSz07e/mayLRmmOe1qu/68JG/O8NKM81MYOtdS2/V3yfA/u9sl+Uzb9Z9tu/6/y3tdukGS97Rd//m267+QYRryEycLe/7/7d1/qN1lHcDx92ga5SxYM2trm/RDe7AiCjVlMb+Y/VH6lCGkbvZrCRZR0dWQtBaKLTH/KGsZaU4oKyGlxyWjFc9cTdFK5kqeVisdc6uwxloLdbXd/nie0w7junbvnd7TPe8XXO7h+f76nHO5h3s+9/P5fEeo/93ZDGyIXVgL0L5vaOv3AiO9QaD6/+Pv9bR0PLA+5bIJeBjYB1zrz3pau5Q6A2MT9b37Q/68p6f2ofUCDrSP+D4+DbVCgBFgTcrlYWob4LJB/ftsxuioYyMkSZIkSdJgm24VGJIkSZIkaRoygSFJkiRJkgaeCQxJkiRJkjTwTGBIkiRJkqSBZwJDkiRJkiQNvJlTHYAkSZreUi6rgMdjF66agmvPAL4FvBv4fezCqc91DJIk6cgwgSFJ0pBJuTwGvAB4ZezCP9vah4GlsQtnTmFoz4ZFwNnAK3rPtV/K5QPALcCTbekJYB2wInbhd89RjJIk6TDYQiJJ0nCaCXxiqoMYr5TL88Z5yELgsbGSF33uj12YBbwYeBs1mfGrlMvrJhimJEl6FliBIUnScLoe+HTKZWXswq7+DSmXE4BHgaNiF/7d1tYB345duLlVLVwCPAh8ENgJLAVOBK4Bng9cHrtwW99p56Rc1gJvAR4C3he7sLWd+7XAjcCbqRUQn41duKNtW0VNKCwEFgPvAn5yULxzgZuo1RY7getiF76ZclkGfA04KuWyB7ghdmH5M70gsQv7gD8AH025LAA+D5zfrhGBFcA8YCPwkdiF0ra9iVrF8WpgDbCf2q5yVcplDrCqxbYfeARYHLuw/5nikCRJY7MCQ5Kk4fRLaqvEZRM8/jRgE/AS4Hbge8Ap1A/xS4Gvplxm9e2/hJrcmENNAHwHIOVyDLC2neOlwIXAypTLyX3HXgRcCxwL/HyMWL4LPA7MpSYcvpByOSt24RbgUlqFxaGSF2O4E3hri/HEdo1PAscB9wB3p1yOTrkcDdxFTVLMbvud13eekRbbccDxwGeA0XHEIUmSGiswJEkaXp8DNqRcvjyBYx+NXbgVIOXyfeBK4OrYhaeBH6dc9lKTGRvb/j+KXVjf9r8S+HvKZT5wBrXF49a230Mplx9QExGPtLUfxi5saI+f6g+inWMRcE7swlPAxpTLzcDFwE8n8Lx6dlATEgDvbfGvbdf8ErX95gxqVcVM4CuxC6PAnSmXB/vO8y/g5cDC2IUtwM8mEZMkSUPNCgxJkoZU7MJvgNXAFRM4/C99j59s5zt4rb8CY1vfdfdQWz3mUltDTku57Op9Uas1XjbWsWOYC+yMXfhH39pWaqvHZMxrMfausbUv/v0tpnlt2/aWvBgr3uuBLdSkzh9TLhN5rSVJElZgSJI07JZTZ1Lc0LfWG3j5QmB3e9yfUJiI+b0HrbVkNrXKYRtwb+zC2Yc49lAtFzuA2SmXY/uSGAuA7ZOM9zwOVEvsAF7f29BuzTq/XWMUmJdymdGXxJhPnaVBi2kEGGltMTnl8ovYhclUh0iSNJRMYEiSNMRiF7a0FpCPA79ua0+kXLYDS1Mu3wDeD7xqkpd6R8plEXXw5zXAA7EL21Iuq4Evplwups7RAHgjsKc3JPN/xL8t5XIfsCLlchl1kOgy6hyOcWl3OFkAfAo4Ezi9bboDuCLlchawnto+8jRwX9u+D/hYyuXrwDuBU6nzRUi5nAP8lprQ2N323Tfe2CRJki0kkiQJrgaOOWjtEuBy4G/AyRz4sD5Rt1OrPXZS7zayBP5bofB24AJqpcOfgeuodzI5XBcCJ7Tj7wKW9+ZVHKbT211KdlMTDy8CTold6CV0NlMTIjcCfwXOBc6NXdgbu7AXeA81abKr7beamuAAeA31ril7gPuBlbEL68YRmyRJamaMjjoIW5Ik6UhJuTwA3NQ3mFSSJB0BtpBIkiRNQsplMbCZWp2xBHgDsGZKg5IkaRoygSFJkjQ5J1HnZMyizro4P3bhT1MbkiRJ048tJJIkSZIkaeA5xFOSJEmSJA08ExiSJEmSJGngmcCQJEmSJEkDzwSGJEmSJEkaeCYwJEmSJEnSwPsPsv2VRE5fwaUAAAAASUVORK5CYII=\n",
      "text/plain": [
       "<matplotlib.figure.Figure at 0x7f7749edde48>"
      ]
     },
     "metadata": {
      "needs_background": "dark"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "dfs.name.value_counts()[0:7].plot('barh', figsize=(15,8), title='Most Common Dog Names').set_xlabel(\"Number of Dogs\");"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 128,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "None         784\n",
       "Lucy          11\n",
       "Charlie       11\n",
       "Oliver        10\n",
       "Cooper        10\n",
       "Penny          9\n",
       "Tucker         9\n",
       "Sadie          8\n",
       "Lola           8\n",
       "Winston        8\n",
       "Toby           7\n",
       "Daisy          7\n",
       "Bo             6\n",
       "Stanley        6\n",
       "Bella          6\n",
       "Jax            6\n",
       "Oscar          6\n",
       "Bailey         6\n",
       "Koda           6\n",
       "Louis          5\n",
       "Leo            5\n",
       "Chester        5\n",
       "Buddy          5\n",
       "Dave           5\n",
       "Bentley        5\n",
       "Rusty          5\n",
       "Milo           5\n",
       "Scout          5\n",
       "Gary           4\n",
       "Sophie         4\n",
       "            ... \n",
       "Coleman        1\n",
       "Dawn           1\n",
       "Lenox          1\n",
       "Sweets         1\n",
       "Tyrone         1\n",
       "Jo             1\n",
       "Jarod          1\n",
       "Socks          1\n",
       "Orion          1\n",
       "Blakely        1\n",
       "Ferg           1\n",
       "JD             1\n",
       "Humphrey       1\n",
       "Pherb          1\n",
       "Nugget         1\n",
       "DonDon         1\n",
       "Emmy           1\n",
       "Malikai        1\n",
       "Sprinkles      1\n",
       "Hubertson      1\n",
       "Wafer          1\n",
       "Dutch          1\n",
       "Jerome         1\n",
       "Rose           1\n",
       "Loomis         1\n",
       "Clybe          1\n",
       "Rubio          1\n",
       "Reagan         1\n",
       "Cedrick        1\n",
       "Rumpole        1\n",
       "Name: name, Length: 931, dtype: int64"
      ]
     },
     "execution_count": 128,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dfs.name.value_counts()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "The three most popular dog names are:\n",
    "1. Lucy - 11\n",
    "2. Charlie - 11\n",
    "3. Oliver - 10 and so on"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.6.3"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}