In [1]:
import pandas as pd
import numpy as np
import tweepy
import requests
import re
import json
import matplotlib.pyplot as plt
import datetime
import os
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
archive_df=pd.read_csv('twitter-archive-enhanced.csv')
image_predictions_df=pd.read_csv('image-predictions.tsv',sep='\t')    
df_list=[]
with open('tweet_json.txt','r') as file:
    for line in file:
        tweet=json.loads(line)
        tweet_id=tweet['id']
        retweet_count=tweet['retweet_count']
        fav_count=tweet['favorite_count']
        df_list.append({'favorite_count':fav_count,'retweet_counts':retweet_count,'tweet_id':tweet_id})
api_df=pd.DataFrame(df_list)

In [6]:
archive_clean = archive_df.copy()
image_clean = image_predictions_df.copy()
api_clean = api_df.copy()
#archive_clean[archive_clean['expanded_urls'].isnull()]
#archive_clean.dropna(subset=['expanded_urls'],inplace=True)
#tweets_imgs=list(image_clean.tweet_id.unique())
len(tweets_imgs)==archive_clean.tweet_id.isin(tweets_imgs).sum()
archive_clean=archive_clean[archive_clean.tweet_id.isin(tweets_imgs)]

In [27]:
tweets_imgs=list(image_clean.tweet_id.unique())
len(tweets_imgs)==api_clean.tweet_id.isin(tweets_imgs).sum()
api_clean=api_clean[api_clean.tweet_id.isin(tweets_imgs)]

In [14]:
retweets=archive_clean.retweeted_status_id.notnull()
archive_clean[retweets].shape[0]
archive_clean = archive_clean[~retweets]

In [21]:
np.logical_not(image_clean.tweet_id.isin(list(archive_clean.tweet_id)))
image_clean=image_clean[~np.logical_not(image_clean.tweet_id.isin(list(archive_clean.tweet_id)))]

In [34]:
archive_clean[archive_clean['rating_numerator']==0]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
315,835152434251116546,NaN,NaN,2017-02-24 15:40:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you're so blinded by your systematic plag...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/835152434...,0,10,None,None,None,None,None
1016,746906459439529985,7.468859e+17,4.196984e+09,2016-06-26 03:22:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...","PUPDATE: can't see any. Even if I could, I cou...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/746906459...,0,10,None,None,None,None,None

In [35]:
archive_clean.doggo =archive_clean.doggo.str.replace('None' ,'')
archive_clean.floofer =archive_clean.floofer.str.replace('None' ,'')
archive_clean.pupper =archive_clean.pupper.str.replace('None' ,'')
archive_clean.puppo =archive_clean.puppo.str.replace('None' ,'')

In [36]:
archive_clean['dog_breed'] = archive_clean['doggo'] + archive_clean['puppo'] + archive_clean['floofer'] + archive_clean['pupper']

In [48]:
archive_clean.loc[archive_clean.dog_breed == 'doggopupper', 'dog_breed'] = 'doggo-pupper'

In [51]:
archive_clean.loc[archive_clean.dog_breed == 'doggopuppo', 'dog_breed'] == 'doggopuppo'

191    True
Name: dog_breed, dtype: bool

In [52]:
archive_clean['dog_breed'].replace('', np.nan)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9        doggo
10         NaN
11         NaN
12       puppo
13         NaN
14       puppo
15         NaN
16         NaN
17         NaN
18         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29      pupper
31         NaN
         ...
2326       NaN
2327       NaN
2328       NaN
2329       NaN
2330       NaN
2331       NaN
2332       NaN
2333       NaN
2334       NaN
2335       NaN
2336       NaN
2337       NaN
2338       NaN
2339       NaN
2340       NaN
2341       NaN
2342       NaN
2343       NaN
2344       NaN
2345       NaN
2346       NaN
2347       NaN
2348       NaN
2349       NaN
2350       NaN
2351       NaN
2352       NaN
2353       NaN
2354       NaN
2355       NaN
Name: dog_breed, Length: 1994, dtype: object