# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [1]:
#import libraries used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import json
import os
import requests
import tweepy
from timeit import default_timer as timer

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [3]:

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open('image_predictions.tsv', mode='wb') as file:
    file.write(response.content)
    

image_prediction = pd.read_csv('image_predictions.tsv', sep='\t')

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [4]:
consumer_key = 'OmMg9obRVzVvCzQGnJq2zt5uB'
consumer_secret = 'BxID40epGx1VmJNHyQuS57MQAQWKn5wdWrrGD1QA3eHj9PSoFh'
access_token = '1333028745637224448-XgrUhvZAwIQKBXAO23fZdCimIoYIUg'
access_secret = 'zfWJHK3GyOwqGFuasQyulZWRJ814wb01l4eV5RAk3sKbw'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)


Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = twitter_archive.tweet_id.values
len(tweet_ids)
Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()

 Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    

   for tweet_id in tweet_ids:
       count += 1
       print(str(count) + ": " + str(tweet_id))
      try:
           tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
           json.dump(tweet._json, outfile)
           outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [5]:
tweets_df = pd.read_json('tweet_json.txt', lines=True)

In [6]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [7]:
tweets_df.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",34452,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,NaN,NaN,NaN,NaN,7160,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",29875,False,This is Tilly. She's just checking pup on you....,NaN,...,NaN,NaN,NaN,NaN,5384,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",22487,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,NaN,NaN,NaN,NaN,3551,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",37665,False,This is Darla. She commenced a snooze mid meal...,NaN,...,NaN,NaN,NaN,NaN,7378,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",35982,False,This is Franklin. He would like you to stop ca...,NaN,...,NaN,NaN,NaN,NaN,7918,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [8]:
image_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [9]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [10]:
#Checking for duplicates
twitter_archive.duplicated().sum()

0

In [11]:
#checking null values
twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [12]:
#checking numerator
twitter_archive['rating_numerator'].value_counts().sort_values()

20        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
26        1
182       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
143       1
24        1
204       1
80        1
121       1
75        2
15        2
0         2
420       2
2         9
1         9
4        17
3        19
6        32
5        37
14       54
7        55
8       102
9       158
13      351
10      461
11      464
12      558
Name: rating_numerator, dtype: int64

In [13]:
#Checking the rating values for denominator
twitter_archive['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [14]:
#finding 0 denominator
twitter_archive[twitter_archive['rating_denominator'] == 0]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,26259576.0,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None

In [15]:
#finding 0 denominator
twitter_archive[twitter_archive['rating_numerator'] == 0]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
315,835152434251116546,NaN,NaN,2017-02-24 15:40:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you're so blinded by your systematic plag...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/835152434...,0,10,None,None,None,None,None
1016,746906459439529985,7.468859e+17,4.196984e+09,2016-06-26 03:22:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...","PUPDATE: can't see any. Even if I could, I cou...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/746906459...,0,10,None,None,None,None,None

In [16]:
#finding the 0 ratings
zero=twitter_archive[twitter_archive['rating_numerator'] == 0]
#setting to display max text size in order to view full text
pd.set_option("display.max_colwidth", -1)
print(zero['text'])

315     When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag
1016    PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX
Name: text, dtype: object

In [17]:
#Check for complete text
text = twitter_archive['text'][313]
text

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

In [18]:
#checking for duplicates
twitter_archive.duplicated().sum()

0

In [19]:
#checking names
twitter_archive.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver', 'Jim',
       'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such', 'Maya',
       'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey', 'Lilly',
       'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella', 'Grizzwald',
       'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey', 'Gary', 'a',
       'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey', 'Duddles', 'Jack',
       'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow', 'Terrance', 'Aja',
       'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict', 'Venti', 'Goose',
       'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian', 'Walter', 'Sierra',
       'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover', 'Napolean', 'Dawn',
       'Boomer', 'Cody', 'Rumble', 'Clifford', 'quite', 'Dewey', 'Scout',
       'Gizmo', 'Cooper', 'Harold', 'Shikha', 'Jamesy', 'Lili', 'Sammy',
       'Meatball', 'Paisley', 'Albus', 'Neptune', 'Quinn', 'Belle',
       'Zooey', 'Dave', 'Jersey', 'Hobbes', 'Burt', 'Lorenzo', 'Carl',
       'Jordy', 'Milky', 'Trooper', 'Winston', 'Sophie', 'Wyatt', 'Rosie',
       'Thor', 'Oscar', 'Luna', 'Callie', 'Cermet', 'George', 'Marlee',
       'Arya', 'Einstein', 'Alice', 'Rumpole', 'Benny', 'Aspen', 'Jarod',
       'Wiggles', 'General', 'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle',
       'Leo', 'Riley', 'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie',
       'Georgie', 'Rontu', 'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney',
       'Vixen', 'Jarvis', 'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo',
       'Sadie', 'Hank', 'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley',
       'Ken', 'Max', 'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie',
       'Arlo', 'Sunny', 'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera',
       'Buddy', 'Ava', 'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester',
       'Wilson', 'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie', 'Phil',
       'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet', 'Pablo',
       'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig', 'Sam',
       'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo', 'Ollie',
       'Cali', 'Lennon', 'incredibly', 'Major', 'Duke', 'Reginald',
       'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny', 'Philbert',
       'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones', 'Mauve', 'Chef',
       'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh', 'Baloo', 'Stubert',
       'Paull', 'Timison', 'Davey', 'Pancake', 'Tyrone', 'Snicku', 'Ruby',
       'Brody', 'Rizzy', 'Mack', 'Butter', 'Nimbus', 'Laika', 'Dobby',
       'Juno', 'Maude', 'Lily', 'Newt', 'Benji', 'Nida', 'Robin',
       'Monster', 'BeBe', 'Remus', 'Mabel', 'Misty', 'Happy', 'Mosby',
       'Maggie', 'Leela', 'Ralphy', 'Brownie', 'Meyer', 'Stella', 'mad',
       'Frank', 'Tonks', 'Lincoln', 'Oakley', 'Dale', 'Rizzo', 'Arnie',
       'Pinot', 'Dallas', 'Hero', 'Frankie', 'Stormy', 'Mairi', 'Loomis',
       'Godi', 'Kenny', 'Deacon', 'Timmy', 'Harper', 'Chipson', 'Combo',
       'Dash', 'Bell', 'Hurley', 'Jay', 'Mya', 'Strider', 'an', 'Wesley',
       'Solomon', 'Huck', 'very', 'O', 'Blue', 'Finley', 'Sprinkles',
       'Heinrich', 'Shakespeare', 'Fizz', 'Chip', 'Grey', 'Roosevelt',
       'Gromit', 'Willem', 'Dakota', 'Dixie', 'Al', 'Jackson', 'just',
       'Carbon', 'DonDon', 'Kirby', 'Lou', 'Nollie', 'Chevy', 'Tito',
       'Louie', 'Rupert', 'Rufus', 'Brudge', 'Shadoe', 'Colby', 'Angel',
       'Brat', 'Tove', 'my', 'Aubie', 'Kota', 'Eve', 'Glenn', 'Shelby',
       'Sephie', 'Bonaparte', 'Albert', 'Wishes', 'Rose', 'Theo', 'Rocco',
       'Fido', 'Emma', 'Spencer', 'Lilli', 'Boston', 'Brandonald', 'Corey',
       'Leonard', 'Chompsky', 'Beckham', 'DevÃ³n', 'Gert', 'Watson',
       'Rubio', 'Keith', 'Dex', 'Carly', 'Ace', 'Tayzie', 'Grizzie',
       'Fred', 'Gilbert', 'Zoe', 'Stewie', 'Calvin', 'Lilah', 'Spanky',
       'Jameson', 'Piper', 'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp',
       'his', 'Cora', 'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby',
       'Shaggy', 'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar',
       'Harvey', 'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo',
       'Kayla', 'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'RalphÃ©', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'FlÃ¡vio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai', 'Bobble',
       'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus', 'Clarkus',
       'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie', 'Kara',
       'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth', 'Reese',
       'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks', 'Rambo',
       'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda', 'Millie',
       'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy', 'Eazy',
       'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon', 'CeCe',
       'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb', 'Blipson',
       'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian', 'OliviÃ©r',
       'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally', 'Tupawc',
       'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly', 'Richie', 'Molly',
       'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq', 'Phred', 'the',
       'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg', 'Fynn', 'Ricky',
       'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence', 'Hamrick', 'Brad',
       'Pubert', 'FrÃ¶nq', 'Derby', 'Lizzie', 'Ember', 'Blakely', 'Opal',
       'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter', 'Mona', 'Horace',
       'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty', 'Brooks',
       'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser', 'Perry',
       'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe', 'Tiger',
       'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel', 'Taco',
       'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses', 'Toffee',
       'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie', 'Griswold',
       'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi', 'by', 'Emmie',
       'Penelope', 'Willie', 'Rinna', 'Mike', 'William', 'Dwight', 'Evy',
       'officially', 'Rascal', 'Linda', 'Tug', 'Tango', 'Grizz', 'Jerome',
       'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy', 'Humphrey',
       'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl', 'Godzilla', 'Vinnie',
       'Kenneth', 'Herm', 'Bert', 'Striker', 'Donny', 'Pepper', 'Bernie',
       'Buddah', 'Lenny', 'Arnold', 'Zuzu', 'Mollie', 'Laela', 'Tedders',
       'Superpup', 'Rufio', 'Jeb', 'Rodman', 'Jonah', 'Chesney', 'life',
       'Henry', 'Bobbay', 'Mitch', 'Kaiya', 'Acro', 'Aiden', 'Obie', 'Dot',
       'Shnuggles', 'Kendall', 'Jeffri', 'Steve', 'Mac', 'Fletcher',
       'Kenzie', 'Pumpkin', 'Schnozz', 'Gustaf', 'Cheryl', 'Ed',
       'Leonidas', 'Norman', 'Caryl', 'Scott', 'Taz', 'Darby', 'Jackie',
       'light', 'Jazz', 'Franq', 'Pippin', 'Rolf', 'Snickers', 'Ridley',
       'Cal', 'Bradley', 'Bubba', 'Tuco', 'Patch', 'Mojo', 'Batdog',
       'Dylan', 'space', 'Mark', 'JD', 'Alejandro', 'Scruffers', 'Pip',
       'Julius', 'Tanner', 'Sparky', 'Anthony', 'Holly', 'Jett', 'Amy',
       'Sage', 'Andy', 'Mason', 'Trigger', 'Antony', 'Creg', 'Traviss',
       'Gin', 'Jeffrie', 'Danny', 'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy',
       'Herb', 'Damon', 'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio',
       'Randall', 'Liam', 'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru',
       'Kloey', 'Shawwn', 'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee',
       'Dug', 'Tessa', 'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers',
       'Samsom', 'Harrison', 'Chaz', 'Jeremy', 'Jaycob', 'Lambeau',
       'Ruffles', 'AmÃ©lie', 'Bobb', 'Banditt', 'Kevon', 'Winifred', 'Hanz',
       'Churlie', 'Zeek', 'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin',
       'Spark', 'GÃ²rdÃ³n', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron',
       'Skittles', 'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup',
       'Kial', 'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

### Quality issues
1.missing information columns: alot of columns have to much missing info such as in_reply_to_status_id,in_reply_to_user_id. in total 6 columns with missing info

2.remove 181 retweets and 78 replies.

3.weird names such as an, one, all and unacceptable 

4.both 0/10 rating were not dog ratings

5.changing the twitter id field from int to object.

6.Time stamp should be datetime instead of object.

7.the for dog columns floofer etc has none instead of null attribute which doesn't register as null.

8.time stamp has +0000 at the end
9.image prediction should be combined in one column

### Tidiness issues
1.Floofer, doggo, puppo and pupper should be joined into one column

2.merging the three datasets

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [20]:
# Make copies of original pieces of data
og_twitter_archive=twitter_archive
og_image_prediction=image_prediction
og_tweet_df=tweets_df
og_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

### Issue #1:Remove replies and retweets

#### Define: removing replies and retweets

#### Code

In [21]:
# remove retweets
twitter_archive= twitter_archive[twitter_archive['retweeted_status_id'].isnull()]
#remover replies

twitter_archive= twitter_archive[twitter_archive['in_reply_to_user_id'].isnull()]

#### Test

In [22]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

### Issue #2: Remove non dog ratings

#### Define: both 0/10 rating were not dog ratings

#### Code

In [23]:
twitter_archive.drop(twitter_archive[twitter_archive['rating_numerator'] == 0].index, inplace=True)

#### Test

In [24]:
twitter_archive['rating_numerator'].value_counts().sort_values()

24      1
75      1
45      1
27      1
1776    1
420     1
204     1
121     1
88      1
84      1
80      1
165     1
50      1
44      1
26      1
144     1
60      1
99      1
1       5
2       9
4       16
3       19
6       32
5       34
14      38
7       52
8       98
9       153
13      287
11      413
10      436
12      486
Name: rating_numerator, dtype: int64

### Issue #3: +0000 in the timestamp

#### Define: remove timestamp +0000 from the string

#### Code

In [25]:
# Strip +0000 from timestamp column
twitter_archive.timestamp = twitter_archive.timestamp.str.strip('+0000')

#### Test

In [26]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

### Issue #4: Remove columns with many missing info

#### Define:  missing information columns: alot of columns have to much missing info such as in_reply_to_status_id,in_reply_to_user_id. in total 6 columns with missing info

#### Code

In [27]:
twitter_archive=twitter_archive.drop(columns=['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
                                'retweeted_status_user_id','retweeted_status_timestamp','expanded_urls'])

#### Test

In [28]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2096 non-null int64
timestamp             2096 non-null object
source                2096 non-null object
text                  2096 non-null object
rating_numerator      2096 non-null int64
rating_denominator    2096 non-null int64
name                  2096 non-null object
doggo                 2096 non-null object
floofer               2096 non-null object
pupper                2096 non-null object
puppo                 2096 non-null object
dtypes: int64(3), object(8)
memory usage: 196.5+ KB

### Issue #5: convert timestamp into datetime

#### Define: Time stamp should be datetime instead of object.

#### Code

In [29]:
# Convert data type to datetime
twitter_archive.timestamp = pd.to_datetime(twitter_archive.timestamp)

#### Test

In [30]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2096 non-null int64
timestamp             2096 non-null datetime64[ns]
source                2096 non-null object
text                  2096 non-null object
rating_numerator      2096 non-null int64
rating_denominator    2096 non-null int64
name                  2096 non-null object
doggo                 2096 non-null object
floofer               2096 non-null object
pupper                2096 non-null object
puppo                 2096 non-null object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 196.5+ KB

### Issue #6: replace dog stage none

#### Define: dog stages need to be null instead of null

#### Code

In [31]:
twitter_archive.floofer.replace('None', np.nan, inplace=True)

In [32]:
twitter_archive.pupper.replace('None', np.nan, inplace=True)

In [33]:
twitter_archive.puppo.replace('None', np.nan, inplace=True)

In [34]:
twitter_archive.doggo.replace('None', np.nan, inplace=True)

#### Test

In [35]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2096 non-null int64
timestamp             2096 non-null datetime64[ns]
source                2096 non-null object
text                  2096 non-null object
rating_numerator      2096 non-null int64
rating_denominator    2096 non-null int64
name                  2096 non-null object
doggo                 83 non-null object
floofer               10 non-null object
pupper                230 non-null object
puppo                 24 non-null object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 196.5+ KB

### Issue #7: Odd names

#### Define: odd names start with lower character so we will replace them with null

#### Code

In [36]:
# check for lower character and we will replace them with null

def odd_name(row):
    if row['name'][0].islower() == True:
#theres some names that have None so we will first replcae with None 
        return 'None'
    else:
        return row['name']
    
# Call function and apply by columns
twitter_archive.name = twitter_archive.apply(odd_name, axis = 1)
#then we will replace with null
twitter_archive.name.replace('None', np.nan, inplace=True)

#### Test

In [37]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2096 non-null int64
timestamp             2096 non-null datetime64[ns]
source                2096 non-null object
text                  2096 non-null object
rating_numerator      2096 non-null int64
rating_denominator    2096 non-null int64
name                  1390 non-null object
doggo                 83 non-null object
floofer               10 non-null object
pupper                230 non-null object
puppo                 24 non-null object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 196.5+ KB

In [38]:
list(twitter_archive.name)

['Phineas',
 'Tilly',
 'Archie',
 'Darla',
 'Franklin',
 nan,
 'Jax',
 nan,
 'Zoey',
 'Cassie',
 'Koda',
 'Bruno',
 nan,
 'Ted',
 'Stuart',
 'Oliver',
 'Jim',
 'Zeke',
 'Ralphus',
 'Gerald',
 'Jeffrey',
 nan,
 'Canela',
 nan,
 nan,
 'Maya',
 'Mingus',
 'Derek',
 'Roscoe',
 'Waffles',
 'Jimbo',
 'Maisey',
 nan,
 nan,
 'Earl',
 'Lola',
 'Kevin',
 nan,
 nan,
 'Yogi',
 'Noah',
 'Bella',
 'Grizzwald',
 nan,
 'Rusty',
 'Gus',
 'Stanley',
 'Alfy',
 'Koko',
 'Rey',
 'Gary',
 nan,
 'Elliot',
 'Louis',
 nan,
 'Bella',
 'Jesse',
 nan,
 'Romeo',
 'Bailey',
 'Duddles',
 'Jack',
 'Steven',
 'Beau',
 'Snoopy',
 nan,
 'Shadow',
 'Emmy',
 'Aja',
 'Penny',
 'Dante',
 'Nelly',
 'Ginger',
 nan,
 'Benedict',
 'Venti',
 'Goose',
 'Nugget',
 nan,
 nan,
 'Cash',
 'Jed',
 nan,
 'Sebastian',
 nan,
 'Sierra',
 nan,
 nan,
 'Monkey',
 nan,
 'Harry',
 'Kody',
 'Lassie',
 'Rover',
 'Napolean',
 nan,
 'Boomer',
 nan,
 'Cody',
 'Zoey',
 'Rumble',
 'Clifford',
 'Dewey',
 'Stanley',
 'Scout',
 'Gizmo',
 'Walter',
 nan,
 'Cooper',
 nan,
 'Harold',
 'Shikha',
 nan,
 nan,
 'Lili',
 'Jamesy',
 'Coco',
 'Boomer',
 'Sammy',
 'Nelly',
 nan,
 'Meatball',
 'Paisley',
 'Albus',
 'Neptune',
 'Belle',
 'Quinn',
 'Zooey',
 'Dave',
 'Jersey',
 nan,
 'Hobbes',
 nan,
 'Burt',
 'Lorenzo',
 'Carl',
 'Jordy',
 nan,
 'Milky',
 'Trooper',
 nan,
 nan,
 nan,
 nan,
 'Sophie',
 'Wyatt',
 'Rosie',
 'Thor',
 nan,
 'Oscar',
 'Zeke',
 'Callie',
 'Cermet',
 nan,
 nan,
 nan,
 nan,
 'Marlee',
 'Arya',
 'Einstein',
 nan,
 nan,
 'Alice',
 nan,
 'Rumpole',
 'Benny',
 'Aspen',
 'Jarod',
 'Wiggles',
 'General',
 'Sailor',
 nan,
 'Iggy',
 'Snoop',
 'Kyle',
 'Leo',
 'Riley',
 'Boomer',
 nan,
 'Noosh',
 nan,
 'Kevin',
 nan,
 'Odin',
 'Jerry',
 'Georgie',
 'Rontu',
 'Cannon',
 'Furzey',
 'Daisy',
 nan,
 'Tuck',
 'Barney',
 nan,
 'Vixen',
 nan,
 'Jarvis',
 nan,
 nan,
 'Mimosa',
 'Pickles',
 'Brady',
 'Luna',
 'Charlie',
 'Margo',
 nan,
 'Sadie',
 'Hank',
 'Tycho',
 'Charlie',
 'Indie',
 'Winnie',
 'George',
 'Bentley',
 'Penny',
 nan,
 nan,
 'Max',
 'Dawn',
 nan,
 'Maddie',
 nan,
 'Monty',
 'Sojourner',
 'Winston',
 'Odie',
 nan,
 'Arlo',
 'Walter',
 'Stanley',
 'Daisy',
 nan,
 'Waffles',
 'Vincent',
 'Lucy',
 'Clark',
 'Mookie',
 'Meera',
 'Oliver',
 'Ava',
 'Lucy',
 nan,
 'Eli',
 'Ash',
 'Lola',
 nan,
 'Tucker',
 'Tobi',
 nan,
 'Chester',
 'Wilson',
 'Sunshine',
 nan,
 'Lipton',
 'Bentley',
 'Charlie',
 'Bronte',
 'Poppy',
 'Gidget',
 'Rhino',
 'Willow',
 nan,
 nan,
 'Orion',
 'Eevee',
 'Charlie',
 'Smiley',
 'Miguel',
 'Emanuel',
 'Kuyu',
 'Daisy',
 nan,
 'Dutch',
 'Pete',
 nan,
 'Scooter',
 'Tucker',
 'Reggie',
 'Lilly',
 'Samson',
 'Mia',
 'Leo',
 nan,
 'Astrid',
 'Malcolm',
 'Dexter',
 'Alfie',
 'Fiona',
 nan,
 'Mutt',
 'Bear',
 'Doobert',
 'Beebop',
 'Alexander',
 nan,
 'Sailer',
 'Brutus',
 'Kona',
 'Boots',
 'Tucker',
 'Ralphie',
 'Charlie',
 'Loki',
 'Cupid',
 'Pawnd',
 'Pilot',
 nan,
 nan,
 'Ike',
 'Mo',
 'Toby',
 nan,
 'Sweet',
 'Pablo',
 'Scooter',
 'Wilson',
 nan,
 'Nala',
 nan,
 'Cash',
 'Winston',
 'Crawford',
 'Wyatt',
 'Albus',
 nan,
 'Hobbes',
 nan,
 'Paisley',
 'Gabe',
 nan,
 'Jimison',
 'Duchess',
 'Harlso',
 'Sundance',
 'Luca',
 nan,
 'Flash',
 'Sunny',
 nan,
 nan,
 nan,
 'Oliver',
 nan,
 'Howie',
 'Jazzy',
 'Anna',
 nan,
 'Finn',
 'Sunny',
 'Bo',
 'Wafer',
 'Bear',
 'Tom',
 'Florence',
 'Autumn',
 nan,
 'Buddy',
 'Dido',
 'Eugene',
 'Ken',
 'Strudel',
 'Tebow',
 nan,
 'Chloe',
 'Timber',
 'Binky',
 'Moose',
 'Dudley',
 'Comet',
 'Jack',
 nan,
 'Akumi',
 'Titan',
 nan,
 'Cooper',
 'Olivia',
 'Alf',
 'Oshie',
 'Chubbs',
 'Gary',
 'Sky',
 'Atlas',
 nan,
 nan,
 'Eleanor',
 'Layla',
 nan,
 nan,
 'Toby',
 'Rocky',
 'Baron',
 'Tyr',
 'Bauer',
 'Swagger',
 'Brandi',
 nan,
 'Mary',
 'Moe',
 'Ted',
 'Halo',
 'Augie',
 'Craig',
 'Sam',
 'Hunter',
 'Pavlov',
 'Phil',
 'Gus',
 nan,
 nan,
 'Kyro',
 'Wallace',
 'Ito',
 nan,
 'Koda',
 'Seamus',
 nan,
 'Cooper',
 'Ollie',
 'Stephan',
 'Lennon',
 nan,
 nan,
 'Waffles',
 nan,
 'Major',
 'Duke',
 'Zeke',
 'Sansa',
 'Shooter',
 'Django',
 nan,
 'Bo',
 'Diogi',
 nan,
 'Sonny',
 'Winston',
 'Marley',
 'Bailey',
 'Winnie',
 'Severus',
 'Loki',
 'Ronnie',
 'Wallace',
 nan,
 'Milo',
 'Bones',
 'Mauve',
 'Chef',
 nan,
 'Doc',
 'Peaches',
 nan,
 'Sobe',
 'Longfellow',
 'Jeffrey',
 'Mister',
 'Iroh',
 'Shadow',
 'Cooper',
 nan,
 'Cassie',
 'Pancake',
 'Tyr',
 'Romeo',
 nan,
 'Snicku',
 'Ruby',
 nan,
 nan,
 'Yogi',
 'Daisy',
 nan,
 'Brody',
 'Bailey',
 'Mack',
 'Nimbus',
 'Laika',
 'Maximus',
 'Clark',
 'Dobby',
 'Fiona',
 'Moreton',
 'Dave',
 nan,
 'Tucker',
 'Juno',
 'Maude',
 'Lily',
 'Newt',
 'Benji',
 'Nida',
 nan,
 'Robin',
 nan,
 'Bailey',
 'Monster',
 'BeBe',
 'Remus',
 nan,
 nan,
 'Levi',
 'Mabel',
 'Misty',
 'Betty',
 'Mosby',
 'Duke',
 'Maggie',
 'Bruce',
 'Happy',
 'Ralphy',
 'Eli',
 'Brownie',
 'Rizzy',
 nan,
 'Stella',
 'Bo',
 'Lucy',
 'Butter',
 'Dexter',
 nan,
 'Leo',
 nan,
 'Frank',
 'Tonks',
 'Moose',
 'Lincoln',
 'Rory',
 'Logan',
 nan,
 'Dale',
 'Rizzo',
 'Arnie',
 'Mattie',
 'Lucy',
 'Rusty',
 'Pinot',
 'Dallas',
 nan,
 'Doc',
 'Hero',
 'Rusty',
 'Frankie',
 'Stormy',
 'Reginald',
 'Balto',
 'Riley',
 'Mairi',
 'Loomis',
 'Finn',
 'Godi',
 'Dave',
 'Earl',
 'Cali',
 'Deacon',
 'Penny',
 'Timmy',
 'Sampson',
 'Chipson',
 nan,
 'Combo',
 nan,
 nan,
 'Oakley',
 nan,
 nan,
 'Dash',
 'Koda',
 'Hercules',
 nan,
 'Bear',
 nan,
 nan,
 'Scout',
 nan,
 'Reggie',
 nan,
 'Jay',
 nan,
 'Mya',
 'Strider',
 'Penny',
 nan,
 'Nala',
 'Stanley',
 nan,
 'Sophie',
 'Wesley',
 nan,
 'Derek',
 'Jeffrey',
 'Solomon',
 'Huck',
 nan,
 'O',
 'Sampson',
 nan,
 'Blue',
 'Anakin',
 nan,
 'Finley',
 'Maximus',
 'Tucker',
 'Finley',
 'Sprinkles',
 nan,
 'Winnie',
 'Heinrich',
 'Loki',
 'Shakespeare',
 'Chelsea',
 'Bungalo',
 'Chip',
 'Grey',
 nan,
 'Roosevelt',
 nan,
 'Willem',
 nan,
 'Jack',
 'Finn',
 'Penny',
 nan,
 'Davey',
 'Dakota',
 'Fizz',
 'Dixie',
 'Charlie',
 nan,
 'Winston',
 'Sebastian',
 nan,
 'Al',
 'Jackson',
 'Carbon',
 'Klein',
 'Titan',
 'DonDon',
 'Kirby',
 'Jesse',
 'Lou',
 'Oakley',
 'Chevy',
 'Gerald',
 'Tito',
 'Philbert',
 'Louie',
 nan,
 'Rupert',
 'Rufus',
 'Brudge',
 'Shadoe',
 'Oscar',
 'Juno',
 'Angel',
 'Brat',
 'Tove',
 nan,
 'Louie',
 'Gromit',
 'Aubie',
 'Kota',
 'Alfie',
 'Clark',
 'Belle',
 'Leela',
 'Glenn',
 'Buddy',
 'Scout',
 nan,
 'Shelby',
 nan,
 nan,
 'Sephie',
 'Bruce',
 'Bonaparte',
 'Albert',
 'Bo',
 'Wishes',
 'Rose',
 'Theo',
 'Atlas',
 nan,
 'Rocco',
 'Fido',
 'Sadie',
 nan,
 nan,
 'Kirby',
 'Maggie',
 'Emma',
 'Oakley',
 nan,
 'Luna',
 'Toby',
 'Spencer',
 'Lilli',
 nan,
 'Boston',
 'Brandonald',
 nan,
 'Odie',
 'Corey',
 nan,
 nan,
 'Leonard',
 'Beckham',
 'Cooper',
 nan,
 nan,
 nan,
 'DevÃ³n',
 'Oliver',
 'Jax',
 'Gert',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Watson',
 'Winnie',
 'Keith',
 'Milo',
 'Dex',
 nan,
 'Charlie',
 nan,
 nan,
 'Scout',
 'Hank',
 'Ace',
 nan,
 'Tayzie',
 'Carl',
 'Grizzie',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Brody',
 'Lola',
 'Ruby',
 'Tucker',
 'Fred',
 'Toby',
 nan,
 'Max',
 nan,
 'Gilbert',
 nan,
 'Cooper',
 'Milo',
 'Meyer',
 'Malcolm',
 'Arnie',
 'Zoe',
 nan,
 'Stewie',
 'Calvin',
 'Lilah',
 'Spanky',
 nan,
 'Jameson',
 'Beau',
 'Jax',
 'Piper',
 'Bo',
 'Atticus',
 'Lucy',
 'Finn',
 nan,
 'George',
 'Blu',
 'Boomer',
 'Winston',
 'Dietrich',
 nan,
 'Divine',
 nan,
 'Tripp',
 nan,
 nan,
 'Cora',
 nan,
 nan,
 'Duke',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Huxley',
 nan,
 'Keurig',
 'Bookstore',
 nan,
 nan,
 nan,
 'Linus',
 'Atticus',
 'Clark',
 nan,
 nan,
 nan,
 'Maddie',
 'Abby',
 nan,
 'Shiloh',
 nan,
 'Gustav',
 'Arlen',
 'Gus',
 'Percy',
 'Lenox',
 nan,
 'Sugar',
 'Jeffrey',
 'Oliver',
 'Abby',
 'Indie',
 'Harvey',
 'Blanket',
 nan,
 nan,
 'Geno',
 nan,
 'Stark',
 'Harold',
 'Bentley',
 'Beya',
 'Kilo',
 nan,
 'Kayla',
 nan,
 'Maxaroni',
 nan,
 'Bell',
 'Phil',
 'Doug',
 'Edmund',
 nan,
 'Aqua',
 'Tucker',
 'Theodore',
 'Ted',
 nan,
 'Leo',
 nan,
 'Chip',
 'Baloo',
 nan,
 nan,
 'Chase',
 nan,
 'Nollie',
 'Rorie',
 'Simba',
 nan,
 'Benji',
 nan,
 'Kyle',
 nan,
 'Charles',
 nan,
 'Bayley',
 nan,
 nan,
 'Axel',
 'Storkson',
 'Remy',
 'Bella',
 nan,
 nan,
 'Lily',
 nan,
 'Chadrick',
 nan,
 'Rory',
 nan,
 nan,
 'Maxaroni',
 nan,
 'Dakota',
 nan,
 'Kellogg',
 'Buckley',
 'Jax',
 nan,
 'Livvie',
 nan,
 'Terry',
 'Moose',
 nan,
 'Hermione',
 nan,
 'Ralpher',
 'Aldrick',
 nan,
 'Kyle',
 'Larry',
 'Solomon',
 nan,
 nan,
 'Rooney',
 'Crystal',
 'Ziva',
 'Charles',
 'Ollie',
 'Stefan',
 'Pupcasso',
 nan,
 'Puff',
 nan,
 'Flurpson',
 'Coleman',
 'Wallace',
 'Enchilada',
 'Raymond',
 nan,
 'Rueben',
 'Cilantro',
 nan,
 nan,
 nan,
 nan,
 'Karll',
 nan,
 'Sprout',
 'Blitz',
 'Bloop',
 nan,
 'Colby',
 'Lillie',
 'Lola',
 nan,
 'Fred',
 nan,
 'Ashleigh',
 'Kreggory',
 'Sarge',
 'Luther',
 'Sugar',
 'Reginald',
 'Ivar',
 'Jangle',
 nan,
 'Schnitzel',
 'Panda',
 'Oliver',
 'Archie',
 'Berkeley',
 nan,
 'RalphÃ©',
 'Derek',
 'Charleson',
 'Neptune',
 nan,
 'Clyde',
 'Harnold',
 'Sid',
 'Lucy',
 'Pippa',
 'Sadie',
 'Otis',
 nan,
 'Carper',
 nan,
 'Bowie',
 nan,
 'Alexanderson',
 'Suki',
 'Barclay',
 nan,
 nan,
 'Skittle',
 'Ebby',
 'FlÃ¡vio',
 'Smokey',
 'Link',
 'Jennifur',
 nan,
 'Ozzy',
 'Bluebert',
 'Stephanus',
 nan,
 'Bubbles',
 nan,
 nan,
 'Bentley',
 'Toby',
 'Zeus',
 'Bertson',
 'Oscar',
 'Nico',
 'Michelangelope',
 'Siba',
 'Calbert',
 nan,
 ...]

### Issue #8: Floofer, doggo, puppo and pupper should be joined into one column

#### Define:Floofer, doggo, puppo and pupper should be joined into one column

#### Code

In [39]:
#extract dog stage from text
twitter_archive['dog_stage'] = twitter_archive['text'].str.extract('(puppo|pupper|floofer|doggo)', expand=True)
# Drop 'doggo', 'floofer', 'pupper', 'puppo' columns
twitter_archive = twitter_archive.drop(columns = ['doggo', 'floofer', 'pupper', 'puppo'])

#### Test

In [40]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096 entries, 0 to 2355
Data columns (total 8 columns):
tweet_id              2096 non-null int64
timestamp             2096 non-null datetime64[ns]
source                2096 non-null object
text                  2096 non-null object
rating_numerator      2096 non-null int64
rating_denominator    2096 non-null int64
name                  1390 non-null object
dog_stage             353 non-null object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 147.4+ KB

In [41]:
twitter_archive['dog_stage'].nunique()

4

### Issue #10: image prediction

#### Define: combining the breeds into one column

#### Code

In [42]:
#will take the true predictions starting from p1 if all false it will be null
def breed(row):
    if row['p1_dog']:
        return row['p1']
    elif row['p2_dog']:
        return row['p2']
    elif row['p3_dog']:
        return row['p3']
    else:
        return np.nan

image_prediction['dog_breed'] = image_prediction.apply(breed, axis = 1)

# Drop extra columns
image_prediction= image_prediction.drop(columns=['p1', 'p1_conf', 'p1_dog',
                                                'p2', 'p2_conf', 'p2_dog',
                                                'p3', 'p3_conf', 'p3_dog'])

#### Test

In [43]:
image_prediction.head()

,tweet_id,jpg_url,img_num,dog_breed
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher

TypeError: unhashable type: 'list'

### Issue #11: combining three archives

#### Define:combining the three databases

#### Code

In [44]:
# join twitter_archive and img_predictions
master_df = pd.merge(twitter_archive, image_prediction,
                             how='inner'     , on = 'tweet_id')
# merge master_df  and tweets_df
master_df= pd.merge(master_df, tweets_df,
                                   how = 'inner', on = 'tweet_id')

KeyError: 'tweet_id'

#### Test

In [ ]:
master_df.info()

### Issue #8: changing twitter id type

#### Define: twitter id should be object instead of int

#### Code

In [ ]:
#changing the dtype of the twitter ID
master_df.tweet_id=master_df.tweet_id.astype(object)

#### Test

In [ ]:
master_df.info()

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [ ]:
master_df.to_csv('twitter_archive_master.csv')

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

In [ ]:
#veiwing data stats
twitter_archive.describe()

In [ ]:
twitter_archive[twitter_archive.dog_stage.notnull()].describe()

In [ ]:
image_prediction.dog_breed.value_counts()

In [ ]:
image_prediction.dog_breed.nunique()

### Insights:
1.There are 113 dog breeds within the image prediction dataset with the most frequent dog breed being the golden retriver

2.the average rating is 12/10 with the highest being 1776 making the rating system very generous. the median rating is 11 meaning that the rating is skewed.

3.The mean for doggos, floofers, puppos and puppers is slightly highers at 12.7 but the median is the same and the data is skewd by the maximum which is 204

### Visualization

In [ ]:
#I decided to make a word cloud importing libraries
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
import random
#upload the mask
mask = np.array(Image.open('doggy.jpg'))

# generating word cloud for text
text = (str(twitter_archive['text']))
wordcloud = WordCloud(stopwords=STOPWORDS, background_color='white', max_words=800, min_font_size = 10,
                    mask=mask, width=mask.shape[0], height=mask.shape[1]).generate(text)

# plotting
plt.figure(figsize = (10, 8), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad = 0)
 
plt.show()

In [ ]:
# Scatter plot and histogram of twitter dataset
sns_scatterplt = sns.pairplot(master_df)

In [ ]:
image_prediction.dog_breed.value_counts().plot(kind='bar',figsize=(30,10))