# Data Wrangling

### By

## Mahmoud Sarhan

## The porject Steps:

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import json
import tweepy
import os
import IPython
import seaborn as sns; sns.set()
from timeit import default_timer as timer
from tweepy import OAuthHandler
import time

# Gathering Data

#### First Dataset

In [2]:
# Importing the first data set (enhanced twitter archive) 
archive_df = pd.read_csv('twitter-archive-enhanced.csv')
archive_df = archive_df.sort_values(by=['tweet_id'])
archive_df.head(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None

In [3]:
archive_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 2355 to 0
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 331.3+ KB

In [21]:
print("Rows: {}\nColumns: {}".
      format(*archive_df.shape))

Rows: 2356
Columns: 17

In [22]:
archive_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [23]:
archive_df.nunique()

tweet_id                      2356
in_reply_to_status_id           77
in_reply_to_user_id             31
timestamp                     2356
source                           4
text                          2356
retweeted_status_id            181
retweeted_status_user_id        25
retweeted_status_timestamp     181
expanded_urls                 2218
rating_numerator                40
rating_denominator              18
name                           957
doggo                            2
floofer                          2
pupper                           2
puppo                            2
dtype: int64

#### Second Dataset

In [4]:
# Downloading image-predictions.tsv using Requests
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
file_name = url.split('/')[-1]

with open(file_name, mode='wb') as file:
     file.write(response.content)

In [5]:
#Improting the second data set (image-predictions)
image_predictions_df = pd.read_csv('image-predictions.tsv', sep='\t')
image_predictions_df = image_predictions_df.sort_values(by=['tweet_id'])
image_predictions_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [24]:
print("Rows: {}\nColumns: {}".
      format(*image_predictions_df.shape))

Rows: 2075
Columns: 12

#### Third Dataset

In [14]:
# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [16]:
tweet_ids = archive_df.tweet_id.values
len(tweet_ids)

2356

In [25]:
data_json = pd.read_json('tweet-json.json', lines = True)

In [26]:
data_json.head(5)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [27]:
data_json.full_text.head(5)

0    This is Phineas. He's a mystical boy. Only eve...
1    This is Tilly. She's just checking pup on you....
2    This is Archie. He is a rare Norwegian Pouncin...
3    This is Darla. She commenced a snooze mid meal...
4    This is Franklin. He would like you to stop ca...
Name: full_text, dtype: object

In [28]:
# Save tweet_json.json file to csv data_json.csv file 
data_json.to_csv('tweet_json.csv')

In [29]:
tweet_df = pd.read_csv('tweet_json.csv')

In [30]:
tweet_df.head()

,Unnamed: 0,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [31]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     2354 non-null   int64
 1   created_at                     2354 non-null   object
 2   id                             2354 non-null   int64
 3   id_str                         2354 non-null   int64
 4   full_text                      2354 non-null   object
 5   truncated                      2354 non-null   bool
 6   display_text_range             2354 non-null   object
 7   entities                       2354 non-null   object
 8   extended_entities              2073 non-null   object
 9   source                         2354 non-null   object
 10  in_reply_to_status_id          78 non-null     float64
 11  in_reply_to_status_id_str      78 non-null     float64
 12  in_reply_to_user_id            78 non-null     float64
 13  in_reply_to_user_id_str        78 non-null     float64
 14  in_reply_to_screen_name        78 non-null     object
 15  user                           2354 non-null   object
 16  geo                            0 non-null      float64
 17  coordinates                    0 non-null      float64
 18  place                          1 non-null      object
 19  contributors                   0 non-null      float64
 20  is_quote_status                2354 non-null   bool
 21  retweet_count                  2354 non-null   int64
 22  favorite_count                 2354 non-null   int64
 23  favorited                      2354 non-null   bool
 24  retweeted                      2354 non-null   bool
 25  possibly_sensitive             2211 non-null   float64
 26  possibly_sensitive_appealable  2211 non-null   float64
 27  lang                           2354 non-null   object
 28  retweeted_status               179 non-null    object
 29  quoted_status_id               29 non-null     float64
 30  quoted_status_id_str           29 non-null     float64
 31  quoted_status                  28 non-null     object
dtypes: bool(4), float64(11), int64(5), object(12)
memory usage: 524.3+ KB

In [34]:
tweet_df.dtypes

Unnamed: 0                         int64
created_at                        object
id                                 int64
id_str                             int64
full_text                         object
truncated                           bool
display_text_range                object
entities                          object
extended_entities                 object
source                            object
in_reply_to_status_id            float64
in_reply_to_status_id_str        float64
in_reply_to_user_id              float64
in_reply_to_user_id_str          float64
in_reply_to_screen_name           object
user                              object
geo                              float64
coordinates                      float64
place                             object
contributors                     float64
is_quote_status                     bool
retweet_count                      int64
favorite_count                     int64
favorited                           bool
retweeted                           bool
possibly_sensitive               float64
possibly_sensitive_appealable    float64
lang                              object
retweeted_status                  object
quoted_status_id                 float64
quoted_status_id_str             float64
quoted_status                     object
dtype: object

# Assessing Data

#### First Dataset archive_df

In [ ]:
archive_df

In [ ]:
 archive_df.info()

In [ ]:
archive_df['name'].value_counts() #Duplicated Names

In [ ]:
archive_df['rating_numerator'].value_counts()

In [ ]:
archive_df['rating_denominator'].value_counts()

#### Second Dataset image_predictions_df

In [ ]:
 image_predictions_df.info()

In [ ]:
# Find duplicated urls
image_predictions_df[image_predictions_df['jpg_url'].duplicated() == True].sort_values(['jpg_url'])

#### Third Dataset tweet_df

In [35]:
tweet_df

,Unnamed: 0,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,2349,2015-11-16 00:24:50+00:00,666049248165822465,666049248165822464,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,111,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2350,2350,2015-11-16 00:04:52+00:00,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,311,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2351,2351,2015-11-15 23:21:54+00:00,666033412701032449,666033412701032448,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,128,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2352,2352,2015-11-15 23:05:30+00:00,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,132,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2353,2353,2015-11-15 22:32:08+00:00,666020888022790149,666020888022790144,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,2535,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [36]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     2354 non-null   int64
 1   created_at                     2354 non-null   object
 2   id                             2354 non-null   int64
 3   id_str                         2354 non-null   int64
 4   full_text                      2354 non-null   object
 5   truncated                      2354 non-null   bool
 6   display_text_range             2354 non-null   object
 7   entities                       2354 non-null   object
 8   extended_entities              2073 non-null   object
 9   source                         2354 non-null   object
 10  in_reply_to_status_id          78 non-null     float64
 11  in_reply_to_status_id_str      78 non-null     float64
 12  in_reply_to_user_id            78 non-null     float64
 13  in_reply_to_user_id_str        78 non-null     float64
 14  in_reply_to_screen_name        78 non-null     object
 15  user                           2354 non-null   object
 16  geo                            0 non-null      float64
 17  coordinates                    0 non-null      float64
 18  place                          1 non-null      object
 19  contributors                   0 non-null      float64
 20  is_quote_status                2354 non-null   bool
 21  retweet_count                  2354 non-null   int64
 22  favorite_count                 2354 non-null   int64
 23  favorited                      2354 non-null   bool
 24  retweeted                      2354 non-null   bool
 25  possibly_sensitive             2211 non-null   float64
 26  possibly_sensitive_appealable  2211 non-null   float64
 27  lang                           2354 non-null   object
 28  retweeted_status               179 non-null    object
 29  quoted_status_id               29 non-null     float64
 30  quoted_status_id_str           29 non-null     float64
 31  quoted_status                  28 non-null     object
dtypes: bool(4), float64(11), int64(5), object(12)
memory usage: 524.3+ KB

In [37]:
tweet_df.describe()

,Unnamed: 0,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,geo,coordinates,contributors,retweet_count,favorite_count,possibly_sensitive,possibly_sensitive_appealable,quoted_status_id,quoted_status_id_str
count,2354.000000,2.354000e+03,2.354000e+03,7.800000e+01,7.800000e+01,7.800000e+01,7.800000e+01,0.0,0.0,0.0,2354.000000,2354.000000,2211.0,2211.0,2.900000e+01,2.900000e+01
mean,1176.500000,7.426978e+17,7.426978e+17,7.455079e+17,7.455079e+17,2.014171e+16,2.014171e+16,NaN,NaN,NaN,3164.797366,8080.968564,0.0,0.0,8.162686e+17,8.162686e+17
std,679.685589,6.852812e+16,6.852812e+16,7.582492e+16,7.582492e+16,1.252797e+17,1.252797e+17,NaN,NaN,NaN,5284.770364,11814.771334,0.0,0.0,6.164161e+16,6.164161e+16
min,0.000000,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,6.721083e+17,6.721083e+17
25%,588.250000,6.783975e+17,6.783975e+17,6.757419e+17,6.757419e+17,3.086374e+08,3.086374e+08,NaN,NaN,NaN,624.500000,1415.000000,0.0,0.0,7.888183e+17,7.888183e+17
50%,1176.500000,7.194596e+17,7.194596e+17,7.038708e+17,7.038708e+17,4.196984e+09,4.196984e+09,NaN,NaN,NaN,1473.500000,3603.500000,0.0,0.0,8.340867e+17,8.340867e+17
75%,1764.750000,7.993058e+17,7.993058e+17,8.257804e+17,8.257804e+17,4.196984e+09,4.196984e+09,NaN,NaN,NaN,3652.000000,10122.250000,0.0,0.0,8.664587e+17,8.664587e+17
max,2353.000000,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,NaN,NaN,NaN,79515.000000,132810.000000,0.0,0.0,8.860534e+17,8.860534e+17

# Cleaning Data

#### First Dataset

In [38]:
# create copies of the database to use for Data Cleaning and keep the originals for future data analysis.¶
clean_archive_df = archive_df.copy()
clean_image_df = image_predictions_df.copy()
clean_tweet_df = tweet_df.copy()

In [39]:
clean_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 2355 to 0
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 331.3+ KB

In [40]:
clean_archive_df['doggo'].fillna(value = "None", inplace = True )

In [41]:

clean_archive_df.doggo.replace('None', '', inplace=True)
clean_archive_df.floofer.replace('None', '', inplace=True)
clean_archive_df.pupper.replace('None', '', inplace=True)
clean_archive_df.puppo.replace('None', '', inplace=True)

In [42]:
clean_archive_df['dog_stage'] = clean_archive_df['doggo'] + clean_archive_df['puppo'] + clean_archive_df['floofer']+ clean_archive_df['pupper']

In [43]:
print(clean_archive_df['dog_stage'].value_counts())

                1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggofloofer       1
doggopuppo         1
Name: dog_stage, dtype: int64

#### Second Dataset

In [44]:
clean_image_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 168.2+ KB

In [45]:
# Create breed column
clean_image_df['breed_dog'] = np.where(clean_image_df['p1_dog'], clean_image_df['p1'],
                              np.where(clean_image_df['p2_dog'], clean_image_df['p2'],
                              np.where(clean_image_df['p3_dog'], clean_image_df['p3'],
                              np.NaN
                              )))

In [46]:
clean_image_df.breed_dog.value_counts()

golden_retriever        173
Labrador_retriever      113
Pembroke                 96
Chihuahua                95
pug                      65
                       ...
clumber                   1
EntleBucher               1
standard_schnauzer        1
Irish_wolfhound           1
Bouvier_des_Flandres      1
Name: breed_dog, Length: 113, dtype: int64

#### Third Dataset

In [47]:
clean_tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     2354 non-null   int64
 1   created_at                     2354 non-null   object
 2   id                             2354 non-null   int64
 3   id_str                         2354 non-null   int64
 4   full_text                      2354 non-null   object
 5   truncated                      2354 non-null   bool
 6   display_text_range             2354 non-null   object
 7   entities                       2354 non-null   object
 8   extended_entities              2073 non-null   object
 9   source                         2354 non-null   object
 10  in_reply_to_status_id          78 non-null     float64
 11  in_reply_to_status_id_str      78 non-null     float64
 12  in_reply_to_user_id            78 non-null     float64
 13  in_reply_to_user_id_str        78 non-null     float64
 14  in_reply_to_screen_name        78 non-null     object
 15  user                           2354 non-null   object
 16  geo                            0 non-null      float64
 17  coordinates                    0 non-null      float64
 18  place                          1 non-null      object
 19  contributors                   0 non-null      float64
 20  is_quote_status                2354 non-null   bool
 21  retweet_count                  2354 non-null   int64
 22  favorite_count                 2354 non-null   int64
 23  favorited                      2354 non-null   bool
 24  retweeted                      2354 non-null   bool
 25  possibly_sensitive             2211 non-null   float64
 26  possibly_sensitive_appealable  2211 non-null   float64
 27  lang                           2354 non-null   object
 28  retweeted_status               179 non-null    object
 29  quoted_status_id               29 non-null     float64
 30  quoted_status_id_str           29 non-null     float64
 31  quoted_status                  28 non-null     object
dtypes: bool(4), float64(11), int64(5), object(12)
memory usage: 524.3+ KB

In [48]:
# rename 'id' columns to 'tweet_id' for merging datasets
clean_tweet_df = clean_tweet_df.rename({'id':'tweet_id'}, axis = 'columns')

In [49]:
clean_tweet_df.head()

,Unnamed: 0,created_at,tweet_id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN